Repository MicrosoftDocs/microsoft-365-docs, pull requests merged in 2019-12, with the labels that each got.

#701 Update security-features.md
  microsoft-365/business/security-features.md
Labels: security

#611 replaced deprecated parameter
  microsoft-365/compliance/manage-office-365-message-encryption.md
Labels: compliance

#699 Request for Update retention-policies.md
  microsoft-365/compliance/retention-policies.md
Labels: compliance, do not merge

#889 Fixes typo in line 39
  microsoft-365/security/office-365-security/recommended-settings-for-eop-and-office365-atp.md
Labels: security

#868 Update attack-simulator.md
  microsoft-365/security/office-365-security/attack-simulator.md
Labels: security

#781 Update prevent-email-from-being-marked-as-spam.md
  microsoft-365/compliance/prevent-email-from-being-marked-as-spam.md
Labels: security

#808 added note about required roels
  microsoft-365/security/office-365-security/manage-quarantined-messages-and-files.md
Labels: security

#780 Update reduce-spam-email.md
  microsoft-365/security/office-365-security/reduce-spam-email.md
Labels: security

#809 removed "Action" section
  microsoft-365/security/office-365-security/anti-malware-protection.md
Labels: security

#831 Update configure-anti-malware-policies.md
  microsoft-365/security/office-365-security/configure-anti-malware-policies.md
Labels: security

#858 Update recommended-settings-for-eop-and-office365-atp.md
  microsoft-365/security/office-365-security/recommended-settings-for-eop-and-office365-atp.md
Labels: security

#875 Minor Modification and Reference Link addition
  microsoft-365/security/office-365-security/recommended-settings-for-eop-and-office365-atp.md
Labels: security

#877 Update how-atp-safe-links-works.md
  microsoft-365/security/office-365-security/how-atp-safe-links-works.md
Labels: security

#882 Update configure-end-user-spam-notifications-in-eop.md
  microsoft-365/security/office-365-security/configure-end-user-spam-notifications-in-eop.md
Labels: security

#883 Update configure-end-user-spam-notifications-in-exchange-online.md
  microsoft-365/security/office-365-security/configure-end-user-spam-notifications-in-exchange-online.md
Labels: security

#904 Update find-and-release-quarantined-messages-as-a-user.md
  microsoft-365/security/office-365-security/find-and-release-quarantined-messages-as-a-user.md
Labels: security

#906 line 76 typo
  microsoft-365/compliance/working-with-compliance-manager.md
Labels: compliance

#867 Antispam important note to headers #740
  microsoft-365/compliance/prevent-email-from-being-marked-as-spam.md
Labels: security

#771 Update sensitivity-labels-sharepoint-onedrive-files.md
  microsoft-365/compliance/sensitivity-labels-sharepoint-onedrive-files.md
Labels: compliance

#825 Update sensitivity-labels-sharepoint-onedrive-files.md
  microsoft-365/compliance/sensitivity-labels-sharepoint-onedrive-files.md
Labels: compliance

#901 Update Microsoft-365-security-for-bdm.md
  microsoft-365/security/Microsoft-365-security-for-bdm.md
Labels: security

#863 Instruction Correction
  microsoft-365/compliance/search-for-and-find-personal-data.md
Labels: compliance

#844 Added missing Ps command
  microsoft-365/compliance/sensitivity-labels-teams-groups-sites.md
Labels: compliance

#929 adding the release button
  microsoft-365/security/office-365-security/use-spam-notifications-to-release-and-report-quarantined-messages.md
Labels: security

#939 Fix formatting of NOTE
  microsoft-365/security/office-365-security/configure-the-outbound-spam-policy.md
Labels: security

#971 Added a link to resources
  microsoft-365/compliance/add-or-remove-members-from-a-case-in-advanced-ediscovery.md
Labels: compliance

#987 Update recommended-settings-for-eop-and-office365-atp.md
  microsoft-365/security/office-365-security/recommended-settings-for-eop-and-office365-atp.md
Labels: security

#983 added outlook to the list of protected products
  microsoft-365/security/office-365-security/set-up-atp-safe-links-policies.md
Labels: security

#970 Values were switched
  microsoft-365/security/office-365-security/recommended-settings-for-eop-and-office365-atp.md
Labels: security

#984 remove outdated information
  microsoft-365/security/Microsoft-365-security-for-bdm.md
Labels: security

#988 Update keyword-queries-and-search-conditions.md
  microsoft-365/compliance/keyword-queries-and-search-conditions.md
Labels: compliance
