Repository MicrosoftDocs/microsoft-365-docs, pull requests merged in 2019-11, with the labels that each got.

#670 Fixes typo errors
  microsoft-365/security/office-365-security/create-safe-sender-lists-in-office-365.md
Labels: security

#652 Removed extra step
  microsoft-365/security/office-365-security/manage-quarantined-messages-and-files.md
Labels: security

#680 Update message-trace-scc.md
  microsoft-365/security/office-365-security/message-trace-scc.md
Labels: security

#613 clarify "inside" term
  microsoft-365/compliance/data-loss-prevention-policies.md
Labels: compliance

#694 Fixed incorrect link in line 127
  microsoft-365/compliance/configure-supervision-policies.md
Labels: compliance

#704 Update retention-policies.md
  microsoft-365/compliance/retention-policies.md
Labels: compliance

#629 Added a note
  microsoft-365/compliance/prevent-email-from-being-marked-as-spam.md
Labels: compliance

#721 Fix #720
  microsoft-365/security/office-365-security/mfi-queue-alerts-and-queues.md
Labels: security

#727 Update view-label-activity-for-documents.md
  microsoft-365/compliance/view-label-activity-for-documents.md
Labels: compliance

#731 Update anti-spoofing-protection.md
  microsoft-365/security/office-365-security/anti-spoofing-protection.md
Labels: security

#726 Need to add GIMP (mailbox intelligence)
  microsoft-365/security/office-365-security/anti-spam-message-headers.md
Labels: security

#553 update to UK Driver's License pattern
  microsoft-365/compliance/what-the-sensitive-information-types-look-for.md
Labels: compliance

#755 Typo "** AND **"→"**AND**"
  microsoft-365/compliance/keyword-queries-and-search-conditions.md
Labels: compliance

#682 Update NIST-action-plan.md
  microsoft-365/compliance/NIST-action-plan.md
Labels: compliance

#760 Update create-block-sender-lists-in-office-365.md
  microsoft-365/security/office-365-security/create-block-sender-lists-in-office-365.md
Labels: security

#759 Update create-safe-sender-lists-in-office-365.md
  microsoft-365/security/office-365-security/create-safe-sender-lists-in-office-365.md
Labels: security

#754 Update advanced-spam-filtering-asf-options.md
  microsoft-365/security/office-365-security/advanced-spam-filtering-asf-options.md
Labels: security

#784 Fixing Links inside Issue #600
  microsoft-365/security/office-365-security/unverified-sender-feature.md
Labels: security

#779 Update recommended-settings-for-eop-and-office365-atp.md
  microsoft-365/security/office-365-security/recommended-settings-for-eop-and-office365-atp.md
Labels: security

#778 Update best-practices-for-configuring-eop.md
  microsoft-365/security/office-365-security/best-practices-for-configuring-eop.md
Labels: security

#782 removed extra break
  microsoft-365/security/office-365-security/anti-spam-message-headers.md
Labels: security

#685 Adding Microsoft Forms to the article
  microsoft-365/compliance/search-the-audit-log-in-security-and-compliance.md
Labels: compliance, do not merge

#840 Fixes incorrect link for compliance boundaries
  microsoft-365/compliance/information-barriers.md
Labels: compliance
