Repository MicrosoftDocs/microsoft-365-docs, pull requests merged in 2020-08, with the labels that each got.

#2515 Update archive-instant-bloomberg-data.md
  microsoft-365/compliance/archive-instant-bloomberg-data.md
Labels: Microsoft submitter, compliance

#2456 Update windows10-infrastructure.md
  microsoft-365/enterprise/windows10-infrastructure.md
Labels: enterprise

#2397 Adding required perm
  microsoft-365/admin/manage/customize-the-app-launcher.md
Labels: admin

#2514 Update usage-analytics-data-model.md
  microsoft-365/admin/usage-analytics/usage-analytics-data-model.md
Labels: admin

#2474 Update microsoft-365-business-faqs.md
  microsoft-365/business/support/microsoft-365-business-faqs.md
Labels: business

#2494 Update manage-deployment-of-add-ins.md
  microsoft-365/admin/manage/manage-deployment-of-add-ins.md
Labels: admin

#2490 Update release-options-in-office-365.md
  microsoft-365/admin/manage/release-options-in-office-365.md
Labels: admin

#2510 Update manage-windows-devices.md
  microsoft-365/business/manage-windows-devices.md
Labels: business

#2398 Adding link to storage limits
  microsoft-365/admin/activity-reports/onedrive-for-business-usage.md
Labels: admin

#2454 Update find-and-fix-issues.md
  microsoft-365/admin/get-help-with-domains/find-and-fix-issues.md
Labels: admin

#2451 Update change-nameservers-at-any-domain-registrar.md
  microsoft-365/admin/get-help-with-domains/change-nameservers-at-any-domain-registrar.md
Labels: admin

#2518 Update doc with info about questionnaire
  microsoft-365/commerce/subscriptions/verify-academic-eligibility.md
Labels: admin

#2529 Update remove-former-employee.md
  microsoft-365/admin/add-users/remove-former-employee.md
Labels: admin

#2482 Update remove-former-employee.md
  microsoft-365/admin/add-users/remove-former-employee.md
Labels: admin

#2477 Update give-mailbox-permissions-to-another-user.md
  microsoft-365/admin/add-users/give-mailbox-permissions-to-another-user.md
Labels: admin

#2511 Update remove-former-employee.md
  microsoft-365/admin/add-users/remove-former-employee.md
Labels: admin

#2520 Update set-password-expiration-policy.md
  microsoft-365/admin/manage/set-password-expiration-policy.md
Labels: admin

#2491 Update office-365-groups-expiration-policy.md
  microsoft-365/admin/create-groups/office-365-groups-expiration-policy.md
Labels: Microsoft submitter, admin

#2536 Update view-reports-for-atp.md
  microsoft-365/security/office-365-security/view-reports-for-atp.md
Labels: Microsoft submitter, security

#2534 Update junk-email-reporting-add-in-for-microsoft-outlook.md
  microsoft-365/security/office-365-security/junk-email-reporting-add-in-for-microsoft-outlook.md
Labels: Microsoft submitter, security

#2540 Update office-365-groups-expiration-policy.md
  microsoft-365/admin/create-groups/office-365-groups-expiration-policy.md
Labels: Microsoft submitter

#2248 SEO edits for cloud architecture models
  microsoft-365/solutions/cloud-architecture-models.md
Labels: security

#2241 Update productivity-illustrations.md
  microsoft-365/solutions/productivity-illustrations.md
Labels: enterprise

#2240 Update solution-architecture-center.md
  microsoft-365/solutions/solution-architecture-center.md
Labels: enterprise

#2270 SEO edits for configure Teams protection
  microsoft-365/solutions/configure-teams-three-tiers-protection.md
Labels: enterprise

#2269 SEO edtis for set up secure collaboration
  microsoft-365/solutions/setup-secure-collaboration-with-teams.md
Labels: enterprise

#2552 Update set-password-expiration-policy.md
  microsoft-365/admin/manage/set-password-expiration-policy.md
Labels: admin

#2555 Fix broken link
  microsoft-365/admin/create-groups/choose-domain-to-create-groups.md
Labels: admin

#2273 [DO NOT MERGE] SEO edits to energy secure collab
  microsoft-365/solutions/energy-secure-collaboration.md
Labels: enterprise

#2274 [DO NOT MERGE] SEO edits for identity design principles
  microsoft-365/solutions/identity-design-principles.md
Labels: enterprise

#2567 Added IE Mode & Beta Channel Docs
  microsoft-365/managed-desktop/get-started/edge-browser-app.md
Labels: Microsoft submitter

#2526 Update portals.md
  microsoft-365/security/mtp/portals.md
Labels: security

#2465 added reference to hunting in MDATP
  microsoft-365/security/mtp/advanced-hunting-overview.md
Labels: security

#2449 Update sharepoint-file-access-policies.md
  microsoft-365/enterprise/sharepoint-file-access-policies.md
Labels: enterprise

#2556 Update secure-email-recommended-policies.md
  microsoft-365/enterprise/secure-email-recommended-policies.md
Labels: enterprise

#2528 Update information-barriers-policies.md
  microsoft-365/compliance/information-barriers-policies.md
Labels: compliance

#2587 Update set-up-spf-in-office-365-to-help-prevent-spoofing.md
  microsoft-365/security/office-365-security/set-up-spf-in-office-365-to-help-prevent-spoofing.md
Labels: security

#2588 Update use-dkim-to-validate-outbound-email.md
  microsoft-365/security/office-365-security/use-dkim-to-validate-outbound-email.md
Labels: security

#2589 Update use-dmarc-to-validate-email.md
  microsoft-365/security/office-365-security/use-dmarc-to-validate-email.md
Labels: security

#2527 Update sp-compatible-pdf-readers-for-irm.md
  microsoft-365/compliance/sp-compatible-pdf-readers-for-irm.md
Labels: compliance

#2590 Update view-mail-flow-reports.md
  microsoft-365/security/office-365-security/view-mail-flow-reports.md
Labels: Microsoft submitter, security

#2592 Update threat-explorer.md
  microsoft-365/security/office-365-security/threat-explorer.md
Labels: Microsoft submitter

#2431 Replaced references to Indexing with Hashing
  microsoft-365/compliance/create-custom-sensitive-information-types-with-exact-data-match-based-classification.md
Labels: compliance

#2492 Update create-a-keyword-dictionary.md
  microsoft-365/compliance/create-a-keyword-dictionary.md
Labels: compliance

#2582 Update apply-retention-labels-automatically.md
  microsoft-365/compliance/apply-retention-labels-automatically.md
Labels: compliance

#2576 Update create-retention-policies.md
  microsoft-365/compliance/create-retention-policies.md
Labels: compliance

#2557 Update technical-reference-details-about-encryption.md
  microsoft-365/compliance/technical-reference-details-about-encryption.md
Labels: Microsoft submitter, compliance

#2554 Update create-test-tune-dlp-policy.md
  microsoft-365/compliance/create-test-tune-dlp-policy.md
Labels: compliance

#2275 [DO NOT MERGE] SEO edits for security design principles
  microsoft-365/solutions/security-design-principles.md
Labels: enterprise

#2596 Update prerequisites.md
  microsoft-365/managed-desktop/get-ready/prerequisites.md
Labels: managed-desktop

#2595 removed the line about finding billing card
  microsoft-365/commerce/subscriptions/verify-academic-eligibility.md
Labels: admin

#2542 Update set-up-atp-safe-links-policies.md
  microsoft-365/security/office-365-security/set-up-atp-safe-links-policies.md
Labels: security

#2541 SEO update to deploy-threat-protection
  microsoft-365/solutions/deploy-threat-protection.md
Labels: Microsoft submitter, security, solutions

#2603 Update keyword-queries-and-search-conditions.md
  microsoft-365/compliance/keyword-queries-and-search-conditions.md
Labels: compliance

#2614 Updated limit
  microsoft-365/compliance/limits-ediscovery20.md
Labels: Microsoft submitter

#2615 Update use-spam-notifications-to-release-and-report-quarantined-messa…
  microsoft-365/security/office-365-security/use-spam-notifications-to-release-and-report-quarantined-messages.md
Labels: Microsoft submitter, security

#2513 Update encryption.md
  microsoft-365/compliance/encryption.md
Labels: compliance

#2476 Update customer-key-set-up.md
  microsoft-365/compliance/customer-key-set-up.md
Labels: compliance

#2459 Update customer-lockbox-requests.md
  microsoft-365/compliance/customer-lockbox-requests.md
Labels: compliance

#2496 Update customer-lockbox-requests.md
  microsoft-365/compliance/customer-lockbox-requests.md
Labels: compliance

#2212 Update customer-key-set-up.md
  microsoft-365/compliance/customer-key-set-up.md
Labels: compliance

#2414 Update customer-key-set-up.md
  microsoft-365/compliance/customer-key-set-up.md
Labels: compliance

#2448 Update double-key-encryption.md
  microsoft-365/compliance/double-key-encryption.md
Labels: compliance

#2628 Update office-365-network-mac-perf-overview.md
  microsoft-365/enterprise/office-365-network-mac-perf-overview.md
Labels: Microsoft submitter

#2632 Update create-ediscovery-holds.md
  microsoft-365/compliance/create-ediscovery-holds.md
Labels: Microsoft submitter

#2573 Update update-dns-records-to-retain-current-hosting-provider.md
  microsoft-365/admin/dns/update-dns-records-to-retain-current-hosting-provider.md
Labels: admin

#2575 Update create-dns-records-at-wix.md
  microsoft-365/admin/dns/create-dns-records-at-wix.md
Labels: admin

#2583 Update change-email-address.md
  microsoft-365/admin/email/change-email-address.md
Labels: admin

#2630 Update add-data-to-review-set.md
  microsoft-365/compliance/add-data-to-review-set.md
Labels: Microsoft submitter, compliance

#2617 Update technical-reference-details-about-encryption.md
  microsoft-365/compliance/technical-reference-details-about-encryption.md
Labels: Microsoft submitter, compliance

#2651 Update whats-new-in-office-365-atp.md
  microsoft-365/security/office-365-security/whats-new-in-office-365-atp.md
Labels: Microsoft submitter, security

#2650 Update tenant-allow-block-list.md
  microsoft-365/security/office-365-security/tenant-allow-block-list.md
Labels: Microsoft submitter, security

#2523 Update identity-access-logical-architecture-teams.png
  microsoft-365/media/InfoBarriers-PowerShellGenerator.xlsx
  microsoft-365/media/identity-access-logical-architecture-teams.png
Labels: compliance

#2636 update for 08/24 for existing device
  microsoft-365/managed-desktop/get-started/register-reused-devices-self.md
Labels: managed-desktop

#2635 Update for 08/24
  microsoft-365/managed-desktop/get-started/register-devices-self.md
  microsoft-365/media/new-registration-ui.png
Labels: managed-desktop

#2670 Update grant-access-to-the-security-and-compliance-center.md
  microsoft-365/security/office-365-security/grant-access-to-the-security-and-compliance-center.md
Labels: security

#2663 Update anti-spoofing-protection.md -Added more info to considerations section
  microsoft-365/security/office-365-security/anti-spoofing-protection.md
Labels: Microsoft submitter, security

#2674 Update set-password-expiration-policy.md
  microsoft-365/admin/manage/set-password-expiration-policy.md
Labels: admin

#2647 Update productivity-score.md
  microsoft-365/admin/productivity/productivity-score.md
Labels: Microsoft submitter, admin

#2633 Updated to call out other controls
  microsoft-365/security/office-365-security/external-email-forwarding.md
Labels: Microsoft submitter, security

#2688 Fixed incorrect markdown on links.
  microsoft-365/managed-desktop/get-started/edge-browser-app.md
Labels: Microsoft submitter, managed-desktop

#2685 Update information-protection-deploy-protect-information.md
  microsoft-365/solutions/information-protection-deploy-protect-information.md
Labels: solutions

#2676 SEO updates: collaborate-with-people-outside-your-organization
  microsoft-365/solutions/collaborate-with-people-outside-your-organization.md
Labels: Microsoft submitter, solutions

#2690 Update import-hr-data.md
  microsoft-365/compliance/import-hr-data.md
Labels: Microsoft submitter

#2665 Updating to reflect 100KB in terns not 100K Terms
  microsoft-365/compliance/communication-compliance-feature-reference.md
  microsoft-365/compliance/create-a-keyword-dictionary.md
  microsoft-365/compliance/supervision-policies.md
  microsoft-365/managed-desktop/get-ready/downloads/~$p-packaging-template.docx
  microsoft-365/media/.DS_Store
Labels: Microsoft submitter, compliance

#2682 Update back-up-data-before-switching-plans.md
  microsoft-365/commerce/subscriptions/back-up-data-before-switching-plans.md
Labels: admin

#2706 Update whats-new-in-office-365-atp.md
  microsoft-365/security/office-365-security/whats-new-in-office-365-atp.md
Labels: Microsoft submitter

#2701 Update whats-new-in-office-365-atp.md
  microsoft-365/security/office-365-security/whats-new-in-office-365-atp.md
Labels: Microsoft submitter, security

#2271 [DO NOT MERGE] SEO edits for threat protection services
  microsoft-365/solutions/deploy-threat-protection.md
Labels: enterprise

#2272 [DO NOT MERGE] SEO edits for financial services secure collab
  microsoft-365/solutions/financial-services-secure-collaboration.md
Labels: enterprise

#2519 Update access-admin-portal.md
  microsoft-365/managed-desktop/get-started/access-admin-portal.md
Labels: enterprise

#2700 Updating Threat Explorer article to include Extended Capabilities
  microsoft-365/media/Connector_Details.png
  microsoft-365/media/ETR_Details.png
  microsoft-365/media/Top_Targeted_Users.png
  microsoft-365/security/office-365-security/threat-explorer.md
Labels: Microsoft submitter, security

#2721 Update what-is-stored-in-exo-mailbox.md
  microsoft-365/compliance/what-is-stored-in-exo-mailbox.md
Labels: Microsoft submitter, compliance
