Repository MicrosoftDocs/microsoft-365-docs, pull requests merged in 2020-03, with the labels that each got.

#1276 Updated broken link
  microsoft-365/compliance/iso-action-plan.md
Labels: compliance

#1344 Update SharePoint Online Unlicensed
  microsoft-365/admin/manage/remove-licenses-from-users.md
Labels: Microsoft submitter, admin

#1300 Update what-the-sensitive-information-types-look-for.md
  microsoft-365/compliance/what-the-sensitive-information-types-look-for.md
Labels: compliance

#1313 Update data-classification-content-explorer.md
  microsoft-365/compliance/data-classification-content-explorer.md
Labels: compliance

#1368 Update apps.md
  microsoft-365/managed-desktop/get-ready/apps.md
Labels: enterprise

#1312 Update file-plan-manager.md
  microsoft-365/compliance/file-plan-manager.md
Labels: compliance

#1370 Update tagging-documents.md
  microsoft-365/compliance/tagging-documents.md
Labels: compliance

#1371 Update analyzing-data-in-review-set.md
  microsoft-365/compliance/analyzing-data-in-review-set.md
Labels: compliance

#1380 Force wrapper mail is a standard OME feature.
  microsoft-365/compliance/manage-office-365-message-encryption.md
Labels: Microsoft submitter

#1330 Added Section - Inactive Mailboxes and Auto-Expanding Archive
  microsoft-365/compliance/inactive-mailboxes-in-office-365.md
Labels: compliance

#1262 updated Typeo mMailbox
  microsoft-365/compliance/ome-faq.md
Labels: compliance

#1399 Update detailed-properties-in-the-office-365-audit-log.md
  microsoft-365/compliance/detailed-properties-in-the-office-365-audit-log.md
Labels: compliance

#1349 made (or at least tried to make) description less confusing
  microsoft-365/security/office-365-security/set-up-anti-phishing-policies.md
Labels: security

#1400 Update ome-faq.md
  microsoft-365/compliance/ome-faq.md
Labels: Microsoft submitter

#1410 Update customer-key-availability-key-understand.md
  microsoft-365/compliance/customer-key-availability-key-understand.md
Labels: Microsoft submitter

#1389 Fixed the cmdlet
  microsoft-365/compliance/manage-office-365-message-encryption.md
Labels: Microsoft submitter, compliance

#1175 Update office-365-encryption-for-skype-onedrive-sharepoint-and-exchan…
  microsoft-365/compliance/office-365-encryption-for-skype-onedrive-sharepoint-and-exchange.md
Labels: compliance

#1398 Added another alternative for search-mailbox purge
  microsoft-365/compliance/legacy-ediscovery-retirement.md
Labels: Microsoft submitter, compliance

#1381 remove the reference to AME in hte link
  microsoft-365/compliance/ome-advanced-message-encryption.md
Labels: Microsoft submitter, compliance

#859 added note about digitally sighned PDF
  microsoft-365/compliance/set-up-irm-in-sp-admin-center.md
Labels: compliance

#690 Clarified TLSv1.3 support
  microsoft-365/compliance/technical-reference-details-about-encryption.md
Labels: compliance

#1440 Update customize-your-organization-theme.md
  microsoft-365/admin/setup/customize-your-organization-theme.md
  microsoft-365/media/m365-admin-tenant-theme-conceptual.png
Labels: Microsoft submitter

#1445 Added SearchMailboxes operation
  microsoft-365/compliance/legacy-ediscovery-retirement.md
Labels: Microsoft submitter

#1420 note addition
  microsoft-365/compliance/data-loss-prevention-policies.md
Labels: compliance

#1436 Update microsoft-secure-score-whats-coming.md
  microsoft-365/security/mtp/microsoft-secure-score-whats-coming.md
Labels: security

#1444 Fixing link in datastore and rulepack example xml.
  microsoft-365/compliance/create-custom-sensitive-information-types-with-exact-data-match-based-classification.md
Labels: compliance

#1446 updated consent
  microsoft-365/security/mtp/data-privacy.md
Labels: security

#1448 Update U.S. Driver's License Number with entity ID
  microsoft-365/compliance/what-the-sensitive-information-types-look-for.md
Labels: Microsoft submitter, compliance

#1450 updates to what's coming post 3/16 update
  microsoft-365/security/mtp/microsoft-secure-score-whats-coming.md
Labels: security

#1449 post 3/16 deployment updates to what's new topic
  microsoft-365/security/mtp/microsoft-secure-score.md
Labels: security

#1458 Fixed spelling error in line 266
  microsoft-365/compliance/labels.md
Labels: compliance

#1470 Note about Keywords field
  microsoft-365/compliance/document-metadata-fields-in-Advanced-eDiscovery.md
Labels: Microsoft submitter

#1455 Update set-up-atp-safe-links-policies.md
  microsoft-365/security/office-365-security/set-up-atp-safe-links-policies.md
Labels: security

#1464 Update quarantine-faq.md
  microsoft-365/security/office-365-security/quarantine-faq.md
Labels: security

#1467 Update submitting-malware-and-non-malware-to-microsoft-for-analysis.md
  microsoft-365/security/office-365-security/submitting-malware-and-non-malware-to-microsoft-for-analysis.md
Labels: Microsoft submitter, security

#1471 Update submitting-malware-and-non-malware-to-microsoft-for-analysis.md
  microsoft-365/security/office-365-security/submitting-malware-and-non-malware-to-microsoft-for-analysis.md
Labels: Microsoft submitter, security

#1472 Update admin-submission.md
  microsoft-365/security/office-365-security/admin-submission.md
Labels: Microsoft submitter, security

#1473 Update submit-spam-non-spam-and-phishing-scam-messages-to-microsoft-f…
  microsoft-365/security/office-365-security/submit-spam-non-spam-and-phishing-scam-messages-to-microsoft-for-analysis.md
Labels: Microsoft submitter, security

#1452 Added another alternative
  microsoft-365/compliance/legacy-ediscovery-retirement.md
Labels: Microsoft submitter, compliance

#1487 Fix typo
  microsoft-365/commerce/subscriptions/renew-your-subscription.md
Labels: admin

#1497 Updated dates due to COVID-19
  microsoft-365/compliance/legacy-ediscovery-retirement.md
Labels: Microsoft submitter

#1505 Update create-edit-or-delete-a-custom-user-view.md
  microsoft-365/admin/add-users/create-edit-or-delete-a-custom-user-view.md
Labels: admin

#1509 Fixed typo in line 43
  microsoft-365/security/mtp/overview-security-center.md
Labels: security

#1506 Update duplicate meta descriptions
  microsoft-365/admin/setup/customize-team-site.md
  microsoft-365/compliance/compliance-manager-overview.md
  microsoft-365/compliance/compliance-manager-release-notes.md
  microsoft-365/compliance/create-a-dlp-policy-from-a-template.md
  microsoft-365/compliance/create-test-tune-dlp-policy.md
  microsoft-365/compliance/data-investigations-release-notes.md
  microsoft-365/compliance/gdpr-arc.md
  microsoft-365/compliance/gdpr-breach-notification.md
  microsoft-365/compliance/gdpr-dsr-Dynamics365.md
  microsoft-365/compliance/gdpr-dsr-Intune.md
  microsoft-365/compliance/gdpr-for-exchange-server.md
  microsoft-365/compliance/gdpr-for-office-online-server.md
  microsoft-365/compliance/office-365-customer-managed-encryption-features.md
  microsoft-365/compliance/office-365-encryption-risks-and-protections.md
  microsoft-365/compliance/office-365-service-encryption.md
  microsoft-365/compliance/overview-data-investigations.md
Labels: admin

#1502 Update metadata duplicate H1 titles 3_27
  microsoft-365/compliance/annotating-and-redacting-documents.md
  microsoft-365/compliance/build-search-queries.md
  microsoft-365/compliance/building-search-queries.md
  microsoft-365/compliance/configure-search-analytics-settings.md
  microsoft-365/compliance/configure-search-and-analytics-settings-in-advanced-ediscovery.md
  microsoft-365/compliance/download-export-jobs-from-a-data-investigation.md
  microsoft-365/compliance/download-export-jobs.md
  microsoft-365/compliance/email-threading-in-advanced-ediscovery.md
  microsoft-365/compliance/email-threading.md
  microsoft-365/compliance/view-people-of-interest-activity.md
Labels: compliance
