Repository MicrosoftDocs/microsoft-365-docs, pull requests merged in 2020-02, with the labels that each got.

#1153 Updated program name to just App Assure
  microsoft-365/enterprise/step-1-device-and-app-readiness.md
Labels: enterprise

#1187 Threat trackers wrong description
  microsoft-365/security/office-365-security/threat-trackers.md
Labels: security

#1192 Update attack-simulator.md
  microsoft-365/security/office-365-security/attack-simulator.md
Labels: security

#1139 minor edit in the document
  microsoft-365/security/office-365-security/detect-and-remediate-illicit-consent-grants.md
Labels: security

#1198 Update status state for managing jobs-ediscovery20.md
  microsoft-365/compliance/managing-jobs-ediscovery20.md
Labels: compliance

#1207 Update search-cloud-based-mailboxes-for-on-premises-users.md
  microsoft-365/compliance/search-cloud-based-mailboxes-for-on-premises-users.md
Labels: compliance

#1138 clarify permission requirements
  microsoft-365/security/office-365-security/set-up-atp-safe-attachments-policies.md
Labels: security

#1140 updated the note
  microsoft-365/security/office-365-security/quarantine-email-messages.md
Labels: security

#1145 Update quarantine-email-messages.md
  microsoft-365/security/office-365-security/quarantine-email-messages.md
Labels: security

#1146 Update configure-end-user-spam-notifications-in-eop.md
  microsoft-365/security/office-365-security/configure-end-user-spam-notifications-in-eop.md
Labels: security

#1147 Update configure-end-user-spam-notifications-in-exchange-online.md
  microsoft-365/security/office-365-security/configure-end-user-spam-notifications-in-exchange-online.md
Labels: security

#1148 Update anti-spam-message-headers.md
  microsoft-365/security/office-365-security/anti-spam-message-headers.md
Labels: security

#1165 Added MISA reference TIP
  microsoft-365/security/office-365-security/use-dmarc-to-validate-email.md
Labels: security

#1168 update unverified sender treatment support article
  microsoft-365/security/office-365-security/unverified-sender-feature.md
Labels: security

#1176 Update report-junk-email-and-phishing-scams-in-outlook-on-the-web-eop.md
  microsoft-365/security/office-365-security/report-junk-email-and-phishing-scams-in-outlook-on-the-web-eop.md
Labels: security

#1177 Update configure-your-spam-filter-policies.md
  microsoft-365/security/office-365-security/configure-your-spam-filter-policies.md
Labels: security

#1184 Update use-dkim-to-validate-outbound-email.md
  microsoft-365/security/office-365-security/use-dkim-to-validate-outbound-email.md
Labels: security

#1196 remove incorrect option
  microsoft-365/security/office-365-security/unverified-sender-feature.md
Labels: security

#1199 added link to spoof intelligence insight
  microsoft-365/security/office-365-security/create-safe-sender-lists-in-office-365.md
Labels: security

#1212 Update configure-the-outbound-spam-policy.md
  microsoft-365/security/office-365-security/configure-the-outbound-spam-policy.md
Labels: security

#1228 Update what-the-sensitive-information-types-look-for.md
  microsoft-365/compliance/what-the-sensitive-information-types-look-for.md
Labels: compliance

#1244 remove simplification of points section
  microsoft-365/security/mtp/microsoft-secure-score.md
Labels: security

#1213 Update data-classification-pub-preview-relnotes.md
  microsoft-365/compliance/data-classification-pub-preview-relnotes.md
Labels: compliance

#1238 Update microsoft-secure-score.md
  microsoft-365/security/mtp/microsoft-secure-score.md
Labels: security

#1225 Update enable-the-report-message-add-in.md
  microsoft-365/security/office-365-security/enable-the-report-message-add-in.md
Labels: security

#1250 Fix typo
  microsoft-365/managed-desktop/working-with-managed-desktop/battery-insights.md
Labels: enterprise

#1260 Added info on requirements
  microsoft-365/security/office-365-security/safe-docs.md
Labels: security

#1261 Update anti-spam-message-headers.md
  microsoft-365/security/office-365-security/anti-spam-message-headers.md
Labels: security

#1265 Formatting, Details
  microsoft-365/security/office-365-security/s-mime-for-message-signing-and-encryption.md
Labels: security

#1217 Update data-classification-overview.md
  microsoft-365/compliance/data-classification-overview.md
Labels: compliance

#1283 Update retention-policies.md
  microsoft-365/compliance/retention-policies.md
Labels: compliance

#1281 Update detailed-properties-in-the-office-365-audit-log.md
  microsoft-365/compliance/detailed-properties-in-the-office-365-audit-log.md
Labels: Microsoft submitter, compliance

#1285 Update archived-device-list.md
  microsoft-365/managed-desktop/service-description/archived-device-list.md
Labels: enterprise

#1297 Update microsoft-threat-protection.md
  microsoft-365/security/mtp/microsoft-threat-protection.md
Labels: security

#1296 Update prerequisites.md
  microsoft-365/security/mtp/prerequisites.md
Labels: security

#1328 Update security-update-insights.md
  microsoft-365/managed-desktop/working-with-managed-desktop/security-update-insights.md
Labels: Microsoft submitter

#1319 checking info DI=SO/DI=SN
  microsoft-365/security/office-365-security/message-trace-scc.md
Labels: security

#1299 Update configure-end-user-spam-notifications-in-exchange-online.md
  microsoft-365/security/office-365-security/configure-end-user-spam-notifications-in-exchange-online.md
Labels: security

#1326 spelling-grammar-updates
  microsoft-365/admin/security-and-compliance/set-up-multi-factor-authentication.md
Labels: security

#1332 Update detect-and-remediate-illicit-consent-grants.md
  microsoft-365/security/office-365-security/detect-and-remediate-illicit-consent-grants.md
Labels: Microsoft submitter
