Repository MicrosoftDocs/microsoft-365-docs, pull requests merged in 2020-09, with the labels that each got.

#2727 Correction on who can receive email notifications
  microsoft-365/compliance/disposition.md
Labels: compliance

#2732 Update use-content-search-to-search-third-party-data-that-was-importe…
  microsoft-365/compliance/use-content-search-to-search-third-party-data-that-was-imported.md
Labels: Microsoft submitter

#2733 Update o365-data-locations.md
  microsoft-365/enterprise/o365-data-locations.md
Labels: Microsoft submitter

#2443 Update customer-key-manage.md
  microsoft-365/compliance/customer-key-manage.md
Labels: Microsoft submitter, compliance

#2646 Update sensitive-information-type-entity-definitions.md
  microsoft-365/compliance/sensitive-information-type-entity-definitions.md
Labels: Microsoft submitter, compliance

#2746 Update setup-guides-for-microsoft-365.md
  microsoft-365/enterprise/setup-guides-for-microsoft-365.md
Labels: enterprise

#2739 Update mfi-auto-forwarded-messages-report.md
  microsoft-365/security/office-365-security/mfi-auto-forwarded-messages-report.md
Labels: security

#2531 Update multi-factor-authentication-microsoft-365.md
  microsoft-365/admin/security-and-compliance/multi-factor-authentication-microsoft-365.md
Labels: admin

#2717 Update microsoft365-apps-usage.md
  microsoft-365/admin/activity-reports/microsoft365-apps-usage.md
Labels: admin

#2743 Update usage-analytics.md
  microsoft-365/admin/usage-analytics/usage-analytics.md
Labels: admin

#2764 Fixed link in connect-to-microsoft-365-powershell.md
  microsoft-365/enterprise/connect-to-microsoft-365-powershell.md
Labels: enterprise

#2765 Resolve syncing conflicts from repo_sync_working_branch to public
  microsoft-365/compliance/TOC.yml
  microsoft-365/compliance/archive-eml-data.md
  microsoft-365/compliance/archive-fxconnect-data.md
  microsoft-365/compliance/archive-reuterseikon-data.md
  microsoft-365/compliance/archive-slackediscovery-data.md
  microsoft-365/compliance/archive-symphony-data.md
  microsoft-365/compliance/archive-text-delimited-data.md
  microsoft-365/compliance/archive-webexteams-data.md
  microsoft-365/compliance/archive-workplacefromfacebook-data.md
  microsoft-365/compliance/archive-zoommeetings-data.md
  microsoft-365/compliance/download-documents-from-review-set.md
  microsoft-365/compliance/download-export-jobs.md
  microsoft-365/compliance/encryption-sensitivity-labels.md
  microsoft-365/compliance/endpoint-dlp-getting-started.md
  microsoft-365/compliance/export-documents-from-review-set.md
  microsoft-365/compliance/exporting-data-ediscover20.md
  microsoft-365/compliance/file-plan-manager.md
  microsoft-365/docfx.json
  microsoft-365/index.yml
  microsoft-365/media/FXConnectConnectorWorkflow.png
  microsoft-365/media/WebexTeamsConnectorWorkflow.png
  microsoft-365/media/bcfc72c7-4a01-4697-9e16-2965b7f04fdb.png
  microsoft-365/security/mtp/top-scoring-industry-tests.md
Labels: compliance

#2772 Update customer-key-set-up.md
  microsoft-365/compliance/customer-key-set-up.md
Labels: compliance

#1886 Update request for shared mailbox requirements
  microsoft-365/compliance/ome-faq.md
Labels: Microsoft submitter, compliance

#2691 Use with multiple accounts or tenants
  microsoft-365/admin/admin-overview/admin-mobile-app.md
Labels: Microsoft submitter, admin

#2669 Update transfer-data-manually.md
  microsoft-365/admin/get-help-with-domains/transfer-data-manually.md
Labels: admin

#2195 Update apply-irm-to-a-list-or-library.md
  microsoft-365/compliance/apply-irm-to-a-list-or-library.md
Labels: compliance

#2799 Update privacy-personal-data.md
  microsoft-365/managed-desktop/service-description/privacy-personal-data.md
Labels: Microsoft submitter

#2735 Update whats-new-in-office-365-atp.md
  microsoft-365/security/office-365-security/whats-new-in-office-365-atp.md
Labels: Microsoft submitter, security

#2801 Removed an extra "the" in the product requirements
  microsoft-365/compliance/endpoint-dlp-getting-started.md
Labels: Microsoft submitter

#2824 Update office-365-network-mac-perf-overview.md
  microsoft-365/enterprise/office-365-network-mac-perf-overview.md
Labels: Microsoft submitter

#2823 Update b2b-extranet.md
  microsoft-365/solutions/b2b-extranet.md
Labels: solutions

#2844 Update office-365-network-mac-perf-onboarding-tool.md
  microsoft-365/enterprise/office-365-network-mac-perf-onboarding-tool.md
Labels: Microsoft submitter

#2838 Update request-your-data-move.md
  microsoft-365/enterprise/request-your-data-move.md
Labels: Microsoft submitter

#2839 Update during-and-after-your-data-move.md
  microsoft-365/enterprise/during-and-after-your-data-move.md
Labels: Microsoft submitter

#2849 Update index.md
  microsoft-365/managed-desktop/intro/index.md
Labels: Microsoft submitter

#2862 Update office-365-network-mac-perf-onboarding-tool.md
  microsoft-365/enterprise/office-365-network-mac-perf-onboarding-tool.md
Labels: Microsoft submitter

#2858 Update sensitive-information-type-entity-definitions.md
  microsoft-365/compliance/sensitive-information-type-entity-definitions.md
Labels: Microsoft submitter

#2649 Update office-365-network-mac-perf-insights.md
  microsoft-365/enterprise/office-365-network-mac-perf-insights.md
Labels: Microsoft submitter, enterprise

#2637 Update office-365-network-mac-perf-score.md
  microsoft-365/enterprise/office-365-network-mac-perf-score.md
Labels: Microsoft submitter, enterprise

#2848 Update data-classification-overview.md
  microsoft-365/compliance/data-classification-overview.md
Labels: compliance

#2869 Update office-365-network-mac-perf-overview.md
  microsoft-365/enterprise/office-365-network-mac-perf-overview.md
Labels: Microsoft submitter

#2818 Update set-up-anti-phishing-policies.md
  microsoft-365/security/office-365-security/set-up-anti-phishing-policies.md
Labels: Microsoft submitter, security

#2815 Add missing closing > to codeblock
  microsoft-365/security/office-365-security/configure-the-outbound-spam-policy.md
Labels: security

#2835 Update investigate-malicious-email-that-was-delivered.md
  microsoft-365/security/office-365-security/investigate-malicious-email-that-was-delivered.md
Labels: security

#2790 Update safety-tips-in-office-365.md
  microsoft-365/security/office-365-security/safety-tips-in-office-365.md
Labels: Microsoft submitter, security

#2774 Update external-email-forwarding.md
  microsoft-365/security/office-365-security/external-email-forwarding.md
Labels: Microsoft submitter, security

#2770 Update use-dmarc-to-validate-email.md
  microsoft-365/security/office-365-security/use-dmarc-to-validate-email.md
Labels: security

#2740 Update investigate-malicious-email-that-was-delivered.md
  microsoft-365/security/office-365-security/investigate-malicious-email-that-was-delivered.md
Labels: security

#2664 update license info for O365 ATP P2
  microsoft-365/security/office-365-security/office-365-atp.md
Labels: Microsoft submitter, security

#2655 Update investigate-malicious-email-that-was-delivered.md
  microsoft-365/security/office-365-security/investigate-malicious-email-that-was-delivered.md
Labels: security

#2639 Update set-up-a-custom-blocked-urls-list-atp.md
  microsoft-365/security/office-365-security/set-up-a-custom-blocked-urls-list-atp.md
Labels: Microsoft submitter, security

#2258 [DO NOT MERGE] SEO edits for office 365 atp
  microsoft-365/security/office-365-security/office-365-atp.md
Labels: security

#2872 Revert "Update office-365-network-mac-perf-overview.md"
  microsoft-365/enterprise/office-365-network-mac-perf-overview.md
Labels: Microsoft submitter

#2867 Adding clarity on time to enable.
  microsoft-365/enterprise/microsoft-365-multi-geo.md
Labels: Microsoft submitter, enterprise

#2874 Update office-365-network-mac-perf-score.md
  microsoft-365/enterprise/office-365-network-mac-perf-score.md
Labels: Microsoft submitter

#2832 Point to the right location for Edge & Office Update content
  microsoft-365/managed-desktop/service-description/updates.md
Labels: Microsoft submitter, managed-desktop

#2817 Update register-reused-devices-self.md
  microsoft-365/managed-desktop/get-started/register-reused-devices-self.md
Labels: managed-desktop

#2816 Update register-devices-self.md
  microsoft-365/managed-desktop/get-started/register-devices-self.md
Labels: managed-desktop

#2807 Update admin-support.md
  microsoft-365/managed-desktop/working-with-managed-desktop/admin-support.md
Labels: managed-desktop

#2806 Update config-setting-deploy.md
  microsoft-365/managed-desktop/working-with-managed-desktop/config-setting-deploy.md
Labels: managed-desktop

#2805 Update config-setting-ref.md
  microsoft-365/managed-desktop/working-with-managed-desktop/config-setting-ref.md
Labels: managed-desktop

#2804 Update end-user-support.md
  microsoft-365/managed-desktop/working-with-managed-desktop/end-user-support.md
Labels: managed-desktop

#2803 Update insights.md
  microsoft-365/managed-desktop/working-with-managed-desktop/insights.md
Labels: managed-desktop

#2800 Update mapped-drives.md
  microsoft-365/managed-desktop/get-ready/mapped-drives.md
Labels: managed-desktop

#2879 Update sensitive-information-type-entity-definitions.md
  microsoft-365/compliance/sensitive-information-type-entity-definitions.md
Labels: Microsoft submitter, compliance

#2885 Update view-email-security-reports.md
  microsoft-365/security/office-365-security/view-email-security-reports.md
Labels: Microsoft submitter

#2239 Update index.yml
  microsoft-365/solutions/index.yml
Labels: enterprise

#2892 Update view-service-health.md
  microsoft-365/enterprise/view-service-health.md
Labels: enterprise

#2904 Update collaborate-in-site.md
  microsoft-365/solutions/collaborate-in-site.md
Labels: solutions

#2878 Fixing a typo and removing one contraction.
  microsoft-365/enterprise/microsoft-365-multi-geo.md
Labels: Microsoft submitter, enterprise

#2889 Update modern-desktop-deployment-and-management-lab.md
  microsoft-365/enterprise/modern-desktop-deployment-and-management-lab.md
Labels: enterprise

#2884 Fix Order of Roles assigned to Role Groups
  microsoft-365/security/office-365-security/permissions-in-the-security-and-compliance-center.md
Labels: security

#2887 Update view-mail-flow-reports.md
  microsoft-365/security/office-365-security/view-mail-flow-reports.md
Labels: Microsoft submitter, security

#2908 Update office-365-network-mac-perf-insights.md
  microsoft-365/enterprise/office-365-network-mac-perf-insights.md
Labels: Microsoft submitter, admin

#2905 Update office-365-network-mac-perf-onboarding-tool.md
  microsoft-365/enterprise/office-365-network-mac-perf-onboarding-tool.md
Labels: Microsoft submitter, admin

#2907 Update office-365-network-mac-perf-overview.md
  microsoft-365/enterprise/office-365-network-mac-perf-overview.md
Labels: Microsoft submitter, admin

#2916 Minor changes to the supported service instances
  microsoft-365/enterprise/office-365-network-mac-perf-overview.md
Labels: Microsoft submitter

#2923 Update sensitive-information-type-entity-definitions.md
  microsoft-365/compliance/sensitive-information-type-entity-definitions.md
Labels: Microsoft submitter

#2711 Update ipv6-support.md
  microsoft-365/enterprise/ipv6-support.md
Labels: enterprise

#2957 Update o365-data-locations.md
  microsoft-365/enterprise/o365-data-locations.md
Labels: Microsoft submitter

#2929 Update collaborate-in-site.md
  microsoft-365/solutions/collaborate-in-site.md
Labels: solutions

#2947 updated image to work in different browser modes
  microsoft-365/enterprise/cross-tenant-mailbox-migration.md
  microsoft-365/media/tenant-to-tenant-mailbox-move/prepare-tenants-flow.png
Labels: Microsoft submitter

#2950 Update set-up-atp-safe-links-policies.md
  microsoft-365/security/office-365-security/set-up-atp-safe-links-policies.md
Labels: security

#2928 Updated link.
  microsoft-365/compliance/compliance-extensibility.md
Labels: Microsoft submitter, compliance

#2938 Update office-365-network-mac-perf-onboarding-tool.md
  microsoft-365/enterprise/office-365-network-mac-perf-onboarding-tool.md
Labels: Microsoft submitter

#2837 Update microsoft-365-vpn-implement-split-tunnel.md
  microsoft-365/enterprise/microsoft-365-vpn-implement-split-tunnel.md
Labels: enterprise

#2652 Update network-planning-and-performance.md
  microsoft-365/enterprise/network-planning-and-performance.md
Labels: Microsoft submitter, enterprise

#2934 Update add-domain.md
  microsoft-365/admin/setup/add-domain.md
Labels: admin

#2922 Update pilot-microsoft-365-from-my-custom-domain.md
  microsoft-365/admin/misc/pilot-microsoft-365-from-my-custom-domain.md
Labels: admin

#2902 Update change-nameservers-at-any-domain-registrar.md
  microsoft-365/admin/get-help-with-domains/change-nameservers-at-any-domain-registrar.md
Labels: admin

#2847 Update find-and-fix-issues.md
  microsoft-365/admin/get-help-with-domains/find-and-fix-issues.md
Labels: admin

#2960 Update office-365-groups.md
  microsoft-365/admin/activity-reports/office-365-groups.md
Labels: admin

#2931 Update access-resources.md
  microsoft-365/business/access-resources.md
Labels: business

#2933 Update migrate-from-e3.md
  microsoft-365/business/migrate-from-e3.md
Labels: business

#2802 Update enable-usage-analytics.md
  microsoft-365/admin/usage-analytics/enable-usage-analytics.md
  microsoft-365/media/ab6f0463-c3f7-4088-a605-67c699fa86adnew.png
Labels: admin

#2900 Update manage-deployment-of-add-ins.md
  microsoft-365/admin/manage/manage-deployment-of-add-ins.md
Labels: admin

#2983 Update offering-nerc-cip.md
  microsoft-365/compliance/offering-nerc-cip.md
Labels: compliance

#2898 Update offering-HIPAA-HITECH.md
  microsoft-365/compliance/offering-HIPAA-HITECH.md
Labels: compliance

#2836 Update offering-shared-assessments.md
  microsoft-365/compliance/offering-shared-assessments.md
Labels: compliance

#2881 Update offering-TISAX-Germany.md
  microsoft-365/compliance/offering-TISAX-Germany.md
Labels: compliance

#3007 Update air-view-investigation-results.md
  microsoft-365/security/office-365-security/air-view-investigation-results.md
Labels: Microsoft submitter, security

#3006 Update automated-investigation-response-office.md
  microsoft-365/security/office-365-security/automated-investigation-response-office.md
Labels: Microsoft submitter, security

#2977 Update ms-cloud-germany-migration-opt-in.md
  microsoft-365/enterprise/ms-cloud-germany-migration-opt-in.md
Labels: Microsoft submitter, enterprise

#3013 Update collaborate-as-team.md
  microsoft-365/solutions/collaborate-as-team.md
Labels: solutions

#3024 Update office-365-network-mac-perf-overview.md
  microsoft-365/enterprise/office-365-network-mac-perf-overview.md
Labels: Microsoft submitter

#2962 Updated from Hybrid Cloud to Universal Print
  microsoft-365/managed-desktop/get-ready/printing.md
Labels: Microsoft submitter, managed-desktop

#2981 Update dlp-sensitivity-label-as-condition.md
  microsoft-365/compliance/dlp-sensitivity-label-as-condition.md
Labels: compliance

#3023 Update classifier-learn-about.md
  microsoft-365/compliance/classifier-learn-about.md
Labels: compliance
