Repository MicrosoftDocs/microsoft-365-docs, pull requests merged in 2020-05, with the labels that each got.

#1811 Removed reference to an unused group in the MMD Config
  microsoft-365/managed-desktop/get-started/project-visio.md
Labels: Microsoft submitter, enterprise

#1810 Update sensitivity-labels-teams-groups-sites.md
  microsoft-365/compliance/sensitivity-labels-teams-groups-sites.md
Labels: Microsoft submitter, compliance

#1807 Update integrated-apps.md
  microsoft-365/admin/misc/integrated-apps.md
Labels: admin

#1708 Update offering-PCI-DSS.md
  microsoft-365/compliance/offering-PCI-DSS.md
Labels: Microsoft submitter, compliance

#1821 Addition of missing resource
  microsoft-365/security/office-365-security/tenant-wide-setup-for-increased-security.md
Labels: security

#1773 minor correction
  microsoft-365/admin/email/convert-user-mailbox-to-shared-mailbox.md
Labels: admin

#1859 Fixed typo on line 341
  microsoft-365/compliance/retention-policies.md
Labels: compliance

#1828 Update user-submission.md
  microsoft-365/security/office-365-security/user-submission.md
Labels: Microsoft submitter, security

#1849 ML for Office autolabeling change
  microsoft-365/compliance/classifier-creating-a-trainable-classifier.md
Labels: compliance

#1857 Update configure-the-outbound-spam-policy.md
  microsoft-365/security/office-365-security/configure-the-outbound-spam-policy.md
Labels: security

#1862 Fixed typo in line 137
  microsoft-365/security/office-365-security/anti-spam-message-headers.md
Labels: security

#1818 Update create-safe-sender-lists-in-office-365.md
  microsoft-365/security/office-365-security/create-safe-sender-lists-in-office-365.md
Labels: Microsoft submitter, security

#1817 Update zero-hour-auto-purge.md
  microsoft-365/security/office-365-security/zero-hour-auto-purge.md
Labels: Microsoft submitter, security

#1814 made a change
  microsoft-365/security/office-365-security/find-and-release-quarantined-messages-as-a-user.md
Labels: security

#1750 Update view-reports-for-atp.md
  microsoft-365/security/office-365-security/view-reports-for-atp.md
Labels: security

#1873 Update reset-passwords.md
  microsoft-365/admin/add-users/reset-passwords.md
Labels: admin

#1878 Update data-privacy.md
  microsoft-365/security/mtp/data-privacy.md
Labels: Microsoft submitter, security

#1872 Update manage-creation-of-groups.md
  microsoft-365/admin/create-groups/manage-creation-of-groups.md
Labels: admin

#1892 updating version that will be impacted
  microsoft-365/security/mtp/microsoft-secure-score-whats-coming.md
Labels: security

#1894 Makes Get-AzureADGroup call more specific
  microsoft-365/admin/create-groups/manage-creation-of-groups.md
Labels: admin

#1896 Update user-submission.md
  microsoft-365/security/office-365-security/user-submission.md
Labels: Microsoft submitter, security

#1895 Update report-junk-email-and-phishing-scams-in-outlook-on-the-web-eop.md
  microsoft-365/security/office-365-security/report-junk-email-and-phishing-scams-in-outlook-on-the-web-eop.md
Labels: Microsoft submitter, security

#1920 Added clarification about AeD and -Region
  microsoft-365/compliance/set-up-compliance-boundaries.md
Labels: Microsoft submitter

#1898 SegmentsAllowed requires including the Assigned one too
  microsoft-365/compliance/information-barriers-policies.md
Labels: compliance

#1809 Update label-analytics.md
  microsoft-365/compliance/label-analytics.md
Labels: Microsoft submitter, compliance

#1848 Typo in the required licenses SKU name
  microsoft-365/compliance/information-barriers.md
Labels: compliance

#1866 Updating script to Az module
  microsoft-365/compliance/information-barriers-policies.md
Labels: compliance

#1885 specified role assignment
  microsoft-365/compliance/data-loss-prevention-policies.md
Labels: compliance

#1909 Fix script for localization
  microsoft-365/compliance/create-sensitivity-labels.md
Labels: compliance

#1891 Added the actual role that has to be added when creating the role group
  microsoft-365/compliance/data-loss-prevention-policies.md
Labels: compliance

#1918 update outdated info
  microsoft-365/admin/manage/share-calendars-with-external-users.md
Labels: admin

#1882 Update user-submission.md
  microsoft-365/security/office-365-security/user-submission.md
Labels: Microsoft submitter, security

#1915 Delete user-submission-disable-outlook-report-message.PNG
  microsoft-365/media/user-submission-disable-outlook-report-message.PNG
Labels: Microsoft submitter, security

#1914 Delete user-submission-enable-outlook-report-message.PNG
  microsoft-365/media/user-submission-enable-outlook-report-message.PNG
Labels: Microsoft submitter, security

#1916 Update user-submission.md
  microsoft-365/security/office-365-security/user-submission.md
Labels: Microsoft submitter, security

#1926 Update user-submission.md
  microsoft-365/security/office-365-security/user-submission.md
Labels: Microsoft submitter, security

#1934 Phishing is...
  microsoft-365/security/office-365-security/anti-phishing-protection.md
Labels: security

#1876 Microsoft Threat Protection
  microsoft-365/security/top-security-tasks-for-remote-work.md
Labels: security

#1948 Update offering-russia-data-localization.md
  microsoft-365/compliance/offering-russia-data-localization.md
Labels: compliance

#1877 Updated the link to point to correct resource
  microsoft-365/compliance/offering-ISO-27001.md
Labels: compliance

#1947 Updated metadata author
  microsoft-365/admin/manage/share-calendars-with-external-users.md
Labels: admin

#1968 new update
  microsoft-365/security/office-365-security/use-spam-notifications-to-release-and-report-quarantined-messages.md
Labels: security

#1976 Update compliance.md
  microsoft-365/managed-desktop/intro/compliance.md
Labels: Microsoft submitter

#1975 Update security.md
  microsoft-365/managed-desktop/service-description/security.md
Labels: Microsoft submitter

#1919 Update secure-your-business-data.md
  microsoft-365/admin/security-and-compliance/secure-your-business-data.md
Labels: admin

#1823 correction in procedure
  microsoft-365/admin/usage-analytics/enable-usage-analytics.md
Labels: admin

#1771 - fixes typo in conditional access page
  microsoft-365/business/set-up-conditional-access-policies.md
Labels: Microsoft submitter, business

#1980 Revert "- fixes typo in conditional access page"
  microsoft-365/business/set-up-conditional-access-policies.md
Labels: Microsoft submitter

#1981 Update manage-Information-governance.md
  microsoft-365/compliance/manage-Information-governance.md
Labels: Microsoft submitter

#1987 Added Teams guidance criteria and link
  microsoft-365/managed-desktop/service-description/device-list.md
Labels: enterprise

#1789 Update incorrect licensing statement
  microsoft-365/admin/email/remove-license-from-shared-mailbox.md
Labels: admin

#1867 Proposing adding a line to CNAME w/ Teams
  microsoft-365/admin/setup/domains-faq.md
Labels: admin

#1925 fixed misleading label
  microsoft-365/admin/setup/add-domain.md
Labels: admin

#1977 Update restore-deleted-group.md
  microsoft-365/admin/create-groups/restore-deleted-group.md
Labels: Microsoft submitter, admin

#1795 Update data-privacy.md
  microsoft-365/security/mtp/data-privacy.md
Labels: Microsoft submitter, security

#1982 Update classifier-getting-started-with.md
  microsoft-365/compliance/classifier-getting-started-with.md
Labels: compliance

#1989 Update dlp-microsoft-teams.md
  microsoft-365/compliance/dlp-microsoft-teams.md
Labels: compliance

#2004 Update Get-PhishFilter to Get-PhishFilterPolicy
  microsoft-365/security/office-365-security/learn-about-spoof-intelligence.md
Labels: Microsoft submitter, security

#1992 Updates to the CAT items
  microsoft-365/security/office-365-security/anti-spam-message-headers.md
Labels: security

#2008 Adding information for GCC tenants
  microsoft-365/security/office-365-security/user-submission.md
Labels: Microsoft submitter, security

#2000 Call out ExO cmdlets when being used
  microsoft-365/compliance/permissions-filtering-for-content-search.md
Labels: compliance

#1806 Update advanced-hunting-overview.md
  microsoft-365/security/mtp/advanced-hunting-overview.md
Labels: security

#2030 remove double wording
  microsoft-365/security/office-365-security/configure-the-connection-filter-policy.md
Labels: security

#2048 Update assign-ediscovery-permissions.md
  microsoft-365/compliance/assign-ediscovery-permissions.md
Labels: compliance

#2054 Update use-dkim-to-validate-outbound-email.md
  microsoft-365/security/office-365-security/use-dkim-to-validate-outbound-email.md
Labels: Microsoft submitter, security

#2066 Update high-risk-delivery-pool-for-outbound-messages.md
  microsoft-365/security/office-365-security/high-risk-delivery-pool-for-outbound-messages.md
Labels: Microsoft submitter, security
