Repository MicrosoftDocs/microsoft-365-docs, pull requests merged in 2020-11, with the labels that each got.

#3314 Update manage-microsoft-365-groups-with-powershell.md
  microsoft-365/enterprise/manage-microsoft-365-groups-with-powershell.md
Labels: enterprise

#3318 Update preset-security-policies.md
  microsoft-365/security/office-365-security/preset-security-policies.md
Labels: security

#3317 Update configure-the-outbound-spam-policy.md
  microsoft-365/security/office-365-security/configure-the-outbound-spam-policy.md
Labels: security

#3326 Missing AAD events in Audit Logs - Oct 2020
  microsoft-365/compliance/search-the-audit-log-in-security-and-compliance.md
Labels: Microsoft submitter

#3254 Update classifier-get-started-with.md
  microsoft-365/compliance/classifier-get-started-with.md
Labels: compliance

#3339 Update legacy-ediscovery-retirement.md
  microsoft-365/compliance/legacy-ediscovery-retirement.md
Labels: Microsoft submitter

#3310 Update request-your-data-move.md
  microsoft-365/enterprise/request-your-data-move.md
Labels: Microsoft submitter

#3311 Update data-move-faq.md
  microsoft-365/enterprise/data-move-faq.md
Labels: Microsoft submitter

#2846 Update what-if-my-subscription-expires.md
  microsoft-365/commerce/subscriptions/what-if-my-subscription-expires.md
Labels: admin

#3285 Update knowledge-management-overview.md
  microsoft-365/knowledge/knowledge-management-overview.md
Labels: enterprise

#3291 Update work-with-topics.md
  microsoft-365/knowledge/work-with-topics.md
Labels: enterprise

#3290 Update topic-center-overview.md
  microsoft-365/knowledge/topic-center-overview.md
Labels: enterprise

#3346 Added retirement warning
  microsoft-365/compliance/overview-data-investigations.md
Labels: Microsoft submitter

#3336 Update classifier-get-started-with.md
  microsoft-365/compliance/classifier-get-started-with.md
Labels: compliance

#3364 Update links for download format
  microsoft-365/compliance/retention-regulatory-requirements.md
Labels: Microsoft submitter

#3329 Update endpoint-dlp-learn-about.md
  microsoft-365/compliance/endpoint-dlp-learn-about.md
Labels: Microsoft submitter, compliance

#3362 Update readiness-assessment-tool.md
  microsoft-365/managed-desktop/get-ready/readiness-assessment-tool.md
Labels: Microsoft submitter, managed-desktop

#3363 Update readiness-assessment-fix.md
  microsoft-365/managed-desktop/get-ready/readiness-assessment-fix.md
Labels: Microsoft submitter, managed-desktop

#3365 Update readiness-assessment-fix.md
  microsoft-365/managed-desktop/get-ready/readiness-assessment-fix.md
Labels: Microsoft submitter

#3366 Update readiness-assessment-fix.md
  microsoft-365/managed-desktop/get-ready/readiness-assessment-fix.md
Labels: Microsoft submitter

#3355 Update work-with-partner-to-archive-third-party-data.md
  microsoft-365/compliance/work-with-partner-to-archive-third-party-data.md
Labels: compliance

#3367 Update readiness-assessment-fix.md
  microsoft-365/managed-desktop/get-ready/readiness-assessment-fix.md
Labels: Microsoft submitter

#3369 Update readiness-assessment-fix.md
  microsoft-365/managed-desktop/get-ready/readiness-assessment-fix.md
Labels: Microsoft submitter

#3371 Update readiness-assessment-fix.md
  microsoft-365/managed-desktop/get-ready/readiness-assessment-fix.md
Labels: Microsoft submitter

#2964 Update to PowerShell command $true is not a parameter
  microsoft-365/compliance/information-barriers-policies.md
Labels: compliance

#3386 Update readiness-assessment-fix.md
  microsoft-365/managed-desktop/get-ready/readiness-assessment-fix.md
Labels: Microsoft submitter

#3379 Update safety-tips-in-office-365.md
  microsoft-365/security/office-365-security/safety-tips-in-office-365.md
Labels: Microsoft submitter, security

#3401 Update explanation-types-overview.md
  microsoft-365/contentunderstanding/explanation-types-overview.md
Labels: Microsoft submitter

#3405 Adding G5 to Advanced Audit subscriptions
  microsoft-365/compliance/advanced-audit.md
Labels: Microsoft submitter

#3406 Removing M365 E5 IP+DLP
  microsoft-365/compliance/endpoint-dlp-getting-started.md
Labels: Microsoft submitter

#3419 Update during-and-after-your-data-move.md
  microsoft-365/enterprise/during-and-after-your-data-move.md
Labels: Microsoft submitter

#3428 Update AAD event issue with ETA
  microsoft-365/compliance/search-the-audit-log-in-security-and-compliance.md
Labels: Microsoft submitter

#3425 Update readiness-assessment-fix.md
  microsoft-365/managed-desktop/get-ready/readiness-assessment-fix.md
Labels: Microsoft submitter

#3424 Update readiness-assessment-fix.md
  microsoft-365/managed-desktop/get-ready/readiness-assessment-fix.md
Labels: Microsoft submitter

#3423 Update readiness-assessment-fix.md
  microsoft-365/managed-desktop/get-ready/readiness-assessment-fix.md
Labels: Microsoft submitter

#3433 Update cross-tenant-mailbox-migration.md
  microsoft-365/enterprise/cross-tenant-mailbox-migration.md
Labels: enterprise

#3320 Update archive-instant-bloomberg-data.md
  microsoft-365/compliance/archive-instant-bloomberg-data.md
Labels: Microsoft submitter, compliance, do not merge

#3414 Update readiness-assessment-fix.md
  microsoft-365/managed-desktop/get-ready/readiness-assessment-fix.md
Labels: managed-desktop

#3410 Update create-a-form-processing-model.md
  microsoft-365/contentunderstanding/create-a-form-processing-model.md
Labels: Microsoft submitter, enterprise

#3430 Added export limits
  microsoft-365/compliance/limits-ediscovery20.md
Labels: Microsoft submitter, compliance

#3438 Update register-devices-self.md
  microsoft-365/managed-desktop/get-started/register-devices-self.md
Labels: managed-desktop

#3061 Update register-devices-partner.md
  microsoft-365/managed-desktop/get-started/register-devices-partner.md
Labels: do not merge, managed-desktop

#3341 Update manage-Information-governance.md
  microsoft-365/compliance/manage-Information-governance.md
Labels: Microsoft submitter, compliance

#3432 Update migrate-from-microsoft-365-business-to-microsoft-365-enterpris…
  microsoft-365/business/migrate-from-microsoft-365-business-to-microsoft-365-enterprise.md
Labels: business

#3373 Update enable-usage-analytics.md
  microsoft-365/admin/usage-analytics/enable-usage-analytics.md
Labels: admin

#3266 Update add-several-users-at-the-same-time.md
  microsoft-365/enterprise/add-several-users-at-the-same-time.md
Labels: enterprise

#3238 Update m365-campaigns-conditional-access.md
  microsoft-365/campaigns/m365-campaigns-conditional-access.md
Labels: campaigns

#3194 Update manage-addins-in-the-admin-center.md
  microsoft-365/admin/manage/manage-addins-in-the-admin-center.md
Labels: admin

#3389 Fixed typo
  microsoft-365/compliance/communication-compliance.md
Labels: compliance

#3236 Update offering-PCI-DSS.md
  microsoft-365/compliance/offering-PCI-DSS.md
Labels: compliance

#3435 Update classifier-learn-about.md
  microsoft-365/compliance/classifier-learn-about.md
Labels: compliance

#3436 Update classifier-get-started-with.md
  microsoft-365/compliance/classifier-get-started-with.md
Labels: compliance

#3288 Update communication-compliance-configure.md
  microsoft-365/compliance/communication-compliance-configure.md
Labels: compliance

#3392 Update Export steps to match current UI
  microsoft-365/compliance/export-search-results.md
Labels: compliance

#3466 Update office-365-network-mac-perf-onboarding-tool.md
  microsoft-365/enterprise/office-365-network-mac-perf-onboarding-tool.md
Labels: Microsoft submitter

#3461 Update connect-to-all-microsoft-365-services-in-a-single-windows-powe…
  microsoft-365/enterprise/connect-to-all-microsoft-365-services-in-a-single-windows-powershell-window.md
Labels: enterprise

#3471 Update set-up-anti-phishing-policies.md
  microsoft-365/security/office-365-security/set-up-anti-phishing-policies.md
Labels: security

#2253 Update create-and-use-a-template-to-add-users.md
  microsoft-365/admin/add-users/create-and-use-a-template-to-add-users.md
Labels: admin

#3440 Update mailbox-usage.md
  microsoft-365/admin/activity-reports/mailbox-usage.md
Labels: admin

#3376 Update turn-bookings-on-or-off.md
  microsoft-365/bookings/turn-bookings-on-or-off.md
Labels: Bookings

#3265 Update delete-calendar.md
  microsoft-365/bookings/delete-calendar.md
Labels: Bookings

#3203 Update update-phone-number-and-email-address.md
  microsoft-365/admin/manage/update-phone-number-and-email-address.md
Labels: admin

#3172 Update turn-bookings-on-or-off.md
  microsoft-365/bookings/turn-bookings-on-or-off.md
Labels: Bookings

#3465 Update use-dkim-to-validate-outbound-email.md
  microsoft-365/security/office-365-security/use-dkim-to-validate-outbound-email.md
Labels: security

#3472 Update recommended-settings-for-eop-and-office365-atp.md
  microsoft-365/security/office-365-security/recommended-settings-for-eop-and-office365-atp.md
Labels: security

#3409 Update secure-by-default.md
  microsoft-365/security/office-365-security/secure-by-default.md
Labels: Microsoft submitter, security

#3411 Added some more SPO datacenters
  microsoft-365/compliance/set-up-compliance-boundaries.md
Labels: Microsoft submitter, do not merge

#3480 Update whats-new-in-office-365-atp.md
  microsoft-365/security/office-365-security/whats-new-in-office-365-atp.md
Labels: security

#3429 Update during-and-after-your-data-move.md
  microsoft-365/enterprise/during-and-after-your-data-move.md
Labels: Microsoft submitter, enterprise

#3422 Update request-your-data-move.md
  microsoft-365/enterprise/request-your-data-move.md
Labels: Microsoft submitter, enterprise

#3421 Update moving-data-to-new-datacenter-geos.md
  microsoft-365/enterprise/moving-data-to-new-datacenter-geos.md
Labels: Microsoft submitter, enterprise

#3481 Update remediate-malicious-email-delivered-office-365.md
  microsoft-365/security/office-365-security/remediate-malicious-email-delivered-office-365.md
Labels: security

#3497 Update microsoft-365-groups-expiration-policy.md
  microsoft-365/solutions/microsoft-365-groups-expiration-policy.md
Labels: Microsoft submitter

#3503 Update manage-quarantined-messages-and-files.md
  microsoft-365/security/office-365-security/manage-quarantined-messages-and-files.md
Labels: Microsoft submitter

#3470 Update PortalLaunchScheduler.md
  microsoft-365/enterprise/PortalLaunchScheduler.md
Labels: enterprise

#3514 Added 100K export limit which was referenced in the note
  microsoft-365/compliance/limits-for-content-search.md
Labels: Microsoft submitter

#3519 Update endpoint-dlp-getting-started.md
  microsoft-365/compliance/endpoint-dlp-getting-started.md
Labels: compliance

#3517 Update prepare-for-directory-synchronization.md
  microsoft-365/enterprise/prepare-for-directory-synchronization.md
Labels: enterprise

#3524 Updated note on First Contact safety tip
  microsoft-365/security/office-365-security/set-up-anti-phishing-policies.md
Labels: Microsoft submitter

#3313 Update office-365-info-protection-for-gdpr-overview.md
  microsoft-365/compliance/office-365-info-protection-for-gdpr-overview.md
Labels: compliance

#3527 Update o365-data-locations.md
  microsoft-365/enterprise/o365-data-locations.md
Labels: Microsoft submitter

#3540 Request removal of registry change speed up downloads.
  microsoft-365/compliance/export-search-results.md
Labels: Microsoft submitter

#3516 Update microsoft-365-network-connectivity-principles.md
  microsoft-365/enterprise/microsoft-365-network-connectivity-principles.md
Labels: enterprise

#3539 Update information-protection.md
  microsoft-365/compliance/information-protection.md
Labels: compliance

#3545 Update the doc for the instruction to enable the new role.
  microsoft-365/admin/productivity/privacy.md
Labels: admin

#3533 Update form-processing-overview.md
  microsoft-365/contentunderstanding/form-processing-overview.md
Labels: Microsoft submitter, admin

#3447 Update readiness-assessment-tool.md
  microsoft-365/managed-desktop/get-ready/readiness-assessment-tool.md
Labels: Microsoft submitter, managed-desktop

#3138 Update create-dns-records-at-any-dns-hosting-provider.md
  microsoft-365/admin/get-help-with-domains/create-dns-records-at-any-dns-hosting-provider.md
Labels: admin

#3158 Small change for IndexedDB
  microsoft-365/enterprise/modern-web-part-optimization.md
Labels: enterprise

#3224 Update manage-industry-news.md
  microsoft-365/admin/manage/manage-industry-news.md
Labels: admin

#3549 Fix typo in report junk email message page.
  microsoft-365/security/office-365-security/report-junk-email-messages-to-microsoft.md
Labels: security

#3546 Update admin-submission.md
  microsoft-365/security/office-365-security/admin-submission.md
Labels: Microsoft submitter, security

#3569 Update about-exchange-online-admin-role.md
  microsoft-365/admin/add-users/about-exchange-online-admin-role.md
Labels: admin

#3564 Update communication.md
  microsoft-365/admin/productivity/communication.md
Labels: admin

#3587 Update change-a-user-name-and-email-address.md
  microsoft-365/admin/add-users/change-a-user-name-and-email-address.md
Labels: Microsoft submitter, admin
