Repository MicrosoftDocs/microsoft-365-docs, pull requests merged in 2020-04, with the labels that each got.

#1482 updated new SKU for AME
  microsoft-365/compliance/ome-advanced-message-encryption.md
Labels: Microsoft submitter, compliance

#1540 Update whats-new-in-office-365-atp.md
  microsoft-365/security/office-365-security/whats-new-in-office-365-atp.md
Labels: Microsoft submitter, security

#1522 Update get-access-to-and-back-up-a-former-user-s-data.md
  microsoft-365/admin/add-users/get-access-to-and-back-up-a-former-user-s-data.md
Labels: admin

#1543 Added missing quote mark
  microsoft-365/compliance/keyword-queries-and-search-conditions.md
Labels: Microsoft submitter

#1546 Updated SKUs for April 1 release
  microsoft-365/compliance/customer-lockbox-requests.md
Labels: Microsoft submitter

#1418 Typo "*alan@contoso.onmicrosoft.com*"→"*alan\@contoso.onmicrosoft.com*"
  microsoft-365/admin/setup/domains-faq.md
Labels: admin

#1519 Correction in the document
  microsoft-365/admin/dns/update-dns-records-to-retain-current-hosting-provider.md
Labels: admin

#1565 Spelling typo
  microsoft-365/admin/email/configure-email-forwarding.md
Labels: admin

#1555 Fixed typo in line 46
  microsoft-365/compliance/communication-compliance-configure.md
Labels: compliance

#1369 Update usage-analytics.md
  microsoft-365/admin/usage-analytics/usage-analytics.md
Labels: admin

#1517 Link upgradation
  microsoft-365/compliance/offering-nist-csf.md
Labels: compliance

#1507 Update multi-factor-authentication-plan.md
  microsoft-365/admin/security-and-compliance/multi-factor-authentication-plan.md
Labels: admin

#1547 add missing condition
  microsoft-365/admin/security-and-compliance/secure-your-business-data.md
Labels: admin

#1590 Added bit about calendar item maintance
  microsoft-365/compliance/differences-between-estimated-and-actual-ediscovery-search-results.md
Labels: Microsoft submitter

#1591 removed (Preview) from Sentinel
  microsoft-365/security/index.yml
Labels: Microsoft submitter, security

#1599 Update network health topic
  microsoft-365/enterprise/microsoft-365-service-health.md
Labels: Microsoft submitter

#1484 Update customer-key-set-up.md
  microsoft-365/compliance/customer-key-set-up.md
Labels: Microsoft submitter, compliance

#1613 Updates screenshot to current menu option
  microsoft-365/media/ExplorerViewMenuEmailUserReported.png
Labels: security

#1618 Add properties to Email Activity report
  microsoft-365/admin/activity-reports/email-activity.md
  microsoft-365/media/21c1e082-317e-4b5e-b736-661ca5744def.png
  microsoft-365/media/2317f03d-2d71-46bf-a5c7-d94dbc8cfbe1.png
  microsoft-365/media/6065f515-b97b-4829-b683-a7667542d1af.png
  microsoft-365/media/a3a9cb3d-b8b1-4c6a-9f6f-18aebf74c3a0.png
Labels: admin

#1637 Adding link to module info
  microsoft-365/admin/add-users/set-password-to-never-expire.md
Labels: admin

#1593 Update recommended-settings-for-eop-and-office365-atp.md
  microsoft-365/security/office-365-security/recommended-settings-for-eop-and-office365-atp.md
Labels: Microsoft submitter, security

#1568 add note containing useful link
  microsoft-365/admin/create-groups/manage-creation-of-groups.md
Labels: admin

#1569 add missing info about OneNote
  microsoft-365/admin/create-groups/office-365-groups.md
Labels: admin

#1609 Update restore-deleted-group.md
  microsoft-365/admin/create-groups/restore-deleted-group.md
Labels: admin

#1664 removed duplicate paragraph
  microsoft-365/compliance/retention-policies.md
Labels: compliance

#1649 Additional documentation linked
  microsoft-365/managed-desktop/get-ready/network.md
Labels: enterprise

#1666 Update delete-a-user.md
  microsoft-365/admin/add-users/delete-a-user.md
Labels: admin

#1616 Remove mention of 30 entry input limit in portal
  microsoft-365/security/office-365-security/create-block-sender-lists-in-office-365.md
Labels: security

#1556 Fixed typo in line 96
  microsoft-365/security/office-365-security/set-up-atp-safe-attachments-policies.md
Labels: security

#1570 Fixed the action and overrides
  microsoft-365/security/office-365-security/use-dmarc-to-validate-email.md
Labels: security

#1571 Updated to clarify cloud mailbox requirements
  microsoft-365/security/office-365-security/configure-the-outbound-spam-policy.md
Labels: security

#1667 fix duplicate Set-DkimSigningConfig
  microsoft-365/security/office-365-security/use-dkim-to-validate-outbound-email.md
Labels: security

#1684 remove preview from Sentinel - the service GAed
  microsoft-365/security/index.yml
Labels: Microsoft submitter

#1680 Update threat-explorer.md
  microsoft-365/security/office-365-security/threat-explorer.md
Labels: security

#1678 Updating filter name
  microsoft-365/security/office-365-security/atp-for-spo-odb-and-teams.md
Labels: security

#1656 Dbyrdaquent seo working branch
  microsoft-365/compliance/GDPR-discovery-protection-reporting-in-Office365-dev-test-environment.md
  microsoft-365/compliance/create-a-document-deletion-policy.md
  microsoft-365/compliance/create-a-keyword-dictionary.md
  microsoft-365/compliance/create-a-report-on-holds-in-ediscovery-cases.md
  microsoft-365/compliance/create-and-manage-inactive-mailboxes.md
  microsoft-365/compliance/create-info-mgmt-policies.md
  microsoft-365/compliance/csv-file-for-an-id-list-content-search.md
  microsoft-365/compliance/customize-a-built-in-sensitive-information-type.md
  microsoft-365/compliance/data-loss-prevention-policies.md
  microsoft-365/compliance/de-duplication-in-ediscovery-search-results.md
  microsoft-365/compliance/delete-an-inactive-mailbox.md
  microsoft-365/compliance/delete-items-in-the-recoverable-items-folder-of-mailboxes-on-hold.md
  microsoft-365/compliance/deprecating-ome-viewer.md
  microsoft-365/compliance/disable-reports-when-you-export-content-search-results.md
  microsoft-365/compliance/find-copy-and-delete-pst-files-in-your-organization.md
  microsoft-365/compliance/form-a-query-to-find-sensitive-data-stored-on-sites.md
  microsoft-365/compliance/gdpr-dsr-Dynamics365.md
  microsoft-365/compliance/gdpr-dsr-Intune.md
  microsoft-365/compliance/get-started-with-dlp-policy-recommendations.md
  microsoft-365/compliance/get-started-with-service-trust-portal.md
  microsoft-365/compliance/get-started-with-the-default-dlp-policy.md
  microsoft-365/compliance/go-to-the-securitycompliance-center.md
  microsoft-365/compliance/identify-a-hold-on-an-exchange-online-mailbox.md
  microsoft-365/compliance/importing-pst-files-to-office-365.md
  microsoft-365/compliance/inactive-mailboxes-in-office-365.md
  microsoft-365/compliance/increase-download-speeds-when-exporting-ediscovery-results.md
  microsoft-365/compliance/information-rights-management-in-exchange-online.md
  microsoft-365/compliance/intro-to-info-mgmt-policies.md
  microsoft-365/compliance/investigating-partially-indexed-items-in-ediscovery.md
  microsoft-365/compliance/keyword-queries-and-search-conditions.md
  microsoft-365/compliance/label-analytics.md
  microsoft-365/compliance/labels.md
  microsoft-365/compliance/legacy-information-for-message-encryption.md
  microsoft-365/compliance/limits-ediscovery20.md
  microsoft-365/compliance/manage-gdpr-data-subject-requests-with-the-dsr-case-tool.md
  microsoft-365/compliance/manage-legal-investigations.md
  microsoft-365/compliance/manage-office-365-message-encryption.md
  microsoft-365/compliance/managing-custodians.md
  microsoft-365/compliance/meet-data-protection-and-regulatory-reqs-using-microsoft-cloud.md
  microsoft-365/compliance/ome-advanced-expiration.md
  microsoft-365/compliance/ome.md
  microsoft-365/compliance/processing-data-for-case.md
  microsoft-365/compliance/protect-documents-that-have-fci-or-other-properties.md
  microsoft-365/compliance/put-an-in-place-hold-on-a-soft-deleted-mailbox.md
  microsoft-365/compliance/recently-updated-topics-mcc.md
  microsoft-365/compliance/records-management.md
  microsoft-365/compliance/what-the-dlp-functions-look-for.md
  microsoft-365/compliance/what-the-dlp-policy-templates-include.md
  microsoft-365/compliance/what-the-sensitive-information-types-look-for.md
  microsoft-365/compliance/whats-new.md
  microsoft-365/compliance/work-with-partner-to-archive-third-party-data.md
  microsoft-365/compliance/working-with-compliance-manager.md
Labels: compliance

#1685 Add info to remove encryption for outgoing mail
  microsoft-365/compliance/define-mail-flow-rules-to-encrypt-email.md
Labels: Microsoft submitter, compliance

#1711 Title and description rework
  microsoft-365/compliance/create-custom-sensitive-information-types-with-exact-data-match-based-classification.md
  microsoft-365/compliance/information-barriers-attributes.md
  microsoft-365/compliance/information-barriers-policies.md
  microsoft-365/compliance/information-barriers-troubleshooting.md
  microsoft-365/compliance/office-365-azure-encryption.md
  microsoft-365/compliance/office-365-bitlocker-and-distributed-key-manager-for-encryption.md
  microsoft-365/compliance/office-365-encryption-in-the-microsoft-cloud-overview.md
  microsoft-365/compliance/office-365-encryption-risks-and-protections.md
  microsoft-365/compliance/ome-version-comparison.md
  microsoft-365/security/mtp/latest-attack-campaigns.md
  microsoft-365/security/mtp/tickets.md
  microsoft-365/security/office-365-security/anti-malware-protection-faq-eop.md
  microsoft-365/security/office-365-security/detect-and-remediate-illicit-consent-grants.md
  microsoft-365/security/office-365-security/detect-and-remediate-outlook-rules-forms-attack.md
  microsoft-365/security/office-365-security/malicious-files-detected-in-spo-odb-or-teams.md
  microsoft-365/security/office-365-security/office-365-ti.md
  microsoft-365/security/office-365-security/permissions-microsoft-365-compliance-security.md
  microsoft-365/security/office-365-security/protect-against-threats.md
  microsoft-365/security/office-365-security/reports-and-insights-in-security-and-compliance.md
  microsoft-365/solutions/collaborate-with-people-outside-your-organization.md
Labels: compliance

#1695 Typo "*rob@contoso.com*"→"*rob\@contoso.com*"
  microsoft-365/admin/setup/plan-your-setup.md
Labels: admin

#1728 Dbyrdaquent seo working branch
  microsoft-365/security/mtp/microsoft-secure-score.md
  microsoft-365/security/office-365-security/atp-for-spo-odb-and-teams.md
  microsoft-365/security/office-365-security/dynamic-delivery-and-previewing.md
  microsoft-365/security/office-365-security/how-atp-safe-attachments-works.md
  microsoft-365/security/office-365-security/how-to-help-ensure-that-a-message-isn-t-marked-as-spam.md
  microsoft-365/security/office-365-security/isolated-sharepoint-online-team-sites.md
  microsoft-365/security/office-365-security/manage-recipients-and-admin-role-groups-in-eop.md
  microsoft-365/security/office-365-security/message-trace-scc.md
  microsoft-365/security/office-365-security/mfi-domain-mail-flow-status-insight.md
  microsoft-365/security/office-365-security/mfi-mail-flow-map-report.md
  microsoft-365/security/office-365-security/mfi-mail-loop-insight.md
  microsoft-365/security/office-365-security/mfi-non-accepted-domain-report.md
  microsoft-365/security/office-365-security/mfi-non-delivery-report.md
  microsoft-365/security/office-365-security/mfi-sender-domain-insight.md
  microsoft-365/security/office-365-security/mfi-slow-mail-flow-rules-insight.md
  microsoft-365/security/office-365-security/mfi-smtp-auth-clients-report.md
  microsoft-365/security/office-365-security/office-365-atp.md
  microsoft-365/security/office-365-security/office365-security-incident-response-overview.md
  microsoft-365/security/office-365-security/security-dashboard.md
  microsoft-365/security/office-365-security/support-for-anonymous-inbound-email-messages-over-ipv6.md
  microsoft-365/security/office-365-security/zero-hour-auto-purge.md
Labels: admin, compliance, enterprise, security

#1723 Rename ProPlus to Microsoft 365 Apps
  microsoft-365/admin/activity-reports/activity-reports.md
Labels: admin

#1689 Update upgrade-to-different-plan.md
  microsoft-365/commerce/subscriptions/upgrade-to-different-plan.md
Labels: Microsoft submitter, admin

#1729 Update monitor-devices.md
  microsoft-365/security/mtp/monitor-devices.md
Labels: Microsoft submitter, security

#1733 Update device-list.md
  microsoft-365/managed-desktop/service-description/device-list.md
Labels: enterprise

#1697 Added closing quotation mark
  microsoft-365/admin/email/about-shared-mailboxes.md
Labels: admin

#1734 Correcting steps
  microsoft-365/security/office-365-security/detect-and-remediate-illicit-consent-grants.md
Labels: security

#1715 Update safety-tips-in-office-365.md
  microsoft-365/security/office-365-security/safety-tips-in-office-365.md
Labels: security

#1701 Used example external IP address and not an internal address
  microsoft-365/security/office-365-security/set-up-spf-in-office-365-to-help-prevent-spoofing.md
Labels: security

#1605 Update atp-safe-links-for-Teams.md
  microsoft-365/security/office-365-security/atp-safe-links-for-Teams.md
Labels: Microsoft submitter, security

#1746 Added a link to search for content in Teams private channels
  microsoft-365/compliance/content-search.md
Labels: Microsoft submitter

#1696 Pointed to correct URL
  microsoft-365/admin/manage/set-password-expiration-policy.md
Labels: admin

#1614 Update article with additional Note content for SharePoint mobile app.
  microsoft-365/admin/setup/customize-your-organization-theme.md
Labels: admin

#1665 Fixes typo in line 93
  microsoft-365/business/support/microsoft-365-business-faqs.md
Labels: business

#1581 Added the link to What's New Blog of Exchange admin center to the document
  microsoft-365/admin/whats-new-in-preview.md
Labels: admin

#1639 Update create-dns-records-at-any-dns-hosting-provider.md
  microsoft-365/admin/get-help-with-domains/create-dns-records-at-any-dns-hosting-provider.md
Labels: admin

#1659 Update add-or-edit-custom-dns-records.md
  microsoft-365/admin/dns/add-or-edit-custom-dns-records.md
Labels: admin

#1674 Typo "** Hosted Zones **"→"**Hosted Zones**"
  microsoft-365/admin/dns/create-dns-records-at-aws.md
Labels: admin

#1675 Typo "** Custom resource records **"→"**Custom resource records**"
  microsoft-365/admin/dns/create-dns-records-at-google-domains.md
Labels: admin

#1676 Typo "( )"→"\( \)"
  microsoft-365/admin/dns/create-dns-records-at-enomcentral.md
Labels: admin

#1677 Typo "**Note:**This"→"**Note:** This"
  microsoft-365/admin/get-help-with-domains/create-dns-records-at-any-dns-hosting-provider.md
Labels: admin

#1690 Typo "** DNS Zone Editor **"→"**DNS Zone Editor**"
  microsoft-365/admin/dns/create-dns-records-at-bluehost.md
Labels: admin

#1691 Typo "** DNS Records **"→"**DNS Records**"
  microsoft-365/admin/dns/create-dns-records-at-name-com.md
Labels: admin

#1692 Typo "** Mail Exchanger (MX Record) **"→"**Mail Exchanger (MX Record)**"
  microsoft-365/admin/dns/create-dns-records-at-1-1-internet.md
Labels: admin

#1719 Changing statement about Cloudflare registrar
  microsoft-365/admin/dns/create-dns-records-at-cloudflare.md
Labels: admin

#1720 Typo "** IP address (A Record) **"→"**IP address (A Record)**"
  microsoft-365/admin/dns/create-dns-records-at-1-1-internet.md
Labels: admin

#1731 Fixed typo in line 490
  microsoft-365/admin/setup/domains-faq.md
Labels: admin

#1617 Update plans that include EDM-based classification
  microsoft-365/compliance/create-custom-sensitive-information-types-with-exact-data-match-based-classification.md
Labels: compliance

#1752 Fixed typo issue in line 96
  microsoft-365/compliance/office-365-info-protection-for-gdpr-overview.md
Labels: compliance

#1751 As discussed, added clarifications on header names based on customer comments during webinar
  microsoft-365/compliance/create-custom-sensitive-information-types-with-exact-data-match-based-classification.md
Labels: compliance

#1538 update doc to make sure mail is routed both ways
  microsoft-365/compliance/define-mail-flow-rules-to-encrypt-email.md
Labels: Microsoft submitter, compliance
