Repository MicrosoftDocs/microsoft-365-docs, pull requests merged in 2020-07, with the labels that each got.

#2188 Update sensitive-information-type-entity-definitions.md
  microsoft-365/compliance/sensitive-information-type-entity-definitions.md
Labels: Microsoft submitter, compliance

#2220 Update dlp-microsoft-teams.md
  microsoft-365/compliance/dlp-microsoft-teams.md
Labels: compliance

#2202 Removing extra single quote
  microsoft-365/compliance/information-barriers-policies.md
Labels: compliance

#2298 Changes related to new updates
  microsoft-365/security/office-365-security/configure-the-outbound-spam-policy.md
Labels: Microsoft submitter

#2299 Updated dates for deprecation in all environments
  microsoft-365/compliance/technical-reference-details-about-encryption.md
Labels: Microsoft submitter

#2307 Adding documentation for Experience Improvements to Threat Explorer and Real-Time Detections
  microsoft-365/security/media/ChartDrilldown.png
  microsoft-365/security/media/ManualRefresh.png
  microsoft-365/security/media/ProductInfo.png
  microsoft-365/security/media/TimezoneImprovements.png
  microsoft-365/security/office-365-security/threat-explorer.md
  microsoft-365/security/office-365-security/whats-new-in-office-365-atp.md
Labels: Microsoft submitter

#2303 Update office-365-atp.md
  microsoft-365/security/office-365-security/office-365-atp.md
Labels: security

#2297 FIxed two typos in sample scripts
  microsoft-365/compliance/create-a-custom-sensitive-information-type-in-scc-powershell.md
Labels: compliance

#2263 Typo "*none of defaultMail@contoso.com*"→"*none of defaultMail\@conto…
  microsoft-365/security/office-365-security/investigate-malicious-email-that-was-delivered.md
Labels: security

#2306 Correct Typo - Update create-dns-records-at-any-dns-hosting-provider.md
  microsoft-365/admin/get-help-with-domains/create-dns-records-at-any-dns-hosting-provider.md
Labels: admin

#2246 [DO NOT MERGE] Edits for retention articles
  microsoft-365/compliance/retention-policies-exchange.md
  microsoft-365/compliance/retention-policies-sharepoint.md
  microsoft-365/compliance/retention-policies-teams.md
Labels: compliance

#2321 Update keyword-queries-and-search-conditions.md
  microsoft-365/compliance/keyword-queries-and-search-conditions.md
Labels: Microsoft submitter

#2323 Retention delete latency
  microsoft-365/compliance/retention-policies-teams.md
Labels: Microsoft submitter

#2325 Update importing-pst-files-to-office-365.md
  microsoft-365/compliance/importing-pst-files-to-office-365.md
Labels: Microsoft submitter, compliance

#2329 Update EBCM Customer Resiliency Guide
  microsoft-365/enterprise/ebcm-microsoft-365-mitigations.md
Labels: Microsoft submitter

#2313 Fixed typo (rogue .) at the end of the second to last example
  microsoft-365/compliance/customize-a-built-in-sensitive-information-type.md
Labels: compliance

#2314 Removed the s at the end of https for all Schema files pointed by rul…
  microsoft-365/compliance/create-a-custom-sensitive-information-type-in-scc-powershell.md
Labels: compliance

#2315 Clarified that the recommendedConfidence attribute is not optional
  microsoft-365/compliance/create-a-custom-sensitive-information-type-in-scc-powershell.md
Labels: compliance

#2327 Update Flash Section, missing word
  microsoft-365/managed-desktop/get-started/edge-browser-app.md
Labels: Microsoft submitter, enterprise

#2339 Update register-devices-self.md
  microsoft-365/managed-desktop/get-started/register-devices-self.md
Labels: enterprise

#2340 Update register-reused-devices-self.md
  microsoft-365/managed-desktop/get-started/register-reused-devices-self.md
Labels: enterprise

#2338 Update manage-quarantined-messages-and-files.md
  microsoft-365/security/office-365-security/manage-quarantined-messages-and-files.md
Labels: Microsoft submitter, security

#2353 Update whats-new-in-office-365-atp.md
  microsoft-365/security/office-365-security/whats-new-in-office-365-atp.md
Labels: Microsoft submitter

#2356 Updated some case limits
  microsoft-365/compliance/limits-ediscovery20.md
Labels: Microsoft submitter

#2207 Reflecting Changes to Service in config 95
  microsoft-365/managed-desktop/get-started/project-visio.md
Labels: Microsoft submitter, enterprise

#2254 SEO edits for security center overview
  microsoft-365/security/mtp/overview-security-center.md
Labels: security

#2363 Correct the typo - Update recommended-settings-for-eop-and-office365-atp.md
  microsoft-365/security/office-365-security/recommended-settings-for-eop-and-office365-atp.md
Labels: security

#2365 Added roadmap link
  microsoft-365/compliance/ediscovery.md
Labels: Microsoft submitter

#2367 Update tls-1.0-and-1.1-deprecation-for-office-365.md
  microsoft-365/compliance/tls-1.0-and-1.1-deprecation-for-office-365.md
Labels: Microsoft submitter

#2366 Update tls-1-2-in-office-365-gcc.md
  microsoft-365/compliance/tls-1-2-in-office-365-gcc.md
Labels: Microsoft submitter

#2368 Update create-secure-guest-sharing-environment.md
  microsoft-365/solutions/create-secure-guest-sharing-environment.md
Labels: enterprise

#2180 [DO NOT MERGE] SEO edits for Create a secure guest sharing environment
  microsoft-365/solutions/create-secure-guest-sharing-environment.md
Labels: enterprise

#2181 SEO edits for Collaborate with guests in a team
  microsoft-365/solutions/collaborate-as-team.md
Labels: enterprise

#2183 SEO edits for Collaborating with people outside your o…
  microsoft-365/solutions/collaborate-with-people-outside-your-organization.md
Labels: enterprise

#2357 Update anti-spam-protection.md
  microsoft-365/security/office-365-security/anti-spam-protection.md
Labels: Microsoft submitter, security

#2383 Update use-spam-notifications-to-release-and-report-quarantined-messa…
  microsoft-365/security/office-365-security/use-spam-notifications-to-release-and-report-quarantined-messages.md
Labels: Microsoft submitter

#2381 Update manage-guest-access-in-groups.md
  microsoft-365/admin/create-groups/manage-guest-access-in-groups.md
Labels: enterprise

#2399 Update prepare-tls-1.2-in-office-365.md
  microsoft-365/compliance/prepare-tls-1.2-in-office-365.md
Labels: Microsoft submitter, compliance

#2372 Update prepare-tls-1.2-in-office-365.md
  microsoft-365/compliance/prepare-tls-1.2-in-office-365.md
Labels: Microsoft submitter

#2403 Update add-storage-space.md
  microsoft-365/commerce/add-storage-space.md
Labels: admin

#2400 Updated # group limit in office-365-groups.md
  microsoft-365/admin/create-groups/office-365-groups.md
Labels: admin

#2427 Update whats-new-in-office-365-atp.md
  microsoft-365/security/office-365-security/whats-new-in-office-365-atp.md
Labels: Microsoft submitter, security

#2416 Update convert-user-mailbox-to-shared-mailbox.md
  microsoft-365/admin/email/convert-user-mailbox-to-shared-mailbox.md
Labels: admin

#2373 Minor update about preview states
  microsoft-365/compliance/data-classification-overview.md
Labels: compliance

#2433 Update sensitive-information-type-entity-definitions.md
  microsoft-365/compliance/sensitive-information-type-entity-definitions.md
Labels: Microsoft submitter

#2420 replaced incorrect information
  microsoft-365/security/office-365-security/set-up-atp-safe-attachments-policies.md
Labels: security

#2276 SEO edits for design principles
  microsoft-365/solutions/design-principles.md
Labels: enterprise

#2379 Update network.md
  microsoft-365/managed-desktop/get-ready/network.md
Labels: enterprise

#2388 Updated the timing of rollout to match reality
  microsoft-365/managed-desktop/get-started/get-started-app-control.md
Labels: Microsoft submitter, enterprise

#2387 Corrected rollout timelines
  microsoft-365/managed-desktop/working-with-managed-desktop/work-with-app-control.md
Labels: Microsoft submitter, enterprise

#2401 Authentication updates
  microsoft-365/managed-desktop/get-ready/prerequisites.md
Labels: enterprise

#2417 Update access-admin-portal.md
  microsoft-365/managed-desktop/get-started/access-admin-portal.md
Labels: enterprise

#1292 update instructions
  microsoft-365/commerce/manage-saas-apps.md
Labels: admin, enterprise

#2450 Update collaborate-as-team.md
  microsoft-365/solutions/collaborate-as-team.md
Labels: solutions

#2128 Update recommended-settings-for-eop-and-office365-atp.md
  microsoft-365/security/office-365-security/recommended-settings-for-eop-and-office365-atp.md
Labels: Microsoft submitter, security

#2375 Update virus-detection-in-spo.md
  microsoft-365/security/office-365-security/virus-detection-in-spo.md
Labels: Microsoft submitter, security

#2440 Update preset-security-policies.md
  microsoft-365/security/office-365-security/preset-security-policies.md
Labels: Microsoft submitter, security

#2453 Update dynamic-delivery-and-previewing.md
  microsoft-365/security/office-365-security/dynamic-delivery-and-previewing.md
Labels: security

#2460 Update compliance.md
  microsoft-365/managed-desktop/intro/compliance.md
Labels: Microsoft submitter

#2438 Updated table in apply-sensitivity-label-automatically.md
  microsoft-365/compliance/apply-sensitivity-label-automatically.md
  microsoft-365/compliance/classifier-getting-started-with.md
Labels: compliance

#2396 Update microsoft-365-business-faqs.md
  microsoft-365/business/support/microsoft-365-business-faqs.md
Labels: admin

#2419 added note about updates for apps
  microsoft-365/admin/manage/release-options-in-office-365.md
Labels: admin

#2462 Update create-secure-guest-sharing-environment.md
  microsoft-365/solutions/create-secure-guest-sharing-environment.md
Labels: solutions

#2455 Update about-admin-roles.md
  microsoft-365/admin/add-users/about-admin-roles.md
Labels: admin

#2504 SEO edits to plan-your-setup
  microsoft-365/admin/setup/plan-your-setup.md
Labels: Microsoft submitter

#2507 SEO update to index
  microsoft-365/solutions/index.yml
Labels: Microsoft submitter

#2508 Update disposition.md
  microsoft-365/compliance/disposition.md
Labels: Microsoft submitter

#2517 Update disposition.md
  microsoft-365/compliance/disposition.md
Labels: Microsoft submitter, compliance

#2493 Update set-up-a-custom-blocked-urls-list-atp.md
  microsoft-365/security/office-365-security/set-up-a-custom-blocked-urls-list-atp.md
Labels: security
