Repository MicrosoftDocs/microsoft-365-docs, pull requests merged in 2020-01, with the labels that each got.

#996 Addition of ARC header
  microsoft-365/security/office-365-security/anti-spam-message-headers.md
Labels: security

#995 Update tenant-wide-setup-for-increased-security.md
  microsoft-365/security/office-365-security/tenant-wide-setup-for-increased-security.md
Labels: security

#998 Update configure-your-spam-filter-policies.md
  microsoft-365/security/office-365-security/configure-your-spam-filter-policies.md
Labels: security

#999 Update responding-to-a-compromised-email-account.md
  microsoft-365/security/office-365-security/responding-to-a-compromised-email-account.md
Labels: security

#1002 Corrected link
  microsoft-365/compliance/retention-policies.md
Labels: compliance

#1000 Updating records page to clarify licensing
  microsoft-365/compliance/records.md
Labels: compliance

#986 Update fix-error-code-5-7-7xx-in-exchange-online.md
  microsoft-365/security/office-365-security/fix-error-code-5-7-7xx-in-exchange-online.md
Labels: security

#1011 clarify formats
  microsoft-365/security/office-365-security/submit-spam-non-spam-and-phishing-scam-messages-to-microsoft-for-analysis.md
Labels: security

#1012 add note about ATP Safe Links policy priority
  microsoft-365/security/office-365-security/set-up-atp-safe-links-policies.md
Labels: security

#1013 update content and screenshot
  microsoft-365/security/office-365-security/learn-about-spoof-intelligence.md
Labels: security

#1014 Update fix-error-code-5-7-7xx-in-exchange-online.md
  microsoft-365/security/office-365-security/fix-error-code-5-7-7xx-in-exchange-online.md
Labels: security

#1017 Update retention-policies.md
  microsoft-365/compliance/retention-policies.md
Labels: compliance

#1016 Update event-driven-retention.md
  microsoft-365/compliance/event-driven-retention.md
Labels: compliance

#1026 Updated for clarity
  microsoft-365/security/office-365-security/recommended-settings-for-eop-and-office365-atp.md
Labels: security

#1028 Update recommended-settings-for-eop-and-office365-atp.md
  microsoft-365/security/office-365-security/recommended-settings-for-eop-and-office365-atp.md
Labels: security

#1034 Update quarantine-email-messages.md
  microsoft-365/security/office-365-security/quarantine-email-messages.md
Labels: security

#1035 Update quarantine-faq.md
  microsoft-365/security/office-365-security/quarantine-faq.md
Labels: security

#1037 Update configure-end-user-spam-notifications-in-exchange-online.md
  microsoft-365/security/office-365-security/configure-end-user-spam-notifications-in-exchange-online.md
Labels: security

#1038 Update configure-end-user-spam-notifications-in-eop.md
  microsoft-365/security/office-365-security/configure-end-user-spam-notifications-in-eop.md
Labels: security

#1040 Update permissions-in-the-security-and-compliance-center.md
  microsoft-365/security/office-365-security/permissions-in-the-security-and-compliance-center.md
Labels: security

#1041 Update manage-quarantined-messages-and-files.md
  microsoft-365/security/office-365-security/manage-quarantined-messages-and-files.md
Labels: security

#1003 added note about exchange email location
  microsoft-365/compliance/dlp-microsoft-teams.md
Labels: compliance

#1050 Remove "[" from paragraph
  microsoft-365/compliance/offering-DoD-DISA-L2-L4-L5.md
Labels: compliance

#1008 added info about the limit
  microsoft-365/compliance/create-a-custom-sensitive-information-type-in-scc-powershell.md
Labels: compliance

#1058 Update use-dkim-to-validate-outbound-email.md
  microsoft-365/security/office-365-security/use-dkim-to-validate-outbound-email.md
Labels: security

#1059 Adding a missing space
  microsoft-365/security/office-365-security/anti-spoofing-protection.md
Labels: security

#1070 Correction on RM being only in M365 CC not SC
  microsoft-365/compliance/classifier-using-a-ready-to-use-classifier.md
Labels: compliance

#940 Update Instant Bloomberg connector documentation
  microsoft-365/compliance/archive-instant-bloomberg-data.md
Labels: compliance, do not merge

#966 Update FB documentation
  microsoft-365/compliance/archive-facebook-data-with-sample-connector.md
  microsoft-365/compliance/deploy-facebook-connector.md
  microsoft-365/compliance/media/FBCimage11.png
  microsoft-365/compliance/media/FBCimage13.png
  microsoft-365/compliance/media/fbcimage12.png
  microsoft-365/security/media/FBCimage11.png
Labels: compliance, do not merge

#1043 Update archive-twitter-data-with-sample-connector.md
  microsoft-365/compliance/archive-twitter-data-with-sample-connector.md
Labels: compliance, do not merge

#1045 Update deploy-twitter-connector.md
  microsoft-365/compliance/deploy-twitter-connector.md
Labels: compliance, do not merge

#1073 Update archive-linkedin-data.md
  microsoft-365/compliance/archive-linkedin-data.md
Labels: compliance, do not merge

#1083 Swapped Search-Mailbox with ComplianceSearch for purge
  microsoft-365/compliance/delete-items-in-the-recoverable-items-folder-of-mailboxes-on-hold.md
Labels: compliance

#1084 Updated to use ComplianceSearchAction instead of Search-Mailbox
  microsoft-365/compliance/data-spillage-scenariosearch-and-purge.md
Labels: compliance

#1039 Spelling change
  microsoft-365/business/secure-win-10-pcs.md
Labels: business

#1113 Update deploy-twitter-connector.md
  microsoft-365/compliance/deploy-twitter-connector.md
Labels: compliance

#1114 Update deploy-facebook-connector.md
  microsoft-365/compliance/deploy-facebook-connector.md
Labels: compliance

#1115 Update archive-facebook-data-with-sample-connector.md
  microsoft-365/compliance/archive-facebook-data-with-sample-connector.md
Labels: compliance

#1116 Update archive-twitter-data-with-sample-connector.md
  microsoft-365/compliance/archive-twitter-data-with-sample-connector.md
Labels: compliance

#1117 added note about valimail
  microsoft-365/security/office-365-security/use-dmarc-to-validate-email.md
Labels: security

#1130 added missing description
  microsoft-365/security/office-365-security/set-up-atp-safe-attachments-policies.md
Labels: security

#1144 Update use-spam-notifications-to-release-and-report-quarantined-messa…
  microsoft-365/security/office-365-security/use-spam-notifications-to-release-and-report-quarantined-messages.md
Labels: security

#1158 Removing broken links and outdated content for MSE
  microsoft-365/compliance/gdpr-dsr-Dynamics365.md
Labels: compliance, do not merge
