Repository MicrosoftDocs/microsoft-365-docs, pull requests merged in 2020-06, with the labels that each got.

#2055 @JaimeO
  microsoft-365/managed-desktop/service-description/device-list.md
Labels: enterprise

#2062 Adding Dell Optiplex 3070
  microsoft-365/managed-desktop/service-description/device-list.md
Labels: do not merge, enterprise

#1935 Update set-up-multi-factor-authentication.md
  microsoft-365/admin/security-and-compliance/set-up-multi-factor-authentication.md
Labels: admin

#1985 Update migrate-from-e3.md
  microsoft-365/business/migrate-from-e3.md
Labels: business

#2065 Fixed typo in line 45
  microsoft-365/admin/manage/find-your-partner-or-reseller.md
Labels: admin

#2046 Removing step for o365 worldwide
  microsoft-365/admin/microsoft-365-admin-center-preview.md
Labels: admin

#2006 Update sharepoint-site-usage.md
  microsoft-365/admin/activity-reports/sharepoint-site-usage.md
Labels: admin

#2083 Update let-users-reset-passwords.md
  microsoft-365/admin/add-users/let-users-reset-passwords.md
Labels: admin

#2112 Update importing-pst-files-to-office-365.md
  microsoft-365/compliance/importing-pst-files-to-office-365.md
Labels: Microsoft submitter

#2101 Updated "an Microsoft" to "a Microsoft" references
  microsoft-365/admin/admin-overview/about-the-admin-center.md
Labels: admin

#2107 Cleaned up messy sentence
  microsoft-365/compliance/encryption-sensitivity-labels.md
Labels: compliance

#2130 Update to permissions for disposition
  microsoft-365/compliance/disposition.md
Labels: Microsoft submitter

#2100 Update data-loss-prevention-policies.md
  microsoft-365/compliance/data-loss-prevention-policies.md
Labels: Microsoft submitter, compliance

#2021 [DO NOT MERGE] Update install-applications.md
  microsoft-365/admin/setup/install-applications.md
Labels: Microsoft submitter, admin

#2003 [DO NOT MERGE] Update domains-faq.md
  microsoft-365/admin/setup/domains-faq.md
Labels: Microsoft submitter, admin

#1995 [DO NOT MERGE] Update create-signatures-and-disclaimers.md
  microsoft-365/admin/setup/create-signatures-and-disclaimers.md
Labels: Microsoft submitter, admin

#2026 [DO NOT MERGE] Update upgrade-users-to-latest-office-client.md
  microsoft-365/admin/setup/upgrade-users-to-latest-office-client.md
Labels: Microsoft submitter, admin

#1993 [DO NOT MERGE] Update create-distribution-lists.md
  microsoft-365/admin/setup/create-distribution-lists.md
Labels: Microsoft submitter, admin

#1804 Fix formatting
  microsoft-365/security/mtp/setup-mtpeval.md
Labels: security

#1636 Update manage-creation-of-groups.md
  microsoft-365/admin/create-groups/manage-creation-of-groups.md
Labels: admin

#1439 Update ome-faq.md
  microsoft-365/compliance/ome-faq.md
Labels: Microsoft submitter, compliance

#1501 Update office-365-service-encryption.md
  microsoft-365/compliance/office-365-service-encryption.md
Labels: Microsoft submitter, compliance

#1768 Update office-365-encryption-for-skype-onedrive-sharepoint-and-exchan…
  microsoft-365/compliance/office-365-encryption-for-skype-onedrive-sharepoint-and-exchange.md
Labels: compliance

#1769 Update encryption.md
  microsoft-365/compliance/encryption.md
Labels: compliance

#1800 Update customer-key-manage.md
  microsoft-365/compliance/customer-key-manage.md
Labels: Microsoft submitter, compliance

#1927 Update customer-key-set-up.md
  microsoft-365/compliance/customer-key-set-up.md
Labels: compliance

#1816 Remove incorrect information on delegate access
  microsoft-365/compliance/ome.md
Labels: Microsoft submitter, compliance

#2175 fix typo
  microsoft-365/security/office-365-security/permissions-in-the-security-and-compliance-center.md
Labels: security

#2172 change the recommendation for checking config
  microsoft-365/security/office-365-security/use-dkim-to-validate-outbound-email.md
Labels: security

#2162 Made some suggestions for additional tuning, and cleared up some lang…
  microsoft-365/security/office-365-security/tuning-anti-phishing.md
Labels: Microsoft submitter, security

#2182 Added a couple more alternatives
  microsoft-365/compliance/legacy-ediscovery-retirement.md
Labels: Microsoft submitter

#2198 Update set-up-encryption.md
  microsoft-365/compliance/set-up-encryption.md
Labels: Microsoft submitter

#2005 Removed Duplicate Bullet List item
  microsoft-365/compliance/gdpr.md
Labels: compliance

#2087 updated link
  microsoft-365/compliance/offering-FFIEC-US.md
Labels: compliance

#2089 updated the link
  microsoft-365/compliance/offering-NEN-7510-Netherlands.md
Labels: compliance

#2092 Replacing outdated checklist & link. #1457
  microsoft-365/compliance/offering-nist-csf.md
Labels: Microsoft submitter, compliance

#2167 Update offering-ISO-27001.md
  microsoft-365/compliance/offering-ISO-27001.md
Labels: compliance

#2002 [DO NOT MERGE] Update customize-team-site.md
  microsoft-365/admin/setup/customize-team-site.md
Labels: Microsoft submitter, admin

#2186 Correct wording Outlook to OWA
  microsoft-365/admin/create-groups/restore-deleted-group.md
Labels: Microsoft submitter, admin

#2024 Update set-up-file-storage-and-sharing.md
  microsoft-365/admin/setup/set-up-file-storage-and-sharing.md
Labels: Microsoft submitter, admin

#2022 Update migrate-email-and-contacts-admin.md
  microsoft-365/admin/setup/migrate-email-and-contacts-admin.md
Labels: Microsoft submitter, admin

#2208 Update whats-new.md
  microsoft-365/security/mtp/whats-new.md
Labels: Microsoft submitter

#2159 rename confusing section
  microsoft-365/admin/add-users/remove-former-employee.md
Labels: admin

#2213 Update allow-members-to-send-as-or-send-on-behalf-of-group.md
  microsoft-365/admin/create-groups/allow-members-to-send-as-or-send-on-behalf-of-group.md
Labels: admin

#2194 Adding Show All menu option
  microsoft-365/admin/create-groups/manage-guest-access-in-groups.md
Labels: admin

#2230 updated for Win 2004 and MEM 2002.
  microsoft-365/enterprise/modern-desktop-deployment-and-management-lab.md
Labels: enterprise

#2261 Update manage-quarantined-messages-and-files.md
  microsoft-365/security/office-365-security/manage-quarantined-messages-and-files.md
Labels: security

#2260 Update view-reports-for-atp.md
  microsoft-365/security/office-365-security/view-reports-for-atp.md
Labels: security

#2262 Update view-email-security-reports.md
  microsoft-365/security/office-365-security/view-email-security-reports.md
Labels: security

#2219 Updating Title to remove unnecessary "App"
  microsoft-365/managed-desktop/get-started/edge-browser-app.md
Labels: Microsoft submitter, enterprise

#2264 [Hold] Update find-and-release-quarantined-messages-as-a-user.md
  microsoft-365/security/office-365-security/find-and-release-quarantined-messages-as-a-user.md
Labels: security

#2265 Update view-reports-for-atp.md
  microsoft-365/security/office-365-security/view-reports-for-atp.md
Labels: security

#2283 Update view-mail-flow-reports.md
  microsoft-365/security/office-365-security/view-mail-flow-reports.md
Labels: Microsoft submitter, security

#2282 Fix typo
  microsoft-365/security/office-365-security/set-up-spf-in-office-365-to-help-prevent-spoofing.md
Labels: Microsoft submitter, security

#2171 replace outdated screenshot
  microsoft-365/admin/activity-reports/email-apps-usage.md
Labels: admin

#2209 Removed outdated data
  microsoft-365/admin/misc/add-partner.md
Labels: admin

#2229 Updating steps for way number 10
  microsoft-365/admin/security-and-compliance/secure-your-business-data.md
Labels: admin

#2255 Update manage-messages.md
  microsoft-365/admin/manage/manage-messages.md
Labels: admin

#2286 incorrect statement for Safe sender behavior
  microsoft-365/security/office-365-security/create-safe-sender-lists-in-office-365.md
Labels: Microsoft submitter, security
