Repository MicrosoftDocs/microsoft-365-docs, pull requests merged in 2021-11, with the labels that each got.

#6705 Small edit for clarity
  microsoft-365/security/defender/eval-overview.md
Labels: Microsoft 365 Defender

#6668 Diagnostic that can be run in context of M365 Administrator
  microsoft-365/enterprise/diagnosing-performance-issues-with-sharepoint-online.md
Labels: Enterprise, Microsoft submitter

#6749 Updates for TVM mobile public preview
  microsoft-365/security/defender-endpoint/android-configure.md
  microsoft-365/security/defender-endpoint/mtd.md
  microsoft-365/security/defender-endpoint/tvm-supported-os.md
Labels: Microsoft submitter

#6727 added new platform update v4.18.2110-5.0
  microsoft-365/security/defender-endpoint/configure-extension-file-exclusions-microsoft-defender-antivirus.md
Labels: Defender for Endpoint

#6743 [Hold til 11/2] Scheduler Recurring Meetings update
  microsoft-365/scheduler/TOC.yml
  microsoft-365/scheduler/scheduler-reccuring-meetings.md
Labels: Microsoft submitter, Microsoft 365 scheduler

#6746 Missing 2008 R2 in system requirements notes
  microsoft-365/security/defender-endpoint/onboard-downlevel.md
Labels: Defender for Endpoint

#6734 Update alert-policies.md
  microsoft-365/compliance/alert-policies.md
Labels: compliance

#6753 Update importing-pst-files-to-office-365.md
  microsoft-365/compliance/importing-pst-files-to-office-365.md
Labels: compliance

#6757 Update delete-an-inactive-mailbox.md
  microsoft-365/compliance/delete-an-inactive-mailbox.md
Labels: compliance

#6760 Update create-and-manage-inactive-mailboxes.md
  microsoft-365/compliance/create-and-manage-inactive-mailboxes.md
Labels: compliance

#6618 Update information-barriers.md
  microsoft-365/compliance/information-barriers.md
Labels: compliance

#6768 Update device-control-removable-storage-access-control.md
  microsoft-365/security/defender-endpoint/device-control-removable-storage-access-control.md
Labels: Microsoft submitter

#6771 Update set-up-topic-experiences.md
  microsoft-365/knowledge/set-up-topic-experiences.md
Labels: Microsoft submitter

#6775 Update sensitive-information-type-entity-definitions.md
  microsoft-365/compliance/sensitive-information-type-entity-definitions.md
Labels: Microsoft submitter

#6776 Update create-a-custom-sensitive-information-type.md
  microsoft-365/compliance/create-a-custom-sensitive-information-type.md
Labels: Microsoft submitter

#6773 Update whats-new-in-defender-for-office-365.md
  microsoft-365/security/office-365-security/whats-new-in-defender-for-office-365.md
Labels: Microsoft submitter

#6767 deep link additions
  microsoft-365/compliance/add-custodians-to-case.md
  microsoft-365/compliance/alert-policies.md
  microsoft-365/compliance/auto-apply-retention-labels-scenario.md
  microsoft-365/compliance/communication-compliance-case-study.md
  microsoft-365/compliance/communication-compliance-configure.md
  microsoft-365/compliance/communication-compliance-investigate-remediate.md
  microsoft-365/compliance/compliance-manager-quickstart.md
  microsoft-365/compliance/compliance-manager-setup.md
  microsoft-365/compliance/compliance-manager.md
  microsoft-365/compliance/content-search.md
  microsoft-365/compliance/create-a-dlp-policy-from-a-template.md
  microsoft-365/compliance/create-a-keyword-dictionary.md
  microsoft-365/compliance/create-activity-alerts.md
  microsoft-365/compliance/create-and-manage-advanced-ediscoveryv2-case.md
  microsoft-365/compliance/create-apply-retention-labels.md
  microsoft-365/compliance/create-retention-policies.md
  microsoft-365/compliance/create-sensitivity-labels.md
  microsoft-365/compliance/csv-file-for-an-id-list-content-search.md
  microsoft-365/compliance/data-classification-content-explorer.md
  microsoft-365/compliance/deploy-facebook-connector.md
  microsoft-365/compliance/deploy-twitter-connector.md
  microsoft-365/compliance/dlp-alerts-dashboard-get-started.md
  microsoft-365/compliance/dlp-alerts-dashboard-learn.md
  microsoft-365/compliance/dlp-chrome-get-started.md
  microsoft-365/compliance/dlp-configure-endpoints-gp.md
  microsoft-365/compliance/dlp-configure-endpoints-mdm.md
  microsoft-365/compliance/dlp-configure-endpoints-sccm.md
  microsoft-365/compliance/dlp-configure-endpoints-script.md
  microsoft-365/compliance/dlp-configure-view-alerts-policies.md
  microsoft-365/compliance/dlp-microsoft-teams.md
  microsoft-365/compliance/dlp-teams-default-policy.md
  microsoft-365/compliance/double-key-encryption.md
  microsoft-365/compliance/ediscovery-diagnostic-info.md
  microsoft-365/compliance/enable-archive-mailboxes.md
  microsoft-365/compliance/endpoint-dlp-getting-started.md
  microsoft-365/compliance/export-content-in-core-ediscovery.md
  microsoft-365/compliance/filter-data-when-importing-pst-files.md
  microsoft-365/compliance/get-started-core-ediscovery.md
  microsoft-365/compliance/get-started-with-advanced-ediscovery.md
  microsoft-365/compliance/get-started-with-records-management.md
  microsoft-365/compliance/get-started-with-retention.md
  microsoft-365/compliance/get-started-with-service-trust-portal.md
  microsoft-365/compliance/import-hr-data-US-government.md
  microsoft-365/compliance/import-hr-data.md
  microsoft-365/compliance/import-physical-badging-data.md
  microsoft-365/compliance/insider-risk-management-activities.md
  microsoft-365/compliance/insider-risk-management-cases.md
  microsoft-365/compliance/insider-risk-management-configure.md
  microsoft-365/compliance/insider-risk-management-notices.md
  microsoft-365/compliance/insider-risk-management-plan.md
  microsoft-365/compliance/insider-risk-management-policies.md
  microsoft-365/compliance/insider-risk-management-settings.md
  microsoft-365/compliance/insider-risk-management-users.md
  microsoft-365/compliance/legacy-ediscovery-retirement.md
  microsoft-365/compliance/microsoft-365-compliance-center-permissions.md
  microsoft-365/compliance/microsoft-365-compliance-center-redirection.md
  microsoft-365/solutions/information-protection-deploy.md
  microsoft-365/solutions/secure-teams-security-isolation.md
  microsoft-365/solutions/team-security-isolation-dev-test.md
Labels: Merge large pull request

#6551 Update encryption-office-365-certificate-chains.md
  microsoft-365/compliance/encryption-office-365-certificate-chains.md
Labels: compliance

#6790 Compliance deep links 2
  microsoft-365/compliance/dlp-configure-endpoints-sccm.md
  microsoft-365/compliance/dlp-configure-endpoints-script.md
  microsoft-365/compliance/dlp-configure-view-alerts-policies.md
  microsoft-365/compliance/dlp-microsoft-teams.md
  microsoft-365/compliance/dlp-on-premises-scanner-get-started.md
  microsoft-365/compliance/dlp-teams-default-policy.md
  microsoft-365/compliance/double-key-encryption.md
  microsoft-365/compliance/ediscovery-diagnostic-info.md
  microsoft-365/compliance/enable-archive-mailboxes.md
  microsoft-365/compliance/endpoint-dlp-getting-started.md
  microsoft-365/compliance/export-content-in-core-ediscovery.md
  microsoft-365/compliance/filter-data-when-importing-pst-files.md
  microsoft-365/compliance/get-started-core-ediscovery.md
  microsoft-365/compliance/get-started-with-advanced-ediscovery.md
  microsoft-365/compliance/get-started-with-records-management.md
  microsoft-365/compliance/get-started-with-retention.md
  microsoft-365/compliance/get-started-with-service-trust-portal.md
  microsoft-365/compliance/import-hr-data-US-government.md
  microsoft-365/compliance/import-hr-data.md
  microsoft-365/compliance/import-physical-badging-data.md
  microsoft-365/compliance/insider-risk-management-activities.md
  microsoft-365/compliance/insider-risk-management-cases.md
  microsoft-365/compliance/insider-risk-management-configure.md
  microsoft-365/compliance/insider-risk-management-notices.md
  microsoft-365/compliance/insider-risk-management-plan.md
  microsoft-365/compliance/insider-risk-management-policies.md
  microsoft-365/compliance/insider-risk-management-settings.md
  microsoft-365/compliance/insider-risk-management-users.md
  microsoft-365/compliance/legacy-ediscovery-retirement.md
  microsoft-365/compliance/microsoft-365-compliance-center-permissions.md
  microsoft-365/compliance/microsoft-365-compliance-center-redirection.md
  microsoft-365/compliance/microsoft-365-compliance-center.md
  microsoft-365/compliance/microsoft-365-solution-catalog.md
  microsoft-365/solutions/information-protection-deploy-compliance.md
  microsoft-365/solutions/information-protection-deploy-protect-information.md
  microsoft-365/solutions/information-protection-deploy.md
  microsoft-365/solutions/secure-teams-security-isolation.md
  microsoft-365/solutions/team-security-isolation-dev-test.md
Labels: Merge large pull request

#6735 Update microsoft365-apps-usage-ww.md
  microsoft-365/admin/activity-reports/microsoft365-apps-usage-ww.md
Labels: admin

#6777 Update delete-an-inactive-mailbox.md
  microsoft-365/compliance/delete-an-inactive-mailbox.md
Labels: compliance

#6778 Update android-whatsnew.md
  microsoft-365/security/defender-endpoint/android-whatsnew.md
Labels: Microsoft submitter, Defender for Endpoint

#6798 M365D is now available for GCC tenants
  microsoft-365/security/defender/prerequisites.md
Labels: Microsoft 365 Defender

#6719 HOLD TILL NOV 4 - Update m365d-enable.md
  microsoft-365/security/defender/m365d-enable.md
Labels: do not merge, Microsoft 365 Defender

#6718 HOLD TILL NOV 4 - Update m365d-enable-faq.md
  microsoft-365/security/defender/m365d-enable-faq.md
Labels: do not merge, Microsoft 365 Defender

#6606 Update sit-modify-edm-schema-configurable-match.md
  microsoft-365/compliance/sit-modify-edm-schema-configurable-match.md
Labels: compliance

#6694 Update endpoint-dlp-getting-started.md
  microsoft-365/compliance/endpoint-dlp-getting-started.md
Labels: compliance

#6721 Update data-classification-activity-explorer-available-events.md
  microsoft-365/compliance/data-classification-activity-explorer-available-events.md
Labels: compliance, Microsoft submitter

#6769 Update endpoint-dlp-learn-about.md
  microsoft-365/compliance/endpoint-dlp-learn-about.md
Labels: compliance, Microsoft submitter

#6770 Update endpoint-dlp-getting-started.md
  microsoft-365/compliance/endpoint-dlp-getting-started.md
Labels: compliance, Microsoft submitter

#6812 Update android-whatsnew.md
  microsoft-365/security/defender-endpoint/android-whatsnew.md
Labels: Microsoft submitter

#6832 Update cross-tenant-mailbox-migration.md
  microsoft-365/enterprise/cross-tenant-mailbox-migration.md
Labels: Enterprise

#6826 Update ediscovery.md
  microsoft-365/compliance/ediscovery.md
Labels: compliance

#6835 Update prevent-changes-to-security-settings-with-tamper-protection.md
  microsoft-365/security/defender-endpoint/prevent-changes-to-security-settings-with-tamper-protection.md
Labels: Microsoft submitter

#6837 Update enable-network-protection.md
  microsoft-365/security/defender-endpoint/enable-network-protection.md
Labels: Defender for Endpoint

#6836 Update configure-server-exclusions-microsoft-defender-antivirus.md
  microsoft-365/security/defender-endpoint/configure-server-exclusions-microsoft-defender-antivirus.md
Labels: Defender for Endpoint

#6831 Update configure-extension-file-exclusions-microsoft-defender-antivir…
  microsoft-365/security/defender-endpoint/configure-extension-file-exclusions-microsoft-defender-antivirus.md
Labels: Defender for Endpoint

#6822 Update schedule-antivirus-scans-group-policy.md
  microsoft-365/security/defender-endpoint/schedule-antivirus-scans-group-policy.md
Labels: Defender for Endpoint

#6805 Update enable-network-protection.md
  microsoft-365/security/defender-endpoint/enable-network-protection.md
Labels: Defender for Endpoint

#6856 Update endpoint-dlp-using.md
  microsoft-365/compliance/endpoint-dlp-using.md
Labels: compliance

#6877 Update recommended-settings-for-eop-and-office365.md
  microsoft-365/security/office-365-security/recommended-settings-for-eop-and-office365.md
Labels: Microsoft submitter

#6325 Update protection-stack-microsoft-defender-for-office365.md
  microsoft-365/security/office-365-security/protection-stack-microsoft-defender-for-office365.md
Labels: Defender for Office 365

#6656 Update secure-by-default.md
  microsoft-365/security/office-365-security/secure-by-default.md
Labels: Defender for Office 365

#6869 Update troubleshoot-np.md
  microsoft-365/security/defender-endpoint/troubleshoot-np.md
Labels: Microsoft submitter, Defender for Endpoint

#6890 Update web-protection-overview.md
  microsoft-365/security/defender-endpoint/web-protection-overview.md
Labels: Defender for Endpoint

#6896 Update device-control-removable-storage-protection.md
  microsoft-365/security/defender-endpoint/device-control-removable-storage-protection.md
Labels: Microsoft submitter, Defender for Endpoint

#6902 Update validation section for user/group scopes
  microsoft-365/compliance/retention-settings.md
Labels: compliance, Microsoft submitter

#6906 Update use-spam-notifications-to-release-and-report-quarantined-messa…
  microsoft-365/security/office-365-security/use-spam-notifications-to-release-and-report-quarantined-messages.md
Labels: Microsoft submitter

#6899 Update feedback-provide-microsoft.md
  microsoft-365/admin/misc/feedback-provide-microsoft.md
Labels: admin

#6925 Update troubleshoot-security-config-mgt.md
  microsoft-365/security/defender-endpoint/troubleshoot-security-config-mgt.md
Labels: Microsoft submitter

#6897 Update safe-links.md
  microsoft-365/security/office-365-security/safe-links.md
Labels: Microsoft submitter, Defender for Office 365

#6342 Update use-dmarc-to-validate-email.md
  microsoft-365/security/office-365-security/use-dmarc-to-validate-email.md
Labels: Defender for Office 365

#6931 Update PortalLaunchScheduler.md
  microsoft-365/enterprise/PortalLaunchScheduler.md
Labels: Microsoft submitter

#6508 Update use-dmarc-to-validate-email.md
  microsoft-365/security/office-365-security/use-dmarc-to-validate-email.md
Labels: Microsoft submitter, Defender for Office 365

#6827 Update use-dkim-to-validate-outbound-email.md
  microsoft-365/security/office-365-security/use-dkim-to-validate-outbound-email.md
Labels: Defender for Office 365

#6412 Update use-dkim-to-validate-outbound-email.md
  microsoft-365/security/office-365-security/use-dkim-to-validate-outbound-email.md
Labels: Microsoft submitter, Defender for Office 365

#6810 Update admin-submission.md
  microsoft-365/security/office-365-security/admin-submission.md
Labels: Defender for Office 365

#6913 Update use-spam-notifications-to-release-and-report-quarantined-messa…
  microsoft-365/security/office-365-security/use-spam-notifications-to-release-and-report-quarantined-messages.md
Labels: Defender for Office 365

#6909 Updating step 12 repository step
  microsoft-365/admin/manage/servicenow-service-health-incidents-solutions-only.md
Labels: Microsoft submitter, admin

#6908 Updating step 12 repository step
  microsoft-365/admin/manage/servicenow-aad-oauth-token.md
Labels: Microsoft submitter, admin

#6907 Updating step 12 repository step
  microsoft-365/admin/manage/servicenow-basic-authentication.md
Labels: Microsoft submitter, admin

#6934 Update modern-desktop-deployment-and-management-lab.md
  microsoft-365/enterprise/TOC.yml
  microsoft-365/enterprise/modern-desktop-deployment-and-management-lab.md
Labels: doc-enhancement, doc-bug

#6919 Update diagnosing-performance-issues-with-sharepoint-online.md
  microsoft-365/enterprise/diagnosing-performance-issues-with-sharepoint-online.md
Labels: Enterprise, Microsoft submitter

#6924 Fix path to email notification settings
  microsoft-365/security/defender-endpoint/configure-vulnerability-email-notifications.md
Labels: Defender for Endpoint

#6938 Update use-spam-notifications-to-release-and-report-quarantined-messa…
  microsoft-365/security/office-365-security/use-spam-notifications-to-release-and-report-quarantined-messages.md
Labels: Defender for Office 365

#6942 Update inactive mailbox behavior
  microsoft-365/compliance/delete-an-inactive-mailbox.md
Labels: compliance

#6910 Update cross-tenant-mailbox-migration.md
  microsoft-365/enterprise/cross-tenant-mailbox-migration.md
Labels: Enterprise

#6929 Add new LTI wizard
  microsoft-365/enterprise/setup-guides-for-microsoft-365.md
Labels: Enterprise, Microsoft submitter

#6809 Update post-ti-indicator.md
  microsoft-365/security/defender-endpoint/post-ti-indicator.md
Labels: Defender for Endpoint

#6825 Update minimum-requirements.md
  microsoft-365/security/defender-endpoint/minimum-requirements.md
Labels: Defender for Endpoint

#6830 Update indicator-manage.md
  microsoft-365/security/defender-endpoint/indicator-manage.md
Labels: Defender for Endpoint

#6892 System Center Endpoint Protection is not supported on Windows Server …
  microsoft-365/security/defender-endpoint/configure-server-endpoints.md
Labels: Defender for Endpoint

#6898 Update minimum-requirements.md
  microsoft-365/security/defender-endpoint/minimum-requirements.md
Labels: Defender for Endpoint

#6911 corrected word
  microsoft-365/security/defender-endpoint/linux-preferences.md
Labels: Defender for Endpoint

#6914 Update use.md
  microsoft-365/security/defender-endpoint/use.md
Labels: Defender for Endpoint

#6928 Update microsoft-defender-endpoint-linux.md
  microsoft-365/security/defender-endpoint/microsoft-defender-endpoint-linux.md
Labels: Microsoft submitter, Defender for Endpoint

#6987 Update defender-endpoint-plan-1.md
  microsoft-365/security/defender-endpoint/defender-endpoint-plan-1.md
Labels: Microsoft submitter

#6968 Update give-mailbox-permissions-to-another-user.md
  microsoft-365/admin/add-users/give-mailbox-permissions-to-another-user.md
Labels: admin

#7013 Scoping limitations of EDR Block Mode
  microsoft-365/security/defender-endpoint/edr-in-block-mode.md
Labels: Microsoft submitter, Defender for Endpoint

#7001 Update report-false-positives-and-false-negatives.md
  microsoft-365/security/office-365-security/report-false-positives-and-false-negatives.md
Labels: Defender for Office 365

#7009 Update enable-network-protection.md
  microsoft-365/security/defender-endpoint/enable-network-protection.md
Labels: Defender for Endpoint

#7000 Update enable-the-report-message-add-in.md
  microsoft-365/security/office-365-security/enable-the-report-message-add-in.md
Labels: Defender for Office 365

#7006 Update create-a-custom-sensitive-information-type-in-scc-powershell.md
  microsoft-365/compliance/create-a-custom-sensitive-information-type-in-scc-powershell.md
Labels: compliance, Microsoft submitter

#7007 Update search-the-audit-log-in-security-and-compliance.md for adding Forms Collection auditing logs
  microsoft-365/compliance/search-the-audit-log-in-security-and-compliance.md
Labels: compliance
