Repository MicrosoftDocs/microsoft-365-docs, pull requests merged in 2021-05, with the labels that each got.

#4886 Update create-sensitivity-labels.md
  microsoft-365/compliance/create-sensitivity-labels.md
Labels: compliance

#4868 Adding preview of VPN auto-onboarding
  microsoft-365/security/defender-endpoint/images/ios-deploy-8.png
  microsoft-365/security/defender-endpoint/ios-install.md
Labels: Microsoft submitter

#3690 Update configure-exchange-server-for-hybrid-modern-authentication.md
  microsoft-365/enterprise/configure-exchange-server-for-hybrid-modern-authentication.md
Labels: enterprise

#4436 Update limits-for-content-search.md
  microsoft-365/compliance/limits-for-content-search.md
Labels: Microsoft submitter, compliance

#4435 Update permissions-filtering-for-content-search.md
  microsoft-365/compliance/permissions-filtering-for-content-search.md
Labels: Microsoft submitter, compliance

#4434 Update limits-ediscovery20.md
  microsoft-365/compliance/limits-ediscovery20.md
Labels: Microsoft submitter, compliance

#4866 More clarification
  microsoft-365/security/defender-endpoint/mac-support-license.md
Labels: Defender for Endpoint

#4871 Update live-response.md
  microsoft-365/security/defender-endpoint/live-response.md
Labels: Defender for Endpoint

#4882 Update safe-links.md
  microsoft-365/security/office-365-security/safe-links.md
Labels: Defender for Office 365, Microsoft submitter

#4898 Update minimum-requirements.md
  microsoft-365/security/defender-endpoint/minimum-requirements.md
Labels: Defender for Endpoint, Microsoft submitter

#4896 Update compliance-manager-mcca.md
  microsoft-365/compliance/compliance-manager-mcca.md
Labels: compliance

#4904 Update prepare-for-directory-synchronization.md
  microsoft-365/enterprise/prepare-for-directory-synchronization.md
Labels: enterprise

#4870 use /tmp for eicar download
  microsoft-365/security/defender-endpoint/linux-install-manually.md
Labels: Defender for Endpoint

#4914 Update configure-exchange-server-for-hybrid-modern-authentication.md
  microsoft-365/enterprise/configure-exchange-server-for-hybrid-modern-authentication.md
Labels: enterprise

#4916 Update endpoint-dlp-using.md
  microsoft-365/compliance/endpoint-dlp-using.md
Labels: Microsoft submitter

#4913 Update network.md
  microsoft-365/managed-desktop/get-ready/network.md
Labels: Microsoft submitter, managed-desktop

#4905 Update assign-licenses-to-users.md
  microsoft-365/admin/manage/assign-licenses-to-users.md
Labels: admin

#4929 Added missing monikers
  microsoft-365/admin/add-users/add-users.md
Labels: Microsoft submitter

#4928 Update topic-experiences-overview.md
  microsoft-365/knowledge/topic-experiences-overview.md
Labels: Microsoft submitter

#4894 Update use-network-upload-to-import-pst-files.md
  microsoft-365/compliance/use-network-upload-to-import-pst-files.md
Labels: compliance

#4931 Update search.md
  microsoft-365/knowledge/search.md
Labels: Microsoft submitter

#4918 Update data-loss-prevention-policies.md
  microsoft-365/compliance/data-loss-prevention-policies.md
Labels: Microsoft submitter, compliance

#4935 Update search.md
  microsoft-365/knowledge/search.md
Labels: Microsoft submitter

#4934 Update topic-experiences-overview.md
  microsoft-365/knowledge/topic-experiences-overview.md
Labels: Microsoft submitter

#4944 Update manage-updates-baselines-microsoft-defender-antivirus.md
  microsoft-365/security/defender-endpoint/manage-updates-baselines-microsoft-defender-antivirus.md
Labels: Defender for Endpoint, Microsoft submitter

#4941 Update web-content-filtering.md
  microsoft-365/security/defender-endpoint/web-content-filtering.md
Labels: Defender for Endpoint, Microsoft submitter

#4837 Update enable-network-protection.md
  microsoft-365/security/defender-endpoint/enable-network-protection.md
Labels: Defender for Endpoint

#4948 add `--no-pager` and perform very basic linting
  microsoft-365/security/defender-endpoint/linux-support-install.md
Labels: Defender for Endpoint

#4949 Update run-detection-test.md
  microsoft-365/security/defender-endpoint/run-detection-test.md
Labels: Defender for Endpoint

#4956 Update end-life-cycle-groups-teams-sites-yammer.md
  microsoft-365/solutions/end-life-cycle-groups-teams-sites-yammer.md
Labels: solutions

#4963 Update endpoint-dlp-getting-started.md
  microsoft-365/compliance/endpoint-dlp-getting-started.md
Labels: Microsoft submitter

#4877 Update change-nameservers-at-any-domain-registrar.md
  microsoft-365/admin/get-help-with-domains/change-nameservers-at-any-domain-registrar.md
Labels: admin

#4950 Update manage-licenses-for-devices.md
  microsoft-365/commerce/licenses/manage-licenses-for-devices.md
Labels: admin

#4960 Update send-email-as-distribution-list.md
  microsoft-365/admin/manage/send-email-as-distribution-list.md
Labels: admin

#4973 messages sent from blocked domain is considered as "High confidence s…
  microsoft-365/security/office-365-security/create-block-sender-lists-in-office-365.md
Labels: Microsoft submitter, security

#4979 MCD migration - Update SFBO phase description
  microsoft-365/enterprise/ms-cloud-germany-transition-phases.md
Labels: Microsoft submitter, enterprise

#4903 MCD migration - Add details to Exchange Online pre-work
  microsoft-365/enterprise/ms-cloud-germany-transition-phases.md
Labels: Microsoft submitter, enterprise

#4978 MCD migration - Add reference to Azure migration guidance
  microsoft-365/enterprise/ms-cloud-germany-transition-add-pre-work.md
  microsoft-365/enterprise/ms-cloud-germany-transition-phases.md
  microsoft-365/enterprise/ms-cloud-germany-transition.md
Labels: Microsoft submitter, enterprise

#4974 Update review-set-search.md
  microsoft-365/compliance/review-set-search.md
Labels: Microsoft submitter, compliance

#4947 Update azure-expressroute.md
  microsoft-365/enterprise/azure-expressroute.md
Labels: Microsoft submitter, enterprise

#4945 Update office-365-network-mac-location-services.md
  microsoft-365/enterprise/office-365-network-mac-location-services.md
Labels: Microsoft submitter, enterprise

#4512 Update allowselfservicepurchase-powershell.md
  microsoft-365/commerce/subscriptions/allowselfservicepurchase-powershell.md
Labels: admin

#4987 Update cortana-integration.md
  microsoft-365/admin/misc/cortana-integration.md
Labels: admin

#4985 Clarification of role groups in ExO & Compliance
  microsoft-365/compliance/search-for-and-delete-messages-in-your-organization.md
Labels: compliance

#4993 Update monitor-connectivity.md
  microsoft-365/enterprise/monitor-connectivity.md
Labels: enterprise

#4910 ScanAvgCPULoadFactor
  microsoft-365/security/defender-endpoint/configure-advanced-scan-types-microsoft-defender-antivirus.md
Labels: Defender for Endpoint

#5015 Add go.microsoft.com
  microsoft-365/security/defender-endpoint/configure-network-connections-microsoft-defender-antivirus.md
Labels: Defender for Endpoint

#5003 Upgrade loc priority metadata value
  microsoft-365/admin/misc/mailbox-not-found-error.md
Labels: Microsoft submitter

#4992 Update assign-licenses-to-user-accounts-with-microsoft-365-powershell.md
  microsoft-365/enterprise/assign-licenses-to-user-accounts-with-microsoft-365-powershell.md
Labels: enterprise

#4836 Update respond-machine-alerts.md
  microsoft-365/security/defender-endpoint/respond-machine-alerts.md
Labels: Defender for Endpoint

#5011 Update apis-intro.md
  microsoft-365/security/defender-endpoint/apis-intro.md
Labels: Defender for Endpoint

#5002 Update api-list-incidents.md
  microsoft-365/security/defender/api-list-incidents.md
Labels: Microsoft 365 Defender, Microsoft submitter

#5001 Update api-incident.md
  microsoft-365/security/defender/api-incident.md
Labels: Microsoft 365 Defender, Microsoft submitter

#5000 Update api-update-incidents.md
  microsoft-365/security/defender/api-update-incidents.md
Labels: Microsoft 365 Defender, Microsoft submitter

#5033 Adding missing file name
  microsoft-365/security/defender-endpoint/linux-install-with-ansible.md
Labels: Defender for Endpoint

#5024 Remove reference to DLP
  microsoft-365/admin/manage/manage-office-scripts-settings.md
Labels: Microsoft submitter, admin

#5023 Add back link to office scripts docs
  microsoft-365/admin/manage/manage-office-scripts-settings.md
Labels: Microsoft submitter, admin

#4820 Update remove-licenses-from-users.md
  microsoft-365/admin/manage/remove-licenses-from-users.md
Labels: admin

#5044 Update email-encryption.md
  microsoft-365/compliance/email-encryption.md
Labels: compliance

#5056 Update/corrected alert policy ids
  microsoft-365/compliance/new-defender-alert-policies.md
Labels: Microsoft submitter

#5047 Removing Skype / Teams duplicate commands
  microsoft-365/enterprise/connect-to-all-microsoft-365-services-in-a-single-windows-powershell-window.md
Labels: enterprise

#5039 Update SCL setting name
  microsoft-365/security/office-365-security/user-submission.md
Labels: security

#5065 Update configure-endpoints-gp.md
  microsoft-365/security/defender-endpoint/configure-endpoints-gp.md
Labels: Defender for Endpoint

#5064 Update attack-surface-reduction.md
  microsoft-365/security/defender-endpoint/attack-surface-reduction.md
Labels: Defender for Endpoint

#5084 Replace curly quotation marks
  microsoft-365/security/defender-endpoint/manage-protection-updates-microsoft-defender-antivirus.md
Labels: Defender for Endpoint

#5097 update-teams-admin-public-preview-process
  microsoft-365/learning/set-up-teams-admin-center.md
Labels: MS Learn, Microsoft submitter

#5091 Update during-and-after-your-data-move.md
  microsoft-365/enterprise/during-and-after-your-data-move.md
Labels: Microsoft submitter, enterprise

#5098 Update attack-simulator.md
  microsoft-365/security/office-365-security/attack-simulator.md
Labels: Defender for Office 365

#5089 Update user-submission.md
  microsoft-365/security/office-365-security/user-submission.md
Labels: Defender for Office 365, Microsoft submitter, security

#5095 new onboarding process for MDE in M365D new portal
  microsoft-365/security/defender-endpoint/production-deployment.md
Labels: Defender for Endpoint

#5096 Update m365d-enable.md
  microsoft-365/security/defender/m365d-enable.md
Labels: Microsoft 365 Defender

#5058 Updating alert policy severities
  microsoft-365/compliance/alert-policies.md
Labels: Microsoft submitter, compliance

#5116 Update solution-manage-contracts-in-microsoft-365.md
  microsoft-365/contentunderstanding/solution-manage-contracts-in-microsoft-365.md
Labels: Microsoft submitter

#4967 Update dlp-sensitivity-label-as-condition.md
  microsoft-365/compliance/dlp-sensitivity-label-as-condition.md
Labels: Microsoft submitter, compliance

#5043 Update turn-audit-log-search-on-or-off.md
  microsoft-365/compliance/turn-audit-log-search-on-or-off.md
Labels: compliance

#5068 Additional step to closing, deleting and reopening
  microsoft-365/compliance/close-or-delete-case.md
Labels: compliance

#5123 Update data-spillage-scenariosearch-and-purge.md
  microsoft-365/compliance/data-spillage-scenariosearch-and-purge.md
Labels: Microsoft submitter

#5103 Update user-submission.md
  microsoft-365/security/office-365-security/user-submission.md
Labels: Microsoft submitter

#5126 Update close-reopen-delete-core-ediscovery-cases.md
  microsoft-365/compliance/close-reopen-delete-core-ediscovery-cases.md
Labels: Microsoft submitter

#5129 Changing example script update channel
  microsoft-365/security/defender-endpoint/mac-updates.md
Labels: Defender for Endpoint, Microsoft submitter

#5113 Update mac-install-with-intune.md
  microsoft-365/security/defender-endpoint/mac-install-with-intune.md
Labels: Defender for Endpoint

#5108 Update machine.md
  microsoft-365/security/defender-endpoint/machine.md
Labels: Defender for Endpoint, Microsoft submitter

#5107 Update report-junk-email-messages-to-microsoft.md
  microsoft-365/security/office-365-security/report-junk-email-messages-to-microsoft.md
Labels: Microsoft submitter, security

#5147 Fixing a typo.
  microsoft-365/enterprise/multi-geo-capabilities-in-exchange-online.md
Labels: Microsoft submitter, enterprise

#5149 100k Users Update
  microsoft-365/enterprise/PortalLaunchScheduler.md
Labels: Microsoft submitter, enterprise

#5144 Update configure-exchange-server-for-hybrid-modern-authentication.md
  microsoft-365/enterprise/configure-exchange-server-for-hybrid-modern-authentication.md
Labels: enterprise

#5133 Update mac-support-perf.md
  microsoft-365/security/defender-endpoint/mac-support-perf.md
Labels: Defender for Endpoint, Microsoft submitter

#4997 Update cross-tenant-mailbox-migration.md
  microsoft-365/enterprise/cross-tenant-mailbox-migration.md
Labels: enterprise

#5146 Adding missing geo to list of geos
  microsoft-365/includes/microsoft-365-multi-geo-locations.md
Labels: Microsoft submitter, enterprise

#5137 Update guest-accounts.md
  microsoft-365/managed-desktop/get-ready/guest-accounts.md
Labels: managed-desktop

#5135 Update tenant-allow-block-list.md
  microsoft-365/security/office-365-security/tenant-allow-block-list.md
Labels: Microsoft submitter, security

#5142 Update upgrade-distribution-lists.md
  microsoft-365/admin/manage/upgrade-distribution-lists.md
Labels: admin

#5130 Update step 4 and 5 to link to correct pages
  microsoft-365/admin/add-users/remove-former-employee.md
Labels: admin

#5128 Update remove-former-employee-step-1.md
  microsoft-365/admin/add-users/remove-former-employee-step-1.md
Labels: Microsoft submitter, admin

#5110 Update configure-email-forwarding.md
  microsoft-365/admin/email/configure-email-forwarding.md
Labels: admin
