Repository MicrosoftDocs/microsoft-365-docs, pull requests merged in 2021-12, with the labels that each got.

#7039 Update device-control-removable-storage-access-control.md
  microsoft-365/security/defender-endpoint/device-control-removable-storage-access-control.md
Labels: Defender for Endpoint

#7041 Exchange admins can also deploys addin
  microsoft-365/admin/manage/centralized-deployment-of-add-ins.md
Labels: admin

#7003 Update give-mailbox-permissions-to-another-user.md
  microsoft-365/admin/add-users/give-mailbox-permissions-to-another-user.md
Labels: admin

#7033 Update to reflect E5 and A5
  microsoft-365/security/office-365-security/safe-docs.md
Labels: Microsoft submitter, Defender for Office 365

#6659 Update microsoft-defender-endpoint-mac.md
  microsoft-365/security/defender-endpoint/microsoft-defender-endpoint-mac.md
Labels: Defender for Endpoint

#7052 Update manage-updates-baselines-microsoft-defender-antivirus.md
  microsoft-365/security/defender-endpoint/manage-updates-baselines-microsoft-defender-antivirus.md
Labels: Microsoft submitter

#7054 Update o365-data-locations.md
  microsoft-365/enterprise/o365-data-locations.md
Labels: Enterprise, Microsoft submitter

#7036 Update customize-the-app-launcher.md
  microsoft-365/admin/manage/customize-the-app-launcher.md
Labels: admin

#7055 Update safe-attachments.md
  microsoft-365/security/office-365-security/safe-attachments.md
Labels: Microsoft submitter, Defender for Office 365

#7059 Update whats-new-in-defender-for-office-365.md
  microsoft-365/security/office-365-security/whats-new-in-defender-for-office-365.md
Labels: Defender for Office 365

#7046 Update additional-office365-ip-addresses-and-urls.md
  microsoft-365/enterprise/additional-office365-ip-addresses-and-urls.md
Labels: Enterprise

#7045 Update technical-reference-details-about-encryption.md
  microsoft-365/compliance/technical-reference-details-about-encryption.md
Labels: compliance, Microsoft submitter

#7089 Reversion of changes to hyperlinks
  .openpublishing.redirection.json
  microsoft-365/admin/add-users/change-a-user-name-and-email-address.md
  microsoft-365/admin/add-users/reset-passwords.md
  microsoft-365/admin/add-users/restore-user.md
  microsoft-365/admin/admin-overview/about-the-admin-center.md
  microsoft-365/admin/admin-overview/learn-about-office-365-germany.md
  microsoft-365/admin/admin-overview/what-is-microsoft-365.md
  microsoft-365/admin/get-help-support.md
  microsoft-365/admin/get-help-with-domains/remove-a-domain.md
  microsoft-365/admin/get-help-with-domains/transfer-data-manually.md
  microsoft-365/admin/get-help-with-domains/what-is-a-domain.md
  microsoft-365/admin/manage/centralized-deployment-of-add-ins.md
  microsoft-365/admin/manage/change-address-contact-and-more.md
  microsoft-365/admin/manage/upgrade-distribution-lists.md
  microsoft-365/admin/services-in-china/services-in-china.md
  microsoft-365/admin/setup/migrate-email-and-contacts-admin.md
  microsoft-365/admin/setup/plan-your-setup.md
  microsoft-365/admin/setup/signup--apps-business.md
Labels: Microsoft submitter

#7083 Update configure-extension-file-exclusions-microsoft-defender-antivir…
  microsoft-365/security/defender-endpoint/configure-extension-file-exclusions-microsoft-defender-antivirus.md
Labels: Microsoft submitter, Defender for Endpoint

#7064 Link to quarantine notification documentation
  microsoft-365/security/office-365-security/quarantine-policies.md
Labels: security, Microsoft submitter

#7002 Update dlp-migrate-exo-policy-to-unified-dlp.md
  microsoft-365/compliance/dlp-migrate-exo-policy-to-unified-dlp.md
Labels: compliance, Microsoft submitter

#7079 get-help-support-8
  microsoft-365/admin/support/slovenia.md
  microsoft-365/admin/support/solomon-islands.md
  microsoft-365/admin/support/somalia.md
  microsoft-365/admin/support/south-africa.md
  microsoft-365/admin/support/south-georgia-and-south-sandwich-islands.md
  microsoft-365/admin/support/south-sudan.md
  microsoft-365/admin/support/spain.md
  microsoft-365/admin/support/sri-lanka.md
  microsoft-365/admin/support/st-helena.md
  microsoft-365/admin/support/st-kitts-nevis.md
  microsoft-365/admin/support/suriname.md
  microsoft-365/admin/support/svalbard.md
  microsoft-365/admin/support/swaziland.md
  microsoft-365/admin/support/sweden.md
  microsoft-365/admin/support/switzerland.md
  microsoft-365/admin/support/taiwan.md
  microsoft-365/admin/support/tajikistan.md
  microsoft-365/admin/support/tanzania.md
  microsoft-365/admin/support/thailand.md
  microsoft-365/admin/support/timor-leste.md
  microsoft-365/admin/support/togo.md
  microsoft-365/admin/support/tokelau.md
  microsoft-365/admin/support/tonga.md
  microsoft-365/admin/support/trinidad-and-tobago.md
  microsoft-365/admin/support/tristan-da-cunha.md
  microsoft-365/admin/support/tunisia.md
  microsoft-365/admin/support/turkey.md
  microsoft-365/admin/support/turkmenistan.md
  microsoft-365/admin/support/turks-and-caicos-islands.md
Labels: do not merge

#7080 get-help-support-9
  microsoft-365/admin/support/tuvalu.md
  microsoft-365/admin/support/uganda.md
  microsoft-365/admin/support/ukraine.md
  microsoft-365/admin/support/united-arab-emirates.md
  microsoft-365/admin/support/united-kingdom.md
  microsoft-365/admin/support/united-states.md
  microsoft-365/admin/support/uruguay.md
  microsoft-365/admin/support/uzbekistan.md
  microsoft-365/admin/support/vanuatu.md
  microsoft-365/admin/support/vatican-city.md
  microsoft-365/admin/support/venezuela.md
  microsoft-365/admin/support/vietnam.md
  microsoft-365/admin/support/virgin-islands.md
  microsoft-365/admin/support/wallis-and-futuna.md
  microsoft-365/admin/support/yemen.md
  microsoft-365/admin/support/zambia.md
  microsoft-365/admin/support/zimbabwe.md
  microsoft-365/admin/usage-analytics/usage-analytics-errors.md
  microsoft-365/admin/usage-analytics/usage-analytics.md
  microsoft-365/business-video/TOC.yml
  microsoft-365/business-video/index.yml
  microsoft-365/commerce/add-storage-space.md
  microsoft-365/commerce/buy-or-edit-an-add-on.md
  microsoft-365/commerce/close-your-account.md
  microsoft-365/commerce/enter-your-product-key.md
  microsoft-365/commerce/manage-billing-accounts.md
  microsoft-365/commerce/product-key-errors-and-solutions.md
  microsoft-365/commerce/purchases-from-microsoft-open.md
  microsoft-365/commerce/toc.yml
Labels: admin

#7081 get-help-support-10
  microsoft-365/commerce/billing-and-payments/manage-billing-profiles.md
  microsoft-365/commerce/billing-and-payments/manage-payment-methods.md
  microsoft-365/commerce/billing-and-payments/tax-information.md
  microsoft-365/commerce/billing-and-payments/understand-your-invoice.md
  microsoft-365/commerce/billing-and-payments/understand-your-invoice2.md
  microsoft-365/commerce/billing-and-payments/view-your-bill-or-invoice.md
  microsoft-365/commerce/subscriptions/cancel-your-subscription.md
  microsoft-365/commerce/subscriptions/change-plans-manually.md
  microsoft-365/commerce/subscriptions/manage-self-service-purchases-admins.md
  microsoft-365/commerce/subscriptions/manage-self-service-purchases-users.md
  microsoft-365/commerce/subscriptions/reactivate-your-subscription.md
  microsoft-365/commerce/subscriptions/upgrade-Office-365-E4.md
  microsoft-365/commerce/subscriptions/upgrade-to-different-plan.md
  microsoft-365/commerce/subscriptions/verify-academic-eligibility.md
  microsoft-365/commerce/subscriptions/what-if-my-subscription-expires.md
  microsoft-365/commerce/understand-proposal-workflow.md
  microsoft-365/compliance/retention-limits.md
  microsoft-365/compliance/sensitivity-labels-coauthoring.md
  microsoft-365/compliance/service-assurance.md
  microsoft-365/enterprise/TOC.yml
  microsoft-365/enterprise/cloud-services-roadmap-microsoft-365.md
  microsoft-365/enterprise/data-move-faq.yml
  microsoft-365/includes/microsoft-365-content-updates.md
  microsoft-365/security/defender/api-error-codes.md
  microsoft-365/security/office-365-security/anti-spoofing-protection.md
  microsoft-365/security/office-365-security/help-and-support-for-eop.md
  microsoft-365/security/office-365-security/support-for-anonymous-inbound-email-messages-over-ipv6.md
Labels: admin

#7096 Pebaum fix conflicts
  .openpublishing.redirection.json
  microsoft-365/admin/TOC.yml
  microsoft-365/admin/add-users/create-edit-or-delete-a-custom-user-view.md
  microsoft-365/admin/add-users/let-users-reset-passwords.md
  microsoft-365/admin/add-users/remove-former-employee.md
  microsoft-365/admin/add-users/resend-user-password.md
  microsoft-365/admin/add-users/reset-passwords.md
  microsoft-365/admin/add-users/set-password-to-never-expire.md
  microsoft-365/admin/add-users/strong-password.md
  microsoft-365/admin/admin-overview/about-the-admin-center.md
  microsoft-365/admin/admin-overview/admin-center-overview.md
  microsoft-365/admin/get-help-support.md
  microsoft-365/admin/manage/language-translation-for-message-center-posts.md
  microsoft-365/admin/manage/set-password-expiration-policy.md
  microsoft-365/admin/manage/share-calendars-with-external-users.md
  microsoft-365/admin/productivity/productivity-score.md
  microsoft-365/admin/setup/add-domain.md
  microsoft-365/admin/setup/create-signatures-and-disclaimers.md
  microsoft-365/admin/setup/migrate-email-and-contacts-admin.md
  microsoft-365/admin/simplified-signup/signup-teams-business-subscription.md
  microsoft-365/admin/whats-new-in-preview.md
  microsoft-365/business-video/TOC.yml
  microsoft-365/business-video/add-domain.md
  microsoft-365/business-video/delete-user.md
  microsoft-365/includes/microsoft-365-content-updates.md
Labels: Microsoft submitter

#7032 Update .openpublishing.redirection.json
  .openpublishing.redirection.json
Labels: admin

#7029 Point old links to new destinations
  microsoft-365/admin/TOC.yml
  microsoft-365/admin/get-help-with-domains/transfer-data-manually.md
  microsoft-365/admin/misc/empower-your-small-business-with-remote-work.md
  microsoft-365/admin/security-and-compliance/multi-factor-authentication-microsoft-365.md
  microsoft-365/admin/security-and-compliance/secure-your-business-data.md
  microsoft-365/admin/security-and-compliance/set-up-multi-factor-authentication.md
  microsoft-365/admin/setup/plan-your-setup.md
  microsoft-365/admin/setup/setup-apps-for-business.md
  microsoft-365/admin/whats-new-in-preview.md
  microsoft-365/business-video/TOC.yml
  microsoft-365/business-video/get-started-teams-small-business.md
  microsoft-365/business-video/index.yml
  microsoft-365/business-video/install-office.md
  microsoft-365/business-video/overview-file-sharing.md
  microsoft-365/business-video/overview-online-meetings.md
  microsoft-365/business-video/work-from-anywhere.md
Labels: admin

#7035 Update office-365-encryption-risks-and-protections.md
  microsoft-365/compliance/office-365-encryption-risks-and-protections.md
Labels: compliance

#7021 Update double-key-encryption.md
  microsoft-365/compliance/double-key-encryption.md
Labels: compliance

#6988 Update ome-faq.yml
  microsoft-365/compliance/ome-faq.yml
Labels: compliance, Microsoft submitter

#6569 Adding third-party integration info
  microsoft-365/compliance/double-key-encryption.md
Labels: compliance

#6526 Update customer-key-manage.md
  microsoft-365/compliance/customer-key-manage.md
Labels: compliance

#6418 Update customer-key-availability-key-roll.md
  microsoft-365/compliance/customer-key-availability-key-roll.md
Labels: compliance, Microsoft submitter

#6502 Update customer-key-overview.md
  microsoft-365/compliance/customer-key-overview.md
Labels: compliance

#6260 Clarified text to make it clearer that DKE is not natively supported …
  microsoft-365/compliance/double-key-encryption.md
Labels: compliance, Microsoft submitter

#5389 Add SharePoint Server Links
  microsoft-365/compliance/prepare-tls-1.2-in-office-365.md
Labels: compliance, Microsoft submitter

#4873 Update double-key-encryption.md
  microsoft-365/compliance/double-key-encryption.md
Labels: compliance

#6206 Update customer-lockbox-requests.md
  microsoft-365/compliance/customer-lockbox-requests.md
Labels: compliance

#5386 Update Customer-Lockbox-Requests.md
  microsoft-365/compliance/customer-lockbox-requests.md
  microsoft-365/media/CustomerLockbox4-new.png
Labels: compliance, Microsoft submitter

#7103 Update push-content-type-to-hub.md
  microsoft-365/contentunderstanding/push-content-type-to-hub.md
Labels: Enterprise

#7097 Update multi-geo-add-group-with-pdl.md
  microsoft-365/enterprise/multi-geo-add-group-with-pdl.md
Labels: Enterprise

#7117 Updating Diagnostic button and note
  microsoft-365/compliance/enable-archive-mailboxes.md
Labels: compliance, Microsoft submitter

#7088 Update steps to elevate and escalate.
  microsoft-365/managed-desktop/working-with-managed-desktop/end-user-support.md
Labels: managed-desktop

#6981 Update dlp-learn-about-dlp.md
  microsoft-365/compliance/dlp-learn-about-dlp.md
Labels: compliance

#7124 Update linux-preferences.md
  microsoft-365/security/defender-endpoint/linux-preferences.md
Labels: Microsoft submitter

#7130 Update recommended-settings-for-eop-and-office365.md
  microsoft-365/security/office-365-security/recommended-settings-for-eop-and-office365.md
Labels: Defender for Office 365

#7109 Minor grammar update
  microsoft-365/business-video/secure-win-10-pro-devices.md
Labels: M365 Business

#7068 Clarify identity platform CNAME behaviour
  microsoft-365/enterprise/external-domain-name-system-records.md
Labels: Enterprise

#7142 Update defender-endpoint-plan-1-2.md
  microsoft-365/security/defender-endpoint/defender-endpoint-plan-1-2.md
Labels: Microsoft submitter

#6916 Update secure-score-comparison-bar.png
  microsoft-365/media/secure-score/secure-score-comparison-bar.png
  microsoft-365/security/defender/microsoft-secure-score-history-metrics-trends.md
Labels: security, Microsoft 365 Defender

#7138 Updating TenantID information in the article based on customer input
  microsoft-365/enterprise/cross-tenant-mailbox-migration.md
Labels: Enterprise

#7139 Update add-domain.md
  microsoft-365/admin/setup/add-domain.md
Labels: admin

#7151 Typo in conversation->conservation
  microsoft-365/compliance/de-duplication-in-ediscovery-search-results.md
Labels: compliance

#7153 Fix incorrect product name
  microsoft-365/security/defender-endpoint/enable-attack-surface-reduction.md
Labels: Defender for Endpoint

#7158 Update get-machine-log-on-users.md
  microsoft-365/security/defender-endpoint/get-machine-log-on-users.md
Labels: Microsoft submitter, Defender for Endpoint

#7127 Update office-365-groups-ww.md
  microsoft-365/admin/activity-reports/office-365-groups-ww.md
Labels: admin

#7164 Update create-a-custom-sensitive-information-type.md
  microsoft-365/compliance/create-a-custom-sensitive-information-type.md
Labels: Microsoft submitter

#7098 Update share-calendars-with-external-users.md
  microsoft-365/admin/manage/share-calendars-with-external-users.md
Labels: admin

#7178 Fix link broken link
  microsoft-365/admin/manage/share-calendars-with-external-users.md
Labels: Microsoft submitter

#7190 Update admin-support.md
  microsoft-365/managed-desktop/working-with-managed-desktop/admin-support.md
Labels: Microsoft submitter

#7192 Update user-tags.md - Permissions update & Quarantine integration
  microsoft-365/security/office-365-security/user-tags.md
Labels: Microsoft submitter

#7195 Update create-a-custom-sensitive-information-type-in-scc-powershell.md
  microsoft-365/compliance/create-a-custom-sensitive-information-type-in-scc-powershell.md
Labels: Microsoft submitter

#7173 Update search-the-audit-log-in-security-and-compliance.md
  microsoft-365/compliance/search-the-audit-log-in-security-and-compliance.md
Labels: compliance

#7172 Update use-intune-config-manager-microsoft-defender-antivirus.md
  microsoft-365/security/defender-endpoint/use-intune-config-manager-microsoft-defender-antivirus.md
Labels: Microsoft submitter, Defender for Endpoint

#7168 Update move-onedrive-between-geo-locations.md
  microsoft-365/enterprise/move-onedrive-between-geo-locations.md
Labels: Enterprise

#7165 Update push-content-type-to-hub.md
  microsoft-365/contentunderstanding/push-content-type-to-hub.md
Labels: Enterprise

#7167 Fixed typo in article
  microsoft-365/admin/get-help-support.md
Labels: admin

#7206 Re-re-fix broken link
  microsoft-365/admin/get-help-support.md
Labels: Microsoft submitter

#7205 Update microsoft-defender-security-center-antivirus.md
  microsoft-365/security/defender-endpoint/microsoft-defender-security-center-antivirus.md
Labels: Defender for Endpoint

#7209 Update prevent-changes-to-security-settings-with-tamper-protection.md
  microsoft-365/security/defender-endpoint/prevent-changes-to-security-settings-with-tamper-protection.md
Labels: Microsoft submitter, Defender for Endpoint

#7204 Update prevent-changes-to-security-settings-with-tamper-protection.md
  microsoft-365/security/defender-endpoint/prevent-changes-to-security-settings-with-tamper-protection.md
Labels: Defender for Endpoint

#7200 Update prevent-changes-to-security-settings-with-tamper-protection.md
  microsoft-365/security/defender-endpoint/prevent-changes-to-security-settings-with-tamper-protection.md
Labels: Defender for Endpoint

#7208 added new version 4.18.2111.5-0
  microsoft-365/security/defender-endpoint/configure-extension-file-exclusions-microsoft-defender-antivirus.md
Labels: Defender for Endpoint

#7198 Update user-tags.md
  microsoft-365/security/office-365-security/user-tags.md
Labels: Microsoft submitter, Defender for Office 365

#7212 Update attack-surface-reduction-rules-reference.md
  microsoft-365/security/defender-endpoint/attack-surface-reduction-rules-reference.md
Labels: Microsoft submitter, Defender for Endpoint

#7199 Update alert-policies.md
  microsoft-365/compliance/alert-policies.md
Labels: compliance, Microsoft submitter

#7197 Update modern-desktop-deployment-and-management-lab.md
  microsoft-365/enterprise/modern-desktop-deployment-and-management-lab.md
Labels: Enterprise

#7207 Update uploadApplication.md
  microsoft-365/test-base/uploadApplication.md
Labels: Microsoft submitter, M365 test-base

#7242 Update mdb-requirements.md
  microsoft-365/security/defender-business/mdb-requirements.md
Labels: Defender for Business

#7247 Update enable-cloud-protection-microsoft-defender-antivirus.md
  microsoft-365/security/defender-endpoint/enable-cloud-protection-microsoft-defender-antivirus.md
Labels: Microsoft submitter

#7266 Update mdb-create-new-policy.md
  microsoft-365/security/defender-business/mdb-create-new-policy.md
Labels: Microsoft submitter

#7186 Update for GCCH and DoD
  microsoft-365/compliance/advanced-audit.md
Labels: compliance, Microsoft submitter

#7267 Update mdb-next-gen-configuration-settings.md
  microsoft-365/security/defender-business/mdb-next-gen-configuration-settings.md
Labels: Microsoft submitter

#7265 Grammar correction
  microsoft-365/compliance/get-started-with-sensitivity-labels.md
Labels: compliance
