Repository MicrosoftDocs/microsoft-365-docs, pull requests merged in 2021-07, with the labels that each got.

#5454 Update add-storage-space.md
  microsoft-365/commerce/add-storage-space.md
Labels: admin

#5183 Update change-plans-manually.md
  microsoft-365/commerce/subscriptions/change-plans-manually.md
Labels: admin

#5238 Update manage-license-requests.md
  microsoft-365/commerce/licenses/manage-license-requests.md
Labels: Microsoft submitter, admin

#5237 Update remove-licenses-from-users.md
  microsoft-365/admin/manage/remove-licenses-from-users.md
Labels: Microsoft submitter, admin

#4912 Update information-for-dns-records.md
  microsoft-365/admin/get-help-with-domains/information-for-dns-records.md
Labels: admin

#5514 Update create-custom-sensitive-information-types-with-exact-data-matc…
  microsoft-365/compliance/create-custom-sensitive-information-types-with-exact-data-match-based-classification.md
Labels: Microsoft submitter

#5515 Update mip-dbcs-relnotes.md
  microsoft-365/compliance/mip-dbcs-relnotes.md
Labels: Microsoft submitter

#5516 Update create-a-custom-sensitive-information-type.md
  microsoft-365/compliance/create-a-custom-sensitive-information-type.md
Labels: Microsoft submitter

#5517 Update create-a-keyword-dictionary.md
  microsoft-365/compliance/create-a-keyword-dictionary.md
Labels: Microsoft submitter

#5518 Update sensitive-information-type-learn-about.md
  microsoft-365/compliance/sensitive-information-type-learn-about.md
Labels: Microsoft submitter

#5508 Update microsoft-defender-endpoint-linux.md
  microsoft-365/security/defender-endpoint/microsoft-defender-endpoint-linux.md
Labels: Microsoft submitter

#5512 Update configure-advanced-delivery.md
  microsoft-365/security/office-365-security/configure-advanced-delivery.md
Labels: Defender for Office 365

#5440 Update office-365-network-mac-perf-overview.md
  microsoft-365/enterprise/office-365-network-mac-perf-overview.md
Labels: Microsoft submitter, enterprise

#5533 Adding a link to the Intune section
  microsoft-365/security/defender-endpoint/configure-updates.md
Labels: Defender for Endpoint, Microsoft submitter

#5484 Update how-dlp-works-between-admin-centers.md
  microsoft-365/compliance/how-dlp-works-between-admin-centers.md
Labels: compliance

#5510 Update view-service-health.md
  microsoft-365/enterprise/view-service-health.md
Labels: Microsoft submitter, enterprise

#5541 Shop Windows 10 Device Link is not working
  microsoft-365/managed-desktop/service-description/device-images.md
Labels: Microsoft submitter, managed-desktop

#5531 sentence update, it didn't run well.
  microsoft-365/commerce/subscriptions/cancel-your-subscription.md
Labels: admin

#5473 GA for MIP-MCAS integration
  microsoft-365/compliance/dlp-use-policies-non-microsoft-cloud-apps.md
Labels: compliance

#5536 Update Office Forms new auditing settings in search-the-audit-log-in-security-and-compliance.md
  microsoft-365/compliance/search-the-audit-log-in-security-and-compliance.md
Labels: compliance

#5537 Update scheduler-setup.md
  microsoft-365/scheduler/scheduler-setup.md
Labels: Microsoft submitter, enterprise

#5555 Correction on entry point of spoof insight
  microsoft-365/security/office-365-security/learn-about-spoof-intelligence.md
Labels: Microsoft submitter

#5543 Update configure-endpoints-gp.md
  microsoft-365/security/defender-endpoint/configure-endpoints-gp.md
Labels: Defender for Endpoint

#5549 Update add-another-email-alias-for-a-user.md
  microsoft-365/admin/email/add-another-email-alias-for-a-user.md
Labels: admin

#5351 Update manage-addins-in-the-admin-center.md
  microsoft-365/admin/manage/manage-addins-in-the-admin-center.md
Labels: admin

#5495 Added Teams upcoming controls.
  microsoft-365/security/defender/microsoft-secure-score-whats-coming.md
Labels: Microsoft 365 Defender, Microsoft submitter

#5494 Updated for June
  microsoft-365/security/defender/microsoft-secure-score-whats-new.md
Labels: Microsoft 365 Defender, Microsoft submitter

#5566 Update device-control-removable-storage-access-control.md
  microsoft-365/security/defender-endpoint/device-control-removable-storage-access-control.md
Labels: Microsoft submitter

#5554 Update device-control-removable-storage-access-control.md
  microsoft-365/security/defender-endpoint/device-control-removable-storage-access-control.md
Labels: Defender for Endpoint, Microsoft submitter

#5553 Update device-control-removable-storage-access-control.md
  microsoft-365/security/defender-endpoint/device-control-removable-storage-access-control.md
Labels: Defender for Endpoint, Microsoft submitter

#5563 Update non-windows.md
  microsoft-365/security/defender-endpoint/non-windows.md
Labels: Defender for Endpoint, Microsoft submitter

#5562 Update configure-email-notifications.md
  microsoft-365/security/defender-endpoint/configure-email-notifications.md
Labels: security

#5559 Update configure-endpoints-gp.md
  microsoft-365/security/defender-endpoint/configure-endpoints-gp.md
Labels: Defender for Endpoint

#5560 Update set-password-to-never-expire.md
  microsoft-365/admin/add-users/set-password-to-never-expire.md
Labels: admin

#5570 Removed unneeded "to"
  microsoft-365/solutions/share-limit-accidental-exposure.md
Labels: solutions

#5561 added a new check
  microsoft-365/managed-desktop/get-ready/readiness-assessment-fix.md
Labels: managed-desktop

#5569 Adding Click Policies
  microsoft-365/solutions/best-practices-anonymous-sharing.md
Labels: solutions

#5551 Update user-submission.md
  microsoft-365/security/office-365-security/user-submission.md
Labels: Microsoft submitter, security

#5532 Update ediscovery-troubleshooting-common-issues.md
  microsoft-365/compliance/ediscovery-troubleshooting-common-issues.md
Labels: compliance

#5577 Update set-up-advanced-audit.md
  microsoft-365/compliance/set-up-advanced-audit.md
Labels: Microsoft submitter

#5583 Fixed output so it includes case info
  microsoft-365/compliance/ediscovery-diagnostic-info.md
Labels: Microsoft submitter

#3867 Update information-barriers-policies.md
  microsoft-365/compliance/information-barriers-policies.md
Labels: compliance

#5538 Update configure-exchange-server-for-hybrid-modern-authentication.md
  microsoft-365/enterprise/configure-exchange-server-for-hybrid-modern-authentication.md
Labels: enterprise

#5571 Update configure-email-forwarding.md
  microsoft-365/admin/email/configure-email-forwarding.md
Labels: Microsoft submitter

#5598 update browser usage report doc page
  microsoft-365/admin/activity-reports/browser-usage-report.md
Labels: Microsoft submitter

#5596 update report overview doc
  microsoft-365/admin/activity-reports/activity-reports.md
Labels: Microsoft submitter

#5597 update Microsoft 365 apps usage report
  microsoft-365/admin/activity-reports/microsoft365-apps-usage-ww.md
Labels: Microsoft submitter

#5558 Update configure-advanced-delivery.md
  microsoft-365/security/office-365-security/configure-advanced-delivery.md
Labels: Microsoft submitter, security

#5556 Update preset-security-policies.md
  microsoft-365/security/office-365-security/preset-security-policies.md
Labels: Microsoft submitter, security

#5603 Update microsoft-365-guest-settings.md
  microsoft-365/solutions/microsoft-365-guest-settings.md
Labels: solutions

#5590 Update high-risk-delivery-pool-for-outbound-messages.md
  microsoft-365/security/office-365-security/high-risk-delivery-pool-for-outbound-messages.md
Labels: Microsoft submitter, security

#5593 added a note on localization to ESR docs
  microsoft-365/managed-desktop/get-started/enterprise-state-roaming.md
Labels: managed-desktop

#5587 Added missing directions on enabling LTIs
  microsoft-365/lti/teams-meetings-with-canvas.md
Labels: LTI, Microsoft submitter

#5557 Update configuration-management-reference-microsoft-defender-antiviru…
  microsoft-365/security/defender-endpoint/configuration-management-reference-microsoft-defender-antivirus.md
Labels: Defender for Endpoint

#5612 Add updated guidance to 100k
  microsoft-365/enterprise/PortalLaunchScheduler.md
Labels: Microsoft submitter, enterprise

#4942 Update add-your-organization-brand-to-encrypted-messages.md
  microsoft-365/compliance/add-your-organization-brand-to-encrypted-messages.md
Labels: Microsoft submitter, compliance

#5298 Update ome-faq.yml
  microsoft-365/compliance/ome-faq.yml
Labels: Microsoft submitter, compliance

#5299 Update define-mail-flow-rules-to-encrypt-email.md
  microsoft-365/compliance/define-mail-flow-rules-to-encrypt-email.md
Labels: Microsoft submitter, compliance

#5620 Updated example of response
  microsoft-365/security/defender-endpoint/get-discovered-vulnerabilities.md
Labels: Defender for Endpoint, Microsoft submitter

#5616 Update device-control-removable-storage-access-control.md
  microsoft-365/security/defender-endpoint/device-control-removable-storage-access-control.md
Labels: Defender for Endpoint, Microsoft submitter

#5615 Update device-control-removable-storage-access-control.md
  microsoft-365/security/defender-endpoint/device-control-removable-storage-access-control.md
Labels: Defender for Endpoint, Microsoft submitter

#5623 Update multi-geo-capabilities-in-teams-in-microsoft-365.md
  microsoft-365/enterprise/multi-geo-capabilities-in-teams-in-microsoft-365.md
Labels: Microsoft submitter

#5624 Adding requirements section necessary for GA
  microsoft-365/lti/teams-classes-with-canvas.md
Labels: Microsoft submitter

#5334 Update ms-cloud-germany-transition-add-devices.md
  microsoft-365/enterprise/ms-cloud-germany-transition-add-devices.md
Labels: Microsoft submitter, enterprise

#5608 By default, users get copies of meeting invitation
  microsoft-365/admin/create-groups/manage-groups.md
Labels: Microsoft submitter, admin

#5584 Update ome-faq.yml
  microsoft-365/compliance/ome-faq.yml
Labels: Microsoft submitter, compliance

#5627 Update microsoft-365-ip-web-service.md
  microsoft-365/enterprise/microsoft-365-ip-web-service.md
Labels: enterprise

#5609 Edits
  microsoft-365/test-base/Documents
  microsoft-365/test-base/Documents.pub
  microsoft-365/test-base/faq.md
  microsoft-365/test-base/review.md
  microsoft-365/test-base/uploadApplication.md
Labels: M365 test-base

#5638 Update collaborate-as-team.md
  microsoft-365/solutions/collaborate-as-team.md
Labels: solutions

#5651 Update switch-to-microsoft-defender-setup.md
  microsoft-365/security/defender-endpoint/switch-to-microsoft-defender-setup.md
Labels: Defender for Endpoint, Microsoft submitter

#5637 Update strong-password.md
  microsoft-365/admin/add-users/strong-password.md
Labels: admin

#5657 update documentation with MAM and minor enhancements
  microsoft-365/security/defender-endpoint/TOC.md
  microsoft-365/security/defender-endpoint/ios-install-unmanaged.md
  microsoft-365/security/defender-endpoint/ios-install.md
  microsoft-365/security/defender-endpoint/microsoft-defender-endpoint-ios.md
Labels: Defender for Endpoint, Microsoft submitter

#5601 Update Onboard-Windows-10-multi-session-device.md
  microsoft-365/security/defender-endpoint/Onboard-Windows-10-multi-session-device.md
Labels: Defender for Endpoint

#5643 Update linux-preferences.md
  microsoft-365/security/defender-endpoint/linux-preferences.md
Labels: Defender for Endpoint, Microsoft submitter

#5648 Update deployment-strategy.md
  microsoft-365/security/defender-endpoint/deployment-strategy.md
Labels: Defender for Endpoint, Microsoft submitter

#5649 Update deployment-rings.md
  microsoft-365/security/defender-endpoint/deployment-rings.md
Labels: Defender for Endpoint, Microsoft submitter

#5653 Update onboard-configure.md
  microsoft-365/security/defender-endpoint/onboard-configure.md
Labels: Defender for Endpoint, Microsoft submitter

#5658 Update live-response.md
  microsoft-365/security/defender-endpoint/live-response.md
Labels: Defender for Endpoint

#5629 Update bookings-faq.yml
  microsoft-365/bookings/bookings-faq.yml
Labels: Bookings, Microsoft submitter

#5670 Update test-win11-mmd.md
  microsoft-365/managed-desktop/working-with-managed-desktop/test-win11-mmd.md
Labels: managed-desktop

#5677 Update device-discovery-faq.md
  microsoft-365/security/defender-endpoint/device-discovery-faq.md
Labels: Defender for Endpoint, Microsoft submitter

#5675 Update linux-update-MDE-Linux.md
  microsoft-365/security/defender-endpoint/linux-update-MDE-Linux.md
Labels: Defender for Endpoint

#5682 Increase localization priority value
  microsoft-365/security/defender-endpoint/microsoft-defender-endpoint.md
Labels: Defender for Endpoint, Microsoft submitter

#5589 Update use-dkim-to-validate-outbound-email.md
  microsoft-365/security/office-365-security/use-dkim-to-validate-outbound-email.md
Labels: Microsoft submitter, security

#5308 Update use-dkim-to-validate-outbound-email.md
  microsoft-365/security/office-365-security/use-dkim-to-validate-outbound-email.md
Labels: Microsoft submitter, security

#4769 Update use-dkim-to-validate-outbound-email.md
  microsoft-365/security/office-365-security/use-dkim-to-validate-outbound-email.md
Labels: Microsoft submitter, security

#5681 Increase localization priority value
  microsoft-365/enterprise/view-service-health.md
Labels: Microsoft submitter, enterprise

#4342 Update use-dkim-to-validate-outbound-email.md
  microsoft-365/security/office-365-security/use-dkim-to-validate-outbound-email.md
Labels: security

#5685 Update edr-in-block-mode.md
  microsoft-365/security/defender-endpoint/edr-in-block-mode.md
Labels: Defender for Endpoint, Microsoft submitter

#5672 Update about-shared-mailboxes.md
  microsoft-365/admin/email/about-shared-mailboxes.md
Labels: admin

#5674 Update set-up-file-storage-and-sharing.md
  microsoft-365/admin/setup/set-up-file-storage-and-sharing.md
Labels: admin

#5703 Adding user tags to custom policies
  microsoft-365/compliance/alert-policies.md
Labels: Microsoft submitter

#5216 added link to SMTP Auth clients report
  microsoft-365/compliance/prepare-tls-1.2-in-office-365.md
Labels: compliance

#5650 Update admin-review-reported-message.md
  microsoft-365/security/office-365-security/admin-review-reported-message.md
Labels: Microsoft submitter, security

#5673 Fixed wrong case and double character typo
  microsoft-365/test-base/overview.md
Labels: M365 test-base, Microsoft submitter

#5704 Update set-up-anti-phishing-policies.md
  microsoft-365/security/office-365-security/set-up-anti-phishing-policies.md
Labels: Microsoft submitter, security

#5718 Making checking Auditing on by default a must
  microsoft-365/compliance/turn-audit-log-search-on-or-off.md
Labels: Microsoft submitter, compliance

#5526 Update ediscovery-decryption.md
  microsoft-365/compliance/ediscovery-decryption.md
Labels: Microsoft submitter, compliance

#5565 Update non-custodial-data-sources.md
  microsoft-365/compliance/non-custodial-data-sources.md
Labels: Microsoft submitter, compliance

#5716 Update microsoft-365-vpn-implement-split-tunnel.md
  microsoft-365/enterprise/microsoft-365-vpn-implement-split-tunnel.md
Labels: Microsoft submitter, enterprise

#5723 Update hold-distribution-errors.md
  microsoft-365/compliance/hold-distribution-errors.md
Labels: Microsoft submitter

#5720 Update eval-defender-promote-to-production.md
  microsoft-365/security/defender/eval-defender-promote-to-production.md
Labels: Defender for Endpoint

#5729 Update configure-advanced-delivery.md
  microsoft-365/security/office-365-security/configure-advanced-delivery.md
Labels: Defender for Office 365, Microsoft submitter

#5735 Update live-response.md
  microsoft-365/security/defender-endpoint/live-response.md
Labels: Defender for Endpoint, Microsoft submitter

#5741 DMARC bestguesspass - remove misleading paragraph
  microsoft-365/security/office-365-security/anti-spam-message-headers.md
Labels: Defender for Office 365

#5713 Update per-group-guest-access.md
  microsoft-365/solutions/per-group-guest-access.md
Labels: solutions

#5725 logic change to the check in ART
  microsoft-365/managed-desktop/get-ready/readiness-assessment-fix.md
Labels: managed-desktop

#5707 ESP GA
  microsoft-365/managed-desktop/get-started/esp-first-run.md
Labels: managed-desktop

#5691 Update let-users-reset-passwords.md
  microsoft-365/admin/add-users/let-users-reset-passwords.md
Labels: admin

#5613 Update updates.md
  microsoft-365/managed-desktop/service-description/updates.md
Labels: managed-desktop

#5644 Update add-admin-contacts.md
  microsoft-365/managed-desktop/get-started/add-admin-contacts.md
Labels: managed-desktop

#5737 Update use-dkim-to-validate-outbound-email.md
  microsoft-365/security/office-365-security/use-dkim-to-validate-outbound-email.md
Labels: Microsoft submitter, security

#5732 Delegated Permission should also be 'AdvancedQuery.Read.All' ("All" s…
  microsoft-365/security/defender-endpoint/run-advanced-query-api.md
Labels: Defender for Endpoint, Microsoft submitter

#5746 Update whats-new-in-defender-for-office-365.md
  microsoft-365/security/office-365-security/whats-new-in-defender-for-office-365.md
Labels: Defender for Office 365

#5639 Update register-devices-partner.md
  microsoft-365/managed-desktop/get-started/register-devices-partner.md
Labels: managed-desktop

#5640 Update register-devices-self.md
  microsoft-365/managed-desktop/get-started/register-devices-self.md
Labels: managed-desktop

#5719 Update remove-former-employee-step-1.md
  microsoft-365/admin/add-users/remove-former-employee-step-1.md
Labels: admin

#5665 Update set-up-new-message-encryption-capabilities.md
  microsoft-365/compliance/set-up-new-message-encryption-capabilities.md
Labels: Microsoft submitter, compliance

#5669 Update ome-faq.yml
  microsoft-365/compliance/ome-faq.yml
Labels: Microsoft submitter, compliance

#5754 Update operations-and-monitoring.md
  microsoft-365/managed-desktop/service-description/operations-and-monitoring.md
Labels: managed-desktop

#5777 Added Thailand to list of countries.
  microsoft-365/commerce/billing-and-payments/tax-information.md
Labels: Microsoft submitter

#5776 updated July controls
  microsoft-365/security/defender/microsoft-secure-score-whats-new.md
Labels: Microsoft submitter, security

#5775 July final updated
  microsoft-365/security/defender/microsoft-secure-score-whats-coming.md
Labels: security

#5760 Update configure-advanced-delivery.md
  microsoft-365/security/office-365-security/configure-advanced-delivery.md
Labels: Microsoft submitter, security

#5774 Update linux-support-perf.md
  microsoft-365/security/defender-endpoint/linux-support-perf.md
Labels: security

#5784 Safelinks for Microsoft Teams released
  microsoft-365/security/office-365-security/whats-new-in-defender-for-office-365.md
Labels: Defender for Office 365, Microsoft submitter

#5783 Removing private preview message
  microsoft-365/security/office-365-security/safe-links.md
Labels: Defender for Office 365, Microsoft submitter
