Repository MicrosoftDocs/microsoft-365-docs, pull requests merged in 2021-03, with the labels that each got.

#4279 Office365 Germany updates
  microsoft-365/enterprise/ms-cloud-germany-transition-add-pre-work.md
  microsoft-365/enterprise/ms-cloud-germany-transition-phases.md
Labels: Microsoft submitter

#4181 Update office-365-network-mac-perf-overview.md
  microsoft-365/enterprise/office-365-network-mac-perf-overview.md
Labels: enterprise

#4297 Update enable-the-report-phish-add-in.md
  microsoft-365/security/office-365-security/enable-the-report-phish-add-in.md
Labels: security

#4301 Update whats-new-in-office-365-atp.md
  microsoft-365/security/office-365-security/whats-new-in-office-365-atp.md
Labels: Microsoft submitter

#4294 Update office-365-groups.md
  microsoft-365/admin/create-groups/office-365-groups.md
Labels: admin

#4299 Update enable-the-report-message-add-in.md
  microsoft-365/security/office-365-security/enable-the-report-message-add-in.md
Labels: security

#4292 Update bookings-faq.md
  microsoft-365/bookings/bookings-faq.md
Labels: admin

#4298 Update delete-calendar.md
  microsoft-365/bookings/delete-calendar.md
Labels: admin

#4180 Update cortana-integration.md
  microsoft-365/admin/misc/cortana-integration.md
Labels: Microsoft submitter, admin

#4175 microsoft365.com/setup
  microsoft-365/admin/setup/setup.md
Labels: admin

#4315 Added steps for GCCH/DOD tenants
  microsoft-365/compliance/compliance-manager-mcca.md
Labels: Microsoft submitter

#4204 Update cross-tenant-mailbox-migration.md
  microsoft-365/enterprise/cross-tenant-mailbox-migration.md
Labels: enterprise

#4226 added a note about converting an item from a list
  microsoft-365/compliance/export-view-audit-log-records.md
Labels: Microsoft submitter, compliance

#4332 Update ms-cloud-germany-transition-phases.md
  microsoft-365/enterprise/ms-cloud-germany-transition-phases.md
Labels: Microsoft submitter

#4347 Update index.md
  microsoft-365/managed-desktop/get-started/index.md
Labels: Microsoft submitter

#4337 Update manage-addins-in-the-admin-center.md
  microsoft-365/admin/manage/manage-addins-in-the-admin-center.md
Labels: admin

#4302 Update manage-skype-for-business-online-policies-with-microsoft-365-p…
  microsoft-365/enterprise/manage-skype-for-business-online-policies-with-microsoft-365-powershell.md
Labels: enterprise

#4303 Update manage-skype-for-business-online-with-microsoft-365-powershell.md
  microsoft-365/enterprise/manage-skype-for-business-online-with-microsoft-365-powershell.md
Labels: enterprise

#4304 Update assign-per-user-skype-for-business-online-policies-with-micros…
  microsoft-365/enterprise/assign-per-user-skype-for-business-online-policies-with-microsoft-365-powershell.md
Labels: enterprise

#4305 Update connect-to-all-microsoft-365-services-in-a-single-windows-powe…
  microsoft-365/enterprise/connect-to-all-microsoft-365-services-in-a-single-windows-powershell-window.md
Labels: enterprise

#4319 Update tenant-allow-block-list.md
  microsoft-365/security/office-365-security/tenant-allow-block-list.md
Labels: Microsoft submitter, security

#4155 Update set-up-multi-factor-authentication.md
  microsoft-365/admin/security-and-compliance/set-up-multi-factor-authentication.md
Labels: admin

#4100 Update microsoft-office-activations.md
  microsoft-365/admin/activity-reports/microsoft-office-activations.md
Labels: admin

#4314 new unified portal in no available for GCC
  microsoft-365/security/mtp/microsoft-365-security-center-mde.md
Labels: security

#4334 Update ms-cloud-germany-transition-phases.md
  microsoft-365/enterprise/ms-cloud-germany-transition-phases.md
Labels: Microsoft submitter, enterprise

#4357 Andy ryan phase table ii
  microsoft-365/enterprise/ms-cloud-germany-transition-add-experience.md
  microsoft-365/enterprise/ms-cloud-germany-transition-phases.md
  microsoft-365/media/ms-cloud-germany-migration-opt-in/migration-organization.png
Labels: Microsoft submitter

#4281 Update index.md
  microsoft-365/managed-desktop/get-started/index.md
Labels: managed-desktop

#4374 Update define-mail-flow-rules-to-encrypt-email.md
  microsoft-365/compliance/define-mail-flow-rules-to-encrypt-email.md
Labels: Microsoft submitter, compliance

#4375 Update ome-faq.md
  microsoft-365/compliance/ome-faq.md
Labels: Microsoft submitter, compliance

#4336 Update set-up-an-archive-and-deletion-policy-for-mailboxes.md
  microsoft-365/compliance/set-up-an-archive-and-deletion-policy-for-mailboxes.md
Labels: compliance

#4341 Update use-network-upload-to-import-pst-files.md
  microsoft-365/compliance/use-network-upload-to-import-pst-files.md
Labels: compliance

#4383 update CFR reporting docs
  microsoft-365/admin/activity-reports/activity-reports.md
  microsoft-365/admin/activity-reports/browser-usage-report.md
  microsoft-365/admin/usage-analytics/active-user-in-usage-reports.md
  microsoft-365/media/95557c88-24ee-417d-a828-96ba00b17aaf.png
Labels: Microsoft submitter

#4368 Update join-team-guest.md
  microsoft-365/business-video/join-team-guest.md
Labels: business

#4369 Update delete-calendar.md
  microsoft-365/bookings/delete-calendar.md
Labels: Bookings

#4381 Update set-password-expiration-policy.md
  microsoft-365/admin/manage/set-password-expiration-policy.md
Labels: admin

#4394 Update ms-cloud-germany-transition-add-experience.md
  microsoft-365/enterprise/ms-cloud-germany-transition-add-experience.md
Labels: Microsoft submitter, enterprise

#4395 Update ms-cloud-germany-transition-phases.md
  microsoft-365/enterprise/ms-cloud-germany-transition-phases.md
Labels: Microsoft submitter, enterprise

#4382 Update ms-cloud-germany-transition-add-pre-work.md
  microsoft-365/enterprise/ms-cloud-germany-transition-add-pre-work.md
Labels: Microsoft submitter, enterprise

#4380 Update plan-for-multi-geo.md
  microsoft-365/enterprise/plan-for-multi-geo.md
Labels: enterprise

#4248 Adding additional URLs required for Hybrid Wizard
  microsoft-365/enterprise/additional-office365-ip-addresses-and-urls.md
Labels: enterprise

#4349 tenant-wide search limit
  microsoft-365/compliance/limits-for-content-search.md
Labels: compliance

#4401 Update ms-cloud-germany-transition-add-adfs.md
  microsoft-365/enterprise/ms-cloud-germany-transition-add-adfs.md
Labels: Microsoft submitter, enterprise

#4313 fix SMTP typo
  microsoft-365/compliance/exchange-online-uses-tls-to-secure-email-connections.md
Labels: compliance

#4274 Update customer-key-tenant-level.md
  microsoft-365/compliance/customer-key-tenant-level.md
Labels: Microsoft submitter, compliance

#4404 Fixed broken link to CMVP
  microsoft-365/compliance/office-365-encryption-in-the-microsoft-cloud-overview.md
Labels: Microsoft submitter

#4398 Update compare-groups.md
  microsoft-365/admin/create-groups/compare-groups.md
Labels: admin

#4406 Updating policy management info for tenant-level
  microsoft-365/compliance/customer-key-tenant-level.md
Labels: Microsoft submitter

#4340 Update allow-members-to-send-as-or-send-on-behalf-of-group.md
  microsoft-365/solutions/allow-members-to-send-as-or-send-on-behalf-of-group.md
Labels: solutions

#4308 Update virus-detection-in-spo.md
  microsoft-365/security/office-365-security/virus-detection-in-spo.md
Labels: Microsoft submitter, security

#4203 Update atp-safe-links.md
  microsoft-365/security/office-365-security/atp-safe-links.md
Labels: security

#4419 Update endpoint-dlp-learn-about.md
  microsoft-365/compliance/endpoint-dlp-learn-about.md
Labels: Microsoft submitter

#4366 Update dlp-conditions-and-exceptions.md
  microsoft-365/compliance/dlp-conditions-and-exceptions.md
Labels: Microsoft submitter, compliance

#4345 Update sensitive-information-type-learn-about.md to include a note for customers moving from existing number based system to upgraded confidence levels
  microsoft-365/compliance/sensitive-information-type-learn-about.md
Labels: compliance

#3761 Update enable-modern-authentication.md
  microsoft-365/admin/security-and-compliance/enable-modern-authentication.md
Labels: admin

#3789 Update usage-analytics-data-model.md
  microsoft-365/admin/usage-analytics/usage-analytics-data-model.md
Labels: admin

#4030 Update domains-faq.yml
  microsoft-365/admin/setup/domains-faq.yml
Labels: admin

#4293 Update create-dns-records-at-123-reg-co-uk.md
  microsoft-365/admin/dns/create-dns-records-at-123-reg-co-uk.md
Labels: admin

#4423 Update anti-malware-protection-faq-eop.md
  microsoft-365/security/office-365-security/anti-malware-protection-faq-eop.md
Labels: security

#4300 Update zero-hour-auto-purge.md
  microsoft-365/security/office-365-security/zero-hour-auto-purge.md
Labels: Microsoft submitter, security

#4285 Update attack-simulation-training-get-started.md
  microsoft-365/security/office-365-security/attack-simulation-training-get-started.md
Labels: security

#4412 Update manage-creation-of-groups.md
  microsoft-365/solutions/manage-creation-of-groups.md
Labels: solutions

#4422 Update wipe-mobile-device.md
  microsoft-365/admin/basic-mobility-security/wipe-mobile-device.md
Labels: admin

#4424 Update to 1 image and then export to HAR updated
  microsoft-365/enterprise/page-diagnostics-for-spo.md
Labels: Microsoft submitter

#4425 Update endpoint-dlp-using.md
  microsoft-365/compliance/endpoint-dlp-using.md
Labels: Microsoft submitter

#4416 Re-merging content on license overages
  microsoft-365/enterprise/ms-cloud-germany-transition-add-pre-work.md
  microsoft-365/enterprise/ms-cloud-germany-transition-phases.md
Labels: Microsoft submitter, enterprise

#4245 made changes to powershell commandlet
  microsoft-365/compliance/information-barriers-policies.md
Labels: Microsoft submitter, compliance

#4291 Update insider-risk-solution-overview.md
  microsoft-365/compliance/insider-risk-solution-overview.md
Labels: compliance

#4324 Update insider-risk-management.md
  microsoft-365/compliance/insider-risk-management.md
Labels: compliance

#4440 Remove Chrome dependency, Add Known Issues
  microsoft-365/compliance/dlp-chrome-get-started.md
Labels: Microsoft submitter

#4449 Update office-365-evaluation.md
  microsoft-365/security/office-365-security/office-365-evaluation.md
Labels: Microsoft submitter

#4443 Update ms-cloud-germany-transition-add-adfs.md
  microsoft-365/enterprise/ms-cloud-germany-transition-add-adfs.md
Labels: Microsoft submitter, enterprise

#4241 Updated link to validation document
  microsoft-365/compliance/customer-key-tenant-level.md
Labels: Microsoft submitter

#3748 Update use-microsoft-365-cdn-with-spo.md
  microsoft-365/enterprise/use-microsoft-365-cdn-with-spo.md
Labels: Microsoft submitter, enterprise

#4418 Autopilot Pre-Provisioning Public Preview
  microsoft-365/managed-desktop/get-started/esp-first-run.md
Labels: managed-desktop

#4458 Update create-a-keyword-dictionary.md
  microsoft-365/compliance/create-a-keyword-dictionary.md
Labels: Microsoft submitter, compliance

#4459 Update create-a-custom-sensitive-information-type-in-scc-powershell.md
  microsoft-365/compliance/create-a-custom-sensitive-information-type-in-scc-powershell.md
Labels: Microsoft submitter, compliance

#4467 Update sensitive-information-type-entity-definitions.md
  microsoft-365/compliance/sensitive-information-type-entity-definitions.md
Labels: Microsoft submitter, compliance

#4439 Update cloud-architecture-models.md
  microsoft-365/solutions/cloud-architecture-models.md
Labels: solutions

#4363 Update Basic Mobility&Security comparison areas
  microsoft-365/admin/basic-mobility-security/choose-between-basic-mobility-and-security-and-intune.md
Labels: admin

#4447 Update ms-cloud-germany-transition-phases.md
  microsoft-365/enterprise/ms-cloud-germany-transition-phases.md
Labels: Microsoft submitter, enterprise

#4478 Update define-mail-flow-rules-to-encrypt-email.md
  microsoft-365/compliance/define-mail-flow-rules-to-encrypt-email.md
Labels: Microsoft submitter

#4355 Updating Register Client Application Steps
  microsoft-365/compliance/double-key-encryption.md
Labels: compliance

#4390 Updating Office Version details to avoid confusion
  microsoft-365/compliance/double-key-encryption.md
Labels: compliance

#4482 Update topic-experiences-security-privacy.md
  microsoft-365/knowledge/topic-experiences-security-privacy.md
Labels: Microsoft submitter

#4477 Update bookings-faq.md
  microsoft-365/bookings/bookings-faq.md
Labels: Bookings

#4476 Update delete-calendar.md
  microsoft-365/bookings/delete-calendar.md
Labels: Bookings

#4475 Update release-options-in-office-365.md
  microsoft-365/admin/manage/release-options-in-office-365.md
Labels: admin

#4339 Update microsoft-365-groups-expiration-policy.md
  microsoft-365/solutions/microsoft-365-groups-expiration-policy.md
Labels: solutions

#4463 Update ms-cloud-germany-transition-add-adfs.md
  microsoft-365/enterprise/ms-cloud-germany-transition-add-adfs.md
Labels: Microsoft submitter, enterprise

#4445 Update ms-cloud-germany-transition-add-pre-work.md
  microsoft-365/enterprise/ms-cloud-germany-transition-add-pre-work.md
Labels: Microsoft submitter, enterprise

#4446 Update ms-cloud-germany-transition-add-experience.md
  microsoft-365/enterprise/ms-cloud-germany-transition-add-experience.md
Labels: Microsoft submitter, enterprise

#4468 Update azure-expressroute.md
  microsoft-365/enterprise/azure-expressroute.md
Labels: Microsoft submitter, enterprise

#4508 Update microsoft-365-guest-settings.md
  microsoft-365/solutions/microsoft-365-guest-settings.md
Labels: solutions

#4496 Update manage-quarantined-messages-and-files.md
  microsoft-365/security/office-365-security/manage-quarantined-messages-and-files.md
Labels: Microsoft submitter, security

#4495 Update view-and-release-quarantined-messages-from-shared-mailboxes.md
  microsoft-365/security/office-365-security/view-and-release-quarantined-messages-from-shared-mailboxes.md
Labels: security

#4497 Update find-and-release-quarantined-messages-as-a-user.md
  microsoft-365/security/office-365-security/find-and-release-quarantined-messages-as-a-user.md
Labels: Microsoft submitter, security

#4438 Update move-users-different-subscription.md
  microsoft-365/commerce/subscriptions/move-users-different-subscription.md
Labels: admin

#4237 Update ome-faq.md
  microsoft-365/compliance/ome-faq.md
Labels: Microsoft submitter, compliance

#4262 Update ome-version-comparison.md
  microsoft-365/compliance/ome-version-comparison.md
Labels: Microsoft submitter, compliance

#4354 Added B2B requirements for tenant to valid issuers
  microsoft-365/compliance/double-key-encryption.md
Labels: compliance

#4500 Update microsoft-365-vpn-implement-split-tunnel.md
  microsoft-365/enterprise/microsoft-365-vpn-implement-split-tunnel.md
Labels: Microsoft submitter, enterprise

#4442 Update office-365-network-mac-perf-overview.md
  microsoft-365/enterprise/office-365-network-mac-perf-overview.md
Labels: Microsoft submitter, enterprise

#4444 Fixed erroneous claim about auditing
  microsoft-365/compliance/endpoint-dlp-learn-about.md
Labels: compliance

#4493 Update dlp-microsoft-teams.md
  microsoft-365/compliance/dlp-microsoft-teams.md
Labels: compliance

#4554 Clarification on startup scripts added
  microsoft-365/security/defender-endpoint/configure-endpoints-vdi.md
Labels: Defender for Endpoint, security

#4551 update instructions
  microsoft-365/security/defender-endpoint/configure-email-notifications.md
Labels: Defender for Endpoint, security

#4548 SafeDocs requires MDE onboarding
  microsoft-365/security/defender-endpoint/onboarding.md
Labels: Defender for Endpoint, SafeDocs, security

#4552 Update connect-to-microsoft-365-powershell.md
  microsoft-365/enterprise/connect-to-microsoft-365-powershell.md
Labels: enterprise

#4517 Update minimum-requirements.md
  microsoft-365/security/defender-endpoint/minimum-requirements.md
Labels: Defender for Endpoint, security

#4542 Update ms-cloud-germany-transition-add-pre-work.md
  microsoft-365/enterprise/ms-cloud-germany-transition-add-pre-work.md
Labels: enterprise

#4545 Update index.md
  microsoft-365/managed-desktop/service-description/index.md
Labels: managed-desktop

#4544 Update apps-MCS.md
  microsoft-365/managed-desktop/get-ready/apps-MCS.md
Labels: managed-desktop

#4543 Update index.md
  microsoft-365/managed-desktop/intro/index.md
Labels: managed-desktop

#4484 Update threat-explorer.md
  microsoft-365/security/office-365-security/threat-explorer.md
Labels: Defender for Office 365, Microsoft submitter, security

#4534 Update access-resources.md
  microsoft-365/business/access-resources.md
Labels: business

#4492 Update turn-off-directory-synchronization.md
  microsoft-365/enterprise/turn-off-directory-synchronization.md
Labels: Microsoft submitter, enterprise

#4547 Included Application Guard
  microsoft-365/security/office-365-security/safe-docs.md
Labels: Defender for Office 365, security

#4569 Update view-documents-in-review-set.md
  microsoft-365/compliance/view-documents-in-review-set.md
Labels: compliance

#4558 AAD Stage5 and fixed up sections on licensing again
  microsoft-365/enterprise/ms-cloud-germany-transition-add-experience.md
  microsoft-365/enterprise/ms-cloud-germany-transition-add-pre-work.md
  microsoft-365/enterprise/ms-cloud-germany-transition-phases.md
  microsoft-365/enterprise/ms-cloud-germany-transition.md
  microsoft-365/media/ms-cloud-germany-migration-opt-in/migration-organization.png
Labels: Microsoft submitter, enterprise

#4532 Updated Script Sample
  microsoft-365/compliance/unlimited-archiving.md
  microsoft-365/enterprise/cross-tenant-mailbox-migration.md
Labels: enterprise

#4546 Latest updates (minor)
  microsoft-365/security/office-365-security/install-app-guard.md
Labels: security

#4535 Update create-ediscovery-holds.md
  microsoft-365/compliance/create-ediscovery-holds.md
Labels: compliance
