Repository MicrosoftDocs/microsoft-365-docs, pull requests merged in 2021-09, with the labels that each got.

#6178 Fixing Links & Namings
  microsoft-365/compliance/customer-key-overview.md
  microsoft-365/contentunderstanding/adoption-getstarted.md
  microsoft-365/contentunderstanding/trial-syntex.md
  microsoft-365/knowledge/topics-adoption-getstarted.md
  microsoft-365/security/defender/eval-defender-endpoint-enable-eval.md
  microsoft-365/security/defender/eval-defender-investigate-respond-additional.md
  microsoft-365/security/defender/eval-defender-investigate-respond-simulate-attack.md
  microsoft-365/security/defender/overview-security-center.md
Labels: compliance

#6218 Update connect-to-microsoft-365-powershell.md
  microsoft-365/enterprise/connect-to-microsoft-365-powershell.md
Labels: admin

#6224 Defender for macOS 101.40.84 release notes
  microsoft-365/security/defender-endpoint/mac-whatsnew.md
Labels: Microsoft submitter, Defender for Endpoint

#6228 Update respond-machine-alerts.md
  microsoft-365/security/defender-endpoint/respond-machine-alerts.md
Labels: Defender for Endpoint

#6232 Update use-the-delist-portal-to-remove-yourself-from-the-office-365-b…
  microsoft-365/security/office-365-security/use-the-delist-portal-to-remove-yourself-from-the-office-365-blocked-senders-lis.md
Labels: Microsoft submitter

#6234 Update onedrive-lti.md
  microsoft-365/lti/onedrive-lti.md
Labels: Microsoft submitter

#6182 Included Singapore in the list of examples
  microsoft-365/enterprise/microsoft-365-networking-china.md
Labels: enterprise, Microsoft submitter

#5430 Updating the doc for browser usage report
  microsoft-365/admin/activity-reports/browser-usage-report.md
Labels: Microsoft submitter, admin

#6229 Update turn-audit-log-search-on-or-off.md
  microsoft-365/compliance/turn-audit-log-search-on-or-off.md
  microsoft-365/media/AuditStatusAuditingDisabled.png
  microsoft-365/media/AuditStatusAuditingEnabled.png
Labels: compliance, Microsoft submitter

#6249 update privacy change
  microsoft-365/admin/activity-reports/activity-reports.md
Labels: Microsoft submitter

#6250 update power BI report statement
  microsoft-365/admin/usage-analytics/enable-usage-analytics.md
Labels: Microsoft submitter

#6252 Update sensitive-information-type-entity-definitions.md
  microsoft-365/compliance/sensitive-information-type-entity-definitions.md
Labels: Microsoft submitter

#6258 Update tenant-allow-block-list.md
  microsoft-365/security/office-365-security/tenant-allow-block-list.md
Labels: Microsoft submitter, Defender for Office 365

#6255 Fix article list in 'Related content'
  microsoft-365/admin/manage/manage-deployment-of-add-ins.md
Labels: admin

#6273 Update advanced-hunting-overview.md
  microsoft-365/security/defender-endpoint/advanced-hunting-overview.md
Labels: Defender for Endpoint

#6272 Update exposed-apis-odata-samples.md
  microsoft-365/security/defender-endpoint/exposed-apis-odata-samples.md
Labels: Defender for Endpoint

#6267 Update overview-hardware-based-isolation.md
  microsoft-365/security/defender-endpoint/overview-hardware-based-isolation.md
Labels: Defender for Endpoint

#6261 Add new report columns
  microsoft-365/admin/activity-reports/mailbox-usage.md
Labels: Microsoft submitter, admin

#6270 Update configure-email-forwarding.md
  microsoft-365/admin/email/configure-email-forwarding.md
Labels: admin

#6274 Update monitor-connectivity.md
  microsoft-365/enterprise/monitor-connectivity.md
Labels: enterprise

#6262 Typo within code example
  microsoft-365/security/defender/api-create-app-user-context.md
Labels: Microsoft 365 Defender

#6264 Incorrect link fix
  microsoft-365/enterprise/microsoft-365-vpn-implement-split-tunnel.md
Labels: enterprise

#6225 Update dlp-policy-reference.md
  microsoft-365/compliance/dlp-policy-reference.md
Labels: compliance, Microsoft submitter

#6245 Update create-a-custom-sensitive-information-type.md
  microsoft-365/compliance/create-a-custom-sensitive-information-type.md
Labels: compliance, Microsoft submitter

#6246 Update create-a-keyword-dictionary.md
  microsoft-365/compliance/create-a-keyword-dictionary.md
Labels: compliance, Microsoft submitter

#6247 Update sensitive-information-type-learn-about.md
  microsoft-365/compliance/sensitive-information-type-learn-about.md
Labels: compliance, Microsoft submitter

#6248 Update mip-dbcs-relnotes.md
  microsoft-365/compliance/mip-dbcs-relnotes.md
Labels: compliance, Microsoft submitter

#6244 Added information about the configurable error threshold capability i…
  microsoft-365/compliance/create-custom-sensitive-information-types-with-exact-data-match-based-classification.md
Labels: compliance, Microsoft submitter

#6294 Update view-email-security-reports.md
  microsoft-365/security/office-365-security/view-email-security-reports.md
Labels: Microsoft submitter

#6207 Update deep link to portal launch
  microsoft-365/enterprise/PortalLaunchScheduler.md
Labels: enterprise, Microsoft submitter

#6165 Update dlp-chrome-get-started.md
  microsoft-365/compliance/dlp-chrome-get-started.md
Labels: compliance

#6284 Update safe-links.md
  microsoft-365/security/office-365-security/safe-links.md
Labels: security, Microsoft submitter

#6299 Create customer-key-manage.md
  microsoft-365/compliance/customer-key-manage.md
Labels: compliance, Microsoft submitter

#6269 Update about-shared-mailboxes.md
  microsoft-365/admin/email/about-shared-mailboxes.md
Labels: admin

#6302 Addfeedback
  microsoft-365/security/defender-endpoint/android-support-signin.md
  microsoft-365/security/defender-endpoint/images/finalSubmit5.png
  microsoft-365/security/defender-endpoint/images/reportIssue4.jpeg
  microsoft-365/security/defender-endpoint/images/search-battery-optimisation.png
  microsoft-365/security/defender-endpoint/images/select-dont-optimise.png
  microsoft-365/security/defender-endpoint/images/selectHelpandFeedback2.png
  microsoft-365/security/defender-endpoint/images/selectProfileIcon1.jpeg
  microsoft-365/security/defender-endpoint/images/sendFeedbacktoMicrosoft3.jpeg
  microsoft-365/security/defender-endpoint/images/show-all-apps-1.png
  microsoft-365/security/defender-endpoint/images/show-all-apps-2.png
  microsoft-365/security/defender-endpoint/images/special-app-access.png
Labels: Microsoft submitter, Defender for Endpoint

#6304 Update create-a-dlp-policy-from-a-template.md
  microsoft-365/compliance/create-a-dlp-policy-from-a-template.md
Labels: compliance

#6303 Update configure-arcsight.md
  microsoft-365/security/defender-endpoint/configure-arcsight.md
Labels: Defender for Endpoint

#6297 Update migrate-email.md
  microsoft-365/business-video/moveto-microsoft-365/migrate-email.md
Labels: business

#5550 Update room-and-equipment-mailboxes.md
  microsoft-365/admin/manage/room-and-equipment-mailboxes.md
Labels: Microsoft submitter, admin

#6301 Update use-drive-shipping-to-import-pst-files-to-office-365.md
  microsoft-365/compliance/use-drive-shipping-to-import-pst-files-to-office-365.md
Labels: compliance

#6298 inclusive definition updatea
  microsoft-365/compliance/email-threading-in-advanced-ediscovery.md
Labels: compliance

#6292 Update configure-services-and-applications.md
  microsoft-365/enterprise/configure-services-and-applications.md
Labels: enterprise

#6314 Corrected Reinstall Microsoft Defender Antivirus
  microsoft-365/security/defender-endpoint/switch-to-microsoft-defender-setup.md
Labels: Microsoft submitter, Defender for Endpoint

#6300 Update get-started-windows-365-business.md
  microsoft-365/admin/setup/get-started-windows-365-business.md
Labels: admin

#5544 Update create-dns-records-at-any-dns-hosting-provider.md
  microsoft-365/admin/get-help-with-domains/create-dns-records-at-any-dns-hosting-provider.md
Labels: admin

#6223 Update configure-email-forwarding.md
  microsoft-365/admin/email/configure-email-forwarding.md
Labels: admin

#6268 Update domains-faq.yml
  microsoft-365/admin/setup/domains-faq.yml
Labels: admin

#6221 Update activity-reports.md
  microsoft-365/admin/activity-reports/activity-reports.md
Labels: admin

#6070 Update delete-a-user.md
  microsoft-365/admin/add-users/delete-a-user.md
Labels: admin

#6329 Update XMDE Client Analyzer performance support doc
  microsoft-365/security/defender-endpoint/run-analyzer-macos-linux.md
Labels: Microsoft submitter

#6330 Update convert-user-mailbox-to-shared-mailbox.md
  microsoft-365/admin/email/convert-user-mailbox-to-shared-mailbox.md
Labels: admin

#6332 Update tune-performance-defender-antivirus.md
  microsoft-365/security/defender-endpoint/tune-performance-defender-antivirus.md
Labels: Microsoft submitter, Defender for Endpoint

#6331 Update attack-surface-reduction-rules.md
  microsoft-365/security/defender-endpoint/attack-surface-reduction-rules.md
Labels: Microsoft submitter, Defender for Endpoint

#6323 Update update-payment.md
  microsoft-365/business-video/update-payment.md
Labels: admin

#6334 Update room-and-equipment-mailboxes.md
  microsoft-365/admin/manage/room-and-equipment-mailboxes.md
Labels: Microsoft submitter, admin

#6361 Added ScanAfterDefinitionUpdate preference
  microsoft-365/security/defender-endpoint/mac-preferences.md
Labels: Microsoft submitter, Defender for Endpoint

#6357 Update reports.md
  microsoft-365/managed-desktop/working-with-managed-desktop/reports.md
Labels: Microsoft submitter, managed-desktop

#6339 Update activity-reports help documentation
  microsoft-365/admin/activity-reports/activity-reports.md
Labels: admin

#6201 Update readiness-assessment-fix.md
  microsoft-365/managed-desktop/get-ready/readiness-assessment-fix.md
Labels: managed-desktop

#6367 Update machineaction.md computerDnsName
  microsoft-365/security/defender-endpoint/machineaction.md
Labels: Defender for Endpoint

#6376 Updated EULA for MDE iOS
  microsoft-365/security/defender-endpoint/ios-terms.md
Labels: Microsoft submitter

#6198 Update teams-classes-with-canvas.md
  microsoft-365/lti/teams-classes-with-canvas.md
Labels: admin

#6381 Update linux-install-with-ansible.md
  microsoft-365/security/defender-endpoint/linux-install-with-ansible.md
Labels: Defender for Endpoint

#6380 Update bookings-faq.yml
  microsoft-365/bookings/bookings-faq.yml
Labels: Bookings

#6379 Update create-a-shared-mailbox.md
  microsoft-365/admin/email/create-a-shared-mailbox.md
Labels: admin

#6383 Update run-detection-test.md
  microsoft-365/security/defender-endpoint/run-detection-test.md
Labels: Microsoft submitter

#6386 Update configure-advanced-delivery.md
  microsoft-365/security/office-365-security/configure-advanced-delivery.md
Labels: Microsoft submitter

#5592 Cross-tenant mailbox migration updates
  microsoft-365/enterprise/cross-tenant-mailbox-migration.md
  microsoft-365/media/tenant-to-tenant-mailbox-move/archive/invited-by-target-tenant.png
  microsoft-365/media/tenant-to-tenant-mailbox-move/archive/permissions-requested-accept.png
  microsoft-365/media/tenant-to-tenant-mailbox-move/archive/permissions-requested-dialog.png
  microsoft-365/media/tenant-to-tenant-mailbox-move/csv-sample.png
  microsoft-365/media/tenant-to-tenant-mailbox-move/invited-by-target-tenant.png
  microsoft-365/media/tenant-to-tenant-mailbox-move/permissions-requested-accept.png
  microsoft-365/media/tenant-to-tenant-mailbox-move/permissions-requested-dialog.png
Labels: enterprise, Microsoft submitter

#6352 include requirements to decrypt in E3
  microsoft-365/compliance/ediscovery-decryption.md
Labels: compliance

#6384 Update alert-policies.md
  microsoft-365/compliance/alert-policies.md
Labels: compliance, Microsoft submitter

#6316 Rule needs to be enabled
  microsoft-365/compliance/use-a-script-to-add-users-to-a-hold-in-ediscovery.md
Labels: compliance

#6030 Update binaries.md
  microsoft-365/test-base/binaries.md
Labels: M365 test-base

#6387 Had issues with XML comments causing issues.
  microsoft-365/security/defender-endpoint/device-control-removable-storage-access-control.md
Labels: Defender for Endpoint

#6400 Update syntex-licensing.md
  microsoft-365/contentunderstanding/syntex-licensing.md
Labels: Microsoft submitter

#6396 Added scanAfterDefinitionUpdate config preference
  microsoft-365/security/defender-endpoint/linux-preferences.md
Labels: Microsoft submitter

#6408 Fixed ms.date value
  microsoft-365/commerce/about-registration-numbers.md
Labels: Microsoft submitter

#6407 Added "in" to "What's new Microsoft 365 Defender?" (=> "What's new in…
  microsoft-365/security/defender/index.yml
Labels: Microsoft submitter, Defender for Endpoint

#6403 Update export-search-results.md
  microsoft-365/compliance/export-search-results.md
Labels: compliance

#6406 M365D APIs are GA - not Preview
  microsoft-365/security/defender/index.yml
Labels: Microsoft submitter, Microsoft 365 Defender

#6405 Update additional-office365-ip-addresses-and-urls.md for Microsoft Graph Change Notifications
  microsoft-365/enterprise/additional-office365-ip-addresses-and-urls.md
Labels: enterprise

#6399 Updated EULA based on CELA suggestion
  microsoft-365/security/defender-endpoint/ios-terms.md
Labels: Microsoft submitter, Defender for Endpoint

#6417 Update solution-manage-contracts-in-microsoft-365.md
  microsoft-365/contentunderstanding/solution-manage-contracts-in-microsoft-365.md
Labels: Microsoft submitter

#6169 Update get-all-recommendations.md
  microsoft-365/security/defender-endpoint/get-all-recommendations.md
Labels: Defender for Endpoint

#5692 Clarify MRP flag setting SLA
  microsoft-365/compliance/customer-key-set-up.md
Labels: compliance

#6423 Update attack-surface-reduction-rules.md
  microsoft-365/security/defender-endpoint/attack-surface-reduction-rules.md
Labels: Defender for Endpoint

#6419 Case Sensitivity
  microsoft-365/security/defender-endpoint/device-control-removable-storage-access-control.md
Labels: Defender for Endpoint

#6425 minor update
  microsoft-365/admin/add-users/about-admin-roles.md
Labels: admin

#6392 Update recover from ransomware
  microsoft-365/security/office-365-security/recover-from-ransomware.md
Labels: Defender for Office 365

#6428 Update ios-install-unmanaged.md
  microsoft-365/security/defender-endpoint/ios-install-unmanaged.md
Labels: Defender for Endpoint

#6414 Update user-submission.md
  microsoft-365/security/office-365-security/user-submission.md
Labels: Defender for Office 365

#6434 Update scheduler-setup.md
  microsoft-365/scheduler/scheduler-setup.md
Labels: Microsoft 365 scheduler

#6438 Removing preview tags
  microsoft-365/security/defender-endpoint/web-content-filtering.md
Labels: Defender for Endpoint

#6435 Update add-another-email-alias-for-a-user.md
  microsoft-365/admin/email/add-another-email-alias-for-a-user.md
Labels: admin

#6436 Update microsoft-365-exchange-monitoring.md
  microsoft-365/enterprise/microsoft-365-exchange-monitoring.md
Labels: enterprise

#6437 Update get-machines.md
  microsoft-365/security/defender-endpoint/get-machines.md
Labels: Defender for Endpoint

#6426 Update index.yml
  microsoft-365/commerce/index.yml
Labels: business, Microsoft submitter

#6446 Edited for availability of non-English payloads
  microsoft-365/media/attack-sim-preview-payload-email-body.png
  microsoft-365/security/office-365-security/attack-simulation-training-payloads.md
  microsoft-365/security/office-365-security/attack-simulation-training.md
Labels: Microsoft submitter, Defender for Office 365

#6450 Updating with details for on-premises mailboxes
  microsoft-365/security/office-365-security/external-email-forwarding.md
Labels: Microsoft submitter

#6440 Docs for new ART check
  microsoft-365/managed-desktop/get-ready/readiness-assessment-fix.md
Labels: managed-desktop

#6449 Update troubleshoot-np.md
  microsoft-365/security/defender-endpoint/troubleshoot-np.md
Labels: Microsoft submitter, Defender for Endpoint

#6441 Update unlimited-archiving.md
  microsoft-365/compliance/unlimited-archiving.md
Labels: compliance, Microsoft submitter

#6442 Update enable-unlimited-archiving.md
  microsoft-365/compliance/enable-unlimited-archiving.md
Labels: compliance, Microsoft submitter

#6461 Fixed typos in the powershell script
  microsoft-365/scheduler/scheduler-setup.md
Labels: Microsoft submitter, Microsoft 365 scheduler

#6463 Update commit-draft-collection.md
  microsoft-365/compliance/commit-draft-collection.md
Labels: Microsoft submitter

#6466 Update for support on M1 chipsets (now GA)
  microsoft-365/security/defender-endpoint/microsoft-defender-endpoint-mac.md
Labels: Microsoft submitter, Defender for Endpoint

#6462 Update mde-device-control-device-installation.md
  microsoft-365/security/defender-endpoint/mde-device-control-device-installation.md
Labels: Microsoft submitter, Defender for Endpoint

#5527 Update ome-faq.yml
  microsoft-365/compliance/ome-faq.yml
Labels: compliance, Microsoft submitter

#6476 Revert "Update ome-faq.yml"
  microsoft-365/compliance/ome-faq.yml
Labels: Microsoft submitter
