Repository MicrosoftDocs/microsoft-365-docs, pull requests merged in 2021-02, with the labels that each got.

#3930 Update encryption-office-365-certificate-chains.md
  microsoft-365/compliance/encryption-office-365-certificate-chains.md
Labels: compliance

#2828 Proposed changes creating Custom SIT in PowerShell
  microsoft-365/compliance/create-a-custom-sensitive-information-type-in-scc-powershell.md
Labels: Microsoft submitter, compliance

#3735 Update create-custom-sensitive-information-types-with-exact-data-matc…
  microsoft-365/compliance/create-custom-sensitive-information-types-with-exact-data-match-based-classification.md
Labels: Microsoft submitter, compliance

#3754 Updated the rule package syntax to avoid too broad Classification element
  microsoft-365/compliance/create-custom-sensitive-information-types-with-exact-data-match-based-classification.md
Labels: compliance

#3784 Update endpoint-dlp-getting-started.md
  microsoft-365/compliance/endpoint-dlp-getting-started.md
Labels: Microsoft submitter, compliance

#3863 Update data-classification-content-explorer.md
  microsoft-365/compliance/data-classification-content-explorer.md
Labels: compliance

#3988 Update data-classification-content-explorer.md
  microsoft-365/compliance/data-classification-content-explorer.md
Labels: compliance

#3786 Update endpoint-dlp-getting-started.md
  microsoft-365/compliance/endpoint-dlp-getting-started.md
Labels: compliance

#4036 Update office-365-evaluation.md
  microsoft-365/security/office-365-security/office-365-evaluation.md
Labels: Microsoft submitter

#4014 Update set-up-content-understanding.md
  microsoft-365/contentunderstanding/set-up-content-understanding.md
Labels: Microsoft submitter

#4018 Update office-365-groups.md
  microsoft-365/admin/create-groups/office-365-groups.md
Labels: admin

#4038 Update sensitive-information-type-entity-definitions.md
  microsoft-365/compliance/sensitive-information-type-entity-definitions.md
Labels: Microsoft submitter, compliance

#3380 Update technologies.md
  microsoft-365/managed-desktop/intro/technologies.md
Labels: managed-desktop

#4037 Update endpoint-dlp-using.md
  microsoft-365/compliance/endpoint-dlp-using.md
Labels: Microsoft submitter, compliance

#4015 Update install-app-guard.md
  microsoft-365/security/office-365-security/install-app-guard.md
Labels: security

#4041 Update enable-the-report-phish-add-in.md
  microsoft-365/security/office-365-security/enable-the-report-phish-add-in.md
Labels: Microsoft submitter, security

#4040 Update enable-the-report-message-add-in.md
  microsoft-365/security/office-365-security/enable-the-report-message-add-in.md
Labels: Microsoft submitter, security

#4051 Update advanced-audit.md
  microsoft-365/compliance/advanced-audit.md
Labels: compliance

#4013 Update add-autopilot-devices-and-profile.md
  microsoft-365/business/add-autopilot-devices-and-profile.md
Labels: business

#4035 Update communication.md
  microsoft-365/admin/productivity/communication.md
Labels: admin

#4045 Update revoke-ome-encrypted-mail.md
  microsoft-365/compliance/revoke-ome-encrypted-mail.md
Labels: Microsoft submitter, compliance

#4061 Update ms-cloud-germany-transition-phases.md
  microsoft-365/enterprise/ms-cloud-germany-transition-phases.md
Labels: Microsoft submitter, enterprise

#4060 Update access-admin-portal.md
  microsoft-365/managed-desktop/get-started/access-admin-portal.md
Labels: managed-desktop

#4068 Update readiness-assessment-fix.md
  microsoft-365/managed-desktop/get-ready/readiness-assessment-fix.md
Labels: Microsoft submitter

#3676 Remove (i) Important note about group type
  microsoft-365/solutions/manage-creation-of-groups.md
Labels: Microsoft submitter, solutions

#4059 Update use-qr-code-download-outlook.md
  microsoft-365/admin/manage/use-qr-code-download-outlook.md
Labels: admin

#4048 Update sp-compatible-pdf-readers-for-irm.md
  microsoft-365/compliance/sp-compatible-pdf-readers-for-irm.md
Labels: compliance

#4064 Update readiness-assessment-tool.md
  microsoft-365/managed-desktop/get-ready/readiness-assessment-tool.md
Labels: managed-desktop

#4075 Update set-up-content-understanding.md
  microsoft-365/contentunderstanding/set-up-content-understanding.md
Labels: enterprise

#4074 Update office-365-network-mac-perf-overview.md
  microsoft-365/enterprise/office-365-network-mac-perf-overview.md
Labels: enterprise

#4082 Update ms-cloud-germany-transition.md
  microsoft-365/enterprise/ms-cloud-germany-transition.md
Labels: Microsoft submitter, enterprise

#4076 made a minor change per field feedback
  microsoft-365/compliance/retention-policies-teams.md
Labels: Microsoft submitter, compliance

#4079 Update integrate-office-365-ti-with-wdatp.md
  microsoft-365/security/office-365-security/integrate-office-365-ti-with-wdatp.md
Labels: Microsoft submitter, security

#4081 fixed typos
  microsoft-365/business-video/moveto-microsoft-365/mover-migrate-files.md
Labels: business

#4092 Changed deprecate to disable
  microsoft-365/compliance/tls-1-2-in-office-365-gcc.md
Labels: Microsoft submitter

#4070 Update sensitive-information-type-learn-about.md
  microsoft-365/compliance/sensitive-information-type-learn-about.md
Labels: compliance

#4019 Replaced the term "sensitive info type collection" with "Rule package…
  microsoft-365/compliance/create-a-custom-sensitive-information-type-in-scc-powershell.md
Labels: compliance

#4097 Update microsoft-365-security-center-mde.md
  microsoft-365/security/mtp/microsoft-365-security-center-mde.md
Labels: Microsoft submitter, security

#4111 Revert "Update microsoft-365-security-center-mde.md"
  microsoft-365/security/mtp/microsoft-365-security-center-mde.md
Labels: Microsoft submitter

#4102 Update access-resources.md
  microsoft-365/business/access-resources.md
Labels: admin

#4107 Update air-remediation-actions.md
  microsoft-365/security/office-365-security/air-remediation-actions.md
Labels: security

#4069 Update threat-explorer.md
  microsoft-365/security/office-365-security/threat-explorer.md
Labels: security

#4062 update docs for Usage reports
  microsoft-365/admin/activity-reports/microsoft-teams-device-usage-preview.md
  microsoft-365/admin/activity-reports/microsoft-teams-user-activity-preview.md
  microsoft-365/admin/activity-reports/sharepoint-site-usage-ww.md
  microsoft-365/media/71ac3195-c494-40c1-9346-a858125ef6df.png
Labels: Microsoft submitter, admin

#4114 Update technologies.md
  microsoft-365/managed-desktop/intro/technologies.md
Labels: managed-desktop

#4122 Fixed minor typo
  microsoft-365/compliance/compliance-manager-setup.md
Labels: compliance

#4120 note for Attack Simulator v1 retirement
  microsoft-365/security/office-365-security/attack-simulator.md
Labels: Microsoft submitter, security

#3788 Update cancel-your-subscription.md
  microsoft-365/commerce/subscriptions/cancel-your-subscription.md
Labels: admin

#4140 Update ms-cloud-germany-transition-add-pre-work.md
  microsoft-365/enterprise/ms-cloud-germany-transition-add-pre-work.md
Labels: Microsoft submitter

#4141 Update ms-cloud-germany-transition-add-experience.md
  microsoft-365/enterprise/ms-cloud-germany-transition-add-experience.md
Labels: Microsoft submitter

#4142 Update ms-cloud-germany-transition-phases.md
  microsoft-365/enterprise/ms-cloud-germany-transition-phases.md
Labels: Microsoft submitter

#4143 Update ms-cloud-germany-transition-add-pre-work.md
  microsoft-365/enterprise/ms-cloud-germany-transition-add-pre-work.md
Labels: Microsoft submitter

#4147 Update index.md
  microsoft-365/managed-desktop/get-ready/index.md
Labels: Microsoft submitter

#4110 minor changes based on PM feedback
  microsoft-365/compliance/customer-key-tenant-level.md
Labels: Microsoft submitter, compliance

#4106 Update report-junk-email-and-phishing-scams-in-outlook-for-iOS-and-An…
  microsoft-365/security/office-365-security/report-junk-email-and-phishing-scams-in-outlook-for-iOS-and-Android.md
Labels: Microsoft submitter, security

#4158 Update sensitive-information-type-entity-definitions.md
  microsoft-365/compliance/sensitive-information-type-entity-definitions.md
Labels: Microsoft submitter, compliance

#4154 Update protect-documents-that-have-fci-or-other-properties.md
  microsoft-365/compliance/protect-documents-that-have-fci-or-other-properties.md
Labels: Microsoft submitter, compliance

#4145 Update set-up-anti-phishing-policies.md
  microsoft-365/security/office-365-security/set-up-anti-phishing-policies.md
Labels: Microsoft submitter, security

#4113 Update external-email-forwarding.md
  microsoft-365/security/office-365-security/external-email-forwarding.md
Labels: Microsoft submitter, security

#4112 Update external-email-forwarding.md
  microsoft-365/security/office-365-security/external-email-forwarding.md
Labels: Microsoft submitter, security

#4073 Update preview.md
  microsoft-365/security/mtp/preview.md
Labels: security

#4072 Update tenant-allow-block-list.md
  microsoft-365/security/office-365-security/tenant-allow-block-list.md
Labels: Microsoft submitter, security

#4152 Update microsoft-defender-for-office.md
  microsoft-365/security/includes/microsoft-defender-for-office.md
Labels: Microsoft submitter

#4071 Update whats-new-in-office-365-atp.md
  microsoft-365/security/office-365-security/whats-new-in-office-365-atp.md
Labels: security

#4021 Update atp-safe-links.md
  microsoft-365/security/office-365-security/atp-safe-links.md
Labels: security

#3883 Update view-reports-for-atp.md
  microsoft-365/security/office-365-security/view-reports-for-atp.md
Labels: security

#3875 Update virus-detection-in-spo.md
  microsoft-365/security/office-365-security/virus-detection-in-spo.md
Labels: security

#4138 Updates based on engg team
  microsoft-365/compliance/information-barriers-policies.md
Labels: Microsoft submitter, compliance

#4137 changes based on engg feedback.
  microsoft-365/compliance/information-barriers-policies.md
Labels: Microsoft submitter, compliance

#4108 Added initial detail to the definition of terms
  microsoft-365/enterprise/modern-web-part-optimization.md
Labels: Microsoft submitter, enterprise

#4109 Added additional information the definitions
  microsoft-365/enterprise/modern-custom-extensions.md
Labels: Microsoft submitter, enterprise

#4050 Updated and added to potential validation section
  microsoft-365/compliance/create-a-custom-sensitive-information-type-in-scc-powershell.md
Labels: Microsoft submitter, compliance

#3852 Update create-a-shared-mailbox.md
  microsoft-365/admin/email/create-a-shared-mailbox.md
Labels: admin

#4157 Update protect-your-global-administrator-accounts.md
  microsoft-365/enterprise/protect-your-global-administrator-accounts.md
Labels: enterprise

#3864 Update remove-licenses-from-user-accounts-with-microsoft-365-powershe…
  microsoft-365/enterprise/remove-licenses-from-user-accounts-with-microsoft-365-powershell.md
Labels: enterprise

#4182 Update compliance.md
  microsoft-365/managed-desktop/intro/compliance.md
Labels: Microsoft submitter

#4044 Documentation updates for new changes (Alert ID, Data retention for Trial tenants, change in Export limits) for MDO Threat Explorer/Alerts
  microsoft-365/media/AlertID-DetailsFlyout.png
  microsoft-365/media/AlertID-Filter.png
  microsoft-365/security/office-365-security/threat-explorer-views.md
  microsoft-365/security/office-365-security/threat-explorer.md
  microsoft-365/security/office-365-security/whats-new-in-office-365-atp.md
Labels: Microsoft submitter, security

#3774 Update privacy.md
  microsoft-365/admin/productivity/privacy.md
Labels: admin

#4187 Sarahwxy
  microsoft-365/admin/activity-reports/microsoft-teams-user-activity-preview.md
  microsoft-365/media/6d3c013e-2c5e-4d66-bb41-998aa4bd1c20.png
Labels: Microsoft submitter, admin

#4184 Update create-a-topic.md
  microsoft-365/knowledge/create-a-topic.md
Labels: enterprise

#3794 Update m365-campaigns-conditional-access.md
  microsoft-365/campaigns/m365-campaigns-conditional-access.md
Labels: campaigns

#3947 Update manage-deployment-of-add-ins.md
  microsoft-365/admin/manage/manage-deployment-of-add-ins.md
Labels: admin

#4173 typo
  microsoft-365/compliance/customer-key-tenant-level.md
Labels: Microsoft submitter, compliance

#4093 More review from Fasheng and Hani
  microsoft-365/compliance/tls-1-2-in-office-365-gcc.md
Labels: Microsoft submitter, compliance

#4215 Update search-the-audit-log-in-security-and-compliance.md
  microsoft-365/compliance/search-the-audit-log-in-security-and-compliance.md
Labels: Microsoft submitter

#4209 Update security-roadmap.md
  microsoft-365/security/office-365-security/security-roadmap.md
Labels: security

#4216 Removing Tag Contributor role from documentation
  microsoft-365/security/office-365-security/user-tags.md
Labels: security

#4234 Update search-the-audit-log-in-security-and-compliance.md
  microsoft-365/compliance/search-the-audit-log-in-security-and-compliance.md
Labels: Microsoft submitter

#4200 Update create-safe-sender-lists-in-office-365.md
  microsoft-365/security/office-365-security/create-safe-sender-lists-in-office-365.md
Labels: security

#4196 Update ms-cloud-germany-transition-add-experience.md
  microsoft-365/enterprise/ms-cloud-germany-transition-add-experience.md
Labels: Microsoft submitter, enterprise

#4220 Update setup-guides-for-microsoft-365.md
  microsoft-365/enterprise/setup-guides-for-microsoft-365.md
Labels: enterprise

#4219 Update manage-guest-access-in-groups.md
  microsoft-365/admin/create-groups/manage-guest-access-in-groups.md
Labels: admin

#4257 Update office-365-evaluation.md
  microsoft-365/security/office-365-security/office-365-evaluation.md
Labels: Microsoft submitter

#4268 Update prerequisites.md
  microsoft-365/managed-desktop/get-ready/prerequisites.md
Labels: Microsoft submitter

#4195 Update use-notifications-and-policy-tips.md
  microsoft-365/compliance/use-notifications-and-policy-tips.md
Labels: compliance
