Repository MicrosoftDocs/microsoft-365-docs, pull requests merged in 2021-08, with the labels that each got.

#5606 Noting ingestion_time() vs. Timestamp
  microsoft-365/security/defender/custom-detection-rules.md
Labels: Defender for Endpoint, Microsoft submitter

#5798 Update enable-network-protection.md
  microsoft-365/security/defender-endpoint/enable-network-protection.md
Labels: Defender for Endpoint

#5790 Clarify rewrite activity: Update safe-links.md
  microsoft-365/security/office-365-security/safe-links.md
Labels: Microsoft submitter, security

#5792 Update configure-proxy-internet.md
  microsoft-365/security/defender-endpoint/configure-proxy-internet.md
Labels: Defender for Endpoint

#5794 Update whats-new.md
  microsoft-365/security/defender/whats-new.md
Labels: Microsoft 365 Defender, security

#5797 Update configure-exchange-server-for-hybrid-modern-authentication.md
  microsoft-365/enterprise/configure-exchange-server-for-hybrid-modern-authentication.md
Labels: enterprise

#5815 Update attack-simulation-training.md
  microsoft-365/security/office-365-security/attack-simulation-training.md
Labels: Defender for Office 365, Microsoft submitter

#5816 Update attack-simulation-training-payloads.md
  microsoft-365/security/office-365-security/attack-simulation-training-payloads.md
Labels: Defender for Office 365, Microsoft submitter

#5795 Update enable-the-report-message-add-in.md
  microsoft-365/security/office-365-security/enable-the-report-message-add-in.md
Labels: security

#5770 update overview for PBI doc
  microsoft-365/admin/usage-analytics/usage-analytics.md
Labels: Microsoft submitter, admin

#5818 lot of changes here. please email me for question
  microsoft-365/security/office-365-security/quarantine-policy.md
Labels: Microsoft submitter

#5821 Updates to Advanced Audit and 10 year details
  microsoft-365/compliance/advanced-audit.md
Labels: Microsoft submitter

#5796 Update configure-endpoints-gp.md
  microsoft-365/security/defender-endpoint/configure-endpoints-gp.md
Labels: Defender for Endpoint

#5782 Update whats-new-in-defender-for-office-365.md
  microsoft-365/security/office-365-security/whats-new-in-defender-for-office-365.md
Labels: Defender for Office 365, Microsoft submitter

#5846 Fixed ms.reviewer metadata
  microsoft-365/commerce/licenses/product-keys-faq.yml
Labels: Microsoft submitter

#5847 Fixed ms.reviewer metadata
  microsoft-365/commerce/licenses/online-service-activation-faq.yml
Labels: Microsoft submitter

#5848 Fixed ms.reviewer metadata
  microsoft-365/commerce/licenses/downloads-faq.yml
Labels: Microsoft submitter

#5844 Update data-classification-activity-explorer-available-events.md
  microsoft-365/compliance/data-classification-activity-explorer-available-events.md
Labels: Microsoft submitter, compliance

#5838 Update data-classification-content-explorer.md
  microsoft-365/compliance/data-classification-content-explorer.md
Labels: Microsoft submitter, compliance

#5852 Update alert-policies.md
  microsoft-365/compliance/alert-policies.md
Labels: Microsoft submitter

#5840 Update importing-pst-files-to-office-365.md
  microsoft-365/compliance/importing-pst-files-to-office-365.md
Labels: compliance

#5830 Update advanced-hunting-query-emails-devices.md
  microsoft-365/security/defender/advanced-hunting-query-emails-devices.md
Labels: Microsoft 365 Defender

#5853 Update data-classification-activity-explorer-available-events.md
  microsoft-365/compliance/data-classification-activity-explorer-available-events.md
Labels: Microsoft submitter

#5819 Update enable-network-protection.md
  microsoft-365/security/defender-endpoint/enable-network-protection.md
Labels: Defender for Endpoint

#5743 Update device-control-removable-storage-access-control.md
  microsoft-365/security/defender-endpoint/device-control-removable-storage-access-control.md
Labels: Microsoft submitter, Defender for Endpoint

#5641 Update control-usb-devices-using-intune.md
  microsoft-365/security/defender-endpoint/control-usb-devices-using-intune.md
Labels: Defender for Endpoint

#5504 Update whats-new-in-microsoft-defender-atp.md
  microsoft-365/security/defender-endpoint/whats-new-in-microsoft-defender-atp.md
Labels: Microsoft 365 Defender

#5493 Update device-control-removable-storage-access-control.md
  microsoft-365/security/defender-endpoint/device-control-removable-storage-access-control.md
Labels: Microsoft submitter, Defender for Endpoint

#5483 Update device-control-removable-storage-access-control.md
  microsoft-365/security/defender-endpoint/device-control-removable-storage-access-control.md
Labels: Microsoft submitter, Defender for Endpoint

#5845 Add new setup guides, updated names, adjust layout
  microsoft-365/enterprise/setup-guides-for-microsoft-365.md
Labels: enterprise, Microsoft submitter

#5867 Update device-control-removable-storage-access-control.md
  microsoft-365/security/defender-endpoint/device-control-removable-storage-access-control.md
Labels: Microsoft submitter, Defender for Endpoint

#5868 Update user-submission.md
  microsoft-365/security/office-365-security/user-submission.md
Labels: Microsoft submitter, Defender for Office 365

#5046 Update event-views.md
  microsoft-365/security/defender-endpoint/event-views.md
Labels: Defender for Endpoint

#5864 Update prevent-end-user-interaction-microsoft-defender-antivirus.md
  microsoft-365/security/defender-endpoint/prevent-end-user-interaction-microsoft-defender-antivirus.md
Labels: Defender for Endpoint

#5850 objectid lookup missing from test users
  microsoft-365/enterprise/lightweight-base-configuration-microsoft-365-enterprise.md
Labels: enterprise

#5916 Update wording and steps
  microsoft-365/security/defender-endpoint/web-content-filtering.md
Labels: Defender for Endpoint

#5897 Update user-tags.md
  microsoft-365/security/office-365-security/user-tags.md
Labels: security, Microsoft submitter

#5918 Permenant Protection Permission Issue
  microsoft-365/security/defender-endpoint/android-support-signin.md
Labels: Microsoft submitter, Defender for Endpoint

#5788 Update choose-between-basic-mobility-and-security-and-intune.md
  microsoft-365/admin/basic-mobility-security/choose-between-basic-mobility-and-security-and-intune.md
Labels: admin

#5781 Update set-password-expiration-policy.md
  microsoft-365/admin/manage/set-password-expiration-policy.md
Labels: admin

#5898 Update admin-submission.md
  microsoft-365/security/office-365-security/admin-submission.md
Labels: security, Microsoft submitter

#5943 Update non-windows.md
  microsoft-365/security/defender-endpoint/non-windows.md
Labels: Defender for Endpoint

#5939 Update removing-user-from-restricted-users-portal-after-spam.md
  microsoft-365/security/office-365-security/removing-user-from-restricted-users-portal-after-spam.md
Labels: security

#5941 Add images to steps under "Permanent protection"
  microsoft-365/security/defender-endpoint/android-support-signin.md
  microsoft-365/security/defender-endpoint/images/searchBatteryOptimisation.png
  microsoft-365/security/defender-endpoint/images/selectDontOptimise.png
  microsoft-365/security/defender-endpoint/images/showAllApps1.png
  microsoft-365/security/defender-endpoint/images/showAllApps2.png
  microsoft-365/security/defender-endpoint/images/specialAppAccess.png
Labels: Microsoft submitter, Defender for Endpoint

#5950 Fixed moniker errors
  microsoft-365/commerce/subscriptions/cancel-your-subscription.md
Labels: Microsoft submitter

#5964 Update view-email-security-reports.md
  microsoft-365/security/office-365-security/view-email-security-reports.md
Labels: Microsoft submitter, Defender for Office 365

#5956 Update vulnerability.md
  microsoft-365/security/defender-endpoint/vulnerability.md
Labels: Defender for Endpoint

#5957 Update get-live-response-result.md
  microsoft-365/security/defender-endpoint/get-live-response-result.md
Labels: Defender for Endpoint

#5958 Update investigation.md
  microsoft-365/security/defender-endpoint/investigation.md
Labels: Defender for Endpoint

#5959 Update and rename get-recommendation-software.md to list-recommendati…
  microsoft-365/security/defender-endpoint/list-recommendation-software.md
Labels: Defender for Endpoint

#5969 Update new-defender-alert-policies.md
  microsoft-365/compliance/new-defender-alert-policies.md
Labels: Microsoft submitter

#5977 Update get-user-related-machines.md
  microsoft-365/security/defender-endpoint/get-user-related-machines.md
Labels: Defender for Endpoint

#5975 Update get-alerts.md
  microsoft-365/security/defender-endpoint/get-alerts.md
Labels: Defender for Endpoint

#5970 Update run-advanced-query-api.md
  microsoft-365/security/defender-endpoint/run-advanced-query-api.md
Labels: Defender for Endpoint

#5973 Update run-live-response.md
  microsoft-365/security/defender-endpoint/run-live-response.md
Labels: Defender for Endpoint

#5972 Update get-ip-related-alerts.md
  microsoft-365/security/defender-endpoint/get-ip-related-alerts.md
Labels: Defender for Endpoint

#5971 Update get-file-statistics.md
  microsoft-365/security/defender-endpoint/get-file-statistics.md
Labels: Defender for Endpoint

#5978 Update get-investigation-collection.md
  microsoft-365/security/defender-endpoint/get-investigation-collection.md
Labels: Defender for Endpoint

#5980 Update get-file-related-alerts.md
  microsoft-365/security/defender-endpoint/get-file-related-alerts.md
Labels: Defender for Endpoint

#5981 Update get-domain-statistics.md
  microsoft-365/security/defender-endpoint/get-domain-statistics.md
Labels: Defender for Endpoint

#5982 Update get-ip-statistics.md
  microsoft-365/security/defender-endpoint/get-ip-statistics.md
Labels: Defender for Endpoint

#5965 AAD Guest Invitation
  microsoft-365/solutions/collaborate-as-team.md
Labels: Microsoft submitter, solutions

#5986 Update get-software.md
  microsoft-365/security/defender-endpoint/get-software.md
Labels: Defender for Endpoint

#5985 Update device-control-removable-storage-protection.md
  microsoft-365/security/defender-endpoint/device-control-removable-storage-protection.md
Labels: Microsoft submitter, Defender for Endpoint

#5989 Update score.md
  microsoft-365/security/defender-endpoint/score.md
Labels: Defender for Endpoint

#5988 Update get-user-related-alerts.md
  microsoft-365/security/defender-endpoint/get-user-related-alerts.md
Labels: Defender for Endpoint

#5992 Update run-av-scan.md
  microsoft-365/security/defender-endpoint/run-av-scan.md
Labels: Defender for Endpoint

#5993 Update unrestrict-code-execution.md
  microsoft-365/security/defender-endpoint/unrestrict-code-execution.md
Labels: Defender for Endpoint

#5994 Update restrict-code-execution.md
  microsoft-365/security/defender-endpoint/restrict-code-execution.md
Labels: Defender for Endpoint

#5995 Update unisolate-machine.md
  microsoft-365/security/defender-endpoint/unisolate-machine.md
Labels: Defender for Endpoint

#5996 Update get-package-sas-uri.md
  microsoft-365/security/defender-endpoint/get-package-sas-uri.md
Labels: Defender for Endpoint

#5997 Update collect-investigation-package.md
  microsoft-365/security/defender-endpoint/collect-investigation-package.md
Labels: Defender for Endpoint

#5998 Update get-machineactions-collection.md
  microsoft-365/security/defender-endpoint/get-machineactions-collection.md
Labels: Defender for Endpoint

#6004 Update get-ti-indicators-collection.md
  microsoft-365/security/defender-endpoint/get-ti-indicators-collection.md
Labels: Defender for Endpoint

#6010 Update ms-cloud-germany-migration-opt-in.md
  microsoft-365/enterprise/ms-cloud-germany-migration-opt-in.md
Labels: Microsoft submitter

#4909 Update set-up-multi-factor-authentication.md
  microsoft-365/admin/security-and-compliance/set-up-multi-factor-authentication.md
Labels: admin

#6011 Update device-control-removable-storage-protection.md
  microsoft-365/security/defender-endpoint/device-control-removable-storage-protection.md
Labels: Microsoft submitter, Defender for Endpoint

#6020 Update cross-tenant-mailbox-migration.md
  microsoft-365/enterprise/cross-tenant-mailbox-migration.md
Labels: enterprise

#6021 Update configure-endpoints-vdi.md
  microsoft-365/security/defender-endpoint/configure-endpoints-vdi.md
Labels: Defender for Endpoint

#6022 Update configure-endpoints-vdi.md
  microsoft-365/security/defender-endpoint/configure-endpoints-vdi.md
Labels: Defender for Endpoint

#6023 Update get-domain-statistics.md
  microsoft-365/security/defender-endpoint/get-domain-statistics.md
Labels: Defender for Endpoint

#6025 Update get-domain-related-machines.md
  microsoft-365/security/defender-endpoint/get-domain-related-machines.md
Labels: Defender for Endpoint

#6026 Update get-domain-related-alerts.md
  microsoft-365/security/defender-endpoint/get-domain-related-alerts.md
Labels: Defender for Endpoint

#6012 Update unlimited-archiving.md
  microsoft-365/compliance/unlimited-archiving.md
Labels: compliance, Microsoft submitter

#4849 Correct Invoke-CompatibilityCheck output location
  microsoft-365/admin/manage/centralized-deployment-of-add-ins.md
Labels: admin

#5761 Update device-requirements.md
  microsoft-365/managed-desktop/service-description/device-requirements.md
Labels: managed-desktop

#5762 Update validate-device.md
  microsoft-365/managed-desktop/get-started/validate-device.md
Labels: managed-desktop

#5764 Update scheduler-setup.md
  microsoft-365/scheduler/scheduler-setup.md
Labels: Microsoft 365 scheduler

#5319 Update scheduler-setup.md
  microsoft-365/scheduler/scheduler-setup.md
Labels: enterprise

#6029 Update retention.md
  microsoft-365/compliance/retention.md
Labels: compliance

#6043 Typos corrected
  microsoft-365/security/office-365-security/configure-advanced-delivery.md
Labels: Defender for Office 365

#5680 Increase localization priority value
  microsoft-365/commerce/enter-your-product-key.md
Labels: Microsoft submitter, admin

#5834 Update allowselfservicepurchase-powershell.md
  microsoft-365/commerce/subscriptions/allowselfservicepurchase-powershell.md
Labels: admin

#6028 Update device-control-removable-storage-access-control.md
  microsoft-365/security/defender-endpoint/device-control-removable-storage-access-control.md
Labels: Microsoft submitter, Defender for Endpoint

#6067 Added PowerShell for Simulation URL additions
  microsoft-365/security/office-365-security/configure-advanced-delivery.md
Labels: Defender for Office 365

#6080 Update defender-for-office-365.md
  microsoft-365/security/office-365-security/defender-for-office-365.md
Labels: Microsoft submitter

#6000 Fixing a few spelling errors
  microsoft-365/compliance/app-governance-visibility-insights-view-apps.md
  microsoft-365/compliance/data-classification-activity-explorer-available-events.md
  microsoft-365/compliance/dlp-policy-tips-reference.md
  microsoft-365/compliance/ediscovery-troubleshooting-common-issues.md
  microsoft-365/compliance/ediscovery.md
  microsoft-365/enterprise/during-and-after-your-data-move.md
  microsoft-365/enterprise/internet-sites-in-microsoft-azure-using-sharepoint-server-2013.md
  microsoft-365/enterprise/modern-page-call-optimization.md
  microsoft-365/enterprise/modern-portal-limits.md
  microsoft-365/enterprise/navigation-options-for-sharepoint-online.md
  microsoft-365/enterprise/upgrade-from-sharepoint-2010.md
  microsoft-365/security/office-365-security/view-email-security-reports.md
  microsoft-365/solutions/groups-teams-compliance-governance.md
Labels: compliance

#6082 Update more sharing settings to add guest exp
  microsoft-365/solutions/microsoft-365-guest-settings.md
Labels: Microsoft submitter

#6086 Spelling fixes
  microsoft-365/admin/get-help-with-domains/transfer-data-manually.md
  microsoft-365/admin/manage/index.yml
  microsoft-365/admin/misc/self-service-sign-up.md
  microsoft-365/admin/services-in-china/services-in-china.md
  microsoft-365/admin/usage-analytics/navigate-and-utilize-reports.md
  microsoft-365/business-video/choose-subscription.md
  microsoft-365/compliance/sensitivity-labels-teams-groups-sites.md
  microsoft-365/contentunderstanding/create-a-form-processing-model.md
  microsoft-365/contentunderstanding/difference-between-document-understanding-and-form-processing-model.md
  microsoft-365/contentunderstanding/form-processing-overview.md
  microsoft-365/enterprise/administering-a-multi-geo-environment.md
  microsoft-365/enterprise/azure-integration.md
  microsoft-365/enterprise/move-sharepoint-between-geo-locations.md
  microsoft-365/enterprise/ms-cloud-germany-transition.md
  microsoft-365/managed-desktop/intro/technologies.md
  microsoft-365/security/defender-endpoint/control-usb-devices-using-intune.md
  microsoft-365/solutions/financial-services-secure-collaboration.md
Labels: admin

#6092 Update get-remediation-exposed-devices-activities.md
  microsoft-365/security/defender-endpoint/get-remediation-exposed-devices-activities.md
Labels: Defender for Endpoint

#6091 Update get-remediation-all-activities.md
  microsoft-365/security/defender-endpoint/get-remediation-all-activities.md
Labels: Defender for Endpoint

#6076 Update printer-protection.md
  microsoft-365/security/defender-endpoint/printer-protection.md
Labels: Microsoft submitter, Defender for Endpoint

#6072 Update get-missing-kbs-machine.md
  microsoft-365/security/defender-endpoint/get-missing-kbs-machine.md
Labels: Defender for Endpoint

#6084 Update cross-tenant-mailbox-migration.md
  microsoft-365/enterprise/cross-tenant-mailbox-migration.md
Labels: enterprise

#6097 Update customer-key-manage.md
  microsoft-365/compliance/customer-key-manage.md
Labels: Microsoft submitter

#6095 Update stop-and-quarantine-file.md
  microsoft-365/security/defender-endpoint/stop-and-quarantine-file.md
Labels: Defender for Endpoint

#6096 Update cancel-machine-action.md
  microsoft-365/security/defender-endpoint/cancel-machine-action.md
Labels: Defender for Endpoint

#6090 Update batch-update-alerts.md
  microsoft-365/security/defender-endpoint/batch-update-alerts.md
Labels: Defender for Endpoint

#2718 Update allowselfservicepurchase-powershell.md
  microsoft-365/commerce/subscriptions/allowselfservicepurchase-powershell.md
Labels: admin

#6103 Update assign-licenses-to-user-accounts-with-microsoft-365-powershell.md
  microsoft-365/enterprise/assign-licenses-to-user-accounts-with-microsoft-365-powershell.md
Labels: enterprise

#4210 Add "Important" to the managed devices callout.
  microsoft-365/knowledge/set-up-topic-experiences.md
Labels: enterprise, Microsoft submitter

#2608 Update networking-design-principles.md
  microsoft-365/solutions/networking-design-principles.md
Labels: Microsoft submitter, solutions

#6109 Update assign-per-user-skype-for-business-online-policies-with-micros…
  microsoft-365/enterprise/assign-per-user-skype-for-business-online-policies-with-microsoft-365-powershell.md
Labels: enterprise

#6108 Update centralized-deployment-FAQ.yml
  microsoft-365/admin/manage/centralized-deployment-FAQ.yml
Labels: admin

#6088 removed Target Release Notes
  microsoft-365/admin/manage/use-qr-code-download-outlook.md
Labels: admin

#6107 Update security-roadmap.md
  microsoft-365/security/office-365-security/security-roadmap.md
Labels: solutions

#6111 Update data-classification-content-explorer.md
  microsoft-365/compliance/data-classification-content-explorer.md
Labels: Microsoft submitter

#5940 Update dlp-use-policies-non-microsoft-cloud-apps.md with change G-Suite to Google Workspace
  microsoft-365/compliance/dlp-use-policies-non-microsoft-cloud-apps.md
Labels: compliance, Microsoft submitter

#6015 Update dlp-microsoft-teams.md
  microsoft-365/compliance/dlp-microsoft-teams.md
Labels: compliance

#6121 Update multi-geo-user-experience.md
  microsoft-365/enterprise/multi-geo-user-experience.md
Labels: Microsoft submitter

#6034 Update machineaction.md
  microsoft-365/security/defender-endpoint/machineaction.md
Labels: Defender for Endpoint

#6078 Update get-remediation-one-activity.md
  microsoft-365/security/defender-endpoint/get-remediation-one-activity.md
Labels: Defender for Endpoint

#6035 Update get-assessment-methods-properties.md
  microsoft-365/security/defender-endpoint/get-assessment-methods-properties.md
Labels: Defender for Endpoint

#6094 Update get-recommendation-vulnerabilities.md
  microsoft-365/security/defender-endpoint/get-recommendation-vulnerabilities.md
Labels: Defender for Endpoint

#6093 Update get-vuln-by-software.md
  microsoft-365/security/defender-endpoint/get-vuln-by-software.md
Labels: Defender for Endpoint

#5987 Update get-all-vulnerabilities.md
  microsoft-365/security/defender-endpoint/get-all-vulnerabilities.md
Labels: Defender for Endpoint

#6068 Update get-all-vulnerabilities-by-machines.md
  microsoft-365/security/defender-endpoint/get-all-vulnerabilities-by-machines.md
Labels: Defender for Endpoint

#5976 Update vulnerability.md
  microsoft-365/security/defender-endpoint/vulnerability.md
Labels: Defender for Endpoint

#5990 Update get-remediation-all-activities.md
  microsoft-365/security/defender-endpoint/get-remediation-all-activities.md
Labels: Defender for Endpoint

#5955 Update get-machine-group-exposure-score.md
  microsoft-365/security/defender-endpoint/get-machine-group-exposure-score.md
Labels: Defender for Endpoint

#5991 Update recommendation.md
  microsoft-365/security/defender-endpoint/recommendation.md
Labels: Defender for Endpoint

#6134 Update privacy-personal-data.md
  microsoft-365/managed-desktop/service-description/privacy-personal-data.md
Labels: managed-desktop

#6127 Update microsoft-defender-endpoint-android.md
  microsoft-365/security/defender-endpoint/microsoft-defender-endpoint-android.md
Labels: Microsoft submitter, Defender for Endpoint

#6128 Update microsoft-defender-endpoint-ios.md
  microsoft-365/security/defender-endpoint/microsoft-defender-endpoint-ios.md
Labels: Microsoft submitter, Defender for Endpoint

#6129 Update microsoft-defender-endpoint-android.md
  microsoft-365/security/defender-endpoint/microsoft-defender-endpoint-android.md
Labels: Microsoft submitter, Defender for Endpoint

#4959 Update device-control-removable-storage-access-control.md
  microsoft-365/security/defender-endpoint/device-control-removable-storage-access-control.md
Labels: Microsoft submitter, Defender for Endpoint

#5951 Update printer-protection.md
  microsoft-365/security/defender-endpoint/printer-protection.md
Labels: Microsoft submitter, Defender for Endpoint

#6077 Update list-recommendation-software.md
  microsoft-365/security/defender-endpoint/list-recommendation-software.md
Labels: Defender for Endpoint

#6132 Update column names and descriptions
  microsoft-365/admin/usage-analytics/usage-analytics-data-model.md
Labels: Microsoft submitter, admin

#6143 Update attack-surface-reduction-faq.yml
  microsoft-365/security/defender-endpoint/attack-surface-reduction-faq.yml
Labels: Microsoft submitter, Defender for Endpoint

#6144 update hardware section
  microsoft-365/managed-desktop/get-ready/readiness-assessment-downloadable.md
Labels: managed-desktop

#6104 Spelling fixes
  microsoft-365/admin/misc/self-service-sign-up.md
  microsoft-365/business-video/choose-subscription.md
  microsoft-365/compliance/archive-mssqldatabaseimporter-data.md
  microsoft-365/compliance/archive-xip-data.md
  microsoft-365/compliance/auto-apply-retention-labels-scenario.md
  microsoft-365/compliance/event-driven-retention.md
  microsoft-365/compliance/search-the-audit-log-in-security-and-compliance.md
  microsoft-365/enterprise/managing-office-365-endpoints.md
  microsoft-365/enterprise/microsoft-365-ip-web-service.md
  microsoft-365/enterprise/microsoft-365-networking-overview.md
  microsoft-365/enterprise/microsoft-365-vpn-implement-split-tunnel.md
  microsoft-365/enterprise/ms-cloud-germany-transition-experience.md
  microsoft-365/enterprise/ms-cloud-germany-transition-phases.md
  microsoft-365/security/defender-endpoint/TOC.md
  microsoft-365/security/defender-endpoint/api-microsoft-flow.md
  microsoft-365/security/defender-endpoint/onboarding-notification.md
  microsoft-365/security/defender-endpoint/partner-applications.md
  microsoft-365/security/defender/eval-defender-office-365-enable-eval.md
  microsoft-365/security/office-365-security/anti-spam-message-headers.md
  microsoft-365/security/office-365-security/configure-mdo-anti-phishing-policies.md
  microsoft-365/security/office-365-security/monitor-for-leaks-of-personal-data.md
  microsoft-365/security/office-365-security/services-for-non-customers.md
Labels: compliance, enterprise, admin, solutions, Defender for Endpoint, Defender for Office 365

#6112 Update app-governance-get-started.md
  microsoft-365/compliance/app-governance-get-started.md
Labels: compliance

#6200 Update configure-server-endpoints.md
  microsoft-365/security/defender-endpoint/configure-server-endpoints.md
Labels: Defender for Endpoint

#6199 Update post-ti-indicator.md
  microsoft-365/security/defender-endpoint/post-ti-indicator.md
Labels: Defender for Endpoint

#6187 Quarantine Administrator does not exists in Exo
  microsoft-365/security/office-365-security/manage-quarantined-messages-and-files.md
Labels: Microsoft submitter, Defender for Office 365

#6214 Update dlp-conditions-and-exceptions.md
  microsoft-365/compliance/dlp-conditions-and-exceptions.md
Labels: Microsoft submitter

#6220 Update edr-in-block-mode.md
  microsoft-365/security/defender-endpoint/edr-in-block-mode.md
Labels: Microsoft submitter

#6193 Update manage-atp-post-migration-configuration-manager.md
  microsoft-365/security/defender-endpoint/manage-atp-post-migration-configuration-manager.md
Labels: Microsoft submitter, Defender for Endpoint

#6202 Update threat-protection-integration.md
  microsoft-365/security/defender-endpoint/threat-protection-integration.md
Labels: Defender for Endpoint
