Repository MicrosoftDocs/microsoft-365-docs, pull requests merged in 2022-08, with the labels that each got.

#9287 Update device-control-removable-storage-access-control.md
  microsoft-365/security/defender-endpoint/device-control-removable-storage-access-control.md
Labels: Microsoft submitter, Defender for Endpoint

#9290 Update bulk-import-external-contacts.md
  microsoft-365/compliance/bulk-import-external-contacts.md
Labels: compliance

#9291 Update alert-policies.md
  microsoft-365/compliance/alert-policies.md
Labels: compliance

#9297 Update device-control-removable-storage-protection.md
  microsoft-365/security/defender-endpoint/device-control-removable-storage-protection.md
Labels: Microsoft submitter, Defender for Endpoint

#9301 Update onboarding-defender-experts-for-hunting.md
  microsoft-365/security/defender/onboarding-defender-experts-for-hunting.md
Labels: Microsoft submitter

#9298 Updated guidance about reporting to Microsoft
  microsoft-365/security/office-365-security/user-submission.md
Labels: Microsoft submitter, Defender for Office 365

#9299 Updated TABL as per name changes
  microsoft-365/security/office-365-security/tenant-allow-block-list.md
Labels: Microsoft submitter, Defender for Office 365

#9300 Updated names in TABL UI
  microsoft-365/security/office-365-security/allow-block-email-spoof.md
Labels: Microsoft submitter, Defender for Office 365

#9305 Updated note with Amazon and Oracle Linux version
  microsoft-365/security/defender-endpoint/linux-install-with-ansible.md
Labels: Defender for Endpoint

#9309 Update switch-to-mde-overview.md
  microsoft-365/security/defender-endpoint/switch-to-mde-overview.md
Labels: Microsoft submitter

#9308 Update moving-data-to-new-datacenter-geos.md
  microsoft-365/enterprise/moving-data-to-new-datacenter-geos.md
Labels: Enterprise, Microsoft submitter

#9179 Create Utilize Microsoft Defender for Office 365 in SharePoint Online.md
  microsoft-365/security/office-365-security/step-by-step-guides/Utilize Microsoft Defender for Office 365 in SharePoint Online.md
Labels: Microsoft submitter, Defender for Office 365

#9320 Update configure-updates.md
  microsoft-365/security/defender-endpoint/configure-updates.md
Labels: Microsoft submitter

#9310 Update configure-local-policy-overrides-microsoft-defender-antivirus.md
  microsoft-365/security/defender-endpoint/configure-local-policy-overrides-microsoft-defender-antivirus.md
Labels: Defender for Endpoint

#9321 Safe domains are honored
  microsoft-365/security/office-365-security/create-safe-sender-lists-in-office-365.md
Labels: Microsoft submitter

#9328 Update troubleshoot-microsoft-defender-antivirus.md
  microsoft-365/security/defender-endpoint/troubleshoot-microsoft-defender-antivirus.md
Labels: Microsoft submitter

#9341 Update deploy-manage-report-microsoft-defender-antivirus.md
  microsoft-365/security/defender-endpoint/deploy-manage-report-microsoft-defender-antivirus.md
Labels: Defender for Endpoint

#9337 Update set-up-compliance-boundaries.md
  microsoft-365/compliance/set-up-compliance-boundaries.md
Labels: compliance

#9346 Update alert-policies.md
  microsoft-365/compliance/alert-policies.md
Labels: compliance, Microsoft submitter

#9349 Update ome-version-comparison.md
  microsoft-365/compliance/ome-version-comparison.md
Labels: Microsoft submitter

#9338 Update advanced-hunting-devicealertevents-table.md
  microsoft-365/security/defender-endpoint/advanced-hunting-devicealertevents-table.md
Labels: Microsoft 365 Defender

#9350 Update device-control-removable-storage-access-control.md
  microsoft-365/security/defender-endpoint/device-control-removable-storage-access-control.md
Labels: Microsoft submitter, Defender for Endpoint

#9358 Update allow-block-email-spoof.md
  microsoft-365/security/office-365-security/allow-block-email-spoof.md
Labels: Defender for Office 365

#9344 Update manage-deployment-of-add-ins.md
  microsoft-365/admin/manage/manage-deployment-of-add-ins.md
Labels: admin

#9340 Update network-protection.md
  microsoft-365/security/defender-endpoint/network-protection.md
Labels: Defender for Endpoint

#9365 Update machine-reports.md
  microsoft-365/security/defender-endpoint/machine-reports.md
Labels: Microsoft submitter

#9376 Update mde-device-control-device-installation.md
  microsoft-365/security/defender-endpoint/mde-device-control-device-installation.md
Labels: Microsoft submitter, Defender for Endpoint

#9370 Update recommended-settings-for-eop-and-office365.md
  microsoft-365/security/office-365-security/recommended-settings-for-eop-and-office365.md
Labels: Microsoft submitter, Defender for Office 365

#9380 Update m365bp-increase-protection.md
  microsoft-365/business-premium/m365bp-increase-protection.md
Labels: Microsoft submitter

#9360 Update run-analyzer-macos-linux.md
  microsoft-365/security/defender-endpoint/run-analyzer-macos-linux.md
Labels: Defender for Endpoint

#9336 Update minimum-requirements.md
  microsoft-365/security/defender-endpoint/minimum-requirements.md
Labels: Defender for Endpoint

#9324 Update troubleshoot-exploit-protection-mitigations.md
  microsoft-365/security/defender-endpoint/troubleshoot-exploit-protection-mitigations.md
Labels: Defender for Endpoint

#9384 Update customize-exploit-protection.md
  microsoft-365/security/defender-endpoint/customize-exploit-protection.md
Labels: Defender for Endpoint

#9367 Update manage-feedback-ms-org.md
  microsoft-365/admin/manage/manage-feedback-ms-org.md
Labels: admin

#9387 Update m365bp-secure-users.md
  microsoft-365/business-premium/m365bp-secure-users.md
Labels: Microsoft submitter

#9388 Update mdb-requirements.md
  microsoft-365/security/defender-business/mdb-requirements.md
Labels: Microsoft submitter

#9390 Spelling fixes
  microsoft-365/admin/setup/priority-accounts.md
  microsoft-365/compliance/dlp-policy-reference.md
  microsoft-365/compliance/ediscovery.md
  microsoft-365/compliance/insider-risk-management-configure.md
  microsoft-365/compliance/insider-risk-management-policies.md
  microsoft-365/enterprise/move-sharepoint-between-geo-locations.md
  microsoft-365/security/defender/investigate-dlp.md
  microsoft-365/whiteboard/manage-clients-gcc-high.md
Labels: compliance, Enterprise, Microsoft submitter, admin

#9391 Update recommended-settings-for-eop-and-office365.md
  microsoft-365/security/office-365-security/recommended-settings-for-eop-and-office365.md
Labels: Microsoft submitter, Defender for Office 365

#9385 Update allow-direct-connect-with-all-organizations.md
  microsoft-365/solutions/allow-direct-connect-with-all-organizations.md
Labels: solutions

#9375 Corrected capitalisation of product/license names
  microsoft-365/compliance/ediscovery.md
Labels: compliance

#9399 Update sit-defn-eu-debit-card-number.md
  microsoft-365/compliance/sit-defn-eu-debit-card-number.md
Labels: compliance, Microsoft submitter

#9398 Call out TABL tab name changes
  microsoft-365/security/office-365-security/manage-tenant-allow-block-list.md
Labels: Microsoft submitter, Defender for Office 365

#9407 Update modern-desktop-deployment-and-management-lab.md
  microsoft-365/enterprise/modern-desktop-deployment-and-management-lab.md
Labels: Enterprise

#9401 Update sit-defn-poland-drivers-license-number.md
  microsoft-365/compliance/sit-defn-poland-drivers-license-number.md
Labels: compliance, Microsoft submitter

#9386 Update configure-event-hub.md
  microsoft-365/security/defender/configure-event-hub.md
Labels: Microsoft 365 Defender

#9415 Update m365bp-collaborate-share-securely.md
  microsoft-365/business-premium/m365bp-collaborate-share-securely.md
Labels: Microsoft submitter

#9411 Update mde-device-control-device-installation.md
  microsoft-365/security/defender-endpoint/mde-device-control-device-installation.md
Labels: Microsoft submitter, Defender for Endpoint

#9419 Update network-protection.md
  microsoft-365/security/defender-endpoint/network-protection.md
Labels: Defender for Endpoint

#9285 Update assign-licenses-to-user-accounts-with-microsoft-365-powershell.md
  microsoft-365/enterprise/assign-licenses-to-user-accounts-with-microsoft-365-powershell.md
Labels: Enterprise

#9359 Update microsoft-365-overview.md
  microsoft-365/enterprise/microsoft-365-overview.md
Labels: Enterprise

#9362 Update cross-tenant-mailbox-migration.md
  microsoft-365/enterprise/cross-tenant-mailbox-migration.md
Labels: Enterprise

#9366 Remove userPhoto.aspx reference in Akamai CDN as it is available out of the box now with AFD CDN as Akamai CDN user photo retires
  microsoft-365/enterprise/use-microsoft-365-cdn-with-spo.md
Labels: Enterprise

#9427 Sender does not support punycode.
  microsoft-365/security/office-365-security/tenant-allow-block-list.md
Labels: Microsoft submitter, Defender for Office 365

#9414 Update create-a-custom-sensitive-information-type.md
  microsoft-365/compliance/create-a-custom-sensitive-information-type.md
Labels: compliance

#9418 Update dlp-on-premises-scanner-get-started.md
  microsoft-365/compliance/dlp-on-premises-scanner-get-started.md
Labels: compliance, Microsoft submitter

#9354 Updated reference for Microsoft Secure Score
  microsoft-365/compliance/plan-for-security-and-compliance.md
Labels: compliance

#8821 Update dlp-configure-endpoint-settings.md
  microsoft-365/compliance/dlp-configure-endpoint-settings.md
Labels: compliance, do not merge, Microsoft submitter

#9196 Including token separator in the EDM public documentation
  microsoft-365/compliance/sit-get-started-exact-data-match-create-schema.md
Labels: compliance, do not merge, Microsoft submitter

#8227 Update the overview page
  microsoft-365/admin/manage/servicenow-overview.md
Labels: Microsoft submitter, admin

#9379 Update centralized-deployment-FAQ.yml
  microsoft-365/admin/manage/centralized-deployment-FAQ.yml
Labels: admin

#9408 Added more information about Blob moves
  microsoft-365/enterprise/move-sharepoint-between-geo-locations.md
Labels: Enterprise, Microsoft submitter

#9339 Update advanced-hunting-alertinfo-table.md
  microsoft-365/security/defender/advanced-hunting-alertinfo-table.md
Labels: Microsoft 365 Defender

#9457 Fix typo
  microsoft-365/security/office-365-security/external-email-forwarding.md
Labels: Defender for Office 365

#8648 Update microsoft-365-groups-expiration-policy.md
  microsoft-365/solutions/microsoft-365-groups-expiration-policy.md
Labels: solutions

#9382 Update experience-insights-dashboard.md
  microsoft-365/admin/misc/experience-insights-dashboard.md
Labels: admin

#9468 Fix typo in web-threat-protection.md
  microsoft-365/security/defender-endpoint/web-threat-protection.md
Labels: Defender for Endpoint

#9445 Update endpoint-dlp-learn-about.md
  microsoft-365/compliance/endpoint-dlp-learn-about.md
Labels: compliance, Microsoft submitter

#9455 Update endpoint-dlp-learn-about.md
  microsoft-365/compliance/endpoint-dlp-learn-about.md
Labels: compliance, Microsoft submitter

#9444 Update tls-1.0-and-1.1-deprecation-for-office-365.md
  microsoft-365/compliance/tls-1.0-and-1.1-deprecation-for-office-365.md
Labels: compliance, Microsoft submitter

#9420 Update dlp-policy-tips-reference.md
  microsoft-365/compliance/dlp-policy-tips-reference.md
Labels: compliance

#9220 Update sit-modify-edm-schema-configurable-match.md
  microsoft-365/compliance/sit-modify-edm-schema-configurable-match.md
Labels: compliance

#9489 Update recommended-settings-for-eop-and-office365.md
  microsoft-365/security/office-365-security/recommended-settings-for-eop-and-office365.md
Labels: Microsoft submitter

#9490 Remove 'Get the installation package'
  microsoft-365/compliance/device-onboarding-offboarding-macos-intune.md
Labels: Microsoft submitter

#9479 Update ome-message-access-logs.md
  microsoft-365/compliance/ome-message-access-logs.md
Labels: compliance

#9383 Update use-arc-exceptions-to-mark-trusted-arc-senders.md
  microsoft-365/security/office-365-security/use-arc-exceptions-to-mark-trusted-arc-senders.md
Labels: Defender for Office 365

#9498 Update secure-your-business-data.md
  microsoft-365/admin/security-and-compliance/secure-your-business-data.md
Labels: Microsoft submitter

#9422 Update exchange-online-uses-tls-to-secure-email-connections.md
  microsoft-365/compliance/exchange-online-uses-tls-to-secure-email-connections.md
Labels: compliance

#9184 Update ome-faq.yml
  microsoft-365/compliance/ome-faq.yml
Labels: compliance, Microsoft submitter

#9166 Update ome-faq.yml
  microsoft-365/compliance/ome-faq.yml
Labels: compliance, Microsoft submitter

#9034 Update ome-faq.yml
  microsoft-365/compliance/ome-faq.yml
Labels: compliance, Microsoft submitter

#9513 Fixing Grammer
  microsoft-365/compliance/keyword-queries-and-search-conditions.md
Labels: compliance

#9518 Update quarantine-policies.md
  microsoft-365/security/office-365-security/quarantine-policies.md
Labels: Microsoft submitter, Defender for Office 365

#9447 Fix broken link in admin/add-users/strong-password.md
  microsoft-365/admin/add-users/strong-password.md
Labels: admin

#9527 Update what-s-the-difference-between-junk-email-and-bulk-email.md
  microsoft-365/security/office-365-security/what-s-the-difference-between-junk-email-and-bulk-email.md
Labels: Microsoft submitter

#9529 Delete defenderexpertsforhuntingprev.md
  .openpublishing.redirection.json
  microsoft-365/security/defender/defenderexpertsforhuntingprev.md
Labels: Microsoft submitter

#9495 Updated site count
  microsoft-365/admin/setup/add-or-replace-your-onmicrosoftcom-domain.md
Labels: Microsoft submitter, admin

#9526 Update additional-office365-ip-addresses-and-urls.md
  microsoft-365/enterprise/additional-office365-ip-addresses-and-urls.md
Labels: Enterprise

#9532 Update wrong reference on automation-levels.md
  microsoft-365/security/defender-endpoint/automation-levels.md
Labels: Defender for Endpoint

#9499 Update virus-detection-in-spo.md
  microsoft-365/security/office-365-security/virus-detection-in-spo.md
Labels: Microsoft submitter, Defender for Office 365

#8849 Update protection-stack-microsoft-defender-for-office365.md
  microsoft-365/security/office-365-security/protection-stack-microsoft-defender-for-office365.md
Labels: Defender for Office 365

#9545 Update project-server-2007-end-of-support.md
  microsoft-365/enterprise/project-server-2007-end-of-support.md
Labels: Microsoft submitter

#9523 Update use-network-upload-to-import-pst-files.md
  microsoft-365/compliance/use-network-upload-to-import-pst-files.md
Labels: compliance

#9546 Update mdb-onboard-devices.md
  microsoft-365/security/defender-business/mdb-onboard-devices.md
Labels: Microsoft submitter

#9183 Create Track and respond to emerging threats with campaigns.md
  microsoft-365/security/office-365-security/step-by-step-guides/Track and respond to emerging threats with campaigns.md
Labels: Microsoft submitter, Defender for Office 365

#9484 Update get-access.md
  microsoft-365/bookings/get-access.md
Labels: Bookings

#9381 Update experience-insights-dashboard.md
  microsoft-365/admin/misc/experience-insights-dashboard.md
Labels: admin

#9421 Update office-365-user-email-settings.md
  microsoft-365/admin/email/office-365-user-email-settings.md
Labels: admin

#9535 Update compliance-manager-setup.md
  microsoft-365/compliance/compliance-manager-setup.md
Labels: compliance

#9559 Update microsoft-defender-offline.md
  microsoft-365/security/defender-endpoint/microsoft-defender-offline.md
Labels: Defender for Endpoint

#9551 Update what-s-the-difference-between-junk-email-and-bulk-email.md
  microsoft-365/security/office-365-security/what-s-the-difference-between-junk-email-and-bulk-email.md
Labels: Microsoft submitter, Defender for Office 365

#9570 Update compare-mdb-m365-plans.md
  microsoft-365/security/defender-business/compare-mdb-m365-plans.md
Labels: Microsoft submitter

#9553 Update remove-former-employee.md
  microsoft-365/admin/add-users/remove-former-employee.md
Labels: admin

#9550 Update typo in hunt query for Network protection logs
  microsoft-365/security/defender-endpoint/network-protection.md
Labels: Defender for Endpoint

#9571 made example link unclickable
  microsoft-365/compliance/endpoint-dlp-using.md
Labels: Microsoft submitter

#9577 Update automated-investigations.md
  microsoft-365/security/defender-endpoint/automated-investigations.md
Labels: Microsoft submitter, Defender for Endpoint

#9584 Update m365bp-trial-playbook-microsoft-business-premium.md
  microsoft-365/business-premium/m365bp-trial-playbook-microsoft-business-premium.md
Labels: Microsoft submitter

#9583 Create defence-in-depth-guide
  microsoft-365/security/office-365-security/step-by-step-guides/defence-in-depth-guide
Labels: Microsoft submitter, Defender for Office 365
