Repository MicrosoftDocs/microsoft-365-docs, pull requests merged in 2022-04, with the labels that each got.

#8089 Removing reference to 32 bit teams
  microsoft-365/managed-desktop/get-started/teams.md
Labels: Microsoft submitter, managed-desktop

#8175 Update non-windows.md
  microsoft-365/security/defender-endpoint/non-windows.md
Labels: Defender for Endpoint

#7949 Update ome-advanced-message-encryption.md
  microsoft-365/compliance/ome-advanced-message-encryption.md
Labels: compliance, Microsoft submitter

#8192 Update ome-faq.yml
  microsoft-365/compliance/ome-faq.yml
Labels: Microsoft submitter

#8162 Update web-content-filtering.md
  microsoft-365/security/defender-endpoint/web-content-filtering.md
Labels: Defender for Endpoint

#8197 Update attack-surface-reduction-rules-reference.md
  microsoft-365/security/defender-endpoint/attack-surface-reduction-rules-reference.md
Labels: Defender for Endpoint

#8206 Update microsoft-defender-antivirus-compatibility.md
  microsoft-365/security/defender-endpoint/microsoft-defender-antivirus-compatibility.md
Labels: Microsoft submitter

#8221 Update enable-mailbox-auditing.md
  microsoft-365/compliance/enable-mailbox-auditing.md
Labels: Microsoft submitter

#8228 Update dlp-policy-reference.md
  microsoft-365/compliance/dlp-policy-reference.md
Labels: compliance

#8134 Update dlp-policy-reference.md
  microsoft-365/compliance/dlp-policy-reference.md
Labels: compliance, Microsoft submitter

#8173 Update microsoft-365-vpn-securing-teams.md
  microsoft-365/enterprise/microsoft-365-vpn-securing-teams.md
Labels: Enterprise

#8200 Made changes to the screenshots as options have changes
  microsoft-365/media/setup-guides-for-microsoft-365/adminportal-setupguidance.png
  microsoft-365/media/setup-guides-for-microsoft-365/adminportal-trainingandguides.png
Labels: Enterprise

#8167 Update connect-to-microsoft-365-powershell.md
  microsoft-365/enterprise/connect-to-microsoft-365-powershell.md
Labels: Enterprise

#8199 Update manage.md
  microsoft-365/admin/multi-tenant/manage.md
Labels: admin

#8207 added links and typo correction
  microsoft-365/admin/basic-mobility-security/choose-between-basic-mobility-and-security-and-intune.md
Labels: admin

#7990 Bookings text changes only
  microsoft-365/bookings/add-questions.md
  microsoft-365/bookings/add-staff.md
  microsoft-365/bookings/bookings-overview.md
  microsoft-365/bookings/bookings-sms.md
  microsoft-365/bookings/comparison-chart.md
  microsoft-365/bookings/create-a-manual-booking.md
  microsoft-365/bookings/customize-booking-page.md
  microsoft-365/bookings/define-service-offerings.md
  microsoft-365/bookings/delete-calendar.md
  microsoft-365/bookings/employee-hours.md
  microsoft-365/bookings/enter-business-information.md
  microsoft-365/bookings/get-access.md
  microsoft-365/bookings/get-bookings-app.md
  microsoft-365/bookings/metrics-and-activity-tracking.md
  microsoft-365/bookings/reporting-info.md
  microsoft-365/bookings/schedule-closures-time-off-vacation.md
  microsoft-365/bookings/set-buffer-time.md
  microsoft-365/bookings/set-language-time-zones.md
  microsoft-365/bookings/set-scheduling-policies.md
  microsoft-365/bookings/turn-bookings-on-or-off.md
Labels: do not merge, Bookings

#8250 Update manage-protection-update-schedule-microsoft-defender-antivirus.md
  microsoft-365/security/defender-endpoint/manage-protection-update-schedule-microsoft-defender-antivirus.md
Labels: Defender for Endpoint

#8226 Added note that CP will be on when TP is on
  microsoft-365/security/defender-endpoint/prevent-changes-to-security-settings-with-tamper-protection.md
Labels: Microsoft submitter, Defender for Endpoint

#8218 Update sensitive-information-type-entity-definitions.md
  microsoft-365/compliance/sensitive-information-type-entity-definitions.md
Labels: compliance, Microsoft submitter

#8212 Update use-notifications-and-policy-tips.md
  microsoft-365/compliance/use-notifications-and-policy-tips.md
Labels: compliance

#8248 Update data-classification-content-explorer.md
  microsoft-365/compliance/data-classification-content-explorer.md
Labels: compliance

#8272 Update admin-submissions-mde.md
  microsoft-365/security/defender-endpoint/admin-submissions-mde.md
Labels: Microsoft submitter, Defender for Endpoint

#8273 Update configure-review-priority-account.md
  microsoft-365/security/office-365-security/configure-review-priority-account.md
Labels: Microsoft submitter

#8291 Licensing cmdlet deprecation updates
  microsoft-365/enterprise/assign-licenses-to-user-accounts-with-microsoft-365-powershell.md
  microsoft-365/enterprise/disable-access-to-services-with-microsoft-365-powershell.md
  microsoft-365/enterprise/remove-licenses-from-user-accounts-with-microsoft-365-powershell.md
  microsoft-365/enterprise/view-account-license-and-service-details-with-microsoft-365-powershell.md
  microsoft-365/enterprise/view-licensed-and-unlicensed-users-with-microsoft-365-powershell.md
  microsoft-365/enterprise/view-licenses-and-services-with-microsoft-365-powershell.md
Labels: Microsoft submitter

#8287 recorrected video link
  microsoft-365/bookings/bookings-overview.md
Labels: admin

#8278 Url fixed
  microsoft-365/security/defender-endpoint/get-machinegroups-collection.md
Labels: Defender for Endpoint

#8283 Update bundle ID from Microsoft AutoUpdate.app to Microsoft Update Assistant.app
  microsoft-365/security/defender-endpoint/mac-jamfpro-policies.md
Labels: Defender for Endpoint

#8253 Update configure-endpoints-vdi.md
  microsoft-365/security/defender-endpoint/configure-endpoints-vdi.md
Labels: Defender for Endpoint

#8252 Update api-advanced-hunting.md
  microsoft-365/security/defender/api-advanced-hunting.md
Labels: Microsoft 365 Defender

#7375 Update ediscovery-decryption.md
  microsoft-365/compliance/ediscovery-decryption.md
Labels: compliance

#8313 Updated the classification of spam
  microsoft-365/security/office-365-security/manage-tenant-blocks.md
Labels: Microsoft submitter, Defender for Office 365

#8286 typo correction
  microsoft-365/admin/add-users/intune-admin-roles-in-the-mac.md
Labels: admin

#8326 Update user-tags.md
  microsoft-365/security/office-365-security/user-tags.md
Labels: Microsoft submitter

#8325 broken link fixed
  microsoft-365/security/defender-endpoint/configure-endpoints-vdi.md
Labels: Defender for Endpoint

#8328 Clarification on "EDR Block Mode"
  microsoft-365/security/defender-endpoint/microsoft-defender-antivirus-compatibility.md
Labels: Microsoft submitter, Defender for Endpoint

#8329 Update create-a-shared-mailbox.md
  microsoft-365/admin/email/create-a-shared-mailbox.md
Labels: admin

#8336 Removed incorrect statement in sample script
  microsoft-365/enterprise/disable-access-to-services-with-microsoft-365-powershell.md
Labels: Enterprise, Microsoft submitter

#8335 Added missing license scope
  microsoft-365/enterprise/view-account-license-and-service-details-with-microsoft-365-powershell.md
Labels: Enterprise, Microsoft submitter

#8331 Update additional-office365-ip-addresses-and-urls.md
  microsoft-365/enterprise/additional-office365-ip-addresses-and-urls.md
Labels: Enterprise

#8346 Update mdb-configure-security-settings.md
  microsoft-365/security/defender-business/mdb-configure-security-settings.md
Labels: Microsoft submitter

#8348 Update microsoft-defender-antivirus-compatibility.md
  microsoft-365/security/defender-endpoint/microsoft-defender-antivirus-compatibility.md
Labels: Defender for Endpoint

#8355 Multiple email attachments not supported
  microsoft-365/security/office-365-security/user-submission.md
Labels: Microsoft submitter

#8360 Section not relevant
  microsoft-365/security/office-365-security/enable-the-report-message-add-in.md
Labels: Microsoft submitter

#8382 Updating roles and groups for spoof intelligence
  microsoft-365/security/office-365-security/walkthrough-spoof-intelligence-insight.md
Labels: Microsoft submitter

#8383 Updating roles and groups for spoof intelligence
  microsoft-365/security/office-365-security/learn-about-spoof-intelligence.md
Labels: Microsoft submitter

#8381 Calling out roles clearly
  microsoft-365/security/office-365-security/tenant-allow-block-list.md
Labels: Microsoft submitter

#8352 Update configure-extension-file-exclusions-microsoft-defender-antivir…
  microsoft-365/security/defender-endpoint/configure-extension-file-exclusions-microsoft-defender-antivirus.md
Labels: Defender for Endpoint

#8371 correct directions
  microsoft-365/compliance/use-network-upload-to-import-pst-files.md
Labels: compliance

#8361 Update migrate-to-defender-for-office-365.md
  microsoft-365/security/office-365-security/migrate-to-defender-for-office-365.md
Labels: Microsoft submitter, Defender for Office 365

#8377 added correct link
  microsoft-365/security/defender-endpoint/microsoft-defender-endpoint.md
Labels: Defender for Endpoint

#8358 Correcting DoD URL
  microsoft-365/security/defender-endpoint/gov.md
Labels: Microsoft submitter, Defender for Endpoint

#8378 typo correction
  microsoft-365/admin/setup/setup-business-standard.md
Labels: admin

#8164 Update delete-a-user.md
  microsoft-365/admin/add-users/delete-a-user.md
Labels: admin

#8196 Update idle-session-timeout-web-apps.md
  microsoft-365/admin/manage/idle-session-timeout-web-apps.md
Labels: admin

#8399 Update servicenow-aad-oauth-token.md
  microsoft-365/admin/manage/servicenow-aad-oauth-token.md
Labels: admin

#8395 Clearly calling out Spoof allow action
  microsoft-365/security/office-365-security/manage-tenant-allows.md
Labels: Microsoft submitter

#8397 Email Behavior due to TABL spoof block
  microsoft-365/security/office-365-security/manage-tenant-blocks.md
Labels: Microsoft submitter

#6736 Update browser-usage-report.md
  microsoft-365/admin/activity-reports/browser-usage-report.md
Labels: admin

#7924 Update remove-licenses-from-user-accounts-with-microsoft-365-powershe…
  microsoft-365/enterprise/remove-licenses-from-user-accounts-with-microsoft-365-powershell.md
Labels: Enterprise

#8404 Update remove-former-employee-step-5.md
  microsoft-365/admin/add-users/remove-former-employee-step-5.md
Labels: admin

#8426 how TABL allows work
  microsoft-365/security/office-365-security/manage-tenant-allows.md
Labels: Microsoft submitter

#8436 removed preview
  microsoft-365/security/defender-business/mdb-troubleshooting.yml
Labels: Defender for Business

#8424 Location update for SE
  microsoft-365/managed-desktop/service-description/privacy-personal-data.md
Labels: Microsoft submitter, managed-desktop

#8421 Changed Cosoms to Cosmos
  microsoft-365/compliance/sensitivity-labels.md
Labels: compliance

#8420 Update create-sensitivity-labels.md
  microsoft-365/compliance/create-sensitivity-labels.md
Labels: compliance, Microsoft submitter

#8349 Update mdo-email-entity-page.md
  microsoft-365/security/office-365-security/mdo-email-entity-page.md
Labels: Microsoft submitter, Defender for Office 365

#7149 Update threat-analytics.md
  microsoft-365/security/defender-endpoint/threat-analytics.md
Labels: Defender for Endpoint

#8445 Update best-practices-anonymous-sharing.md
  microsoft-365/solutions/best-practices-anonymous-sharing.md
Labels: solutions

#8281 Update device-control-removable-storage-access-control.md
  microsoft-365/security/defender-endpoint/device-control-removable-storage-access-control.md
Labels: Defender for Endpoint

#8453 Calling out custom mailbox behavior
  microsoft-365/security/office-365-security/user-submission.md
Labels: Microsoft submitter

#8451 Calling out Sender allow corner case
  microsoft-365/security/office-365-security/manage-tenant-allows.md
Labels: Microsoft submitter

#8457 Update cancel-your-subscription.md
  microsoft-365/commerce/subscriptions/cancel-your-subscription.md
Labels: Microsoft submitter

#8460 Permission to be assigned from EXO not from MDO
  microsoft-365/security/office-365-security/tenant-allow-block-list.md
Labels: Microsoft submitter
