Repository MicrosoftDocs/microsoft-365-docs, pull requests merged in 2022-07, with the labels that each got.

#9067 Dynamic delivery needs to be off
  microsoft-365/security/office-365-security/user-submission.md
Labels: Microsoft submitter

#9079 Update manage-quarantined-messages-and-files.md
  microsoft-365/security/office-365-security/manage-quarantined-messages-and-files.md
Labels: Microsoft submitter

#9080 Update find-and-release-quarantined-messages-as-a-user.md
  microsoft-365/security/office-365-security/find-and-release-quarantined-messages-as-a-user.md
Labels: Microsoft submitter

#9068 Added reference to MDE
  microsoft-365/security/office-365-security/report-junk-email-messages-to-microsoft.md
Labels: Microsoft submitter, Defender for Office 365

#9069 added reference to FP and email attachment
  microsoft-365/security/office-365-security/admin-submission.md
Labels: Microsoft submitter, Defender for Office 365

#9071 distinction between files and email attachments
  microsoft-365/security/office-365-security/report-junk-email-messages-to-microsoft.md
Labels: Microsoft submitter, Defender for Office 365

#9098 Update view-and-release-quarantined-messages-from-shared-mailboxes.md
  microsoft-365/security/office-365-security/view-and-release-quarantined-messages-from-shared-mailboxes.md
Labels: Microsoft submitter

#9099 Update pay-for-your-subscription.md
  microsoft-365/commerce/billing-and-payments/pay-for-your-subscription.md
Labels: Microsoft submitter

#8802 Update manage-billing-profiles.md
  microsoft-365/commerce/billing-and-payments/manage-billing-profiles.md
Labels: admin

#9113 Update pay-for-subscription-billing-profile.md
  microsoft-365/commerce/billing-and-payments/pay-for-subscription-billing-profile.md
Labels: Microsoft submitter

#9114 Update dlp-configure-endpoint-settings.md
  microsoft-365/compliance/dlp-configure-endpoint-settings.md
Labels: compliance, Microsoft submitter

#9088 removed duplicate table
  microsoft-365/security/defender-endpoint/deployment-strategy.md
Labels: Defender for Endpoint

#9075 Update configure-server-endpoints.md
  microsoft-365/security/defender-endpoint/configure-server-endpoints.md
Labels: Microsoft submitter, Defender for Endpoint

#9083 Update troubleshoot-security-config-mgt.md
  microsoft-365/security/defender-endpoint/troubleshoot-security-config-mgt.md
Labels: Microsoft submitter, Defender for Endpoint

#8986 Update microsoft-defender-endpoint-ios.md
  microsoft-365/security/defender-endpoint/microsoft-defender-endpoint-ios.md
Labels: Defender for Endpoint

#9115 Update password-policy-recommendations.md
  microsoft-365/admin/misc/password-policy-recommendations.md
Labels: admin

#8991 Update manage-feedback-product-insights.md
  microsoft-365/admin/manage/manage-feedback-product-insights.md
Labels: admin

#9074 Update compare-groups.md
  microsoft-365/admin/create-groups/compare-groups.md
Labels: compliance

#9146 Update gdpr-requests.md
  microsoft-365/whiteboard/gdpr-requests.md
Labels: Microsoft submitter

#9136 Update microsoft-365-groups-expiration-policy.md
  microsoft-365/solutions/microsoft-365-groups-expiration-policy.md
Labels: solutions

#9127 Update microsoft-defender-antivirus-windows.md
  microsoft-365/security/defender-endpoint/microsoft-defender-antivirus-windows.md
Labels: Defender for Endpoint

#9138 Update defender-endpoint-plan-1-2.md
  microsoft-365/security/defender-endpoint/defender-endpoint-plan-1-2.md
Labels: Defender for Endpoint

#9133 Update prevent-changes-to-security-settings-with-tamper-protection.md
  microsoft-365/security/defender-endpoint/prevent-changes-to-security-settings-with-tamper-protection.md
Labels: Defender for Endpoint

#9139 Update microsoft-defender-antivirus-compatibility.md
  microsoft-365/security/defender-endpoint/microsoft-defender-antivirus-compatibility.md
Labels: Defender for Endpoint

#9148 Update permissions-in-the-security-and-compliance-center.md
  microsoft-365/security/office-365-security/permissions-in-the-security-and-compliance-center.md
Labels: Defender for Office 365

#9162 Create Deploy & configure the report message add-in.md
  microsoft-365/security/office-365-security/step-by-step-guides/Deploy & configure the report message add-in.md
Labels: Microsoft submitter

#9109 Create How to enable DMARC Reporting for Microsoft Online Email Routi…
  microsoft-365/security/office-365-security/step-by-step-guides/How to enable DMARC Reporting for Microsoft Online Email Routing Address (MOERA) and parked Domains
Labels: Microsoft submitter, Defender for Office 365

#9165 Create Assess the impact of security configuration changes with Explo…
  microsoft-365/security/office-365-security/step-by-step-guides/Assess the impact of security configuration changes with Explorer.md
Labels: Microsoft submitter

#9092 added new version
  microsoft-365/security/defender-endpoint/troubleshoot-performance-issues.md
Labels: Defender for Endpoint

#8887 Update advanced-hunting-fileprofile-function.md
  microsoft-365/security/defender/advanced-hunting-fileprofile-function.md
Labels: Microsoft submitter, Microsoft 365 Defender

#9172 Adding two more screenshots to be added to the page
  microsoft-365/media/quarentinepage.png
  microsoft-365/qurentine-globalsettings.png
  microsoft-365/security/office-365-security/quarantine-policies.md
Labels: Defender for Office 365

#9180 Added edge case for TABL sync
  microsoft-365/security/office-365-security/manage-tenant-allow-block-list.md
Labels: Microsoft submitter

#9141 Update android-intune.md
  microsoft-365/security/defender-endpoint/android-intune.md
Labels: Defender for Endpoint

#9122 Update investigate-dlp.md
  microsoft-365/security/defender/investigate-dlp.md
Labels: Microsoft 365 Defender

#8990 Update linux-install-manually.md
  microsoft-365/security/defender-endpoint/linux-install-manually.md
Labels: Defender for Endpoint

#9182 Added edge case for TABL sync
  microsoft-365/security/office-365-security/tenant-allow-block-list.md
Labels: Microsoft submitter

#9173 Update api-advanced-hunting.md
  microsoft-365/security/defender/api-advanced-hunting.md
Labels: security, Microsoft 365 Defender

#9125 Update configure-server-endpoints.md
  microsoft-365/security/defender-endpoint/configure-server-endpoints.md
Labels: Microsoft submitter, Defender for Endpoint

#9190 Update create-an-extractor.md
  microsoft-365/contentunderstanding/create-an-extractor.md
Labels: Microsoft submitter

#9207 Updated paths to cmdlets' reference documentation
  microsoft-365/compliance/view-the-dlp-reports.md
Labels: compliance

#9209 Update manage-auto-investigation.md
  microsoft-365/security/defender-endpoint/manage-auto-investigation.md
Labels: Microsoft submitter

#9210 Update automation-levels.md
  microsoft-365/security/defender-endpoint/automation-levels.md
Labels: Microsoft submitter

#9135 Update endpoint-dlp-using.md
  microsoft-365/compliance/endpoint-dlp-using.md
Labels: compliance

#9119 Update device-onboarding-macos-overview.md
  microsoft-365/compliance/device-onboarding-macos-overview.md
Labels: compliance

#9089 Update dlp-policy-tips-reference.md - added support for Power BI
  microsoft-365/compliance/dlp-policy-tips-reference.md
Labels: compliance

#9212 Delete How to enable DMARC Reporting for Microsoft Online Email Routi…
  microsoft-365/security/office-365-security/step-by-step-guides/How to enable DMARC Reporting for Microsoft Online Email Routing Address (MOERA) and parked Domains.md
Labels: Microsoft submitter

#8718 Update endpoint-dlp-learn-about.md
  microsoft-365/compliance/endpoint-dlp-learn-about.md
Labels: compliance

#8674 Update dlp-configure-view-alerts-policies.md
  microsoft-365/compliance/dlp-configure-view-alerts-policies.md
Labels: compliance

#8415 Update data-classification-overview.md
  microsoft-365/compliance/data-classification-overview.md
Labels: compliance

#9213 Updated section for reporting
  microsoft-365/security/office-365-security/admin-submission.md
Labels: Microsoft submitter, Defender for Office 365

#9193 apt-key deprecated document Update
  microsoft-365/security/defender-endpoint/linux-install-manually.md
Labels: Defender for Endpoint

#9221 Update whats-new.md
  microsoft-365/compliance/whats-new.md
Labels: compliance, Microsoft submitter

#9197 Removing redundant alert
  microsoft-365/compliance/alert-policies.md
Labels: compliance, Microsoft submitter

#9231 Update anti-spam-message-headers.md
  microsoft-365/security/office-365-security/anti-spam-message-headers.md
Labels: Defender for Office 365

#9235 Update indicator-manage.md
  microsoft-365/security/defender-endpoint/indicator-manage.md
Labels: Defender for Endpoint

#9230 Update create-a-report-on-holds-in-ediscovery-cases.md
  microsoft-365/compliance/create-a-report-on-holds-in-ediscovery-cases.md
Labels: compliance

#9239 Update quarantine-email-messages.md
  microsoft-365/security/office-365-security/quarantine-email-messages.md
Labels: Microsoft submitter

#9248 Update index.yml
  microsoft-365/security/defender-business/index.yml
Labels: Microsoft submitter

#9189 Update configure-siem.md for Datadog
  microsoft-365/security/defender-endpoint/configure-siem.md
Labels: Defender for Endpoint

#9240 Correct GPO location of "Disable gradual rollout of Microsoft Defende…
  microsoft-365/security/defender-endpoint/configure-updates.md
Labels: Defender for Endpoint

#9242 added correct sha-256 hash
  microsoft-365/security/defender-endpoint/run-analyzer-macos-linux.md
Labels: Defender for Endpoint

#9216 Update microsoft-365-mailbox-utilization-service-alerts.md
  microsoft-365/enterprise/microsoft-365-mailbox-utilization-service-alerts.md
Labels: Enterprise, Microsoft submitter

#9241 Update configure-user-account-properties-with-microsoft-365-powershel…
  microsoft-365/enterprise/configure-user-account-properties-with-microsoft-365-powershell.md
Labels: Enterprise

#9247 Update moving-data-to-new-datacenter-geos.md
  microsoft-365/enterprise/moving-data-to-new-datacenter-geos.md
Labels: Enterprise

#9132 Update idle-session-timeout-web-apps.md
  microsoft-365/admin/manage/idle-session-timeout-web-apps.md
Labels: admin

#9134 Update idle-session-timeout-web-apps.md
  microsoft-365/admin/manage/idle-session-timeout-web-apps.md
Labels: admin

#9168 Update let-users-reset-passwords.md
  microsoft-365/admin/add-users/let-users-reset-passwords.md
Labels: Microsoft submitter, admin

#9254 Update mfi-new-users-forwarding-email.md
  microsoft-365/security/office-365-security/mfi-new-users-forwarding-email.md
Labels: Defender for Office 365

#9257 Update safe-attachments.md
  microsoft-365/security/office-365-security/safe-attachments.md
Labels: Defender for Office 365

#9227 Update delete-calendar.md
  microsoft-365/bookings/delete-calendar.md
Labels: Bookings

#9259 Update enable-mailbox-auditing.md
  microsoft-365/compliance/enable-mailbox-auditing.md
Labels: compliance, Microsoft submitter

#8989 Update password-policy-recommendations.md
  microsoft-365/admin/misc/password-policy-recommendations.md
Labels: admin

#9260 Update microsoft-365-overview.md
  microsoft-365/enterprise/microsoft-365-overview.md
Labels: Microsoft submitter

#9261 Update index.md
  microsoft-365/business-premium/index.md
Labels: Microsoft submitter

#9269 Update microsoft-365-groups-expiration-policy.md
  microsoft-365/solutions/microsoft-365-groups-expiration-policy.md
Labels: solutions

#9199 Update dlp-policy-reference.md
  microsoft-365/compliance/dlp-policy-reference.md
Labels: compliance, do not merge, Microsoft submitter

#9271 Update groups-services-interactions.md
  microsoft-365/solutions/groups-services-interactions.md
Labels: solutions

#9275 typo correction
  microsoft-365/security/office-365-security/detect-and-remediate-illicit-consent-grants.md
Labels: Defender for Office 365

#9191 Updating to add a new feature
  microsoft-365/security/office-365-security/virus-detection-in-spo.md
Labels: Microsoft submitter, Defender for Office 365

#9095 added MHA link
  microsoft-365/security/office-365-security/use-arc-exceptions-to-mark-trusted-arc-senders.md
Labels: security, Defender for Office 365

#9284 Update onboard-configure.md
  microsoft-365/security/defender-endpoint/onboard-configure.md
Labels: Defender for Endpoint

#9283 Update mssp-list.md
  microsoft-365/security/defender-endpoint/mssp-list.md
Labels: Defender for Endpoint

#8940 Update non-windows.md
  microsoft-365/security/defender-endpoint/non-windows.md
Labels: Defender for Endpoint

#9226 Update apply-irm-to-a-list-or-library.md
  microsoft-365/compliance/apply-irm-to-a-list-or-library.md
Labels: compliance

#9171 Update set-up-new-message-encryption-capabilities.md
  microsoft-365/compliance/set-up-new-message-encryption-capabilities.md
Labels: compliance
