Repository MicrosoftDocs/microsoft-365-docs, pull requests merged in 2022-12, with the labels that each got.

#10425 Defining Exclusion Table
  microsoft-365/security/defender-endpoint/switch-to-mde-phase-2.md
Labels: Microsoft submitter, Defender for Endpoint

#10352 Update configure-server-exclusions-microsoft-defender-antivirus.md
  microsoft-365/security/defender-endpoint/configure-server-exclusions-microsoft-defender-antivirus.md
Labels: Defender for Endpoint

#10426 Update linux-whatsnew.md
  microsoft-365/security/defender-endpoint/linux-whatsnew.md
Labels: Microsoft submitter, Defender for Endpoint

#10434 Update use-arc-exceptions-to-mark-trusted-arc-senders.md
  microsoft-365/security/office-365-security/use-arc-exceptions-to-mark-trusted-arc-senders.md
Labels: Defender for Office 365

#10439 "Update linux-whatsnew.md - Version 2""
  microsoft-365/security/defender-endpoint/linux-whatsnew.md
Labels: do not merge, Microsoft submitter

#10435 Update controlled-folders.md
  microsoft-365/security/defender-endpoint/controlled-folders.md
Labels: Defender for Endpoint

#10443 Adding Windows Exclusions for Server 2012r2 and above including Win1x
  microsoft-365/security/defender-endpoint/switch-to-mde-troubleshooting.md
Labels: Microsoft submitter, Defender for Endpoint

#10444 Fixing Syntax errors
  microsoft-365/security/defender-endpoint/schedule-antivirus-scan-in-mde.md
Labels: Defender for Endpoint

#10436 Update network-protection.md
  microsoft-365/security/defender-endpoint/network-protection.md
Labels: Defender for Endpoint

#10437 Update network-protection.md
  microsoft-365/security/defender-endpoint/network-protection.md
Labels: Defender for Endpoint

#10445 Revert " "Update linux-whatsnew.md - Version 2"""
  microsoft-365/security/defender-endpoint/linux-whatsnew.md
Labels: Microsoft submitter

#10049 Add files via upload
  adv_deploy_guide_page.png
  microsoft-365/media/adv-deploy-guide-page.png
  microsoft-365/media/training-guides-assistance.png
  microsoft-365/security/defender-endpoint/images/action-center-actions.png
  microsoft-365/security/defender-endpoint/images/file-prevalence.png
  microsoft-365/security/defender-endpoint/images/incidents-alerts.png
  training_guides_assistance.png
Labels: Enterprise

#10448 Update respond-machine-alerts.md
  microsoft-365/security/defender-endpoint/respond-machine-alerts.md
Labels: Microsoft submitter

#10453 Update files-to-onedrive.md
  microsoft-365/admin/setup/files-to-onedrive.md
Labels: admin

#10447 Minor Grammer Fixes
  microsoft-365/security/defender-endpoint/deployment-vdi-microsoft-defender-antivirus.md
Labels: Microsoft submitter, Defender for Endpoint

#10451 Update TOC.md
  microsoft-365/security/defender-endpoint/TOC.md
Labels: Microsoft submitter, Defender for Endpoint

#10314 Update assign-licenses-to-user-accounts-with-microsoft-365-powershell.md
  microsoft-365/enterprise/assign-licenses-to-user-accounts-with-microsoft-365-powershell.md
Labels: Enterprise

#10464 Typo "Step 6: **Configure"→"Step 6: Configure"
  microsoft-365/admin/misc/pilot-microsoft-365-from-my-custom-domain.md
Labels: admin

#10472 Warning about DKIM under specific configuration
  microsoft-365/security/office-365-security/email-authentication-dkim-configure.md
Labels: Defender for Office 365

#10493 Update m365d-enable-faq.md
  microsoft-365/security/defender/m365d-enable-faq.md
Labels: Microsoft submitter, Microsoft 365 Defender

#10312 Update m365-feature-descriptions.md
  microsoft-365/admin/m365-feature-descriptions.md
Labels: admin

#10498 Update submissions-users-report-message-add-in-configure.md
  microsoft-365/security/office-365-security/submissions-users-report-message-add-in-configure.md
Labels: Defender for Office 365

#10198 Update domains-faq.yml
  microsoft-365/admin/setup/domains-faq.yml
Labels: admin

#10405 Update indicator-manage.md
  microsoft-365/security/defender-endpoint/indicator-manage.md
Labels: Defender for Endpoint

#10407 Update ios-configure-features.md
  microsoft-365/security/defender-endpoint/ios-configure-features.md
Labels: Defender for Endpoint

#10404 Update configure-proxy-internet.md
  microsoft-365/security/defender-endpoint/configure-proxy-internet.md
Labels: Defender for Endpoint

#10495 Update attack-surface-reduction-rules-reference.md
  microsoft-365/security/defender-endpoint/attack-surface-reduction-rules-reference.md
Labels: Defender for Endpoint

#10508 discrepancy between product and documentation
  microsoft-365/security/defender-endpoint/automation-levels.md
Labels: Defender for Endpoint

#10506 Update modern-desktop-deployment-and-management-lab.md
  microsoft-365/enterprise/modern-desktop-deployment-and-management-lab.md
Labels: managed-desktop

#10499 Update group-level-aggregates.md
  microsoft-365/admin/adoption/group-level-aggregates.md
Labels: admin

#10485 Apple M2 Processors Not Mentioned
  microsoft-365/security/defender-vulnerability-management/tvm-hardware-and-firmware.md
Labels: Defender Vulnerability Management

#10512 Update additional-office365-ip-addresses-and-urls.md
  microsoft-365/enterprise/additional-office365-ip-addresses-and-urls.md
Labels: Enterprise, Microsoft submitter

#10373 Update access-mssp-portal.md
  microsoft-365/security/defender-endpoint/access-mssp-portal.md
Labels: Defender for Endpoint

#10383 Add link to M365 Defender for Cloud
  microsoft-365/security/defender/microsoft-365-defender.md
Labels: Microsoft 365 Defender

#10429 Update configure-server-endpoints.md
  microsoft-365/security/defender-endpoint/configure-server-endpoints.md
Labels: Defender for Endpoint

#10477 Remove DiagTrack section
  microsoft-365/security/defender-endpoint/minimum-requirements.md
Labels: Microsoft submitter, Defender for Endpoint

#10450 Update manage-incidents.md
  microsoft-365/security/defender-endpoint/manage-incidents.md
Labels: Defender for Endpoint

#10494 Update supported-capabilities-by-platform.md
  microsoft-365/security/defender-endpoint/supported-capabilities-by-platform.md
Labels: Defender for Endpoint

#10309 Update add-staff.md
  microsoft-365/bookings/add-staff.md
Labels: Bookings

#10202 Update delete-a-user.md
  microsoft-365/admin/add-users/delete-a-user.md
Labels: admin

#10518 Removes SFBO/Hybrid mentions - cleaned targets
  microsoft-365/enterprise/external-domain-name-system-records.md
Labels: Enterprise, Microsoft submitter

#10523 Corrected location for report phishing manifest file
  microsoft-365/security/office-365-security/submissions-users-report-message-add-in-configure.md
Labels: Microsoft submitter, Defender for Office 365

#10515 Update live-response.md
  microsoft-365/security/defender-endpoint/live-response.md
Labels: Microsoft submitter, Defender for Endpoint

#10537 Update defender-endpoint-plan-1-2.md
  microsoft-365/security/defender-endpoint/defender-endpoint-plan-1-2.md
Labels: Microsoft submitter

#10527 allow expiration is WW
  microsoft-365/security/office-365-security/tenant-allow-block-list-about.md
Labels: Microsoft submitter

#10528 allow expiration is WW
  microsoft-365/security/office-365-security/tenant-allow-block-list-email-spoof-configure.md
Labels: Microsoft submitter

#10208 Update tls-1.0-and-1.1-deprecation-for-office-365.md
  microsoft-365/compliance/tls-1.0-and-1.1-deprecation-for-office-365.md
Labels: compliance

#9073 Update tls-1.0-and-1.1-deprecation-for-office-365.md
  microsoft-365/compliance/tls-1.0-and-1.1-deprecation-for-office-365.md
Labels: compliance

#10406 Update custom-roles.md
  microsoft-365/security/defender/custom-roles.md
Labels: Microsoft 365 Defender

#10534 Update defender-endpoint-demonstration-controlled-folder-access-test-…
  microsoft-365/security/defender-endpoint/defender-endpoint-demonstration-controlled-folder-access-test-tool.md
Labels: Defender for Endpoint

#10350 Update deploy-manage-removable-storage-intune.md
  microsoft-365/security/defender-endpoint/deploy-manage-removable-storage-intune.md
Labels: Defender for Endpoint

#10313 Update mac-whatsnew.md
  microsoft-365/security/defender-endpoint/mac-whatsnew.md
Labels: Defender for Endpoint

#10057 Update microsoft-defender-endpoint-android.md
  microsoft-365/security/defender-endpoint/microsoft-defender-endpoint-android.md
Labels: Defender for Endpoint

#9818 Update linux-preferences.md
  microsoft-365/security/defender-endpoint/linux-preferences.md
Labels: Defender for Endpoint

#10533 Update manage-protection-update-schedule-microsoft-defender-antivirus.md
  microsoft-365/security/defender-endpoint/manage-protection-update-schedule-microsoft-defender-antivirus.md
Labels: Defender for Endpoint

#10530 Update enable-cloud-protection-microsoft-defender-antivirus.md
  microsoft-365/security/defender-endpoint/enable-cloud-protection-microsoft-defender-antivirus.md
Labels: Defender for Endpoint

#10310 Update defender-for-office-365.md
  microsoft-365/security/office-365-security/defender-for-office-365.md
Labels: Defender for Office 365

#10568 Update submissions-report-messages-files-to-microsoft.md
  microsoft-365/security/office-365-security/submissions-report-messages-files-to-microsoft.md
Labels: Defender for Office 365

#10567 Update submissions-admin.md
  microsoft-365/security/office-365-security/submissions-admin.md
Labels: Microsoft submitter, Defender for Office 365
