Repository MicrosoftDocs/microsoft-365-docs, pull requests merged in 2022-10, with the labels that each got.

#9688 Update switch-to-mde-phase-1.md
  microsoft-365/security/defender-endpoint/switch-to-mde-phase-1.md
Labels: Defender for Endpoint

#9864 Update index.md
  microsoft-365/contentunderstanding/index.md
Labels: Syntex

#9845 Update ios-install.md
  microsoft-365/security/defender-endpoint/ios-install.md
Labels: Defender for Endpoint

#9825 Update configure-server-endpoints.md
  microsoft-365/security/defender-endpoint/configure-server-endpoints.md
Labels: Defender for Endpoint

#9790 Update manage-alerts.md
  microsoft-365/security/defender-endpoint/manage-alerts.md
Labels: Defender for Endpoint

#9745 Update configure-siem.md
  microsoft-365/security/defender-endpoint/configure-siem.md
Labels: Defender for Endpoint

#9715 Add SCCM Role Requirement
  microsoft-365/security/defender-endpoint/configure-endpoints-sccm.md
Labels: Defender for Endpoint

#9848 Update onboard-windows-server.md
  microsoft-365/security/defender-endpoint/onboard-windows-server.md
Labels: Defender for Endpoint

#9880 Added exceptions in DLP for user reports
  microsoft-365/security/office-365-security/user-submission.md
Labels: Microsoft submitter, Defender for Office 365

#9510 Update cross-tenant-mailbox-migration.md
  microsoft-365/enterprise/cross-tenant-mailbox-migration.md
Labels: Enterprise

#9522 Update connect-to-microsoft-365-powershell.md
  microsoft-365/enterprise/connect-to-microsoft-365-powershell.md
Labels: Enterprise

#9633 Update cross-tenant-mailbox-migration.md
  microsoft-365/enterprise/cross-tenant-mailbox-migration.md
Labels: Enterprise

#9750 Update configure-exchange-server-for-hybrid-modern-authentication.md
  microsoft-365/enterprise/configure-exchange-server-for-hybrid-modern-authentication.md
Labels: Enterprise

#9887 Update assign-licenses-to-user-accounts-with-microsoft-365-powershell.md
  microsoft-365/enterprise/assign-licenses-to-user-accounts-with-microsoft-365-powershell.md
Labels: admin

#9863 Updating the servicenow overview page
  microsoft-365/admin/manage/servicenow-overview.md
Labels: Microsoft submitter, admin

#9859 Update index.md
  microsoft-365/whiteboard/index.md
Labels: Whiteboard

#9896 Update built-in-protection.md
  microsoft-365/security/defender-endpoint/built-in-protection.md
Labels: Defender for Endpoint

#9685 Update password-policy-recommendations.md
  microsoft-365/admin/misc/password-policy-recommendations.md
Labels: Microsoft submitter, admin

#9614 Update activity-reports.md
  microsoft-365/admin/activity-reports/activity-reports.md
Labels: admin

#9537 Update test-and-deploy-microsoft-365-apps.md
  microsoft-365/admin/manage/test-and-deploy-microsoft-365-apps.md
Labels: admin

#9690 Update bookings-in-outlook.md
  microsoft-365/bookings/bookings-in-outlook.md
Labels: Bookings

#9847 Update data-classification-increase-accuracy.md
  microsoft-365/compliance/data-classification-increase-accuracy.md
Labels: compliance, Microsoft submitter

#9899 Update use-notifications-and-policy-tips.md
  microsoft-365/compliance/use-notifications-and-policy-tips.md
Labels: compliance, Microsoft submitter

#7218 Update manage-auto-claim-policies.md
  microsoft-365/commerce/licenses/manage-auto-claim-policies.md
Labels: admin

#9929 Update manage-sharing-gcc.md information on shared devices
  microsoft-365/whiteboard/manage-sharing-gcc-high.md
  microsoft-365/whiteboard/manage-sharing-gcc.md
  microsoft-365/whiteboard/manage-sharing-organizations.md
Labels: Whiteboard

#9930 Update about-shared-mailboxes.md
  microsoft-365/admin/email/about-shared-mailboxes.md
Labels: admin

#9918 Update air-review-approve-pending-completed-actions.md
  microsoft-365/security/office-365-security/air-review-approve-pending-completed-actions.md
Labels: Defender for Office 365

#9934 Updated TABL filtering logic
  microsoft-365/security/office-365-security/admin-submission.md
Labels: Microsoft submitter

#9943 Update bookings-in-outlook.md
  microsoft-365/bookings/bookings-in-outlook.md
Labels: admin

#9942 Update mam-and-mdm.md
  microsoft-365/business/ui/mam-and-mdm.md
Labels: admin

#9837 Update yammer-device-usage-report-ww.md
  microsoft-365/admin/activity-reports/yammer-device-usage-report-ww.md
Labels: Microsoft submitter, admin

#9867 Update adoption-score.md
  microsoft-365/admin/adoption/adoption-score.md
Labels: admin

#9694 Update admin-center-overview.md
  microsoft-365/admin/admin-overview/admin-center-overview.md
Labels: admin

#9692 Update remove-a-domain.md
  microsoft-365/admin/get-help-with-domains/remove-a-domain.md
Labels: admin

#9343 Update create-dns-records-at-cloudflare.md
  microsoft-365/admin/dns/create-dns-records-at-cloudflare.md
Labels: admin

#9126 Update transfer-a-domain-from-microsoft-to-another-host.md
  microsoft-365/admin/get-help-with-domains/transfer-a-domain-from-microsoft-to-another-host.md
Labels: admin

#9907 Fix typo in "What is Microsoft Defender Threat Intelligence"
  defender/threat-intelligence/what-is-microsoft-defender-threat-intelligence-defender-ti.md
Labels: threat intelligence

#9956 Update compliance-manager-alert-policies.md
  microsoft-365/compliance/compliance-manager-alert-policies.md
Labels: compliance

#9955 Update setup-guides-for-microsoft-365.md
  microsoft-365/enterprise/setup-guides-for-microsoft-365.md
Labels: Enterprise, Microsoft submitter

#9895 Update ipv6-support.md
  microsoft-365/enterprise/ipv6-support.md
Labels: Enterprise, Microsoft submitter

#8100 Updating the AAD OAuth page
  microsoft-365/admin/manage/servicenow-aad-oauth-token.md
Labels: Microsoft submitter, admin

#9967 update android support
  microsoft-365/security/defender-endpoint/gov.md
Labels: Microsoft submitter

#9819 Update linux-resources.md
  microsoft-365/security/defender-endpoint/linux-resources.md
Labels: Defender for Endpoint

#9753 Update virus-initiative-criteria.md
  microsoft-365/security/intelligence/virus-initiative-criteria.md
Labels: security, intelligence

#9759 Update safety-scanner-download.md
  microsoft-365/security/intelligence/safety-scanner-download.md
Labels: security, intelligence

#9886 Update minimum-requirements.md
  microsoft-365/security/defender-endpoint/minimum-requirements.md
Labels: Defender for Endpoint

#9968 Update manage-sharing-organizations.md for WB sharing in shared devices
  microsoft-365/whiteboard/manage-sharing-gcc-high.md
  microsoft-365/whiteboard/manage-sharing-gcc.md
  microsoft-365/whiteboard/manage-sharing-organizations.md
Labels: Whiteboard

#9959 Fixing broken link
  microsoft-365/security/office-365-security/what-s-the-difference-between-junk-email-and-bulk-email.md
Labels: Defender for Office 365

#9969 Update submission-guide.md
  microsoft-365/security/intelligence/submission-guide.md
Labels: Microsoft submitter

#9974 Update mde-device-control-device-installation.md
  microsoft-365/security/defender-endpoint/mde-device-control-device-installation.md
Labels: Defender for Endpoint

#9980 Update 95341270-b738b280-08d3-11eb-84a0-16abb140c9fd.png
  microsoft-365/media/95341270-b738b280-08d3-11eb-84a0-16abb140c9fd.png
  microsoft-365/security/defender-endpoint/enable-network-protection.md
Labels: Defender for Endpoint

#9977 Update schedule-antivirus-scans.md
  microsoft-365/security/defender-endpoint/schedule-antivirus-scans.md
Labels: Defender for Endpoint

#9976 Update defender-endpoint-plan-1-2.md
  microsoft-365/security/defender-endpoint/defender-endpoint-plan-1-2.md
Labels: Defender for Endpoint

#9975 Update enable-network-protection.md
  microsoft-365/security/defender-endpoint/enable-network-protection.md
Labels: Defender for Endpoint

#9973 Update configure-microsoft-threat-experts.md
  microsoft-365/security/defender-endpoint/configure-microsoft-threat-experts.md
Labels: security

#9994 Update safe-links.md
  microsoft-365/security/office-365-security/safe-links.md
Labels: Defender for Office 365

#7253 Update allowselfservicepurchase-powershell.md
  microsoft-365/commerce/subscriptions/allowselfservicepurchase-powershell.md
Labels: admin

#10000 Added hyperlink to Manage security settings
  microsoft-365/security/defender-endpoint/experts-on-demand.md
Labels: Microsoft submitter

#10019 Updated note as per CELA recommendations
  microsoft-365/security/office-365-security/report-junk-email-messages-to-microsoft.md
Labels: Microsoft submitter

#10020 Update report-junk-email-messages-to-microsoft.md
  microsoft-365/security/office-365-security/report-junk-email-messages-to-microsoft.md
Labels: Microsoft submitter

#10009 Update network-protection.md
  microsoft-365/security/defender-endpoint/network-protection.md
Labels: Defender for Endpoint

#10012 Update microsoft-defender-antivirus-compatibility.md
  microsoft-365/security/defender-endpoint/microsoft-defender-antivirus-compatibility.md
Labels: Defender for Endpoint

#10008 Update linux-install-manually.md
  microsoft-365/security/defender-endpoint/linux-install-manually.md
Labels: Defender for Endpoint

#9854 Update alert-policies.md
  microsoft-365/compliance/alert-policies.md
Labels: compliance

#9982 Update whats-new-in-defender-for-office-365.md
  microsoft-365/security/office-365-security/whats-new-in-defender-for-office-365.md
Labels: Defender for Office 365

#10021 Update modern-auth-for-office-2013-and-2016.md
  microsoft-365/enterprise/modern-auth-for-office-2013-and-2016.md
Labels: Enterprise, Microsoft submitter

#10033 Change 2nd step of Turn on cloud protection on individual clients
  microsoft-365/security/defender-endpoint/enable-cloud-protection-microsoft-defender-antivirus.md
Labels: Defender for Endpoint

#10043 Update web-content-filtering.md
  microsoft-365/security/defender-endpoint/web-content-filtering.md
Labels: Defender for Endpoint

#10042 Update about-shared-mailboxes.md
  microsoft-365/admin/email/about-shared-mailboxes.md
Labels: admin

#10048 Update index.md
  microsoft-365/business-premium/index.md
Labels: Microsoft submitter

#10039 Update multi-geo-tenant-configuration.md
  microsoft-365/enterprise/multi-geo-tenant-configuration.md
Labels: Enterprise

#10052 Add additional warning for the GPO settings
  microsoft-365/security/defender-endpoint/enable-attack-surface-reduction.md
Labels: Microsoft submitter

#10051 Updating retention time as per CELA guidelines
  microsoft-365/security/office-365-security/report-junk-email-messages-to-microsoft.md
Labels: Microsoft submitter

#9951 Update minimum-requirements.md
  microsoft-365/security/defender-endpoint/minimum-requirements.md
Labels: Defender for Endpoint

#9945 Malware Protection for Android is now GA in Gov
  microsoft-365/security/defender-endpoint/gov.md
Labels: Microsoft submitter, Defender for Endpoint

#10055 Update streaming-api-storage.md
  microsoft-365/security/defender/streaming-api-storage.md
Labels: Microsoft 365 Defender

#10034 Update bookings-in-outlook.md
  microsoft-365/bookings/bookings-in-outlook.md
Labels: Bookings

#9909 Update centralized-deployment-of-add-ins.md
  microsoft-365/admin/manage/centralized-deployment-of-add-ins.md
Labels: admin

#10065 Update Linux minimum kernel version language
  microsoft-365/security/defender-endpoint/microsoft-defender-endpoint-linux.md
Labels: Microsoft submitter, Defender for Endpoint

#10058 Update defender-endpoint-demonstrations.md
  microsoft-365/security/defender-endpoint/defender-endpoint-demonstrations.md
Labels: Defender for Endpoint

#10073 API is supported on servers with unified agent
  microsoft-365/security/defender-endpoint/offboard-machine-api.md
Labels: Microsoft submitter, Defender for Endpoint

#10077 Update support-contact-info.md
  microsoft-365/admin/support-contact-info.md
Labels: Microsoft submitter

#9984 Security groups can be mail enabled only
  microsoft-365/compliance/dlp-microsoft-teams.md
Labels: compliance

#10069 Added 3p oath TOTP apps as options
  microsoft-365/business-premium/m365bp-conditional-access.md
Labels: Microsoft submitter, Microsoft 365 Business Premium

#10026 Update modern-desktop-deployment-and-management-lab.md
  microsoft-365/enterprise/modern-desktop-deployment-and-management-lab.md
Labels: Enterprise

#10097 Update device-health-export-antivirus-health-report-api.md
  microsoft-365/security/defender-endpoint/device-health-export-antivirus-health-report-api.md
Labels: Defender for Endpoint

#10105 Update live-response.md
  microsoft-365/security/defender-endpoint/live-response.md
Labels: Microsoft submitter

#10098 Update microsoft-defender-antivirus-compatibility.md
  microsoft-365/security/defender-endpoint/microsoft-defender-antivirus-compatibility.md
Labels: Defender for Endpoint
