Repository MicrosoftDocs/microsoft-365-docs, pull requests merged in 2022-01, with the labels that each got.

#7201 Update syntex-licensing.md
  microsoft-365/contentunderstanding/syntex-licensing.md
Labels: Syntex

#7203 Update microsoft-365-limit-sharing.md
  microsoft-365/solutions/microsoft-365-limit-sharing.md
Labels: solutions

#7217 Update microsoft-365-guest-settings.md
  microsoft-365/solutions/microsoft-365-guest-settings.md
Labels: solutions

#7255 Update recommended-settings-for-eop-and-office365.md
  microsoft-365/security/office-365-security/recommended-settings-for-eop-and-office365.md
Labels: security

#7261 Update configure-exchange-server-for-hybrid-modern-authentication.md
  microsoft-365/enterprise/configure-exchange-server-for-hybrid-modern-authentication.md
Labels: Enterprise, Microsoft submitter

#7293 Update compare-groups.md
  microsoft-365/admin/create-groups/compare-groups.md
Labels: admin

#7281 Update manage-creation-of-groups.md
  microsoft-365/solutions/manage-creation-of-groups.md
Labels: Microsoft submitter, admin

#7286 More detail for Do Not Rewrite syntax
  microsoft-365/security/office-365-security/safe-links.md
Labels: Defender for Office 365

#7306 Removed O365 Germany reference
  microsoft-365/commerce/billing-and-payments/view-your-bill-or-invoice.md
Labels: Microsoft submitter

#7309 Update security-updates-report.md
  microsoft-365/managed-desktop/working-with-managed-desktop/security-updates-report.md
Labels: Microsoft submitter

#7282 Users/zhiliqiao/update odb repo doc
  microsoft-365/admin/activity-reports/onedrive-for-business-usage-ww.md
Labels: Microsoft submitter, admin

#7290 Update message-center.md
  microsoft-365/admin/manage/message-center.md
Labels: admin

#7276 added correct link, added letter a
  microsoft-365/admin/add-users/set-password-to-never-expire.md
Labels: admin

#7228 Update PowerShell example in add-staff.md
  microsoft-365/bookings/add-staff.md
Labels: admin

#7213 removed brackets
  microsoft-365/admin/manage/manage-addins-in-the-admin-center.md
Labels: admin

#6978 Update prerequisites.md
  microsoft-365/security/defender/prerequisites.md
Labels: Defender for Endpoint

#6979 Update mac-jamfpro-policies.md
  microsoft-365/security/defender-endpoint/mac-jamfpro-policies.md
Labels: Defender for Endpoint

#6980 Update mac-jamfpro-policies.md
  microsoft-365/security/defender-endpoint/mac-jamfpro-policies.md
Labels: Defender for Endpoint

#7010 Update microsoft-defender-endpoint-linux.md
  microsoft-365/security/defender-endpoint/microsoft-defender-endpoint-linux.md
Labels: Defender for Endpoint

#7011 Update indicator-ip-domain.md
  microsoft-365/security/defender-endpoint/indicator-ip-domain.md
Labels: Defender for Endpoint

#7037 Update microsoft-defender-endpoint-mac.md
  microsoft-365/security/defender-endpoint/microsoft-defender-endpoint-mac.md
Labels: Defender for Endpoint

#7091 Update troubleshoot-security-config-mgt.md
  microsoft-365/security/defender-endpoint/troubleshoot-security-config-mgt.md
Labels: Microsoft submitter, Defender for Endpoint

#7100 Update configure-endpoints-gp.md
  microsoft-365/security/defender-endpoint/configure-endpoints-gp.md
Labels: Defender for Endpoint

#7101 Update configure-endpoints-gp.md
  microsoft-365/security/defender-endpoint/configure-endpoints-gp.md
Labels: Defender for Endpoint

#7102 Update configure-endpoints-script.md
  microsoft-365/security/defender-endpoint/configure-endpoints-script.md
Labels: Defender for Endpoint

#7182 Update signature-update-1.png
  microsoft-365/security/defender-endpoint/configure-endpoints-gp.md
  microsoft-365/security/defender-endpoint/images/signature-update-1.png
Labels: Defender for Endpoint

#7216 Update live-response.md
  microsoft-365/security/defender-endpoint/live-response.md
Labels: Defender for Endpoint

#7223 added correct link
  microsoft-365/security/defender-endpoint/configure-server-endpoints.md
Labels: Defender for Endpoint

#7252 Update enable-siem-integration.md
  microsoft-365/security/defender-endpoint/enable-siem-integration.md
Labels: Defender for Endpoint

#7254 Update indicator-manage.md
  microsoft-365/security/defender-endpoint/indicator-manage.md
Labels: Defender for Endpoint

#7259 Fix repo path and [channel] tag
  microsoft-365/security/defender-endpoint/linux-install-with-ansible.md
Labels: Defender for Endpoint

#7295 jamf content filter
  microsoft-365/security/defender-endpoint/mac-jamfpro-policies.md
Labels: Defender for Endpoint

#7312 Fix missing encryption page in TOC.yaml
  microsoft-365/compliance/TOC.yml
Labels: compliance, Microsoft submitter

#7325 replaced office 365 to microsoft 365
  microsoft-365/compliance/importing-pst-files-to-office-365.md
Labels: compliance

#7321 Considerations when configuring explanations
  microsoft-365/contentunderstanding/explanation-types-overview.md
Labels: Syntex

#7330 Update alert-policies.md
  microsoft-365/compliance/alert-policies.md
Labels: Microsoft submitter

#7163 Update dlp-conditions-and-exceptions.md
  microsoft-365/compliance/dlp-conditions-and-exceptions.md
Labels: compliance, Microsoft submitter

#7155 Update access-admin-portal.md
  microsoft-365/managed-desktop/get-started/access-admin-portal.md
Labels: managed-desktop

#7337 Update device-control-removable-storage-access-control.md
  microsoft-365/security/defender-endpoint/device-control-removable-storage-access-control.md
Labels: Microsoft submitter

#4652 Update section related to Preview role
  microsoft-365/security/office-365-security/threat-explorer.md
Labels: security

#5581 Replace domainGUID with customDomainIdentifier
  microsoft-365/security/office-365-security/use-dkim-to-validate-outbound-email.md
Labels: security

#7348 Update tune-performance-defender-antivirus.md
  microsoft-365/security/defender-endpoint/tune-performance-defender-antivirus.md
Labels: Microsoft submitter

#7362 Update switch-to-mde-troubleshooting.md
  microsoft-365/security/defender-endpoint/switch-to-mde-troubleshooting.md
Labels: Microsoft submitter

#7360 Update non-windows.md
  microsoft-365/security/defender-endpoint/non-windows.md
Labels: Defender for Endpoint

#7368 Update top-security-tasks-for-remote-work.md
  microsoft-365/security/top-security-tasks-for-remote-work.md
Labels: Microsoft submitter

#7371 Revert "Update deployment-groups.md"
  microsoft-365/managed-desktop/service-description/deployment-groups.md
Labels: Microsoft submitter

#6852 Change Cloud Block Level reference link
  microsoft-365/managed-desktop/service-description/profiles.md
Labels: managed-desktop

#6853 Add link to Policy CSP
  microsoft-365/managed-desktop/service-description/profiles.md
Labels: managed-desktop

#6946 Update to docs for new UI device reset experience
  microsoft-365/managed-desktop/working-with-managed-desktop/change-device-profile.md
Labels: managed-desktop

#7390 Update microsoft-defender-antivirus-on-windows-server.md
  microsoft-365/security/defender-endpoint/microsoft-defender-antivirus-on-windows-server.md
Labels: Defender for Endpoint

#7351 Update keyword-queries-and-search-conditions.md
  microsoft-365/compliance/keyword-queries-and-search-conditions.md
Labels: compliance

#7406 Fix typo in in updated PR
  microsoft-365/compliance/keyword-queries-and-search-conditions.md
Labels: Microsoft submitter

#7374 Update mde-p1-setup-configuration.md
  microsoft-365/security/defender-endpoint/mde-p1-setup-configuration.md
Labels: do not merge, Defender for Endpoint

#7386 Update mde-device-control-device-installation.md
  microsoft-365/security/defender-endpoint/mde-device-control-device-installation.md
Labels: Defender for Endpoint

#7411 Fixed URL for adjusting SCL
  microsoft-365/security/office-365-security/migrate-to-defender-for-office-365-setup.md
Labels: security

#7422 Update security-config-mgt-prerequisites.md
  microsoft-365/includes/security-config-mgt-prerequisites.md
Labels: Microsoft submitter, Defender for Endpoint

#7376 Small fixes on restore-user.md
  microsoft-365/admin/add-users/restore-user.md
Labels: admin

#7380 Minor correction to M365 admin roles
  microsoft-365/admin/activity-reports/activity-reports.md
Labels: Microsoft submitter, admin

#7387 Update device-onboarding-offboarding-macos-jamfpro.md
  microsoft-365/compliance/device-onboarding-offboarding-macos-jamfpro.md
Labels: compliance, Microsoft submitter

#7418 Update create-groups.md
  microsoft-365/admin/create-groups/create-groups.md
Labels: admin

#7400 Update mac-schedule-scan.md
  microsoft-365/security/defender-endpoint/mac-schedule-scan.md
Labels: Defender for Endpoint

#7180 Update mdatp-6-systemconfigurationprofiles.png
  microsoft-365/security/defender-endpoint/images/mdatp-6-systemconfigurationprofiles.png
  microsoft-365/security/defender-endpoint/mac-install-with-intune.md
Labels: Defender for Endpoint

#6824 Update supported versions list for MDE for Linux
  microsoft-365/security/defender-endpoint/microsoft-defender-endpoint-linux.md
Labels: Defender for Endpoint

#6808 Update linux-install-with-ansible.md
  microsoft-365/security/defender-endpoint/linux-install-with-ansible.md
Labels: Defender for Endpoint

#6806 Update mac-resources.md
  microsoft-365/security/defender-endpoint/mac-resources.md
Labels: Defender for Endpoint

#7437 Update microsoft-defender-antivirus-compatibility.md
  microsoft-365/security/defender-endpoint/microsoft-defender-antivirus-compatibility.md
Labels: Defender for Endpoint

#7443 Update safe-links.md
  microsoft-365/security/office-365-security/safe-links.md
Labels: Defender for Office 365

#7392 Add 7 with ESU & 8.1 as supported platform
  microsoft-365/security/defender-endpoint/defender-endpoint-plan-1.md
Labels: Defender for Endpoint

#7440 Update add-another-email-alias-for-a-user.md
  microsoft-365/admin/email/add-another-email-alias-for-a-user.md
Labels: admin

#7324 Update set-password-expiration-policy.md
  microsoft-365/admin/manage/set-password-expiration-policy.md
Labels: admin

#7431 Update dlp-conditions-and-exceptions.md
  microsoft-365/compliance/dlp-conditions-and-exceptions.md
Labels: compliance, Microsoft submitter

#7336 Update dlp-conditions-and-exceptions.md
  microsoft-365/compliance/dlp-conditions-and-exceptions.md
Labels: compliance, Microsoft submitter

#7363 Update dlp-on-premises-scanner-get-started.md
  microsoft-365/compliance/dlp-on-premises-scanner-get-started.md
Labels: compliance, Microsoft submitter

#7447 Update customize-your-organization-theme.md
  microsoft-365/admin/setup/customize-your-organization-theme.md
Labels: admin

#7429 Update get-started-partner-integration.md
  microsoft-365/security/defender-endpoint/get-started-partner-integration.md
Labels: Microsoft submitter, Defender for Endpoint

#7366 Update win11-overview.md
  microsoft-365/managed-desktop/intro/win11-overview.md
Labels: managed-desktop

#7367 Update test-win11-mmd.md
  microsoft-365/managed-desktop/working-with-managed-desktop/test-win11-mmd.md
Labels: managed-desktop

#7027 Admin role
  microsoft-365/enterprise/office-365-network-mac-perf-overview.md
Labels: Microsoft submitter, admin

#7442 Update prepare-for-directory-synchronization.md
  microsoft-365/enterprise/prepare-for-directory-synchronization.md
Labels: Enterprise

#7473 Update integrate-microsoft-365-defender-secops-services.md
  microsoft-365/security/defender/integrate-microsoft-365-defender-secops-services.md
Labels: Microsoft 365 Defender

#7419 Fixed for new UI
  microsoft-365/compliance/load-non-Office-365-data-into-a-review-set.md
Labels: compliance

#7445 Update prepare-deployment.md
  microsoft-365/security/defender-endpoint/prepare-deployment.md
Labels: Defender for Endpoint

#7476 Update attack-simulation-training.md
  microsoft-365/security/office-365-security/attack-simulation-training.md
Labels: Defender for Office 365

#7456 Update inactive-mailboxes-in-office-365.md
  microsoft-365/compliance/inactive-mailboxes-in-office-365.md
Labels: Microsoft submitter

#7441 Update manage-domain-users.md
  microsoft-365/admin/setup/manage-domain-users.md
Labels: admin

#7326 Update preview.md
  microsoft-365/security/defender-endpoint/preview.md
Labels: Defender for Endpoint

#7329 Update post-ti-indicator.md
  microsoft-365/security/defender-endpoint/post-ti-indicator.md
Labels: Defender for Endpoint

#7327 Update prepare-deployment.md
  microsoft-365/security/defender-endpoint/prepare-deployment.md
Labels: Defender for Endpoint

#7340 Update device-discovery-faq.md
  microsoft-365/security/defender-endpoint/device-discovery-faq.md
Labels: Microsoft submitter, Defender for Endpoint

#7391 Update ios-install.md
  microsoft-365/security/defender-endpoint/ios-install.md
Labels: Defender for Endpoint

#7404 Update ios-install.md
  microsoft-365/security/defender-endpoint/ios-install.md
Labels: Defender for Endpoint

#7405 Update time-settings.md
  microsoft-365/security/defender-endpoint/time-settings.md
Labels: Defender for Endpoint

#7450 Update configure-device-discovery.md
  microsoft-365/security/defender-endpoint/configure-device-discovery.md
Labels: Microsoft submitter, Defender for Endpoint

#7463 Update machine-groups.md
  microsoft-365/security/defender-endpoint/machine-groups.md
Labels: Defender for Endpoint

#7483 Update change-your-billing-addresses.md
  microsoft-365/commerce/billing-and-payments/change-your-billing-addresses.md
Labels: Microsoft submitter

#7471 Update cross-tenant-mailbox-migration.md
  microsoft-365/enterprise/cross-tenant-mailbox-migration.md
Labels: Enterprise

#7479 Update TAM to CSAM
  microsoft-365/security/defender-endpoint/configure-microsoft-threat-experts.md
Labels: Microsoft submitter, Defender for Endpoint

#7480 Update TAM to CSAM
  microsoft-365/security/defender-endpoint/microsoft-threat-experts.md
Labels: Microsoft submitter, Defender for Endpoint

#7484 Update approval comments value to accept null with ?
  microsoft-365/contentunderstanding/solution-manage-contracts-step3.md
Labels: Syntex

#7308 Update aka links
  microsoft-365/enterprise/setup-guides-for-microsoft-365.md
Labels: Enterprise, Microsoft submitter

#7494 Link to message center from What's New.
  microsoft-365/security/defender/whats-new.md
Labels: Microsoft submitter

#7496 Changing Role groups
  microsoft-365/security/office-365-security/admin-submission.md
Labels: Microsoft submitter

#7500 Adding note for respective blocks
  microsoft-365/security/office-365-security/manage-tenant-blocks.md
Labels: Microsoft submitter

#7478 Update about-shared-mailboxes.md
  microsoft-365/admin/email/about-shared-mailboxes.md
Labels: admin

#7501 Update for new guide - Insider risk solutions
  microsoft-365/enterprise/setup-guides-for-microsoft-365.md
Labels: Enterprise, Microsoft submitter

#7504 Update cross-tenant-mailbox-migration.md
  microsoft-365/enterprise/cross-tenant-mailbox-migration.md
Labels: Enterprise

#7214 Update device-onboarding-mdm.md
  microsoft-365/compliance/device-onboarding-mdm.md
Labels: compliance

#7492 Endpoint is now supported for entities (both in public preview)
  microsoft-365/compliance/named-entities-use.md
Labels: compliance

#7508 Update exchange-2013-end-of-support.md
  microsoft-365/enterprise/exchange-2013-end-of-support.md
Labels: Enterprise, Microsoft submitter

#7527 Update troubleshoot-microsoft-defender-antivirus.md
  microsoft-365/security/defender-endpoint/troubleshoot-microsoft-defender-antivirus.md
Labels: Defender for Endpoint

#7517 update
  microsoft-365/security/defender/m365d-permissions.md
Labels: Microsoft 365 Defender

#7528 Update compliance-extensibility.md
  microsoft-365/compliance/compliance-extensibility.md
Labels: compliance, Microsoft submitter

#7495 Update device-onboarding-overview.md
  microsoft-365/compliance/device-onboarding-overview.md
Labels: compliance

#7532 Update upgrade-from-lync-2013.md
  microsoft-365/enterprise/upgrade-from-lync-2013.md
Labels: Microsoft submitter

#7511 Update deployment-groups.md
  microsoft-365/managed-desktop/service-description/deployment-groups.md
Labels: managed-desktop

#7491 Added unsupported DLP workload (Power BI) for advanced classification
  microsoft-365/compliance/named-entities-use.md
Labels: compliance

#7398 Update endpoint-dlp-learn-about.md
  microsoft-365/compliance/endpoint-dlp-learn-about.md
Labels: compliance

#7526 Update create-test-tune-dlp-policy.md
  microsoft-365/compliance/create-test-tune-dlp-policy.md
Labels: compliance

#7536 Update import-physical-badging-data.md
  microsoft-365/compliance/import-physical-badging-data.md
Labels: compliance, Microsoft submitter

#7537 Update import-physical-badging-data.md
  microsoft-365/compliance/import-physical-badging-data.md
Labels: compliance, Microsoft submitter

#7541 Update endpoint-dlp-using.md
  microsoft-365/compliance/endpoint-dlp-using.md
Labels: Microsoft submitter

#7328 Update prevent-changes-to-security-settings-with-tamper-protection.md
  microsoft-365/security/defender-endpoint/prevent-changes-to-security-settings-with-tamper-protection.md
Labels: do not merge, Defender for Endpoint

#7512 Add security analyzer
  microsoft-365/enterprise/setup-guides-for-microsoft-365.md
Labels: Enterprise, Microsoft submitter
