Repository MicrosoftDocs/microsoft-365-docs, pull requests merged in 2022-09, with the labels that each got.

#9423 Update android-configure.md
  microsoft-365/security/defender-endpoint/android-configure.md
Labels: Defender for Endpoint

#9477 Update troubleshoot-live-response.md
  microsoft-365/security/defender-endpoint/troubleshoot-live-response.md
Labels: Defender for Endpoint

#9478 Update run-advanced-query-api.md
  microsoft-365/security/defender-endpoint/run-advanced-query-api.md
Labels: Defender for Endpoint

#9494 Update onboard-windows-server.md
  microsoft-365/security/defender-endpoint/onboard-windows-server.md
Labels: Defender for Endpoint

#9501 Update onboard-windows-server.md
  microsoft-365/security/defender-endpoint/onboard-windows-server.md
Labels: Defender for Endpoint

#9503 Update server-migration.md
  microsoft-365/security/defender-endpoint/server-migration.md
Labels: Defender for Endpoint

#9505 Update ios-install.md
  microsoft-365/security/defender-endpoint/ios-install.md
Labels: Defender for Endpoint

#9598 Rename Track and respond to emerging threats with campaigns.md to tra…
  microsoft-365/security/office-365-security/step-by-step-guides/track-and-respond-to-emerging-threats-with-campaigns.md
Labels: Microsoft submitter

#9599 Update microsoft-threat-experts.md
  microsoft-365/security/defender/microsoft-threat-experts.md
Labels: do not merge, Microsoft submitter

#9507 Updated site limit
  microsoft-365/admin/setup/add-domain.md
Labels: Microsoft submitter, admin

#9561 Corrected various parsing and styling issues in Puppet example
  microsoft-365/security/defender-endpoint/linux-install-with-puppet.md
Labels: Defender for Endpoint

#9557 Update onboard-windows-server.md
  microsoft-365/security/defender-endpoint/onboard-windows-server.md
Labels: Defender for Endpoint

#9623 Update configure-advanced-delivery.md
  microsoft-365/security/office-365-security/configure-advanced-delivery.md
Labels: Defender for Office 365

#9613 Update archive-linkedin-data.md
  microsoft-365/compliance/archive-linkedin-data.md
Labels: compliance

#9631 Update quarantine-policies.md
  microsoft-365/security/office-365-security/quarantine-policies.md
Labels: Microsoft submitter

#9473 Update bookings-in-outlook.md
  microsoft-365/bookings/bookings-in-outlook.md
Labels: admin

#9625 Update auditing-solutions-overview.md
  microsoft-365/compliance/auditing-solutions-overview.md
Labels: compliance

#9511 Update dlp-sensitivity-label-as-condition.md
  microsoft-365/compliance/dlp-sensitivity-label-as-condition.md
Labels: compliance, Microsoft submitter

#9635 Updated document error
  microsoft-365/security/office-365-security/allow-block-urls.md
Labels: Microsoft submitter

#9616 Update create-dns-records-at-any-dns-hosting-provider.md
  microsoft-365/admin/get-help-with-domains/create-dns-records-at-any-dns-hosting-provider.md
Labels: admin

#9516 Extend Teams Policy to SPO and ODB
  microsoft-365/compliance/dlp-microsoft-teams.md
Labels: compliance, Microsoft submitter

#9661 Called out top level domain with *
  microsoft-365/security/office-365-security/admin-submission.md
Labels: Microsoft submitter

#9622 Update use-powershell-cmdlets-microsoft-defender-antivirus.md
  microsoft-365/security/defender-endpoint/use-powershell-cmdlets-microsoft-defender-antivirus.md
Labels: Defender for Endpoint

#9657 Update tenant-roadmap-microsoft-365.md
  microsoft-365/enterprise/tenant-roadmap-microsoft-365.md
Labels: Enterprise

#9677 Small typo
  microsoft-365/compliance/classifier-learn-about.md
Labels: compliance, Microsoft submitter

#9703 updating api-luna to api
  microsoft-365/security/defender-endpoint/get-remediation-one-activity.md
Labels: Defender for Endpoint

#9714 Update create-a-custom-sensitive-information-type-in-scc-powershell.md
  microsoft-365/compliance/create-a-custom-sensitive-information-type-in-scc-powershell.md
Labels: Microsoft submitter

#9696 Update attack-surface-reduction-faq.yml
  microsoft-365/security/defender-endpoint/attack-surface-reduction-faq.yml
Labels: Defender for Endpoint

#9689 Update troubleshoot-asr.md
  microsoft-365/security/defender-endpoint/troubleshoot-asr.md
Labels: Defender for Endpoint

#9709 Update set-up-safe-links-policies.md
  microsoft-365/security/office-365-security/set-up-safe-links-policies.md
Labels: Defender for Office 365

#9700 Update teams-workflow-in-advanced-ediscovery.md
  microsoft-365/compliance/teams-workflow-in-advanced-ediscovery.md
Labels: compliance

#9718 Update endpoint-dlp-learn-about.md
  microsoft-365/compliance/endpoint-dlp-learn-about.md
Labels: Microsoft submitter

#9728 Update get-defender-vulnerability-management.md
  microsoft-365/security/defender-vulnerability-management/get-defender-vulnerability-management.md
Labels: Microsoft submitter

#9487 Update linux-privacy.md
  microsoft-365/security/defender-endpoint/linux-privacy.md
Labels: Defender for Endpoint

#9695 Update run-detection-test.md
  microsoft-365/security/defender-endpoint/run-detection-test.md
Labels: Defender for Endpoint

#9658 Update threat-protection-integration.md
  microsoft-365/security/defender-endpoint/threat-protection-integration.md
Labels: Defender for Endpoint

#9656 Update respond-machine-alerts.md
  microsoft-365/security/defender-endpoint/respond-machine-alerts.md
Labels: Defender for Endpoint

#9624 Update minimum-requirements.md
  microsoft-365/security/defender-endpoint/minimum-requirements.md
Labels: Defender for Endpoint

#9637 Update assess-the-impact-of-security-configuration-changes-with-explo…
  microsoft-365/security/office-365-security/step-by-step-guides/assess-the-impact-of-security-configuration-changes-with-explorer.md
Labels: Microsoft submitter, Defender for Office 365

#9638 Update utilize-microsoft-defender-for-office-365-in-sharepoint-online.md
  microsoft-365/security/office-365-security/step-by-step-guides/utilize-microsoft-defender-for-office-365-in-sharepoint-online.md
Labels: Microsoft submitter, Defender for Office 365

#9722 Update device-control-removable-storage-access-control.md
  microsoft-365/security/defender-endpoint/device-control-removable-storage-access-control.md
Labels: Microsoft submitter, Defender for Endpoint

#9735 Updating mitigation instructions for mdatp upgrade
  microsoft-365/security/defender-endpoint/linux-whatsnew.md
Labels: Microsoft submitter, Defender for Endpoint

#9725 Update content-search.md
  microsoft-365/compliance/content-search.md
Labels: compliance

#9726 Update search-the-audit-log-in-security-and-compliance.md
  microsoft-365/compliance/search-the-audit-log-in-security-and-compliance.md
Labels: compliance

#9615 Update machine-groups.md
  microsoft-365/security/defender-endpoint/machine-groups.md
Labels: Defender for Endpoint

#9608 Add a information about remove custom unit file.
  microsoft-365/security/defender-endpoint/linux-static-proxy-configuration.md
Labels: Defender for Endpoint

#9732 Update centralized-deployment-FAQ.yml
  microsoft-365/admin/manage/centralized-deployment-FAQ.yml
Labels: admin

#9744 Update mac-support-kext.md
  microsoft-365/security/defender-endpoint/mac-support-kext.md
Labels: Defender for Endpoint

#9743 Update machine.md
  microsoft-365/security/defender-endpoint/machine.md
Labels: Defender for Endpoint

#9772 Updated conditions for third party report
  microsoft-365/security/office-365-security/user-submission.md
Labels: Microsoft submitter, Defender for Office 365

#9758 Update get-started-core-ediscovery.md
  microsoft-365/compliance/get-started-core-ediscovery.md
Labels: compliance

#9760 Update enable-attack-surface-reduction.md
  microsoft-365/security/defender-endpoint/enable-attack-surface-reduction.md
Labels: Defender for Endpoint

#9755 Updated nonfunctional commitment with customer
  microsoft-365/security/office-365-security/manage-tenant-allow-block-list.md
Labels: Microsoft submitter, Defender for Office 365

#9734 Update whats-new-in-defender-for-office-365.md
  microsoft-365/security/office-365-security/whats-new-in-defender-for-office-365.md
Labels: Defender for Office 365

#9793 Updating the Recipient block behavior
  microsoft-365/security/office-365-security/manage-tenant-allow-block-list.md
Labels: Microsoft submitter, Defender for Office 365

#9764 Update whats-new-in-defender-for-office-365.md
  microsoft-365/security/office-365-security/whats-new-in-defender-for-office-365.md
Labels: Microsoft submitter, Defender for Office 365

#9791 Clarified that basic ASR rules
  microsoft-365/security/defender-endpoint/built-in-protection.md
Labels: Defender for Endpoint

#9749 Update gov.md
  microsoft-365/security/defender-endpoint/gov.md
Labels: Enterprise, Microsoft submitter

#9754 Adding Teams support for user risk and limited IP CA support for calls, meetings and chats
  microsoft-365/security/office-365-security/microsoft-365-continuous-access-evaluation.md
Labels: Microsoft submitter, Defender for Office 365

#9737 Patch 3
  microsoft-365/security/defender-endpoint/linux-whatsnew.md
Labels: Microsoft submitter, Defender for Endpoint

#9788 Update tamperprotection-macos.md
  microsoft-365/security/defender-endpoint/tamperprotection-macos.md
Labels: Defender for Endpoint

#9787 Change Value for Configuration Key: issupervised
  microsoft-365/security/defender-endpoint/ios-install.md
Labels: Defender for Endpoint

#9702 api-luna is not a public endpoint or does not exists
  microsoft-365/security/defender-endpoint/get-remediation-all-activities.md
Labels: Defender for Endpoint

#9789 Update cross-tenant-mailbox-migration.md
  microsoft-365/enterprise/cross-tenant-mailbox-migration.md
Labels: Enterprise

#9739 Update cross-tenant-mailbox-migration.md
  microsoft-365/enterprise/cross-tenant-mailbox-migration.md
Labels: Enterprise

#9813 Update linux-install-with-ansible.md
  microsoft-365/security/defender-endpoint/linux-install-with-ansible.md
Labels: Microsoft submitter, Defender for Endpoint

#9801 Update set-up-new-message-encryption-capabilities.md
  microsoft-365/compliance/set-up-new-message-encryption-capabilities.md
Labels: compliance, Microsoft submitter

#9820 Update groups-teams-compliance-governance.md
  microsoft-365/solutions/groups-teams-compliance-governance.md
Labels: solutions

#9823 Update gov.md Device Health Reports GA
  microsoft-365/security/defender-endpoint/gov.md
Labels: Microsoft submitter, Defender for Endpoint

#9528 Align link to the others
  microsoft-365/enterprise/connect-to-all-microsoft-365-services-in-a-single-windows-powershell-window.md
Labels: Enterprise

#9827 Update mdo-sec-ops-guide.md
  microsoft-365/security/office-365-security/mdo-sec-ops-guide.md
Labels: Microsoft submitter

#9621 Update dlp-teams-default-policy.md
  microsoft-365/compliance/dlp-teams-default-policy.md
Labels: compliance

#9804 Update document-fingerprinting.md
  microsoft-365/compliance/document-fingerprinting.md
Labels: compliance

#9834 Update configure-global-settings-for-safe-links.md
  microsoft-365/security/office-365-security/configure-global-settings-for-safe-links.md
Labels: Defender for Office 365

#9833 Update safe-links.md
  microsoft-365/security/office-365-security/safe-links.md
Labels: Defender for Office 365

#9835 add FolderPath, FileSize
  microsoft-365/security/defender-endpoint/device-control-removable-storage-access-control.md
Labels: Defender for Endpoint

#9846 Update switch-to-mde-overview.md
  microsoft-365/security/defender-endpoint/switch-to-mde-overview.md
Labels: Defender for Endpoint

#9742 Update manage-protection-updates-microsoft-defender-antivirus.md
  microsoft-365/security/defender-endpoint/manage-protection-updates-microsoft-defender-antivirus.md
Labels: Defender for Endpoint

#9862 Remove "Yet" as it is not recommended by content team
  microsoft-365/security/office-365-security/microsoft-365-continuous-access-evaluation.md
Labels: Microsoft submitter

#9708 Update page-diagnostics-for-spo.md
  microsoft-365/enterprise/page-diagnostics-for-spo.md
Labels: Enterprise, Microsoft submitter

#9861 Update search-the-audit-log-in-security-and-compliance.md
  microsoft-365/compliance/search-the-audit-log-in-security-and-compliance.md
Labels: Microsoft submitter
