Repository MicrosoftDocs/microsoft-365-docs, pull requests merged in 2022-03, with the labels that each got.

#7844 Update search-the-audit-log-in-security-and-compliance.md
  microsoft-365/compliance/search-the-audit-log-in-security-and-compliance.md
Labels: compliance, Microsoft submitter

#7008 Update hybrid-modern-auth-overview.md
  microsoft-365/enterprise/hybrid-modern-auth-overview.md
Labels: Enterprise

#6864 Update cross-tenant-mailbox-migration.md
  microsoft-365/enterprise/cross-tenant-mailbox-migration.md
Labels: Enterprise

#7637 Update office-365-service-encryption.md
  microsoft-365/compliance/office-365-service-encryption.md
Labels: compliance

#7858 Update user-submission.md
  microsoft-365/security/office-365-security/user-submission.md
Labels: Microsoft submitter

#7863 Update m365bp-setup.md
  microsoft-365/business-premium/m365bp-setup.md
Labels: Microsoft submitter

#7751 Sync title with heading
  microsoft-365/admin/add-users/remove-former-employee-step-1.md
Labels: admin

#7796 Update password-policy-recommendations.md
  microsoft-365/admin/misc/password-policy-recommendations.md
Labels: admin

#7752 Sync heading with title
  microsoft-365/admin/add-users/remove-former-employee-step-6.md
Labels: admin

#7868 Minor fix to UI in procedure
  microsoft-365/commerce/subscriptions/renew-your-subscription.md
Labels: Microsoft submitter

#7874 Update remove-former-employee.md
  microsoft-365/admin/add-users/remove-former-employee.md
Labels: admin

#7859 Update to the overview page
  microsoft-365/admin/manage/servicenow-overview.md
Labels: Microsoft submitter, admin

#7865 Added Modified by column to Senders, URLs and Files
  microsoft-365/security/office-365-security/tenant-allow-block-list.md
Labels: Microsoft submitter, Defender for Office 365

#7866 Spelling correction for IPv4
  microsoft-365/security/office-365-security/tenant-allow-block-list.md
Labels: Microsoft submitter, Defender for Office 365

#7869 Updating for allow URL and file allow like this
  microsoft-365/security/office-365-security/manage-tenant-allows.md
Labels: Microsoft submitter, Defender for Office 365

#7871 Updated doc after split tab, column addition and rename
  microsoft-365/security/office-365-security/admin-submission.md
Labels: Microsoft submitter, Defender for Office 365

#7887 Updated instructions for spoofed senders
  microsoft-365/security/office-365-security/manage-tenant-blocks.md
Labels: Microsoft submitter

#7880 Updated year for clarification
  microsoft-365/enterprise/Enabling-SP-MultiGeo-satellite-geolocation.md
Labels: Enterprise, Microsoft submitter

#7888 Metadata fixes
  microsoft-365/commerce/billing-and-payments/psd2.md
Labels: Microsoft submitter

#7890 Dansimp tabl images
  microsoft-365/media/submit-email-for-analysis.png
  microsoft-365/media/submit-file-for-analysis.png.png
  microsoft-365/media/submit-url-for-analysis.png
  microsoft-365/security/office-365-security/manage-tenant-allows.md
Labels: Microsoft submitter

#7892 Metadata fix
  microsoft-365/commerce/close-your-account.md
Labels: Microsoft submitter

#7893 metadata fix
  microsoft-365/commerce/licenses/manage-third-party-app-licenses.md
Labels: Microsoft submitter

#7889 Metadata fixes
  microsoft-365/commerce/billing-and-payments/understand-your-invoice.md
Labels: Microsoft submitter

#7873 replaced link
  microsoft-365/compliance/endpoint-dlp-using.md
Labels: compliance

#7821 Update create-a-report-on-holds-in-ediscovery-cases.md
  microsoft-365/compliance/create-a-report-on-holds-in-ediscovery-cases.md
Labels: compliance, do not merge

#7882 Formatting fix
  microsoft-365/security/defender-endpoint/onboarding-endpoint-manager.md
Labels: Defender for Endpoint

#7881 In scope, "MEM and MEM" -> "MEM and MECM"
  microsoft-365/security/defender-endpoint/deployment-phases.md
Labels: Defender for Endpoint

#7902 Removed change that added article TOC into main body of the article.
  microsoft-365/commerce/licenses/manage-auto-claim-policies.md
Labels: Microsoft submitter

#7904 Update mdb-onboard-devices.md
  microsoft-365/security/defender-business/mdb-onboard-devices.md
Labels: Microsoft submitter

#7901 Update set-up-safe-links-policies.md
  microsoft-365/security/office-365-security/set-up-safe-links-policies.md
Labels: Defender for Office 365

#7908 Updating overview page
  microsoft-365/admin/manage/servicenow-overview.md
Labels: Microsoft submitter, admin

#7917 Update safe-links.md
  microsoft-365/security/office-365-security/safe-links.md
Labels: Defender for Office 365

#7907 Update autoexpanding-archiving.md
  microsoft-365/compliance/autoexpanding-archiving.md
Labels: compliance

#6905 Update manage-partners.md
  microsoft-365/commerce/manage-partners.md
Labels: admin

#7600 Edited Remote Domains section
  microsoft-365/security/office-365-security/external-email-forwarding.md
Labels: Defender for Office 365, writer-input-required

#7905 Updating Loose Files and PSTs folder structure
  microsoft-365/compliance/export-documents-from-review-set.md
Labels: compliance, Microsoft submitter

#7927 Update allow-members-to-send-as-or-send-on-behalf-of-group.md
  microsoft-365/solutions/allow-members-to-send-as-or-send-on-behalf-of-group.md
Labels: solutions

#7849 Update device-control-removable-storage-access-control.md
  microsoft-365/security/defender-endpoint/device-control-removable-storage-access-control.md
Labels: Microsoft submitter, Defender for Endpoint

#7934 activity-reports title changes
  microsoft-365/admin/activity-reports/activity-reports.md
  microsoft-365/admin/activity-reports/browser-usage-report.md
  microsoft-365/admin/activity-reports/email-activity-ww.md
  microsoft-365/admin/activity-reports/email-apps-usage-ww.md
  microsoft-365/admin/activity-reports/forms-activity-ww.md
  microsoft-365/admin/activity-reports/forms-pro-activity-ww.md
  microsoft-365/admin/activity-reports/mailbox-usage.md
  microsoft-365/admin/activity-reports/microsoft-office-activations-ww.md
  microsoft-365/admin/activity-reports/microsoft-teams-device-usage-preview.md
  microsoft-365/admin/activity-reports/microsoft-teams-device-usage.md
  microsoft-365/admin/activity-reports/microsoft-teams-user-activity-preview.md
  microsoft-365/admin/activity-reports/microsoft-teams-user-activity.md
  microsoft-365/admin/activity-reports/microsoft365-apps-usage-ww.md
  microsoft-365/admin/activity-reports/office-365-groups-ww.md
  microsoft-365/admin/activity-reports/onedrive-for-business-activity-ww.md
  microsoft-365/admin/activity-reports/onedrive-for-business-usage-ww.md
  microsoft-365/admin/activity-reports/sharepoint-activity-ww.md
  microsoft-365/admin/activity-reports/sharepoint-site-usage-ww.md
  microsoft-365/admin/activity-reports/viva-insights-activity.md
  microsoft-365/admin/activity-reports/viva-learning-activity.md
  microsoft-365/admin/activity-reports/yammer-activity-report-ww.md
  microsoft-365/admin/activity-reports/yammer-device-usage-report-ww.md
  microsoft-365/admin/activity-reports/yammer-groups-activity-report-ww.md
Labels: admin

#7759 Hold statistics and number of Filters per user
  microsoft-365/enterprise/multi-geo-ediscovery-configuration.md
Labels: Enterprise

#7809 Update dlp-conditions-and-exceptions.md
  microsoft-365/compliance/dlp-conditions-and-exceptions.md
Labels: compliance, Microsoft submitter

#7916 Remove instances of OS version
  microsoft-365/admin/basic-mobility-security/choose-between-basic-mobility-and-security-and-intune.md
  microsoft-365/admin/basic-mobility-security/create-device-security-policies.md
  microsoft-365/admin/basic-mobility-security/enroll-your-mobile-device.md
  microsoft-365/admin/basic-mobility-security/troubleshoot.md
  microsoft-365/admin/basic-mobility-security/wipe-mobile-device.md
Labels: admin

#7914 Add Tip note for MDO P2 customers...
  microsoft-365/compliance/search-for-and-delete-messages-in-your-organization.md
Labels: compliance

#7945 Update run-analyzer-macos-linux.md
  microsoft-365/security/defender-endpoint/run-analyzer-macos-linux.md
Labels: Microsoft submitter

#7956 Update device-control-removable-storage-access-control.md
  microsoft-365/security/defender-endpoint/device-control-removable-storage-access-control.md
Labels: Microsoft submitter, Defender for Endpoint

#7958 Update use-content-search-for-targeted-collections.md
  microsoft-365/compliance/use-content-search-for-targeted-collections.md
Labels: compliance

#7952 Update create-ediscovery-holds.md
  microsoft-365/compliance/create-ediscovery-holds.md
Labels: compliance, Microsoft submitter

#7953 Update managing-holds.md
  microsoft-365/compliance/managing-holds.md
Labels: compliance, Microsoft submitter

#7962 Update endpoint-dlp-using.md
  microsoft-365/compliance/endpoint-dlp-using.md
Labels: compliance, Microsoft submitter

#7957 Update create-a-custom-sensitive-information-type.md
  microsoft-365/compliance/create-a-custom-sensitive-information-type.md
Labels: compliance, Microsoft submitter

#7847 Update live-response.md
  microsoft-365/security/defender-endpoint/live-response.md
Labels: Microsoft submitter, Defender for Endpoint

#7963 [GRAMMER] Fixing incorrect spelling
  microsoft-365/enterprise/office-365-network-mac-perf-overview.md
Labels: Enterprise

#7970 Update modern-desktop-deployment-and-management-lab.md
  microsoft-365/enterprise/modern-desktop-deployment-and-management-lab.md
Labels: managed-desktop

#7965 Update MDE page due to recent GA of features
  microsoft-365/security/defender-endpoint/gov.md
Labels: Microsoft submitter, Defender for Endpoint

#7993 Update view-service-health.md
  microsoft-365/enterprise/view-service-health.md
Labels: Enterprise

#7986 Update device-control-removable-storage-access-control.md
  microsoft-365/security/defender-endpoint/device-control-removable-storage-access-control.md
Labels: Microsoft submitter, Defender for Endpoint

#7983 Update data-classification-content-explorer.md with latest
  microsoft-365/compliance/data-classification-content-explorer.md
Labels: compliance

#8001 Renames Office 365 CLI to CLI for Microsoft 365
  microsoft-365/enterprise/use-microsoft-365-cdn-with-spo.md
Labels: Enterprise

#7989 Update auditing-solutions-overview.md
  microsoft-365/compliance/auditing-solutions-overview.md
Labels: compliance, Microsoft submitter

#7994 Update ediscovery.md
  microsoft-365/compliance/ediscovery.md
Labels: compliance

#7373 Update customer-lockbox-requests.md
  microsoft-365/compliance/customer-lockbox-requests.md
Labels: compliance

#8011 Update enable-modern-authentication.md
  microsoft-365/admin/security-and-compliance/enable-modern-authentication.md
Labels: Microsoft submitter

#8013 Update microsoft-defender-antivirus-compatibility.md
  microsoft-365/security/defender-endpoint/microsoft-defender-antivirus-compatibility.md
Labels: Microsoft submitter, Defender for Endpoint

#8007 Update best-practices-anonymous-sharing.md
  microsoft-365/solutions/best-practices-anonymous-sharing.md
Labels: solutions

#8021 Update compliance-manager-assessments.md
  microsoft-365/compliance/compliance-manager-assessments.md
Labels: compliance

#7128 Update o365-data-locations.md
  microsoft-365/enterprise/o365-data-locations.md
Labels: Enterprise

#8034 Update readiness-assessment-tool.md
  microsoft-365/managed-desktop/get-ready/readiness-assessment-tool.md
Labels: Microsoft submitter, managed-desktop

#8039 Update defender-endpoint-false-positives-negatives.md
  microsoft-365/security/defender-endpoint/defender-endpoint-false-positives-negatives.md
Labels: Microsoft submitter

#7929 Update delete-user-account.png
  microsoft-365/media/delete-user-account.png
Labels: admin

#8042 Updated roles to view and submit submissions
  microsoft-365/security/office-365-security/admin-submission.md
Labels: Microsoft submitter

#8040 Update apply-a-sensitivity-label-to-a-model.md
  microsoft-365/contentunderstanding/apply-a-sensitivity-label-to-a-model.md
Labels: Microsoft submitter, Syntex

#8049 Date property
  microsoft-365/compliance/document-metadata-fields-in-Advanced-eDiscovery.md
Labels: compliance, Microsoft submitter

#7781 ProPlus (M365 App usage) released into Gallatin
  microsoft-365/admin/activity-reports/activity-reports.md
Labels: Microsoft submitter, admin

#8057 Update edge-browser-app.md
  microsoft-365/managed-desktop/get-started/edge-browser-app.md
Labels: managed-desktop

#8056 Update defender-endpoint-false-positives-negatives.md
  microsoft-365/security/defender-endpoint/defender-endpoint-false-positives-negatives.md
Labels: Defender for Endpoint

#8069 Update device-control-removable-storage-access-control.md
  microsoft-365/security/defender-endpoint/device-control-removable-storage-access-control.md
Labels: Microsoft submitter, Defender for Endpoint

#8063 Update about-shared-mailboxes.md
  microsoft-365/admin/email/about-shared-mailboxes.md
Labels: admin

#8061 Update data-classification-content-explorer.md
  microsoft-365/compliance/data-classification-content-explorer.md
Labels: compliance

#8076 Update sharepoint-site-usage-ww.md
  microsoft-365/admin/activity-reports/sharepoint-site-usage-ww.md
Labels: admin

#8080 Updating requirement for Proxy Settings
  microsoft-365/managed-desktop/working-with-managed-desktop/config-setting-ref.md
Labels: managed-desktop

#8060 Update autoexpanding-archiving.md
  microsoft-365/compliance/autoexpanding-archiving.md
Labels: compliance

#8092 updated Thirty party filter callout
  microsoft-365/security/office-365-security/secure-by-default.md
Labels: Microsoft submitter, Defender for Office 365

#8081 Fix Typo/grammer/wording
  microsoft-365/security/defender/eval-create-eval-environment.md
Labels: Microsoft 365 Defender

#8112 Update index.yml
  microsoft-365/security/defender-business/index.yml
Labels: Microsoft submitter

#8054 Update dlp-teams-default-policy.md
  microsoft-365/compliance/dlp-teams-default-policy.md
Labels: compliance

#8110 deleted links. editted words
  microsoft-365/enterprise/modern-desktop-deployment-and-management-lab.md
Labels: Enterprise

#8114 Update link
  microsoft-365/admin/add-users/create-edit-or-delete-a-custom-user-view.md
Labels: Microsoft submitter

#7996 Update indicator-file.md
  microsoft-365/security/defender-endpoint/indicator-file.md
Labels: Defender for Endpoint

#7997 Update respond-file-alerts.md
  microsoft-365/security/defender-endpoint/respond-file-alerts.md
Labels: Defender for Endpoint

#8055 Update evaluate-mde.md
  microsoft-365/security/defender-endpoint/evaluate-mde.md
Labels: Defender for Endpoint

#8058 Update respond-machine-alerts.md
  microsoft-365/security/defender-endpoint/respond-machine-alerts.md
Labels: Defender for Business

#8131 Update trial-syntex.md
  microsoft-365/contentunderstanding/trial-syntex.md
Labels: Microsoft submitter, Syntex

#8130 Update microsoft-defender-antivirus-compatibility.md
  microsoft-365/security/defender-endpoint/microsoft-defender-antivirus-compatibility.md
Labels: Defender for Endpoint

#8142 Update prebuilt-overview.md
  microsoft-365/contentunderstanding/prebuilt-overview.md
Labels: Microsoft submitter

#7930 Update secure-score-improvement-action-details.png
  microsoft-365/media/secure-score/secure-score-improvement-action-details.png
  microsoft-365/security/defender/microsoft-secure-score-improvement-actions.md
Labels: Microsoft 365 Defender

#8093 Update sharepoint-file-access-policies.md
  microsoft-365/security/office-365-security/sharepoint-file-access-policies.md
Labels: security

#8165 Update microsoft-365-guest-settings.md
  microsoft-365/solutions/microsoft-365-guest-settings.md
Labels: solutions

#8166 Update compare-groups.md
  microsoft-365/admin/create-groups/compare-groups.md
Labels: admin

#8176 Update admin-support.md
  microsoft-365/managed-desktop/working-with-managed-desktop/admin-support.md
Labels: Microsoft submitter

#8179 Update o365-data-locations.md
  microsoft-365/enterprise/o365-data-locations.md
Labels: Enterprise, Microsoft submitter

#8160 Adding missing semicolons
  microsoft-365/security/office-365-security/user-submission.md
Labels: Defender for Office 365

#8153 Update device-images.md
  microsoft-365/managed-desktop/service-description/device-images.md
Labels: managed-desktop

#8171 Update mdo-email-entity-page.md
  microsoft-365/security/office-365-security/mdo-email-entity-page.md
Labels: Microsoft submitter, Defender for Office 365

#7795 Update threat-trackers.md
  microsoft-365/security/office-365-security/threat-trackers.md
Labels: Defender for Office 365

#8174 Update room-and-equipment-mailboxes.md
  microsoft-365/admin/manage/room-and-equipment-mailboxes.md
Labels: admin
