Repository MicrosoftDocs/microsoft-365-docs, pull requests merged in 2022-02, with the labels that each got.

#7559 Update set-up-multi-factor-authentication.md
  microsoft-365/admin/security-and-compliance/set-up-multi-factor-authentication.md
Labels: admin

#7548 Connect-ExchangeOnline Modifications
  microsoft-365/compliance/use-content-search-for-targeted-collections.md
Labels: compliance

#7564 Update search-the-audit-log-in-security-and-compliance.md
  microsoft-365/compliance/search-the-audit-log-in-security-and-compliance.md
Labels: Microsoft submitter

#7557 Update setup-guides-for-microsoft-365.md
  microsoft-365/enterprise/setup-guides-for-microsoft-365.md
Labels: Enterprise

#7594 Adding clarification to the document
  microsoft-365/security/defender-endpoint/manage-protection-updates-microsoft-defender-antivirus.md
Labels: Defender for Endpoint

#7540 Update info about renaming team site URL
  microsoft-365/admin/setup/domains-faq.yml
Labels: admin

#7515 Update cancel-your-subscription.md
  microsoft-365/commerce/subscriptions/cancel-your-subscription.md
Labels: admin

#7551 Typo "**Repeat ～ action…**and"→"**Repeat ～ action…** and"
  microsoft-365/compliance/create-info-mgmt-policies.md
Labels: compliance

#7574 Update createAccount.md
  microsoft-365/test-base/createAccount.md
Labels: M365 test-base

#7451 Update device-discovery-faq.md
  microsoft-365/security/defender-endpoint/device-discovery-faq.md
Labels: Microsoft submitter, Defender for Endpoint

#7529 Update linux-install-manually.md
  microsoft-365/security/defender-endpoint/linux-install-manually.md
Labels: Defender for Endpoint

#7577 Update offboard-machine-api.md
  microsoft-365/security/defender-endpoint/offboard-machine-api.md
Labels: Defender for Endpoint

#7588 Update automated-investigations.md
  microsoft-365/security/defender-endpoint/automated-investigations.md
Labels: Defender for Endpoint

#7589 Update run-detection-test.md
  microsoft-365/security/defender-endpoint/run-detection-test.md
Labels: Defender for Endpoint

#7603 Update supported PS version for AAD Graph Module
  microsoft-365/enterprise/connect-to-microsoft-365-powershell.md
Labels: Enterprise, Microsoft submitter

#7608 Replace `Android` with `iOS`
  microsoft-365/security/defender-endpoint/ios-install-unmanaged.md
Labels: Defender for Endpoint

#7598 Update troubleshoot-onboarding.md
  microsoft-365/security/defender-endpoint/troubleshoot-onboarding.md
Labels: Defender for Endpoint

#7597 Update linux-preferences.md
  microsoft-365/security/defender-endpoint/linux-preferences.md
Labels: Defender for Endpoint

#7599 Update eval-overview.md
  microsoft-365/security/defender/eval-overview.md
Labels: Microsoft 365 Defender

#7590 Update onboarding-macos.png
  microsoft-365/security/defender-endpoint/images/onboarding-macos.png
  microsoft-365/security/defender-endpoint/mac-jamfpro-policies.md
Labels: Defender for Endpoint

#7583 Update production-deployment.md
  microsoft-365/security/defender-endpoint/production-deployment.md
Labels: Microsoft submitter

#7498 Add metadata field to support_log_report documentation
  microsoft-365/security/defender-endpoint/mac-privacy.md
Labels: Microsoft submitter, Defender for Endpoint

#7593 Fix typo
  microsoft-365/commerce/subscriptions/cancel-your-subscription.md
Labels: Microsoft submitter, admin

#7613 Add fluid application to "other"
  microsoft-365/compliance/supported-filetypes-ediscovery20.md
Labels: compliance, Microsoft submitter

#7617 Language support for document understanding models
  microsoft-365/contentunderstanding/document-understanding-overview.md
Labels: Syntex

#7614 fix typo
  microsoft-365/admin/create-groups/manage-groups.md
Labels: admin

#7618 Update quarantine-policies.md
  microsoft-365/security/office-365-security/quarantine-policies.md
Labels: security

#7573 Update testtask.md
  microsoft-365/test-base/testtask.md
Labels: M365 test-base

#7623 Update modern-desktop-deployment-and-management-lab.md
  microsoft-365/enterprise/modern-desktop-deployment-and-management-lab.md
Labels: managed-desktop

#7619 Update use-the-delist-portal-to-remove-yourself-from-the-office-365-b…
  microsoft-365/security/office-365-security/use-the-delist-portal-to-remove-yourself-from-the-office-365-blocked-senders-lis.md
Labels: security, Microsoft submitter

#7543 Update classifier-learn-about.md
  microsoft-365/compliance/classifier-learn-about.md
Labels: compliance

#7611 Update ome-faq.yml
  microsoft-365/compliance/ome-faq.yml
Labels: compliance, Microsoft submitter

#7634 Updating not available datacenter locations
  microsoft-365/security/defender/prerequisites.md
Labels: security

#7641 Update configure-block-at-first-sight-microsoft-defender-antivirus.md
  microsoft-365/security/defender-endpoint/configure-block-at-first-sight-microsoft-defender-antivirus.md
Labels: Defender for Endpoint

#7639 Update services-in-china.md
  microsoft-365/admin/services-in-china/services-in-china.md
Labels: admin

#7626 Update device-control-removable-storage-access-control.md
  microsoft-365/security/defender-endpoint/device-control-removable-storage-access-control.md
Labels: Microsoft submitter, Defender for Endpoint

#7647 Update tvm-dashboard-insights.md
  microsoft-365/security/defender-endpoint/tvm-dashboard-insights.md
Labels: Microsoft submitter

#6695 Update domains-faq.yml
  microsoft-365/admin/setup/domains-faq.yml
Labels: admin

#6917 Update customize-the-app-launcher.md
  microsoft-365/admin/manage/customize-the-app-launcher.md
Labels: admin

#5124 Update ome-faq.yml
  microsoft-365/compliance/ome-faq.yml
Labels: compliance

#7653 Updating note on status of Built-in protection
  microsoft-365/security/office-365-security/preset-security-policies.md
Labels: Microsoft submitter

#7549 Update docs for Usage Analytics
  microsoft-365/admin/usage-analytics/enable-usage-analytics.md
  microsoft-365/admin/usage-analytics/usage-analytics-data-model.md
Labels: Microsoft submitter, admin

#7655 Update alert-policies.md
  microsoft-365/compliance/alert-policies.md
Labels: compliance

#6791 Update subscriptions-and-licenses.md
  microsoft-365/commerce/licenses/subscriptions-and-licenses.md
Labels: Microsoft submitter, admin

#6865 Slight change to wording.
  microsoft-365/admin/manage/set-password-expiration-policy.md
Labels: Microsoft submitter, admin

#7591 Update remove-former-employee-step-3.md
  microsoft-365/admin/add-users/remove-former-employee-step-3.md
  microsoft-365/admin/add-users/remove-former-employee-step-4.md
  microsoft-365/admin/add-users/remove-former-employee-step-5.md
Labels: admin

#7273 added purchase link
  microsoft-365/commerce/subscriptions/allowselfservicepurchase-powershell.md
Labels: admin

#7401 Update custom-detection-rules.md
  microsoft-365/security/defender/custom-detection-rules.md
Labels: Microsoft 365 Defender

#7580 Update portals.md
  microsoft-365/security/defender/portals.md
Labels: security

#7668 Update linux-updates.md
  microsoft-365/security/defender-endpoint/linux-updates.md
Labels: Defender for Endpoint

#7681 Update microsoft-defender-antivirus-compatibility.md
  microsoft-365/security/defender-endpoint/microsoft-defender-antivirus-compatibility.md
Labels: Microsoft submitter

#7670 Updated CIFS share permissions to most restrictive
  microsoft-365/security/defender-endpoint/deployment-vdi-microsoft-defender-antivirus.md
Labels: Microsoft submitter, Defender for Endpoint

#7683 Updating the SNOW overview page
  microsoft-365/admin/manage/servicenow-overview.md
Labels: Microsoft submitter, admin

#7682 Update install-app-guard.md
  microsoft-365/security/office-365-security/install-app-guard.md
Labels: Microsoft submitter, Defender for Office 365

#7691 Update create-secure-guest-sharing-environment.md
  microsoft-365/solutions/create-secure-guest-sharing-environment.md
Labels: solutions

#7692 Update domains-faq.yml
  microsoft-365/admin/setup/domains-faq.yml
Labels: admin

#7696 Update printer-protection.md
  microsoft-365/security/defender-endpoint/printer-protection.md
Labels: Microsoft submitter, Defender for Endpoint

#7690 Update centralized-deployment-of-add-ins.md
  microsoft-365/admin/manage/centralized-deployment-of-add-ins.md
Labels: admin

#7693 Update remove-former-employee-step-6.md
  microsoft-365/admin/add-users/remove-former-employee-step-6.md
Labels: admin

#7676 Update remove-former-employee.md
  microsoft-365/admin/add-users/remove-former-employee.md
Labels: admin

#7694 Update deployment-vdi-microsoft-defender-antivirus.md
  microsoft-365/security/defender-endpoint/deployment-vdi-microsoft-defender-antivirus.md
Labels: Defender for Endpoint

#5585 adding clarity regarding the order of events
  microsoft-365/enterprise/multi-geo-tenant-configuration.md
Labels: Enterprise, Microsoft submitter

#7705 Update search-the-audit-log-in-security-and-compliance.md
  microsoft-365/compliance/search-the-audit-log-in-security-and-compliance.md
Labels: compliance, Microsoft submitter

#7716 Update to the overview page
  microsoft-365/admin/manage/servicenow-overview.md
  microsoft-365/media/154124985-76e13e7d-b32e-4741-830b-bbb110d3ecbf.png
Labels: Microsoft submitter, admin

#7718 Update admin-support.md
  microsoft-365/managed-desktop/working-with-managed-desktop/admin-support.md
Labels: Microsoft submitter

#7722 Updating min version as iOS 13 from March-end
  microsoft-365/security/defender-endpoint/microsoft-defender-endpoint-ios.md
Labels: Microsoft submitter

#7723 Added Consumer release announcement
  microsoft-365/security/defender-endpoint/ios-whatsnew.md
Labels: Microsoft submitter

#7584 Updating edge add-on naming to Microsoft Compliance Extension
  microsoft-365/compliance/insider-risk-management-browser-support.md
Labels: compliance, Microsoft submitter

#7728 Update migrate-to-defender-for-office-365-prepare.md
  microsoft-365/security/office-365-security/migrate-to-defender-for-office-365-prepare.md
Labels: Microsoft submitter, Defender for Office 365

#7731 Update microsoft-secure-score.md
  microsoft-365/security/defender/microsoft-secure-score.md
Labels: Microsoft submitter

#7738 Update tvm-weaknesses.md
  microsoft-365/security/defender-endpoint/tvm-weaknesses.md
Labels: Microsoft submitter

#7754 Update configure-server-endpoints.md
  microsoft-365/security/defender-endpoint/configure-server-endpoints.md
Labels: Microsoft submitter, Defender for Endpoint

#7719 Update classifier-learn-about.md
  microsoft-365/compliance/classifier-learn-about.md
Labels: compliance, Microsoft submitter

#7627 Update sit-use-exact-data-refresh-data.md
  microsoft-365/compliance/sit-use-exact-data-refresh-data.md
Labels: compliance

#7769 Update advanced-features.md
  microsoft-365/security/defender-endpoint/advanced-features.md
Labels: Microsoft submitter

#7750 Setting is deprecated
  microsoft-365/security/defender-endpoint/turn-on-protocol-recognition.md
Labels: Microsoft submitter, Defender for Endpoint

#7773 typo corection
  microsoft-365/security/defender/eval-defender-identity-architecture.md
Labels: Microsoft 365 Defender

#7774 Update enable-attack-surface-reduction.md
  microsoft-365/security/defender-endpoint/enable-attack-surface-reduction.md
Labels: Defender for Endpoint

#7775 Update web-content-filtering.md
  microsoft-365/security/defender-endpoint/web-content-filtering.md
Labels: Defender for Endpoint

#7788 Clarification on web content filtering
  microsoft-365/security/defender-endpoint/ios-configure-features.md
Labels: Microsoft submitter

#7763 Update dlp-policy-tips-reference.md
  microsoft-365/compliance/dlp-policy-tips-reference.md
Labels: compliance, Microsoft submitter

#7758 Minor update to the AAD OAuth page
  microsoft-365/admin/manage/servicenow-aad-oauth-token.md
Labels: Microsoft submitter, admin

#7711 Update indicator-file.md
  microsoft-365/security/defender-endpoint/indicator-file.md
Labels: Microsoft submitter, Defender for Endpoint

#7741 ms.author/author changes
  microsoft-365/admin/activity-reports/active-users-ww.md
  microsoft-365/admin/add-users/add-new-employee.md
  microsoft-365/admin/admin-overview/admin-center-overview.md
  microsoft-365/admin/admin-video-library.yml
  microsoft-365/admin/dns/create-dns-records-at-godaddy.md
  microsoft-365/admin/dns/create-dns-records-at-namecheap.md
  microsoft-365/admin/dns/create-dns-records-at-wix.md
  microsoft-365/admin/dns/create-dns-records-using-windows-based-dns.md
  microsoft-365/admin/dns/update-dns-records-to-retain-current-hosting-provider.md
  microsoft-365/admin/email/change-email-address.md
  microsoft-365/admin/get-help-with-domains/buy-a-domain-name.md
  microsoft-365/admin/get-help-with-domains/change-nameservers-at-any-domain-registrar.md
  microsoft-365/admin/get-help-with-domains/create-dns-records-at-any-dns-hosting-provider.md
  microsoft-365/admin/get-help-with-domains/dns-basics.md
  microsoft-365/admin/get-help-with-domains/find-and-fix-issues.md
  microsoft-365/admin/get-help-with-domains/find-your-domain-registrar.md
  microsoft-365/admin/get-help-with-domains/information-for-dns-records.md
  microsoft-365/admin/get-help-with-domains/remove-a-domain.md
  microsoft-365/admin/get-help-with-domains/transfer-a-domain-from-microsoft-to-another-host.md
  microsoft-365/admin/get-help-with-domains/transfer-data-manually.md
  microsoft-365/admin/get-help-with-domains/what-is-a-domain.md
  microsoft-365/admin/misc/become-the-admin.md
  microsoft-365/admin/misc/mailbox-not-found-error.md
  microsoft-365/admin/misc/pilot-microsoft-365-from-my-custom-domain.md
  microsoft-365/admin/misc/set-up-dns-records-vsb.md
  microsoft-365/admin/productivity/productivity-score.md
  microsoft-365/admin/setup/add-domain.md
  microsoft-365/admin/setup/domains-faq.yml
  microsoft-365/admin/setup/install-applications.md
Labels: do not merge, admin

#7742 ms.author/author changes 2
  microsoft-365/admin/add-users/about-exchange-online-admin-role.md
  microsoft-365/admin/dns/create-dns-records-at-1-1-internet.md
  microsoft-365/admin/dns/create-dns-records-at-123-reg-co-uk.md
  microsoft-365/admin/dns/create-dns-records-at-aws.md
  microsoft-365/admin/dns/create-dns-records-at-cloudflare.md
  microsoft-365/admin/dns/create-dns-records-at-network-solutions.md
  microsoft-365/admin/dns/create-dns-records-at-ovh.md
  microsoft-365/admin/dns/create-dns-records-at-web-com.md
  microsoft-365/admin/get-help-with-domains/domain-connect.md
  microsoft-365/admin/manage/manage-industry-news.md
  microsoft-365/admin/manage/manage-microsoft-rewards.md
  microsoft-365/admin/manage/servicenow-aad-oauth-token.md
  microsoft-365/admin/manage/servicenow-basic-authentication.md
  microsoft-365/admin/manage/servicenow-overview.md
  microsoft-365/admin/manage/servicenow-testing-the-configuration.md
  microsoft-365/admin/manage/servicenow-troubleshooting.md
  microsoft-365/admin/misc/remove-a-domain-from-another-account.md
  microsoft-365/admin/misc/sign-up-for-online-services.md
  microsoft-365/admin/misc/sign-up-with-a-personal-email-address.md
  microsoft-365/admin/productivity/apps-health.md
  microsoft-365/admin/productivity/communication.md
  microsoft-365/admin/productivity/content-collaboration.md
  microsoft-365/admin/productivity/meetings.md
  microsoft-365/admin/productivity/mobility.md
  microsoft-365/admin/productivity/privacy.md
  microsoft-365/admin/productivity/teamwork.md
  microsoft-365/admin/security-and-compliance/gdpr-compliance.md
  microsoft-365/admin/services-in-china/create-dns-records-when-you-manage-your-dns-records.md
  microsoft-365/admin/services-in-china/purpose-of-cname.md
Labels: admin

#7489 Update use-dkim-to-validate-outbound-email.md
  microsoft-365/security/office-365-security/use-dkim-to-validate-outbound-email.md
Labels: Defender for Office 365

#7358 Update note
  microsoft-365/security/office-365-security/use-dkim-to-validate-outbound-email.md
Labels: Microsoft submitter, Defender for Office 365

#6038 Update office-365-ti.md
  microsoft-365/security/office-365-security/office-365-ti.md
Labels: Defender for Office 365

#7792 Update device-discovery-faq.md
  microsoft-365/security/defender-endpoint/device-discovery-faq.md
Labels: Microsoft submitter

#7786 Update schedule-antivirus-scans.md
  microsoft-365/security/defender-endpoint/schedule-antivirus-scans.md
Labels: Defender for Endpoint

#7785 Add English as supported language
  microsoft-365/contentunderstanding/document-understanding-overview.md
Labels: Microsoft submitter, Syntex

#7772 Update sensitive-information-type-learn-about.md
  microsoft-365/compliance/sensitive-information-type-learn-about.md
Labels: compliance

#7791 hold limit language
  microsoft-365/compliance/create-ediscovery-holds.md
Labels: compliance, Microsoft submitter

#7783 Update ios-install.md
  microsoft-365/security/defender-endpoint/ios-install.md
Labels: Defender for Endpoint

#7713 Updated timeouts \ limits
  microsoft-365/security/defender-endpoint/live-response.md
Labels: Microsoft submitter, Defender for Endpoint

#7708 Update user-roles.md
  microsoft-365/security/defender-endpoint/user-roles.md
Labels: Microsoft submitter, Defender for Endpoint

#7665 Update live-response-command-examples.md
  microsoft-365/security/defender-endpoint/live-response-command-examples.md
Labels: Defender for Endpoint

#7814 Update mdb-onboard-devices.md
  microsoft-365/security/defender-business/mdb-onboard-devices.md
Labels: Microsoft submitter

#7815 Update mdb-simplified-configuration.md
  microsoft-365/security/defender-business/mdb-simplified-configuration.md
Labels: Microsoft submitter

#7807 unsupported word formatting
  microsoft-365/contentunderstanding/content-assembly.md
Labels: Microsoft submitter, Syntex

#7817 metadata fixes
  microsoft-365/admin/manage/change-address-contact-and-more.md
Labels: Microsoft submitter

#7770 Remove Teams specific port per media type
  microsoft-365/enterprise/microsoft-365-vpn-implement-split-tunnel.md
Labels: Enterprise, Microsoft submitter

#7804 Update advanced-features.md
  microsoft-365/security/defender-endpoint/advanced-features.md
Labels: Defender for Endpoint

#7642 Update non-windows.md
  microsoft-365/security/defender-endpoint/non-windows.md
Labels: Defender for Endpoint

#7818 Update configure-extension-file-exclusions-microsoft-defender-antivir…
  microsoft-365/security/defender-endpoint/configure-extension-file-exclusions-microsoft-defender-antivirus.md
Labels: Defender for Endpoint

#7834 Important note on correct use of PowerShell Module
  microsoft-365/compliance/turn-audit-log-search-on-or-off.md
Labels: compliance, Microsoft submitter

#7835 Update manage-quarantined-messages-and-files.md
  microsoft-365/security/office-365-security/manage-quarantined-messages-and-files.md
Labels: Defender for Office 365

#7841 Metadata updates only
  microsoft-365/commerce/licenses/manage-auto-claim-policies.md
Labels: Microsoft submitter

#7842 Metadata changes only
  microsoft-365/commerce/licenses/manage-third-party-app-licenses.md
Labels: Microsoft submitter

#7843 Metadata changes only
  microsoft-365/commerce/subscriptions/verify-academic-eligibility.md
Labels: Microsoft submitter

#7825 Update search-the-audit-log-in-security-and-compliance.md
  microsoft-365/compliance/search-the-audit-log-in-security-and-compliance.md
Labels: compliance, Microsoft submitter
