Repository MicrosoftDocs/microsoft-365-docs, pull requests merged in 2022-11, with the labels that each got.

#10106 Update tvm-weaknesses.md
  microsoft-365/security/defender-vulnerability-management/tvm-weaknesses.md
Labels: security

#10079 Update linux-preferences.md
  microsoft-365/security/defender-endpoint/linux-preferences.md
Labels: Defender for Endpoint

#10082 Create difference-between-document-understanding-and-form-processing-…
  microsoft-365/contentunderstanding/difference-between-document-understanding-and-form-processing-model.md
Labels: contentunderstanding

#10100 Update about-admin-roles.md
  microsoft-365/admin/add-users/about-admin-roles.md
Labels: admin

#9979 Update set-scheduling-policies.md
  microsoft-365/bookings/set-scheduling-policies.md
Labels: Bookings

#10131 Update m365-dr-commitments.md
  microsoft-365/enterprise/m365-dr-commitments.md
Labels: Microsoft submitter

#10061 Update assign-licenses-to-user-accounts-with-microsoft-365-powershell.md
  microsoft-365/enterprise/assign-licenses-to-user-accounts-with-microsoft-365-powershell.md
Labels: Enterprise

#10108 Update additional-office365-ip-addresses-and-urls.md
  microsoft-365/enterprise/additional-office365-ip-addresses-and-urls.md
Labels: Enterprise

#10036 Update cross-tenant-mailbox-migration.md
  microsoft-365/enterprise/cross-tenant-mailbox-migration.md
Labels: Enterprise

#10010 Update external-domain-name-system-records.md
  microsoft-365/enterprise/external-domain-name-system-records.md
Labels: Enterprise

#10005 Update cross-tenant-mailbox-migration.md
  microsoft-365/enterprise/cross-tenant-mailbox-migration.md
Labels: Enterprise

#10120 Update manage-sharepoint-users-and-groups-with-powershell.md
  microsoft-365/enterprise/manage-sharepoint-users-and-groups-with-powershell.md
Labels: Enterprise

#10139 Update device-health-api-methods-properties.md
  microsoft-365/security/defender-endpoint/device-health-api-methods-properties.md
  microsoft-365/security/defender-endpoint/device-health-export-antivirus-health-report-api.md
Labels: Defender for Endpoint

#10138 removed OS version dependency requirements
  microsoft-365/security/defender-endpoint/configure-block-at-first-sight-microsoft-defender-antivirus.md
Labels: Microsoft submitter, Defender for Endpoint

#10141 Update mac-What'snew.md
  microsoft-365/security/defender-endpoint/mac-whatsnew.md
Labels: Microsoft submitter, Defender for Endpoint

#10144 Update dlp-configure-endpoint-settings.md
  microsoft-365/compliance/dlp-configure-endpoint-settings.md
Labels: Microsoft submitter

#10145 Update endpoint-dlp-using.md
  microsoft-365/compliance/endpoint-dlp-using.md
Labels: Microsoft submitter

#10130 Correcting typo in line 108
  microsoft-365/compliance/classifier-learn-about.md
Labels: compliance

#10164 Updated line 42 - 44 with the full brand name
  microsoft-365/security/defender-endpoint/mac-whatsnew.md
Labels: Microsoft submitter, Defender for Endpoint

#10089 Update configure-server-endpoints.md
  microsoft-365/security/defender-endpoint/configure-server-endpoints.md
Labels: Defender for Endpoint

#10172 Update quarantine-policies.md
  microsoft-365/security/office-365-security/quarantine-policies.md
Labels: Microsoft submitter

#10159 Update domains-faq.yml
  microsoft-365/admin/setup/domains-faq.yml
Labels: admin

#10170 Update enable-controlled-folders.md
  microsoft-365/security/defender-endpoint/enable-controlled-folders.md
Labels: Defender for Endpoint

#10171 Update manage-tenant-allow-block-list.md
  microsoft-365/security/office-365-security/manage-tenant-allow-block-list.md
Labels: Defender for Office 365

#10189 Update NDR code for recipient block
  microsoft-365/security/office-365-security/allow-block-email-spoof.md
Labels: Microsoft submitter

#10187 Updated NDR code for recipient block
  microsoft-365/security/office-365-security/manage-tenant-allow-block-list.md
Labels: Microsoft submitter, Defender for Office 365

#10182 Update mac-schedule-scan.md
  microsoft-365/security/defender-endpoint/mac-schedule-scan.md
Labels: Defender for Endpoint

#10107 Update identify-a-hold-on-an-exchange-online-mailbox.md
  microsoft-365/compliance/identify-a-hold-on-an-exchange-online-mailbox.md
Labels: compliance, Microsoft submitter

#10203 Update change-payment-frequency.md
  microsoft-365/commerce/billing-and-payments/change-payment-frequency.md
Labels: admin

#10209 Update whats-new.md
  microsoft-365/compliance/whats-new.md
Labels: compliance

#10174 Update investigate-files.md
  microsoft-365/security/defender-endpoint/investigate-files.md
Labels: Microsoft submitter, Defender for Endpoint

#10219 Update configure-your-spam-filter-policies.md
  microsoft-365/security/office-365-security/configure-your-spam-filter-policies.md
Labels: Defender for Office 365

#10231 Update m365-dr-overview.md
  microsoft-365/enterprise/m365-dr-overview.md
Labels: Microsoft submitter

#10239 Update m365bp-setup.md
  microsoft-365/business-premium/m365bp-setup.md
Labels: Microsoft submitter

#10222 Update configure-vulnerability-email-notifications.md
  microsoft-365/security/defender-endpoint/configure-vulnerability-email-notifications.md
Labels: Defender Vulnerability Management

#10242 Update device-control-removable-storage-access-control.md
  microsoft-365/security/defender-endpoint/device-control-removable-storage-access-control.md
Labels: Microsoft submitter, Defender for Endpoint

#10252 correct Network protection config settings
  microsoft-365/security/defender-endpoint/android-configure.md
Labels: Microsoft submitter, Defender for Endpoint

#10263 Update microsoft-365-security-center-mde.md
  microsoft-365/security/defender/microsoft-365-security-center-mde.md
Labels: Microsoft submitter, Defender for Endpoint

#10262 Update top-scoring-industry-tests.md
  microsoft-365/security/defender/top-scoring-industry-tests.md
Labels: Microsoft submitter, Microsoft 365 Defender

#10253 correct network protection config settings
  microsoft-365/security/defender-endpoint/ios-configure-features.md
Labels: Microsoft submitter, Defender for Endpoint

#10244 Clarified third party reporting
  microsoft-365/security/office-365-security/user-submission.md
Labels: Microsoft submitter, Defender for Office 365

#10260 Update groups-teams-access-governance.md
  microsoft-365/solutions/groups-teams-access-governance.md
Labels: solutions

#10256 Update tvm-remediation.md
  microsoft-365/security/defender-vulnerability-management/tvm-remediation.md
Labels: Defender Vulnerability Management

#10279 Update m365-dr-workload-other.md
  microsoft-365/enterprise/m365-dr-workload-other.md
Labels: Microsoft submitter

#10277 Update campaigns.md
  microsoft-365/security/office-365-security/campaigns.md
Labels: Defender for Office 365

#10205 Update enable-cloud-protection-microsoft-defender-antivirus.md
  microsoft-365/security/defender-endpoint/enable-cloud-protection-microsoft-defender-antivirus.md
Labels: Defender for Endpoint

#10204 Update switch-to-mde-phase-3.md
  microsoft-365/security/defender-endpoint/switch-to-mde-phase-3.md
Labels: Defender for Endpoint

#10201 Update configure-extension-file-exclusions-microsoft-defender-antivir…
  microsoft-365/security/defender-endpoint/configure-extension-file-exclusions-microsoft-defender-antivirus.md
Labels: Defender for Endpoint

#10268 Update records-management.md
  microsoft-365/compliance/records-management.md
Labels: compliance

#10292 Update device-control-report.md
  microsoft-365/security/defender-endpoint/device-control-report.md
Labels: Microsoft submitter, Defender for Endpoint

#10264 Update investigate-ip.md
  microsoft-365/security/defender-endpoint/investigate-ip.md
Labels: Microsoft submitter, Defender for Endpoint

#10226 Update manage-automation-folder-exclusions.md
  microsoft-365/security/defender-endpoint/manage-automation-folder-exclusions.md
Labels: Defender for Endpoint

#10261 Update microsoft-365-defender-portal.md
  microsoft-365/security/defender/microsoft-365-defender-portal.md
Labels: Microsoft submitter, Microsoft 365 Defender

#10299 Update attack-surface-reduction-rules-reference.md
  microsoft-365/security/defender-endpoint/attack-surface-reduction-rules-reference.md
Labels: Defender for Endpoint

#10300 Update attack-surface-reduction-rules-deployment-implement.md
  microsoft-365/security/defender-endpoint/attack-surface-reduction-rules-deployment-implement.md
Labels: Defender for Endpoint

#10295 Update delete-an-inactive-mailbox.md
  microsoft-365/compliance/delete-an-inactive-mailbox.md
Labels: compliance

#10278 Update permissions-microsoft-365-security-center.md
  microsoft-365/security/office-365-security/permissions-microsoft-365-security-center.md
Labels: Defender for Office 365

#10296 Update deployment-strategy.md
  microsoft-365/security/defender-endpoint/deployment-strategy.md
Labels: Defender for Endpoint

#10225 Update manage-automation-file-uploads.md
  microsoft-365/security/defender-endpoint/manage-automation-file-uploads.md
Labels: Defender for Endpoint

#10224 Update manage-suppression-rules.md
  microsoft-365/security/defender-endpoint/manage-suppression-rules.md
Labels: Defender for Endpoint

#10223 Update advanced-features.md
  microsoft-365/security/defender-endpoint/advanced-features.md
Labels: Defender for Endpoint

#10104 Update Network Protection for iOS settings key
  microsoft-365/security/defender-endpoint/ios-configure-features.md
Labels: Defender for Endpoint

#10157 Update data-storage-privacy.md
  microsoft-365/security/defender-endpoint/data-storage-privacy.md
Labels: Defender for Endpoint

#10183 Update indicator-manage.md
  microsoft-365/security/defender-endpoint/indicator-manage.md
Labels: Defender for Endpoint

#10199 Update api-hello-world.md
  microsoft-365/security/defender-endpoint/api-hello-world.md
Labels: Defender for Endpoint

#10197 Update run-advanced-query-api.md
  microsoft-365/security/defender-endpoint/run-advanced-query-api.md
Labels: Defender for Endpoint

#10221 Update configure-email-notifications.md
  microsoft-365/security/defender-endpoint/configure-email-notifications.md
Labels: Defender for Endpoint

#10091 Update data-collection-analyzer.md
  microsoft-365/security/defender-endpoint/data-collection-analyzer.md
Labels: Defender for Endpoint

#10304 Add Examples To Left and Right Tilde Scenario
  microsoft-365/security/office-365-security/allow-block-urls.md
Labels: Microsoft submitter

#10306 Update schedule-antivirus-scans.md
  microsoft-365/security/defender-endpoint/schedule-antivirus-scans.md
Labels: Defender for Endpoint

#10336 Update dex-xdr-overview.md
  microsoft-365/security/defender/dex-xdr-overview.md
Labels: Microsoft submitter

#10333 Update assign-ediscovery-permissions.md
  microsoft-365/compliance/assign-ediscovery-permissions.md
Labels: compliance, Microsoft submitter

#10339 Update network-protection-macos.md
  microsoft-365/security/defender-endpoint/network-protection-macos.md
Labels: Defender for Endpoint

#10340 Update removing-user-from-restricted-users-portal-after-spam.md
  microsoft-365/security/office-365-security/removing-user-from-restricted-users-portal-after-spam.md
Labels: Defender for Office 365

#10342 Update password-policy-recommendations.md
  microsoft-365/admin/misc/password-policy-recommendations.md
Labels: admin

#10341 Update attack-simulation-training.md
  microsoft-365/security/office-365-security/attack-simulation-training.md
Labels: Defender for Office 365

#10391 Added note for forbidden characters
  microsoft-365/security/defender-endpoint/live-response-command-examples.md
Labels: Microsoft submitter

#10351 Update configure-exclusions-microsoft-defender-antivirus.md
  microsoft-365/security/defender-endpoint/configure-exclusions-microsoft-defender-antivirus.md
Labels: Defender for Endpoint

#10353 Update attack-simulation-training-payload-automations.md
  microsoft-365/security/office-365-security/attack-simulation-training-payload-automations.md
Labels: Microsoft submitter, Defender for Office 365

#10354 Update attack-simulation-training-simulation-automations.md
  microsoft-365/security/office-365-security/attack-simulation-training-simulation-automations.md
Labels: Microsoft submitter, Defender for Office 365

#10364 Update threat-hunting-in-threat-explorer.md
  microsoft-365/security/office-365-security/threat-hunting-in-threat-explorer.md
Labels: Defender for Office 365

#10366 Update mac-support-license.md
  microsoft-365/security/defender-endpoint/mac-support-license.md
Labels: Defender for Endpoint

#10400 Update email entity page
  microsoft-365/security/office-365-security/mdo-email-entity-page.md
  microsoft-365/security/office-365-security/mdo-sec-ops-guide.md
Labels: Microsoft submitter

#10410 Update remediate-malicious-email-delivered-office-365.md
  microsoft-365/security/office-365-security/remediate-malicious-email-delivered-office-365.md
Labels: Defender for Office 365

#10409 Update permissions-microsoft-365-security-center.md
  microsoft-365/security/office-365-security/permissions-microsoft-365-security-center.md
Labels: do not merge, Defender for Office 365

#10416 Update device-control-report.md
  microsoft-365/security/defender-endpoint/device-control-report.md
Labels: Microsoft submitter, Defender for Endpoint

#10399 Path for the gpg key storage is incorrect
  microsoft-365/security/defender-endpoint/linux-install-manually.md
Labels: Microsoft submitter, Defender for Endpoint
