Repository MicrosoftDocs/microsoft-365-docs, pull requests merged in 2022-06, with the labels that each got.

#8773 Revert "Update defender-vulnerability-management-capabilities.md"
  microsoft-365/security/defender-vulnerability-management/defender-vulnerability-management-capabilities.md
Labels: Microsoft submitter

#8627 Update attack-surface-reduction-rules-reference.md
  microsoft-365/security/defender-endpoint/attack-surface-reduction-rules-reference.md
Labels: Defender for Endpoint

#8775 Update configure-anti-malware-policies.md
  microsoft-365/security/office-365-security/configure-anti-malware-policies.md
Labels: Defender for Office 365

#8719 Replaced slang terms
  microsoft-365/admin/add-users/about-exchange-online-admin-role.md
Labels: admin

#8786 Update create-a-shared-mailbox.md
  microsoft-365/admin/email/create-a-shared-mailbox.md
Labels: admin

#8790 Update defender-endpoint-plan-1.md
  microsoft-365/security/defender-endpoint/defender-endpoint-plan-1.md
Labels: Defender for Endpoint

#8762 Update microsoft-defender-antivirus-compatibility.md
  microsoft-365/security/defender-endpoint/microsoft-defender-antivirus-compatibility.md
Labels: Defender for Endpoint

#8803 Update whats-new-in-defender-for-office-365.md
  microsoft-365/security/office-365-security/whats-new-in-defender-for-office-365.md
Labels: Microsoft submitter

#8780 Update manage-payment-methods.md
  microsoft-365/commerce/billing-and-payments/manage-payment-methods.md
Labels: Microsoft submitter, admin

#8805 Sweden update microsoft-365-multi-geo-locations.md
  microsoft-365/includes/microsoft-365-multi-geo-locations.md
Labels: Enterprise, Microsoft submitter

#8806 Corrected a wrong and misleading limitation
  microsoft-365/security/defender-endpoint/device-control-removable-storage-access-control.md
Labels: Defender for Endpoint

#8816 Update mdb-overview.md
  microsoft-365/security/defender-business/mdb-overview.md
Labels: Microsoft submitter

#8750 Update protect-your-global-administrator-accounts.md
  microsoft-365/enterprise/protect-your-global-administrator-accounts.md
Labels: Enterprise

#8745 Update cross-tenant-mailbox-migration.md
  microsoft-365/enterprise/cross-tenant-mailbox-migration.md
Labels: Enterprise, Microsoft submitter

#8779 fix typo
  microsoft-365/enterprise/use-powershell-to-perform-an-imap-migration-to-microsoft-365.md
Labels: Enterprise

#8804 New ZAP alert
  microsoft-365/compliance/alert-policies.md
Labels: compliance, Microsoft submitter

#8834 Create view-converted-admin-submission image
  microsoft-365/media/view-converted-admin-submission.png
Labels: Microsoft submitter

#8818 Create stay-informed-with-message-center.md
  microsoft-365/security/office-365-security/step-by-step-guides/stay-informed-with-message-center.md
Labels: Microsoft submitter, Defender for Office 365

#8842 Update phishing-trends.md
  microsoft-365/security/intelligence/phishing-trends.md
Labels: Microsoft submitter

#8846 Added new link
  microsoft-365/security/intelligence/phishing-trends.md
Labels: security

#8850 Update respond-machine-alerts.md
  microsoft-365/security/defender-endpoint/respond-machine-alerts.md
Labels: Defender for Endpoint

#8090 Update get-help-support.md
  microsoft-365/admin/get-help-support.md
Labels: admin

#8840 Adding SDS Rollover guide section
  microsoft-365/enterprise/setup-guides-for-microsoft-365.md
Labels: Enterprise

#8841 Added support for DKIM domain in TABLSpoof
  microsoft-365/security/office-365-security/whats-new-in-defender-for-office-365.md
Labels: Microsoft submitter, Defender for Office 365

#8198 Update linux-install-with-puppet.md
  microsoft-365/security/defender-endpoint/linux-install-with-puppet.md
Labels: Defender for Endpoint

#8858 Revert "Create view-converted-admin-submission image"
  microsoft-365/media/view-converted-admin-submission.png
Labels: Microsoft submitter

#8859 Revert "How to view admin submission from use report"
  microsoft-365/security/office-365-security/admin-submission.md
Labels: Microsoft submitter

#8403 Update microsoft-defender-endpoint-android.md
  microsoft-365/security/defender-endpoint/microsoft-defender-endpoint-android.md
Labels: Defender for Endpoint

#8687 Update enable-troubleshooting-mode.md
  microsoft-365/security/defender-endpoint/enable-troubleshooting-mode.md
Labels: Defender for Endpoint

#8747 Update onboard-windows-multi-session-device.md
  microsoft-365/security/defender-endpoint/onboard-windows-multi-session-device.md
Labels: Defender for Endpoint

#7534 Update customer-key-set-up.md
  microsoft-365/compliance/customer-key-set-up.md
Labels: compliance

#7656 Update prepare-tls-1.2-in-office-365.md
  microsoft-365/compliance/prepare-tls-1.2-in-office-365.md
Labels: compliance

#7724 Update set-up-irm-in-sp-admin-center.md
  microsoft-365/compliance/set-up-irm-in-sp-admin-center.md
Labels: compliance

#7928 Update set-up-new-message-encryption-capabilities.md
  microsoft-365/compliance/set-up-new-message-encryption-capabilities.md
Labels: compliance

#8764 Commands are incomplete
  microsoft-365/security/defender-endpoint/troubleshooting-mode-scenarios.md
Labels: Defender for Endpoint

#8863 Update how-to-handle-false-negatives-in-microsoft-defender-for-office…
  microsoft-365/security/office-365-security/step-by-step-guides/how-to-handle-false-negatives-in-microsoft-defender-for-office-365.md
Labels: Microsoft submitter

#8864 Update how-to-handle-false-positives-in-microsoft-defender-for-office…
  microsoft-365/security/office-365-security/step-by-step-guides/how-to-handle-false-positives-in-microsoft-defender-for-office-365.md
Labels: Microsoft submitter

#8865 Update how-to-configure-quarantine-permissions-with-quarantine-polici…
  microsoft-365/security/office-365-security/step-by-step-guides/how-to-configure-quarantine-permissions-with-quarantine-policies.md
Labels: Microsoft submitter

#8867 Update optimize-and-correct-security-policies-with-configuration-anal…
  microsoft-365/security/office-365-security/step-by-step-guides/optimize-and-correct-security-policies-with-configuration-analyzer.md
Labels: Microsoft submitter

#8868 Update how-to-prioritize-and-manage-automated-investigations-and-resp…
  microsoft-365/security/office-365-security/step-by-step-guides/how-to-prioritize-and-manage-automated-investigations-and-response-air.md
Labels: Microsoft submitter

#8869 Update ensuring-you-always-have-the-optimal-security-controls-with-pr…
  microsoft-365/security/office-365-security/step-by-step-guides/ensuring-you-always-have-the-optimal-security-controls-with-preset-security-policies.md
Labels: Microsoft submitter

#8870 Update protect-your-c-suite-with-priority-account-protection.md
  microsoft-365/security/office-365-security/step-by-step-guides/protect-your-c-suite-with-priority-account-protection.md
Labels: Microsoft submitter

#8871 Update search-for-emails-and-remediate-threats.md
  microsoft-365/security/office-365-security/step-by-step-guides/search-for-emails-and-remediate-threats.md
Labels: Microsoft submitter

#8872 Update connect-microsoft-defender-for-office-365-to-microsoft-sentine…
  microsoft-365/security/office-365-security/step-by-step-guides/connect-microsoft-defender-for-office-365-to-microsoft-sentinel.md
Labels: Microsoft submitter

#8146 Update ome-faq.yml
  microsoft-365/compliance/ome-faq.yml
Labels: compliance, Microsoft submitter

#8209 Update ome-faq.yml
  microsoft-365/compliance/ome-faq.yml
Labels: compliance, Microsoft submitter

#8801 Update share-calendars-with-external-users.md
  microsoft-365/admin/manage/share-calendars-with-external-users.md
Labels: admin

#8787 Update test-and-deploy-microsoft-365-apps.md
  microsoft-365/admin/manage/test-and-deploy-microsoft-365-apps.md
Labels: Microsoft submitter, admin

#8785 Update give-mailbox-permissions-to-another-user.md
  microsoft-365/admin/add-users/give-mailbox-permissions-to-another-user.md
Labels: admin

#8755 Update bookings-faq.yml
  microsoft-365/bookings/bookings-faq.yml
Labels: Bookings

#8753 Update share-calendars-with-external-users.md
  microsoft-365/admin/manage/share-calendars-with-external-users.md
Labels: admin

#8739 Update bookings-in-outlook.md
  microsoft-365/bookings/bookings-in-outlook.md
Labels: Bookings

#8609 Update bookings-in-outlook.md
  microsoft-365/bookings/bookings-in-outlook.md
Labels: Bookings

#8485 Update multi-factor-authentication-microsoft-365.md
  microsoft-365/admin/security-and-compliance/multi-factor-authentication-microsoft-365.md
Labels: admin

#8467 Update centralized-deployment-of-add-ins.md
  microsoft-365/admin/manage/centralized-deployment-of-add-ins.md
Labels: admin

#8143 Update password-policy-recommendations.md
  microsoft-365/admin/misc/password-policy-recommendations.md
Labels: Microsoft submitter, admin

#8791 Update manage-license-requests.md
  microsoft-365/commerce/licenses/manage-license-requests.md
Labels: admin

#7926 Update overview.md
  microsoft-365/admin/basic-mobility-security/overview.md
Labels: admin

#8261 Update allowselfservicepurchase-powershell.md
  microsoft-365/commerce/subscriptions/allowselfservicepurchase-powershell.md
Labels: Microsoft submitter, admin

#8231 Update move-users-different-subscription.md
  microsoft-365/commerce/subscriptions/move-users-different-subscription.md
Labels: Microsoft submitter, admin

#8229 Update subscriptions-and-licenses.md
  microsoft-365/commerce/licenses/subscriptions-and-licenses.md
Labels: Microsoft submitter, admin

#8168 Update upgrade-to-different-plan.md
  microsoft-365/commerce/subscriptions/upgrade-to-different-plan.md
Labels: admin

#7257 Update allowselfservicepurchase-powershell.md
  microsoft-365/commerce/subscriptions/allowselfservicepurchase-powershell.md
Labels: admin

#8875 Updated roles for TABL read/write
  microsoft-365/security/office-365-security/tenant-allow-block-list.md
Labels: Microsoft submitter

#8880 Update use-spam-notifications-to-release-and-report-quarantined-messa…
  microsoft-365/security/office-365-security/use-spam-notifications-to-release-and-report-quarantined-messages.md
Labels: Microsoft submitter

#8881 Update use-spam-notifications-to-release-and-report-quarantined-messa…
  microsoft-365/security/office-365-security/use-spam-notifications-to-release-and-report-quarantined-messages.md
Labels: Microsoft submitter

#7399 Update advanced-hunting-devicelogonevents-table.md
  microsoft-365/security/defender/advanced-hunting-devicelogonevents-table.md
Labels: Microsoft 365 Defender

#8607 Update linux-preferences.md
  microsoft-365/security/defender-endpoint/linux-preferences.md
Labels: Defender for Endpoint

#8073 Update enable-the-report-message-add-in.md
  microsoft-365/security/office-365-security/enable-the-report-message-add-in.md
Labels: Defender for Office 365

#8728 Update linux-preferences.md
  microsoft-365/security/defender-endpoint/linux-preferences.md
Labels: Defender for Endpoint

#8756 Update troubleshoot-security-config-mgt.md
  microsoft-365/security/defender-endpoint/troubleshoot-security-config-mgt.md
Labels: Microsoft submitter, Defender for Endpoint

#8854 Update increase-the-recoverable-quota-for-mailboxes-on-hold.md
  microsoft-365/compliance/increase-the-recoverable-quota-for-mailboxes-on-hold.md
Labels: compliance

#8836 Update import-physical-badging-data.md
  microsoft-365/compliance/import-physical-badging-data.md
Labels: compliance

#8855 Update ediscovery.md
  microsoft-365/compliance/ediscovery.md
Labels: compliance

#8883 Formatting changes for roles
  microsoft-365/security/office-365-security/tenant-allow-block-list.md
Labels: Microsoft submitter

#8884 Created URL and email attachment admin section
  microsoft-365/security/office-365-security/admin-submission.md
Labels: Microsoft submitter

#8464 Fixed issues with sample regexes
  microsoft-365/compliance/sit-get-started-exact-data-match-test.md
Labels: compliance, Microsoft submitter

#8902 Resolve syncing conflicts from repo_sync_working_branch to public
  microsoft-365/includes/microsoft-365-content-updates.md
  microsoft-365/lighthouse/m365-lighthouse-faq.yml
  microsoft-365/lighthouse/m365-lighthouse-requirements.md
  microsoft-365/lighthouse/m365-lighthouse-troubleshoot.md
  microsoft-365/lti/moodle-plugin-configuration.md
  microsoft-365/lti/open-lms-plugin-configuration.md
  microsoft-365/lti/open-lms-teams-classes-and-meetings.md
  microsoft-365/lti/teams-classes-meetings-with-moodle.md
  microsoft-365/media/defender-cloud-apps-m365-defender.png
  microsoft-365/media/global-search-apps.png
  microsoft-365/security/defender/TOC.yml
  microsoft-365/security/defender/investigate-alerts.md
  microsoft-365/security/defender/investigate-dlp.md
  microsoft-365/security/defender/microsoft-365-security-center-defender-cloud-apps.md
  microsoft-365/security/defender/supported-event-types.md
  microsoft-365/security/defender/usgov.md
  microsoft-365/security/office-365-security/admin-submission.md
Labels: Microsoft submitter

#8909 Update search-the-audit-log-in-security-and-compliance.md
  microsoft-365/compliance/search-the-audit-log-in-security-and-compliance.md
Labels: compliance

#8901 Resizing header for School Data Sync
  microsoft-365/enterprise/setup-guides-for-microsoft-365.md
Labels: Enterprise

#8897 Update attack-surface-reduction-rules-reference.md
  microsoft-365/security/defender-endpoint/attack-surface-reduction-rules-reference.md
Labels: Defender for Endpoint

#8918 Update view-reports-for-mdo.md
  microsoft-365/security/office-365-security/view-reports-for-mdo.md
Labels: Microsoft submitter

#8896 Update recover-an-inactive-mailbox.md
  microsoft-365/compliance/recover-an-inactive-mailbox.md
Labels: compliance

#8827 Update remediate-malicious-email-delivered-office-365.md
  microsoft-365/security/office-365-security/remediate-malicious-email-delivered-office-365.md
Labels: Microsoft submitter, Defender for Office 365

#8912 Update get-started-core-ediscovery.md
  microsoft-365/compliance/get-started-core-ediscovery.md
Labels: compliance

#8860 Update modern-desktop-deployment-and-management-lab.md
  microsoft-365/enterprise/modern-desktop-deployment-and-management-lab.md
Labels: Enterprise, Microsoft submitter

#8934 Update configure-microsoft-defender-antivirus-features.md
  microsoft-365/security/defender-endpoint/configure-microsoft-defender-antivirus-features.md
Labels: Microsoft submitter

#8861 Update device-control-report.md
  microsoft-365/security/defender-endpoint/device-control-report.md
Labels: security, Microsoft submitter, Defender for Endpoint

#8938 Update search-the-audit-log-in-security-and-compliance.md
  microsoft-365/compliance/search-the-audit-log-in-security-and-compliance.md
Labels: Microsoft submitter

#8929 added admin help link
  microsoft-365/admin/admin-overview/admin-center-overview.md
Labels: admin

#8946 Update classifier-learn-about.md
  microsoft-365/compliance/classifier-learn-about.md
Labels: compliance

#8923 updated with Defender status
  microsoft-365/security/defender-endpoint/microsoft-defender-antivirus-compatibility.md
Labels: do not merge, Microsoft submitter, Defender for Endpoint

#8952 Added step for adding optional notes
  microsoft-365/security/office-365-security/allow-block-urls.md
Labels: Microsoft submitter

#8953 Added step for adding optional notes
  microsoft-365/security/office-365-security/allow-block-files.md
Labels: Microsoft submitter

#8799 HOLD UNTIL June 15 - Update whats-new-in-defender-for-office-365.md - Add 'Configurable impersonation protection and apply Preset to entire org'
  microsoft-365/security/office-365-security/whats-new-in-defender-for-office-365.md
Labels: Microsoft submitter, Defender for Office 365

#8966 Update device-control-removable-storage-access-control.md
  microsoft-365/security/defender-endpoint/device-control-removable-storage-access-control.md
Labels: Microsoft submitter, Defender for Endpoint

#8950 Updated document headings
  microsoft-365/security/office-365-security/manage-tenant-allow-block-list.md
Labels: Microsoft submitter, Defender for Office 365

#8955 Update attack-simulation-training-faq.md
  microsoft-365/security/office-365-security/attack-simulation-training-faq.md
Labels: Microsoft submitter, Defender for Office 365

#8959 Update setup-guides-for-microsoft-365.md
  microsoft-365/enterprise/setup-guides-for-microsoft-365.md
Labels: Enterprise, Microsoft submitter

#8949 Adding eDiscovery and audit setup guides
  microsoft-365/enterprise/setup-guides-for-microsoft-365.md
Labels: Enterprise, Microsoft submitter

#8973 updated a sentence
  microsoft-365/security/defender-endpoint/configure-microsoft-threat-experts.md
Labels: Microsoft submitter

#8974 updated a sentence
  microsoft-365/security/defender-endpoint/microsoft-threat-experts.md
Labels: Microsoft submitter

#8980 Repo sync for protected CLA branch
  microsoft-365/admin/activity-reports/activity-reports.md
  microsoft-365/admin/activity-reports/office-365-groups-ww.md
  microsoft-365/compliance/create-a-dlp-policy-from-a-template.md
  microsoft-365/compliance/dlp-configure-endpoint-settings.md
  microsoft-365/compliance/use-notifications-and-policy-tips.md
  microsoft-365/media/api-show-details.png
  microsoft-365/media/b1e48a08-92e2-47ca-abdc-4341694ddc7c.png
  microsoft-365/media/dlp-power-bi-alerts-tab.png
  microsoft-365/security/defender-endpoint/defender-endpoint-plan-1-2.md
  microsoft-365/security/defender-endpoint/manage-updates-baselines-microsoft-defender-antivirus.md
  microsoft-365/security/defender-endpoint/minimum-requirements.md
  microsoft-365/security/defender-endpoint/whats-new-in-microsoft-defender-endpoint.md
  microsoft-365/security/office-365-security/allow-block-email-spoof.md
Labels: Microsoft submitter, CLA

#8985 Update manage-protection-update-schedule-microsoft-defender-antivirus.md
  microsoft-365/security/defender-endpoint/manage-protection-update-schedule-microsoft-defender-antivirus.md
Labels: Defender for Endpoint

#8997 Repo sync for protected CLA branch
  microsoft-365/compliance/dlp-microsoft-teams.md
  microsoft-365/media/defender-vulnerability-management/report-inaccuracy-software.png
  microsoft-365/media/defender-vulnerability-management/tvm-cve-detection-logic.png
  microsoft-365/media/defender-vulnerability-management/tvm-discovered-vulnerabilities-secupdate.png
  microsoft-365/media/defender-vulnerability-management/tvm-discovered-vulnerabilities.png
  microsoft-365/media/defender-vulnerability-management/tvm-exposed-devices-filter.png
  microsoft-365/media/defender-vulnerability-management/tvm-top-vulnerable-software500.png
  microsoft-365/media/defender-vulnerability-management/tvm-weaknesses-overview.png
  microsoft-365/media/defender-vulnerability-management/weaknesses-cve-related-software.png
  microsoft-365/media/defender-vulnerability-management/weaknesses-cve-some-updates.png
  microsoft-365/media/defender-vulnerability-management/weaknesses-cve-vulntab.png
  microsoft-365/media/defender-vulnerability-management/weaknesses-cve.png
  microsoft-365/security/defender-endpoint/get-assessment-methods-properties.md
  microsoft-365/security/defender-endpoint/get-assessment-software-vulnerabilities.md
  microsoft-365/security/defender-endpoint/manage-updates-baselines-microsoft-defender-antivirus.md
  microsoft-365/security/defender-vulnerability-management/tvm-weaknesses.md
  microsoft-365/security/defender/advanced-hunting-devicetvmsoftwareinventory-table.md
Labels: Microsoft submitter, CLA

#8992 Update switch-to-mde-phase-2.md
  microsoft-365/security/defender-endpoint/switch-to-mde-phase-2.md
Labels: Defender for Endpoint

#8988 Update choose-domain-to-create-groups.md
  microsoft-365/solutions/choose-domain-to-create-groups.md
Labels: solutions

#8409 Batch 3 - SEO H1 heading changes
  microsoft-365/business-premium/m365bp-device-states.md
  microsoft-365/business-premium/m365bp-secure-users.md
  microsoft-365/business-premium/send-encrypted-email.md
  microsoft-365/business-premium/set-up-meetings.md
  microsoft-365/business-premium/share-files-and-videos.md
  microsoft-365/commerce/billing-and-payments/change-payment-frequency.md
  microsoft-365/commerce/billing-and-payments/change-your-billing-addresses.md
  microsoft-365/commerce/billing-and-payments/tax-information.md
  microsoft-365/commerce/billing-and-payments/view-your-bill-or-invoice.md
  microsoft-365/commerce/buy-or-edit-an-add-on.md
  microsoft-365/commerce/close-your-account.md
  microsoft-365/commerce/licenses/add-licenses-using-product-key.md
  microsoft-365/commerce/licenses/allotment-basics.md
  microsoft-365/commerce/licenses/buy-licenses.md
  microsoft-365/commerce/licenses/manage-auto-claim-policies.md
  microsoft-365/commerce/licenses/manage-license-requests.md
  microsoft-365/commerce/manage-billing-accounts.md
  microsoft-365/commerce/manage-partners.md
  microsoft-365/commerce/review-partner-admin-privileges.md
  microsoft-365/commerce/subscriptions/cancel-your-subscription.md
  microsoft-365/commerce/subscriptions/change-plans-manually.md
  microsoft-365/commerce/subscriptions/reactivate-your-subscription.md
  microsoft-365/commerce/subscriptions/upgrade-to-different-plan.md
  microsoft-365/commerce/understand-proposal-workflow.md
  microsoft-365/commerce/use-a-promo-code.md
Labels: do not merge, admin

#9006 Update compliance-easy-trials.md
  microsoft-365/compliance/compliance-easy-trials.md
Labels: Microsoft submitter

#8984 Update use-dmarc-to-validate-email.md
  microsoft-365/security/office-365-security/use-dmarc-to-validate-email.md
Labels: Defender for Office 365

#9005 Update device-control-removable-storage-access-control.md
  microsoft-365/security/defender-endpoint/device-control-removable-storage-access-control.md
Labels: Microsoft submitter, Defender for Endpoint

#9032 Update enable-troubleshooting-mode.md
  microsoft-365/security/defender-endpoint/enable-troubleshooting-mode.md
Labels: Microsoft submitter, Defender for Endpoint

#9027 Update manage-creation-of-groups.md
  microsoft-365/solutions/manage-creation-of-groups.md
Labels: solutions

#9031 Update difference-between-document-understanding-and-form-processing-…
  microsoft-365/contentunderstanding/difference-between-document-understanding-and-form-processing-model.md
Labels: contentunderstanding

#8987 Update use-microsoft-365-cdn-with-spo.md
  microsoft-365/enterprise/use-microsoft-365-cdn-with-spo.md
Labels: Enterprise

#8574 Suggesting missing step
  microsoft-365/admin/setup/add-domain.md
Labels: Microsoft submitter, admin

#9041 Update configure-network-connections-microsoft-defender-antivirus.md
  microsoft-365/security/defender-endpoint/configure-network-connections-microsoft-defender-antivirus.md
Labels: Microsoft submitter, Defender for Endpoint

#9010 Update dlp-conditions-and-exceptions.md
  microsoft-365/compliance/dlp-conditions-and-exceptions.md
Labels: compliance

#8962 inactive users
  microsoft-365/compliance/add-custodians-to-case.md
Labels: compliance, Microsoft submitter

#9040 Update attack-surface-reduction-rules-reference.md
  microsoft-365/security/defender-endpoint/attack-surface-reduction-rules-reference.md
Labels: Microsoft submitter, Defender for Endpoint

#8410 Add missing step under adding .onmicrosoft domain
  microsoft-365/admin/setup/add-domain.md
Labels: admin

#8760 Update api-explorer.md
  microsoft-365/security/defender-endpoint/api-explorer.md
Labels: Defender for Endpoint

#8810 Update raw-data-export-storage.md
  microsoft-365/security/defender-endpoint/raw-data-export-storage.md
Labels: Defender for Endpoint

#8852 Update offboard-machine-api.md
  microsoft-365/security/defender-endpoint/offboard-machine-api.md
Labels: security, Defender for Endpoint

#8851 Update advanced-features.md
  microsoft-365/security/defender-endpoint/advanced-features.md
Labels: Defender for Endpoint

#8856 Update install-app-guard.md
  microsoft-365/security/office-365-security/install-app-guard.md
Labels: security, Microsoft submitter, Defender for Endpoint

#9043 Update network-protection.md
  microsoft-365/security/defender-endpoint/network-protection.md
Labels: Microsoft submitter, Defender for Endpoint

#9055 Update machines-view-overview.md
  microsoft-365/security/defender-endpoint/machines-view-overview.md
Labels: Defender for Endpoint

#9049 Update onboard-downlevel.md
  microsoft-365/security/defender-endpoint/onboard-downlevel.md
Labels: Defender for Endpoint

#9048 Update event-error-codes.md
  microsoft-365/security/defender-endpoint/event-error-codes.md
Labels: Defender for Endpoint

#9030 Update overview-endpoint-detection-response.md
  microsoft-365/security/defender-endpoint/overview-endpoint-detection-response.md
Labels: Defender for Endpoint

#9066 Update investigate-dlp.md
  microsoft-365/security/defender/investigate-dlp.md
Labels: Microsoft submitter

#9065 enable-network-protection MEM methods
  microsoft-365/security/defender-endpoint/enable-network-protection.md
Labels: Microsoft submitter, Defender for Endpoint
