Repository MicrosoftDocs/microsoft-365-docs, pull requests merged in 2022-05, with the labels that each got.

#8465 Revert "Update linux-install-manually.md"
  microsoft-365/security/defender-endpoint/linux-install-manually.md
Labels: Microsoft submitter

#8446 Update connect-to-microsoft-365-powershell.md
  microsoft-365/enterprise/connect-to-microsoft-365-powershell.md
Labels: Enterprise

#8435 typo correction
  microsoft-365/compliance/classifier-get-started-with.md
Labels: compliance

#8459 Update safe-docs.md remove unsupported service plan
  microsoft-365/security/office-365-security/safe-docs.md
Labels: Defender for Office 365

#8473 Update microsoft-defender-endpoint.md
  microsoft-365/security/defender-endpoint/microsoft-defender-endpoint.md
Labels: Microsoft submitter

#8444 Update host-firewall-reporting.md
  microsoft-365/security/defender-endpoint/host-firewall-reporting.md
Labels: Defender for Endpoint

#8321 Update run-advanced-query-sample-python.md
  microsoft-365/security/defender-endpoint/run-advanced-query-sample-python.md
Labels: Defender for Endpoint

#8330 Update live-response.md
  microsoft-365/security/defender-endpoint/live-response.md
Labels: Defender for Endpoint

#8461 Update partially-indexed-items-in-content-search.md
  microsoft-365/compliance/partially-indexed-items-in-content-search.md
Labels: compliance

#8486 Update customize-controlled-folders.md
  microsoft-365/security/defender-endpoint/customize-controlled-folders.md
Labels: Defender for Endpoint

#8353 Update whats-new-in-defender-for-office-365.md
  microsoft-365/security/office-365-security/whats-new-in-defender-for-office-365.md
Labels: Microsoft submitter, Defender for Office 365

#8483 Update content-search.md
  microsoft-365/compliance/content-search.md
Labels: compliance

#8482 Update use-network-upload-to-import-pst-files.md
  microsoft-365/compliance/use-network-upload-to-import-pst-files.md
Labels: compliance

#8341 Update microsoft-defender-endpoint-android.md
  microsoft-365/security/defender-endpoint/microsoft-defender-endpoint-android.md
Labels: Microsoft submitter, Defender for Endpoint

#8474 Update exposed-apis-create-app-webapp.md
  microsoft-365/security/defender-endpoint/exposed-apis-create-app-webapp.md
Labels: Defender for Endpoint

#8475 Update run-advanced-query-sample-powershell.md
  microsoft-365/security/defender-endpoint/run-advanced-query-sample-powershell.md
Labels: Defender for Endpoint

#8484 Update configure-event-hub.md
  microsoft-365/security/defender/configure-event-hub.md
Labels: Microsoft 365 Defender

#8517 Update user-tags.md
  microsoft-365/security/office-365-security/user-tags.md
Labels: Microsoft submitter

#8518 Update view-email-security-reports.md
  microsoft-365/security/office-365-security/view-email-security-reports.md
Labels: Microsoft submitter

#8526 Update per-group-guest-access.md
  microsoft-365/solutions/per-group-guest-access.md
Labels: solutions

#7794 Update onedrive-lti.md
  microsoft-365/lti/onedrive-lti.md
Labels: LTI

#8493 Update m365bp-multifactor-authentication.md
  microsoft-365/business-premium/m365bp-multifactor-authentication.md
Labels: Microsoft 365 Business Premium

#8510 Update device-control-removable-storage-access-control.md
  microsoft-365/security/defender-endpoint/device-control-removable-storage-access-control.md
Labels: Microsoft submitter, Defender for Endpoint

#8511 Update documentation of KQL query search and conditions
  microsoft-365/compliance/keyword-queries-and-search-conditions.md
Labels: compliance, Microsoft submitter

#8548 Update defenderexpertsforhuntingprev.md
  microsoft-365/security/defender/defenderexpertsforhuntingprev.md
Labels: Microsoft submitter

#8559 *.contoso.com only works for URL blocks
  microsoft-365/security/office-365-security/tenant-allow-block-list.md
Labels: Microsoft submitter

#8553 made big size to letter c
  microsoft-365/bookings/bookings-in-outlook.md
Labels: Bookings

#8564 Update manage-microsoft-365-groups-with-powershell.md
  microsoft-365/enterprise/manage-microsoft-365-groups-with-powershell.md
Labels: Enterprise

#8587 Update mdb-view-tvm-dashboard.md
  microsoft-365/security/defender-business/mdb-view-tvm-dashboard.md
Labels: Microsoft submitter

#8590 Update add-your-organization-brand-to-encrypted-messages.md
  microsoft-365/compliance/add-your-organization-brand-to-encrypted-messages.md
Labels: Microsoft submitter

#8599 [BrokenLinksH2] Updated link for incident-response-overview.md
  microsoft-365/security/defender/incident-response-overview.md
Labels: Microsoft submitter, Microsoft 365 Defender

#8601 [BrokenLinksH2] Updated broken link in integrate-microsoft-365-defender-secops-use-cases.md
  microsoft-365/security/defender/integrate-microsoft-365-defender-secops-use-cases.md
Labels: Microsoft submitter, Microsoft 365 Defender

#8390 H1 changes for SEO
  microsoft-365/admin/add-users/about-admin-roles.md
  microsoft-365/admin/add-users/admin-roles-page.md
  microsoft-365/admin/add-users/assign-admin-roles.md
  microsoft-365/admin/add-users/give-mailbox-permissions-to-another-user.md
  microsoft-365/admin/add-users/resend-user-password.md
  microsoft-365/admin/add-users/reset-passwords.md
  microsoft-365/admin/add-users/restore-user.md
  microsoft-365/admin/admin-overview/admin-mobile-app.md
  microsoft-365/admin/admin-overview/what-is-microsoft-365.md
  microsoft-365/admin/admin-overview/what-subscription-do-i-have.md
  microsoft-365/admin/devices/choose-device-security.md
  microsoft-365/admin/email/add-another-email-alias-for-a-user.md
  microsoft-365/admin/email/add-user-or-contact-to-distribution-list.md
  microsoft-365/admin/email/change-email-address.md
  microsoft-365/admin/email/configure-a-shared-mailbox.md
  microsoft-365/admin/email/configure-clutter.md
  microsoft-365/admin/email/email-collaboration.md
  microsoft-365/admin/email/office-365-user-email-settings.md
  microsoft-365/admin/email/resolve-issues-with-shared-mailboxes.md
  microsoft-365/admin/get-help-with-domains/domain-connect.md
  microsoft-365/admin/manage/assign-licenses-to-users.md
  microsoft-365/admin/manage/find-your-partner-or-reseller.md
  microsoft-365/admin/manage/language-translation-for-message-center-posts.md
  microsoft-365/admin/manage/manage-addins-in-the-admin-center.md
  microsoft-365/admin/manage/manage-deployment-of-add-ins.md
  microsoft-365/admin/manage/message-center.md
Labels: admin

#8597 Update modern-desktop-deployment-and-management-lab.md
  microsoft-365/enterprise/modern-desktop-deployment-and-management-lab.md
Labels: managed-desktop

#8595 Update customer-key-manage.md
  microsoft-365/compliance/customer-key-manage.md
Labels: compliance, Microsoft submitter

#8594 Update customer-key-manage.md
  microsoft-365/compliance/customer-key-manage.md
Labels: compliance, Microsoft submitter

#8578 Update exchange-2013-end-of-support.md
  microsoft-365/enterprise/exchange-2013-end-of-support.md
Labels: Enterprise, Microsoft submitter

#8586 Update partially-indexed-items-in-content-search.md
  microsoft-365/compliance/partially-indexed-items-in-content-search.md
Labels: compliance

#8603 [BrokenLinksH2] Fix Visit Resources link
  microsoft-365/compliance/compliance-easy-trials-compliance-playbook.md
Labels: compliance, Microsoft submitter

#8626 What to expect after TABL
  microsoft-365/security/office-365-security/tenant-allow-block-list.md
Labels: Microsoft submitter

#8412 Batch 1: SEO descriptions
  microsoft-365/admin/activity-reports/active-users-ww.md
  microsoft-365/admin/activity-reports/email-activity-ww.md
  microsoft-365/admin/activity-reports/email-apps-usage-ww.md
  microsoft-365/admin/activity-reports/forms-activity-ww.md
  microsoft-365/admin/activity-reports/forms-pro-activity-ww.md
  microsoft-365/admin/activity-reports/mailbox-usage.md
  microsoft-365/admin/activity-reports/microsoft-teams-usage-activity.md
  microsoft-365/admin/activity-reports/microsoft-teams-user-activity-preview.md
  microsoft-365/admin/activity-reports/microsoft365-apps-usage-ww.md
  microsoft-365/admin/activity-reports/office-365-groups-ww.md
  microsoft-365/admin/activity-reports/onedrive-for-business-activity-ww.md
  microsoft-365/admin/activity-reports/onedrive-for-business-usage-ww.md
  microsoft-365/admin/activity-reports/sharepoint-activity-ww.md
  microsoft-365/admin/activity-reports/viva-insights-activity.md
  microsoft-365/admin/activity-reports/viva-learning-activity.md
  microsoft-365/admin/activity-reports/yammer-device-usage-report-ww.md
  microsoft-365/admin/activity-reports/yammer-groups-activity-report-ww.md
  microsoft-365/admin/add-users/about-admin-roles.md
  microsoft-365/admin/add-users/about-exchange-online-admin-role.md
  microsoft-365/admin/add-users/about-guest-users.md
  microsoft-365/admin/add-users/add-new-employee.md
  microsoft-365/admin/add-users/add-users.md
  microsoft-365/admin/add-users/admin-roles-page.md
  microsoft-365/admin/add-users/change-a-user-name-and-email-address.md
Labels: do not merge, admin

#8408 Batch 2: SEO H1 headings
  microsoft-365/admin/get-help-support.md
  microsoft-365/admin/manage/remove-licenses-from-users.md
  microsoft-365/admin/manage/room-and-equipment-mailboxes.md
  microsoft-365/admin/manage/send-email-as-distribution-list.md
  microsoft-365/admin/manage/share-calendars-with-external-users.md
  microsoft-365/admin/manage/stay-on-top-of-updates.md
  microsoft-365/admin/manage/update-phone-number-and-email-address.md
  microsoft-365/admin/misc/compare-ways-to-block-access.md
  microsoft-365/admin/misc/device-list.md
  microsoft-365/admin/misc/icann-verification-of-contact-information.md
  microsoft-365/admin/misc/password-policy-recommendations.md
  microsoft-365/admin/misc/power-bi-in-your-organization.md
  microsoft-365/admin/multi-tenant/manage.md
  microsoft-365/admin/productivity/communication.md
  microsoft-365/admin/productivity/meetings.md
  microsoft-365/admin/productivity/mobility.md
  microsoft-365/admin/security-and-compliance/increase-threat-protection.md
  microsoft-365/admin/security-and-compliance/review-threats-take-action.md
  microsoft-365/admin/security-and-compliance/set-up-multi-factor-authentication.md
  microsoft-365/admin/security-and-compliance/threats-detected-defender-av.md
  microsoft-365/admin/setup/customize-sign-in-page.md
  microsoft-365/admin/setup/download-software-licenses-csp.md
  microsoft-365/admin/setup/employee-quick-setup.md
  microsoft-365/admin/setup/files-to-onedrive.md
  microsoft-365/admin/setup/priority-accounts.md
  microsoft-365/bookings/enter-business-information.md
  microsoft-365/bookings/schedule-closures-time-off-vacation.md
  microsoft-365/bookings/set-scheduling-policies.md
  microsoft-365/business-premium/m365-campaigns-users.md
Labels: do not merge, admin

#8565 Update convert-user-mailbox-to-shared-mailbox.md
  microsoft-365/admin/email/convert-user-mailbox-to-shared-mailbox.md
Labels: admin

#7944 Admin folder stragglers
  microsoft-365/admin/simplified-signup/signup-business-standard.md
  microsoft-365/admin/simplified-signup/signup-teams-business-subscription.md
  microsoft-365/admin/usage-analytics/usage-analytics.md
Labels: do not merge, admin

#8640 Update mdb-configure-security-settings.md
  microsoft-365/security/defender-business/mdb-configure-security-settings.md
Labels: Microsoft submitter

#8621 added windows 11 admx templates link
  microsoft-365/security/defender-endpoint/detect-block-potentially-unwanted-apps-microsoft-defender-antivirus.md
Labels: Defender for Endpoint

#8623 [BronkenLinksH2] - Fixed broken link
  microsoft-365/security/defender-endpoint/attack-surface-reduction.md
Labels: Microsoft submitter, Defender for Endpoint

#8641 Updating Scheduler docs
  microsoft-365/media/OutlookOptions.png
  microsoft-365/media/OutlookOptions2.png
  microsoft-365/scheduler/TOC.yml
  microsoft-365/scheduler/index.yml
  microsoft-365/scheduler/scheduler-preferences.md
Labels: Microsoft submitter, Microsoft 365 scheduler

#8596 Update bookings-in-outlook.md
  microsoft-365/bookings/bookings-in-outlook.md
Labels: admin

#8611 Update set-password-expiration-policy.md
  microsoft-365/admin/manage/set-password-expiration-policy.md
Labels: admin

#8463 Update whats-new-in-defender-for-office-365.md
  microsoft-365/security/office-365-security/whats-new-in-defender-for-office-365.md
Labels: Microsoft submitter, Defender for Office 365

#8644 [BrokenLinksH2] - Corrected broken link
  microsoft-365/security/defender-vulnerability-management/tvm-hunt-exposed-devices.md
Labels: Microsoft submitter, Defender Vulnerability Management

#8535 Update setup-guides-for-microsoft-365.md
  microsoft-365/enterprise/setup-guides-for-microsoft-365.md
Labels: Enterprise, Microsoft submitter

#8647 Update microsoft-365-groups-expiration-policy.md
  microsoft-365/solutions/microsoft-365-groups-expiration-policy.md
Labels: Microsoft submitter, solutions

#8658 Update view-email-security-reports.md
  microsoft-365/security/office-365-security/view-email-security-reports.md
Labels: Microsoft submitter

#8675 Update view-email-security-reports.md
  microsoft-365/security/office-365-security/view-email-security-reports.md
Labels: Microsoft submitter

#8676 Update mdb-onboard-devices.md
  microsoft-365/security/defender-business/mdb-onboard-devices.md
Labels: Defender for Business

#8667 typo correction
  microsoft-365/security/office-365-security/remediate-malicious-email-delivered-office-365.md
Labels: Defender for Office 365

#8668 added backslash
  microsoft-365/security/defender-endpoint/tamperprotection-macos.md
Labels: Defender for Endpoint

#8662 improperly linked is corrected
  microsoft-365/admin/add-users/reset-passwords.md
Labels: admin

#8672 Update ownerless-groups-teams.md
  microsoft-365/admin/create-groups/ownerless-groups-teams.md
Labels: admin

#7777 Update cross-tenant-mailbox-migration.md
  microsoft-365/enterprise/cross-tenant-mailbox-migration.md
Labels: Enterprise, Microsoft submitter

#8104 added new link
  microsoft-365/enterprise/minification-and-bundling-in-sharepoint-online.md
Labels: Enterprise

#8428 Removed ** from end of title
  microsoft-365/enterprise/prepare-a-non-routable-domain-for-directory-synchronization.md
Labels: Enterprise

#8500 Update connect-to-microsoft-365-powershell.md
  microsoft-365/enterprise/connect-to-microsoft-365-powershell.md
Labels: Enterprise

#8503 Update contoso-infra-needs.md
  microsoft-365/enterprise/contoso-infra-needs.md
Labels: Enterprise

#8566 Update cross-tenant-mailbox-migration.md
  microsoft-365/enterprise/cross-tenant-mailbox-migration.md
Labels: Enterprise

#8677 Updated named entities / DLP supported workloads to include Microsoft Defender for Cloud Apps
  microsoft-365/compliance/named-entities-use.md
Labels: compliance

#8560 Update enable-attack-surface-reduction.md
  microsoft-365/security/defender-endpoint/enable-attack-surface-reduction.md
Labels: Microsoft submitter, Defender for Endpoint

#8519 typo correction
  microsoft-365/compliance/encryption.md
Labels: compliance

#8414 Can you please host some Intune PRs for these?
  microsoft-365/security/defender-endpoint/host-firewall-reporting.md
Labels: Defender for Endpoint

#8686 Update auditing-solutions-overview.md
  microsoft-365/compliance/auditing-solutions-overview.md
Labels: compliance

#8655 Update linux-pua.md
  microsoft-365/security/defender-endpoint/linux-pua.md
Labels: Defender for Endpoint

#8602 [BrokenLinksH2] Update customer-key-manage.md
  microsoft-365/compliance/customer-key-manage.md
Labels: compliance, Microsoft submitter

#8613 Update use-notifications-and-policy-tips.md
  microsoft-365/compliance/use-notifications-and-policy-tips.md
Labels: compliance

#8696 Update bookings-in-outlook.md
  microsoft-365/bookings/bookings-in-outlook.md
Labels: Bookings

#8427 Update investigate-files.md
  microsoft-365/security/defender-endpoint/investigate-files.md
Labels: Microsoft submitter, Defender for Endpoint

#8525 Update microsoft-defender-endpoint-linux.md
  microsoft-365/security/defender-endpoint/microsoft-defender-endpoint-linux.md
Labels: Defender for Endpoint

#8573 added windows 11
  microsoft-365/security/defender-endpoint/enable-attack-surface-reduction.md
Labels: Defender for Endpoint

#8608 Update respond-file-alerts.md
  microsoft-365/security/defender-endpoint/respond-file-alerts.md
Labels: Defender for Endpoint

#8612 Update offboard-machine-api.md
  microsoft-365/security/defender-endpoint/offboard-machine-api.md
Labels: Defender for Endpoint

#8622 [BrokenLinkH2] Corrected broken link
  microsoft-365/security/defender-endpoint/android-configure-mam.md
Labels: Microsoft submitter, Defender for Endpoint

#8633 Update manage-indicators.md
  microsoft-365/security/defender-endpoint/manage-indicators.md
Labels: Defender for Endpoint

#8671 Update ios-install.md
  microsoft-365/security/defender-endpoint/ios-install.md
Labels: Defender for Endpoint

#8689 Update mac-updates.md
  microsoft-365/security/defender-endpoint/mac-updates.md
Labels: Defender for Endpoint

#8702 Update view-directory-synchronization-status.md
  microsoft-365/enterprise/view-directory-synchronization-status.md
Labels: Enterprise

#8713 Added role assignment bullet point for Derek
  microsoft-365/commerce/manage-billing-accounts.md
Labels: Microsoft submitter

#8688 Update remove-license-from-shared-mailbox.md
  microsoft-365/admin/email/remove-license-from-shared-mailbox.md
Labels: admin

#8580 Update install-app-guard.md
  microsoft-365/security/office-365-security/install-app-guard.md
Labels: Defender for Office 365

#8704 Missing <
  microsoft-365/security/defender-endpoint/tamperprotection-macos.md
Labels: Defender for Endpoint

#8701 Update manage-addins-in-the-admin-center.md
  microsoft-365/admin/manage/manage-addins-in-the-admin-center.md
Labels: admin

#8710 Minor changes
  microsoft-365/security/defender/api-advanced-hunting.md
Labels: Microsoft 365 Defender

#8721 Update m365bp-review-threats-take-action.md
  microsoft-365/business-premium/m365bp-review-threats-take-action.md
Labels: Microsoft submitter

#8670 Update attack-surface-reduction-rules-reference.md
  microsoft-365/security/defender-endpoint/attack-surface-reduction-rules-reference.md
Labels: Defender for Endpoint

#8738 Update delete-an-inactive-mailbox.md
  microsoft-365/compliance/delete-an-inactive-mailbox.md
Labels: compliance

#8740 Update limits-ediscovery20.md
  microsoft-365/compliance/limits-ediscovery20.md
Labels: compliance

#8735 Update defender-vulnerability-management-capabilities.md
  microsoft-365/security/defender-vulnerability-management/defender-vulnerability-management-capabilities.md
Labels: security

#8743 Update microsoft-365-mrs-source-delays-service-alerts.md
  microsoft-365/enterprise/microsoft-365-mrs-source-delays-service-alerts.md
Labels: Enterprise
