Repository MicrosoftDocs/microsoft-365-docs, pull requests merged in 2023-08, with the labels that each got.

#12572 Update shifts-connector-blue-yonder-admin-center-manage.md
  microsoft-365/frontline/shifts-connector-blue-yonder-admin-center-manage.md
Labels: Frontline

#12570 Update shifts-connector-ukg-admin-center-manage.md
  microsoft-365/frontline/shifts-connector-ukg-admin-center-manage.md
Labels: Frontline

#12557 Update shifts-connector-ukg-known-issues.md
  microsoft-365/frontline/shifts-connector-ukg-known-issues.md
Labels: Frontline

#12569 Update shifts-connector-wizard.md
  microsoft-365/frontline/shifts-connector-wizard.md
Labels: Frontline

#12558 Update shifts-connector-wizard-ukg.md
  microsoft-365/frontline/shifts-connector-wizard-ukg.md
Labels: Frontline

#12556 Update shifts-connector-blue-yonder-powershell-setup.md
  microsoft-365/frontline/shifts-connector-blue-yonder-powershell-setup.md
Labels: Frontline

#12585 Add missing underscore to image alt text
  microsoft-365/enterprise/multi-tenant-people-search.md
Labels: Enterprise

#12589 Update microsoft-secure-score-improvement-actions.md
  microsoft-365/security/defender/microsoft-secure-score-improvement-actions.md
Labels: Microsoft 365 Defender

#12597 Update attack-surface-reduction-rules-reference.md
  microsoft-365/security/defender-endpoint/attack-surface-reduction-rules-reference.md
Labels: Defender for Endpoint

#12595 Update stay-on-top-of-updates.md
  microsoft-365/admin/manage/stay-on-top-of-updates.md
Labels: admin

#12594 Update troubleshoot-security-config-mgt.md
  microsoft-365/security/defender-endpoint/troubleshoot-security-config-mgt.md
Labels: Defender for Endpoint

#12591 Update advanced-features.md
  microsoft-365/security/defender-endpoint/advanced-features.md
Labels: Microsoft submitter, Defender for Endpoint

#12600 Update respond-file-alerts.md
  microsoft-365/security/defender-endpoint/respond-file-alerts.md
Labels: Microsoft submitter, Defender for Endpoint

#12605 M365 Lighthouse: Fix typo
  microsoft-365/lighthouse/m365-lighthouse-deploy-task-manually.md
Labels: Microsoft 365 Lighthouse

#12432 Update create-dns-records-at-namecheap.md
  microsoft-365/admin/dns/create-dns-records-at-namecheap.md
Labels: admin

#12549 Update servicenow-overview.md
  microsoft-365/admin/manage/servicenow-overview.md
Labels: Microsoft submitter, admin

#12568 Fix link missing slash
  microsoft-365/bookings/bookings-in-outlook.md
Labels: Bookings

#12456 Update enter-business-information.md
  microsoft-365/bookings/enter-business-information.md
Labels: Bookings

#12515 Update add-another-email-alias-for-a-user.md
  microsoft-365/admin/email/add-another-email-alias-for-a-user.md
Labels: admin

#12546 Update set-password-to-never-expire.md
  microsoft-365/admin/add-users/set-password-to-never-expire.md
Labels: admin

#12304 Update remove-former-employee-step-3.md
  microsoft-365/admin/add-users/remove-former-employee-step-3.md
Labels: admin

#12331 Update add-staff.md
  microsoft-365/bookings/add-staff.md
Labels: Bookings

#12584 Adding Microsoft Fabric to ABT coverage
  microsoft-365/admin/manage/idle-session-timeout-web-apps.md
Labels: Microsoft submitter, admin

#12619 Update manage-folders-and-rules-feature.md
  microsoft-365/enterprise/manage-folders-and-rules-feature.md
Labels: Enterprise

#12626 Update attack-surface-reduction-rules-deployment-test.md
  microsoft-365/security/defender-endpoint/attack-surface-reduction-rules-deployment-test.md
Labels: Defender for Endpoint

#12623 Corrected text in "Phase 3 (Optional): Add virtual machines" section.
  microsoft-365/enterprise/connect-an-on-premises-network-to-a-microsoft-azure-virtual-network.md
Labels: Enterprise

#12618 Update anti-phishing-policies-about.md
  microsoft-365/security/office-365-security/anti-phishing-policies-about.md
Labels: Microsoft submitter, Defender for Office 365

#12528 Update what-is-microsoft-defender-threat-intelligence-defender-ti.md
  defender/threat-intelligence/what-is-microsoft-defender-threat-intelligence-defender-ti.md
Labels: Microsoft submitter, threat intelligence

#12651 Update mdb-controlled-folder-access.md
  microsoft-365/security/defender-business/mdb-controlled-folder-access.md
Labels: Microsoft submitter, Defender for Business

#12655 Removed Azure Portal and Updated FAQs
  microsoft-365/admin/manage/idle-session-timeout-web-apps.md
Labels: Microsoft submitter, admin

#12670 Update cross-tenant-mailbox-migration.md
  microsoft-365/enterprise/cross-tenant-mailbox-migration.md
Labels: Enterprise, Microsoft submitter

#12680 Update attack-simulation-training-get-started.md
  microsoft-365/security/office-365-security/attack-simulation-training-get-started.md
Labels: Microsoft submitter

#12690 Incorrect Severity: user reported malware or phish
  microsoft-365/security/office-365-security/air-about.md
Labels: Defender for Office 365

#12646 Update air-review-approve-pending-completed-actions.md
  microsoft-365/security/office-365-security/air-review-approve-pending-completed-actions.md
Labels: Defender for Office 365

#12694 Update deployment-strategy.md
  microsoft-365/security/defender-endpoint/deployment-strategy.md
Labels: Defender for Endpoint

#12699 Fixes typo in attack-surface-reduction-rules-deployment-operationaliz…
  microsoft-365/security/defender-endpoint/attack-surface-reduction-rules-deployment-operationalize.md
Labels: Defender for Endpoint

#12649 Update set-password-to-never-expire.md
  microsoft-365/admin/add-users/set-password-to-never-expire.md
Labels: admin

#12350 Added screenshots to the document
  microsoft-365/admin/manage/manage-deployment-of-add-ins.md
  microsoft-365/media/Deployaddin.png
  microsoft-365/media/addanaddin.png
  microsoft-365/media/chooseofficestore.png
  microsoft-365/media/selectusers.png
Labels: admin

#12332 Update bookings-self-service-2.png
  microsoft-365/bookings/media/bookings-self-service-2.png
Labels: Bookings

#12410 Update manage-rbac.md
  microsoft-365/security/defender/manage-rbac.md
Labels: Microsoft submitter, Microsoft 365 Defender

#12164 Remove empty trailing bullet in investigate alerts
  microsoft-365/security/defender/investigate-alerts.md
Labels: Microsoft 365 Defender

#12716 Added missing "model" word
  microsoft-365/syntex/apply-a-model.md
Labels: Syntex

#12719 Updated sender block action
  microsoft-365/security/office-365-security/tenant-allow-block-list-email-spoof-configure.md
Labels: Microsoft submitter
