Repository MicrosoftDocs/microsoft-365-docs, pull requests merged in 2023-10, with the labels that each got.

#12888 Update investigate-alerts.md
  microsoft-365/security/defender/investigate-alerts.md
Labels: Microsoft 365 Defender

#12858 Update office-365-network-mac-perf-onboarding-tool.md
  microsoft-365/enterprise/office-365-network-mac-perf-onboarding-tool.md
Labels: Enterprise, Microsoft submitter

#12922 Update overview-endpoint-detection-response.md
  microsoft-365/security/defender-endpoint/overview-endpoint-detection-response.md
Labels: Defender for Endpoint

#12910 Update anti-phishing-policies-about.md
  microsoft-365/security/office-365-security/anti-phishing-policies-about.md
Labels: Microsoft submitter, Defender for Office 365

#12911 Update how-policies-and-protections-are-combined.md
  microsoft-365/security/office-365-security/how-policies-and-protections-are-combined.md
Labels: Microsoft submitter, Defender for Office 365

#12917 Update deploy-dynamic-teams-at-scale.md
  microsoft-365/frontline/deploy-dynamic-teams-at-scale.md
Labels: Frontline

#12923 Update edr-in-block-mode.md
  microsoft-365/security/defender-endpoint/edr-in-block-mode.md
Labels: Defender for Endpoint

#12916 Update cross-tenant-mailbox-migration.md
  microsoft-365/enterprise/cross-tenant-mailbox-migration.md
Labels: Enterprise, Microsoft submitter

#12961 Update project-activity.md
  microsoft-365/admin/activity-reports/project-activity.md
Labels: admin

#12937 Tenant Allow/Block list: Improve wording for Allow entries
  microsoft-365/security/office-365-security/tenant-allow-block-list-about.md
Labels: Defender for Office 365

#12979 Update remediate-malicious-email-delivered-office-365.md
  microsoft-365/security/office-365-security/remediate-malicious-email-delivered-office-365.md
Labels: Defender for Office 365

#12969 Update automatic-attack-disruption.md
  microsoft-365/security/defender/automatic-attack-disruption.md
Labels: Microsoft 365 Defender

#12973 Update create-signatures-and-disclaimers.md
  microsoft-365/admin/setup/create-signatures-and-disclaimers.md
Labels: admin

#13004 Update quarantine-faq.yml
  microsoft-365/security/office-365-security/quarantine-faq.yml
Labels: Microsoft submitter

#13010 Graph and user impersonation are same
  microsoft-365/security/office-365-security/tenant-allow-block-list-email-spoof-configure.md
Labels: Microsoft submitter

#13011 Added AIR outcome for third-party
  microsoft-365/security/office-365-security/submissions-user-reported-messages-custom-mailbox.md
Labels: Microsoft submitter

#13016 Update raw-data-export-event-hub.md
  microsoft-365/security/defender-endpoint/api/raw-data-export-event-hub.md
Labels: Defender for Endpoint

#13019 Update taxonomy-tagging-overview.md
  microsoft-365/syntex/taxonomy-tagging-overview.md
Labels: Syntex

#13023 Update switch-from-enterprise-to-frontline.md
  microsoft-365/frontline/switch-from-enterprise-to-frontline.md
Labels: Frontline

#13025 Release notes for hotfix 2308-2
  microsoft-365/security/defender-endpoint/linux-whatsnew.md
Labels: Defender for Endpoint

#12996 Updating set preferences
  microsoft-365/security/defender-endpoint/linux-preferences.md
  microsoft-365/security/defender-endpoint/microsoft-defender-endpoint-linux.md
Labels: Microsoft submitter, Defender for Endpoint

#13018 Update microsoft-teams-usage-activity.md
  microsoft-365/admin/activity-reports/microsoft-teams-usage-activity.md
Labels: admin

#13046 Release notes for 23082.0010
  microsoft-365/security/defender-endpoint/linux-whatsnew.md
Labels: Defender for Endpoint

#13050 Update TLD example
  microsoft-365/security/office-365-security/tenant-allow-block-list-urls-configure.md
Labels: Microsoft submitter, Defender for Office 365

#13048 Update linux-resources.md to include changes in CLI quarantine threat…
  microsoft-365/security/defender-endpoint/linux-resources.md
Labels: Microsoft submitter, Defender for Endpoint

#13028 Update linux-install-manually.md
  microsoft-365/security/defender-endpoint/linux-install-manually.md
Labels: Microsoft submitter, Defender for Endpoint

#13043 Update manage-folders-and-rules-feature.md
  microsoft-365/enterprise/manage-folders-and-rules-feature.md
Labels: Enterprise

#13049 Update mac-resources.md for CLI changes for quarantine restore Command
  microsoft-365/security/defender-endpoint/mac-resources.md
Labels: Microsoft submitter, Defender for Endpoint

#13052 Update machines-view-overview.md
  microsoft-365/security/defender-endpoint/machines-view-overview.md
Labels: Microsoft submitter

#13053 Update whats-new-in-microsoft-defender-endpoint.md
  microsoft-365/security/defender-endpoint/whats-new-in-microsoft-defender-endpoint.md
Labels: Microsoft submitter, Defender for Endpoint

#13056 Update defender-for-office-365-whats-new.md
  microsoft-365/security/office-365-security/defender-for-office-365-whats-new.md
Labels: Microsoft submitter, Defender for Office 365

#13059 Update whats-new-in-microsoft-defender-endpoint.md
  microsoft-365/security/defender-endpoint/whats-new-in-microsoft-defender-endpoint.md
Labels: Microsoft submitter
