Repository MicrosoftDocs/microsoft-365-docs, pull requests merged in 2023-09, with the labels that each got.

#12725 Update anti-spam-spam-vs-bulk-about.md
  microsoft-365/security/office-365-security/anti-spam-spam-vs-bulk-about.md
Labels: Defender for Office 365

#12737 Update attack-simulation-training-teams.md
  microsoft-365/security/office-365-security/attack-simulation-training-teams.md
Labels: Microsoft submitter

#12732 Update comprehensive-guidance-on-linux-deployment.md
  microsoft-365/security/defender-endpoint/comprehensive-guidance-on-linux-deployment.md
Labels: Defender for Endpoint

#12742 Update m365d-time-zone.md
  microsoft-365/security/defender/m365d-time-zone.md
Labels: Microsoft 365 Defender

#12743 Update enable-troubleshooting-mode.md
  microsoft-365/security/defender-endpoint/enable-troubleshooting-mode.md
Labels: Defender for Endpoint

#12671 Update minimum-requirements.md
  microsoft-365/security/defender-endpoint/minimum-requirements.md
Labels: Defender for Endpoint

#12650 Update ios-configure-features.md
  microsoft-365/security/defender-endpoint/ios-configure-features.md
Labels: Defender for Endpoint

#12648 Update ios-install.md
  microsoft-365/security/defender-endpoint/ios-install.md
Labels: Defender for Endpoint

#12616 Added configuration of Tamper protection via Settings catalog for Intune
  microsoft-365/security/defender-endpoint/tamperprotection-macos.md
Labels: Defender for Endpoint

#12593 Update api-create-app-user-context.md
  microsoft-365/security/defender/api-create-app-user-context.md
Labels: Microsoft 365 Defender

#12255 Update whats-new-in-microsoft-defender-endpoint.md
  microsoft-365/security/defender-endpoint/whats-new-in-microsoft-defender-endpoint.md
Labels: Microsoft submitter, Defender for Endpoint

#9446 Updatedfaq
  microsoft-365/test-base/faq.md
Labels: Microsoft 365 test-base

#11798 Update testapplication.md
  microsoft-365/test-base/testapplication.md
Labels: Microsoft 365 test-base

#12762 Update manage-creation-of-groups.md
  microsoft-365/solutions/manage-creation-of-groups.md
Labels: solutions

#12774 Update mac-preferences.md
  microsoft-365/security/defender-endpoint/mac-preferences.md
Labels: Defender for Endpoint

#12780 Update machine-groups.md
  microsoft-365/security/defender-endpoint/machine-groups.md
Labels: Defender for Endpoint

#12785 Fix broken link to mdb-create-edit-device-groups.md
  microsoft-365/security/defender-endpoint/machine-groups.md
Labels: Microsoft submitter

#12788 Update specify-additional-definitions-network-traffic-inspection-mdav.md
  microsoft-365/security/defender-endpoint/specify-additional-definitions-network-traffic-inspection-mdav.md
Labels: Microsoft submitter, Defender for Endpoint

#12789 Update network-protection.md
  microsoft-365/security/defender-endpoint/network-protection.md
Labels: Microsoft submitter, Defender for Endpoint

#12781 Update move-users-different-subscription.md
  microsoft-365/commerce/subscriptions/move-users-different-subscription.md
Labels: Microsoft submitter, commerce

#12790 Update priority-accounts-turn-on-priority-account-protection.md
  microsoft-365/security/office-365-security/priority-accounts-turn-on-priority-account-protection.md
Labels: Microsoft submitter, Defender for Office 365

#12782 Update microsoft-defender-endpoint-linux.md
  microsoft-365/security/defender-endpoint/microsoft-defender-endpoint-linux.md
Labels: Microsoft submitter, Defender for Endpoint

#12797 Update manage-security-policies.md
  microsoft-365/security/defender-endpoint/manage-security-policies.md
Labels: Microsoft submitter, Defender for Endpoint

#12804 Fixed typo in get-machines.md, OData filter parameter $stop should be…
  microsoft-365/security/defender-endpoint/get-machines.md
Labels: Defender for Endpoint

#12801 Update configure-remediation-microsoft-defender-antivirus.md
  microsoft-365/security/defender-endpoint/configure-remediation-microsoft-defender-antivirus.md
Labels: Defender for Endpoint

#12799 Update azure-expressroute.md
  microsoft-365/enterprise/azure-expressroute.md
Labels: Enterprise

#12800 Update configure-endpoints-gp.md
  microsoft-365/security/defender-endpoint/configure-endpoints-gp.md
Labels: Defender for Endpoint

#12803 Update testintuneapplication.md
  microsoft-365/test-base/testintuneapplication.md
Labels: Microsoft 365 test-base

#12815 Update safe-links-about.md
  microsoft-365/security/office-365-security/safe-links-about.md
Labels: Defender for Office 365

#12825 Adding support for top level domain URL blocking
  microsoft-365/security/office-365-security/tenant-allow-block-list-urls-configure.md
Labels: Microsoft submitter

#12826 Updating the 24 hour guidelines
  microsoft-365/security/office-365-security/tenant-allow-block-list-about.md
Labels: Microsoft submitter

#12827 Updated guidance about 24 hours
  microsoft-365/security/office-365-security/tenant-allow-block-list-email-spoof-configure.md
Labels: Microsoft submitter

#12822 Update cross-tenant-mailbox-migration.md
  microsoft-365/enterprise/cross-tenant-mailbox-migration.md
Labels: Enterprise, Microsoft submitter

#12828 Updated guidance about 24 hours
  microsoft-365/security/office-365-security/tenant-allow-block-list-files-configure.md
Labels: Microsoft submitter, Defender for Office 365

#12829 Updated guidance about 24 hours
  microsoft-365/security/office-365-security/tenant-allow-block-list-urls-configure.md
Labels: Microsoft submitter, Defender for Office 365

#12848 Update set-up-multi-tenant-org.md
  microsoft-365/enterprise/set-up-multi-tenant-org.md
Labels: Enterprise

#12845 Update m365-lighthouse-view-opportunities.md
  microsoft-365/lighthouse/m365-lighthouse-view-opportunities.md
Labels: Microsoft 365 Lighthouse

#12851 Update linux-updates.md
  microsoft-365/security/defender-endpoint/linux-updates.md
Labels: Defender for Endpoint

#12844 Update deploy-and-manage-using-intune.md
  microsoft-365/security/defender-endpoint/deploy-and-manage-using-intune.md
Labels: Defender for Endpoint

#12811 Update threat-trackers.md
  microsoft-365/security/office-365-security/threat-trackers.md
Labels: Microsoft submitter, Defender for Office 365

#12420 Update Office 365 TI connection office-365-ti.md
  microsoft-365/security/office-365-security/office-365-ti.md
Labels: Microsoft submitter, Defender for Office 365

#12547 Update office-365-ti.md
  microsoft-365/security/office-365-security/office-365-ti.md
Labels: Defender for Office 365

#12850 Update microsoft-365-multi-geo.md
  microsoft-365/enterprise/microsoft-365-multi-geo.md
Labels: Enterprise

#12846 Update customize-your-organization-theme.md
  microsoft-365/admin/setup/customize-your-organization-theme.md
Labels: admin

#12852 Update view-service-health.md
  microsoft-365/enterprise/view-service-health.md
Labels: Enterprise

#12839 Update dlp-investigate-alerts-defender.md
  microsoft-365/security/defender/dlp-investigate-alerts-defender.md
Labels: compliance, Microsoft submitter

#12867 Update defender-for-office-365-whats-new.md
  microsoft-365/security/office-365-security/defender-for-office-365-whats-new.md
Labels: Microsoft submitter

#12868 Update anti-spam-policies-configure.md
  microsoft-365/security/office-365-security/anti-spam-policies-configure.md
Labels: Microsoft submitter

#12866 Use verb in title for consistency and better SEO
  microsoft-365/security/defender-endpoint/microsoft-defender-endpoint-antivirus-performance-mode.md
Labels: Microsoft submitter, Defender for Endpoint

#12778 Update run-analyzer-macos-linux.md
  microsoft-365/security/defender-endpoint/run-analyzer-macos-linux.md
Labels: Defender for Endpoint

#12744 Update exposed-apis-create-app-webapp.md
  microsoft-365/security/defender-endpoint/exposed-apis-create-app-webapp.md
Labels: Defender for Endpoint

#12772 Update api-update-incidents.md
  microsoft-365/security/defender/api-update-incidents.md
Labels: Microsoft 365 Defender

#12765 Update comparison-chart.md
  microsoft-365/bookings/comparison-chart.md
Labels: Bookings

#12802 Update bookings-in-outlook.md
  microsoft-365/bookings/bookings-in-outlook.md
Labels: Bookings

#12847 Update configure-email-forwarding.md
  microsoft-365/admin/email/configure-email-forwarding.md
Labels: admin

#12849 Update about-admin-roles.md
  microsoft-365/admin/add-users/about-admin-roles.md
Labels: admin
