Repository MicrosoftDocs/microsoft-365-docs, pull requests merged in 2023-11, with the labels that each got.

#13065 Updated sender blocking action
  microsoft-365/security/office-365-security/tenant-allow-block-list-about.md
Labels: Microsoft submitter

#13064 System Settings renamed in macOS 14.0+
  microsoft-365/security/defender-endpoint/mac-support-kext.md
Labels: Defender for Endpoint

#12615 Update advanced-hunting-identityinfo-table.md
  microsoft-365/security/defender/advanced-hunting-identityinfo-table.md
Labels: Microsoft 365 Defender

#13063 Release notes for 23082.0011
  microsoft-365/security/defender-endpoint/linux-whatsnew.md
Labels: Defender for Endpoint

#13072 Update microsoft-defender-endpoint-antivirus-performance-mode.md
  microsoft-365/security/defender-endpoint/microsoft-defender-endpoint-antivirus-performance-mode.md
Labels: Microsoft submitter, Defender for Endpoint

#13075 Adding Italy multi-geo availability - Update microsoft-365-multi-geo-…
  microsoft-365/includes/microsoft-365-multi-geo-locations.md
Labels: Enterprise, Microsoft submitter

#13077 Update outbound-spam-high-risk-delivery-pool-about.md
  microsoft-365/security/office-365-security/outbound-spam-high-risk-delivery-pool-about.md
Labels: Microsoft submitter

#13084 Update esignature-send-requests.md
  microsoft-365/syntex/esignature-send-requests.md
Labels: Microsoft submitter

#13086 Update anti-spam-spam-confidence-level-scl-about.md
  microsoft-365/security/office-365-security/anti-spam-spam-confidence-level-scl-about.md
Labels: Defender for Office 365

#13087 Update customize-your-organization-theme.md
  microsoft-365/admin/setup/customize-your-organization-theme.md
Labels: Microsoft submitter, admin

#13091 Update manage-creation-of-groups.md
  microsoft-365/solutions/manage-creation-of-groups.md
Labels: solutions

#13098 Update attack-simulation-training-simulation-automations.md
  microsoft-365/security/office-365-security/attack-simulation-training-simulation-automations.md
Labels: Microsoft submitter, Defender for Office 365

#13096 Update configure-updates.md
  microsoft-365/security/defender-endpoint/configure-updates.md
Labels: Defender for Endpoint

#13093 Update deploy-manage-removable-storage-group-policy.md
  microsoft-365/security/defender-endpoint/deploy-manage-removable-storage-group-policy.md
Labels: Defender for Endpoint

#13094 Update deploy-identity-solution-overview.md
  microsoft-365/enterprise/deploy-identity-solution-overview.md
Labels: Enterprise

#13090 Update linux-install-manually.md
  microsoft-365/security/defender-endpoint/linux-install-manually.md
Labels: Defender for Endpoint

#12517 Update mac-device-control-overview.md
  microsoft-365/security/defender-endpoint/mac-device-control-overview.md
Labels: Defender for Endpoint

#12552 Update mac-preferences.md
  microsoft-365/security/defender-endpoint/mac-preferences.md
Labels: Defender for Endpoint

#12657 add missing --value in linux mdatp commands table
  microsoft-365/security/defender-endpoint/linux-resources.md
Labels: Defender for Endpoint

#12695 Update linux-install-manually.md
  microsoft-365/security/defender-endpoint/linux-install-manually.md
Labels: Defender for Endpoint

#12696 Update microsoft-defender-endpoint-linux.md
  microsoft-365/security/defender-endpoint/microsoft-defender-endpoint-linux.md
Labels: Defender for Endpoint

#12968 Update microsoft-defender-endpoint-linux.md
  microsoft-365/security/defender-endpoint/microsoft-defender-endpoint-linux.md
Labels: Defender for Endpoint

#12932 User/ardeshmukh/add global exclusions Info
  microsoft-365/security/defender-endpoint/images/linux-exclusions.png
  microsoft-365/security/defender-endpoint/linux-exclusions-v2.md
  microsoft-365/security/defender-endpoint/linux-exclusions.md
  microsoft-365/security/defender-endpoint/linux-preferences.md
  microsoft-365/security/defender-endpoint/linux-resources.md
Labels: Microsoft submitter, Defender for Endpoint

#13108 Update exploit-protection-reference.md
  microsoft-365/security/defender-endpoint/exploit-protection-reference.md
Labels: Defender for Endpoint

#13005 ASR rules: Provide minimal info on "Block Webshell creatieon for Serv…
  microsoft-365/security/defender-endpoint/attack-surface-reduction-rules-reference.md
Labels: Defender for Endpoint

#13089 Typo Fix: Corrected 'masOS' to 'macOS'
  microsoft-365/security/intelligence/malware-naming.md
Labels: security

#13112 Update mde-planning-guide.md
  microsoft-365/security/defender-endpoint/mde-planning-guide.md
Labels: Microsoft submitter, Defender for Endpoint

#13116 Update attack-surface-reduction-rules-deployment-operationalize.md
  microsoft-365/security/defender-endpoint/attack-surface-reduction-rules-deployment-operationalize.md
Labels: Defender for Endpoint

#13035 Update multi-geo-capabilities-in-teams-in-microsoft-365.md
  microsoft-365/enterprise/multi-geo-capabilities-in-teams-in-microsoft-365.md
Labels: Enterprise, microsoft-365-enterprise/svc

#13133 Update defender-for-office-365-whats-new.md
  microsoft-365/security/office-365-security/defender-for-office-365-whats-new.md
Labels: microsoft-365-security/svc, mdo/subsvc, Tier1

#13141 Update configure-email-forwarding.md
  microsoft-365/admin/email/configure-email-forwarding.md
Labels: microsoft-365-business/svc, Tier3

#13171 Update deploy-and-manage-using-group-policy.md
  microsoft-365/security/defender-endpoint/deploy-and-manage-using-group-policy.md
Labels: microsoft-365-security/svc, Tier2, mde/subsvc

#13178 Update pim-in-mdo-configure.md
  microsoft-365/security/office-365-security/pim-in-mdo-configure.md
Labels: microsoft-365-security/svc, mdo/subsvc, Tier1

#13174 Update powershell-syntex-processing.md
  microsoft-365/syntex/powershell-syntex-processing.md
Labels: microsoft-syntex/svc

#13164 Update esignature-setup.md
  microsoft-365/syntex/esignature-setup.md
Labels: Microsoft submitter, microsoft-syntex/svc

#13183 Update mde-plugin-wsl.md
  microsoft-365/security/defender-endpoint/mde-plugin-wsl.md
Labels: microsoft-365-security/svc, Tier2, mde/subsvc

#13158 E bpf doc update
  microsoft-365/security/defender-endpoint/linux-support-ebpf.md
Labels: Microsoft submitter, microsoft-365-security/svc, mde/subsvc, Tier3

#13172 Update web-content-filtering.md
  microsoft-365/security/defender-endpoint/web-content-filtering.md
Labels: microsoft-365-security/svc, Tier2, mde/subsvc

#13165 Update submissions-user-reported-messages-custom-mailbox.md
  microsoft-365/security/office-365-security/submissions-user-reported-messages-custom-mailbox.md
Labels: microsoft-365-security/svc, mdo/subsvc, Tier1

#13092 Update loop-workspaces-configuration.md
  microsoft-365/loop/loop-workspaces-configuration.md
Labels: Microsoft Loop

#13130 Update cross-tenant-mailbox-migration.md
  microsoft-365/enterprise/cross-tenant-mailbox-migration.md
Labels: microsoft-365-enterprise/svc

#13147 Update attack-surface-reduction-rules-reference.md
  microsoft-365/security/defender-endpoint/attack-surface-reduction-rules-reference.md
Labels: microsoft-365-security/svc, Tier2, mde/subsvc

#13146 Update deploy-manage-removable-storage-group-policy.md
  microsoft-365/security/defender-endpoint/deploy-manage-removable-storage-group-policy.md
Labels: microsoft-365-security/svc, Tier2, mde/subsvc

#13082 Update teams-meetings-with-canvas.md
  microsoft-365/lti/teams-meetings-with-canvas.md
Labels: Microsoft submitter, LTI, microsoft-365-business/svc, Tier2

#13156 SharePoint URL rename is no longer in preview
  microsoft-365/admin/setup/domains-faq.yml
Labels: microsoft-365-business/svc, Tier2

#13227 File limit per service plan
  microsoft-365/security/office-365-security/tenant-allow-block-list-files-configure.md
Labels: Microsoft submitter, microsoft-365-security/svc, mdo/subsvc, Tier1

#13228 URL limit per service plan
  microsoft-365/security/office-365-security/tenant-allow-block-list-urls-configure.md
Labels: Microsoft submitter, microsoft-365-security/svc, mdo/subsvc, Tier1

#13176 Update advanced-hunting-query-results.md
  microsoft-365/security/defender/advanced-hunting-query-results.md
Labels: microsoft-365-security/svc, Tier1, m365d/subsvc, defender-xdr/svc, adv-hunting/subsvc

#13235 Malicious sites are phish
  microsoft-365/security/office-365-security/submissions-submit-files-to-microsoft.md
Labels: Microsoft submitter, microsoft-365-security/svc, mdo/subsvc, Tier1

#13234 Adding Israel availability - Update microsoft-365-multi-geo-locations.md
  microsoft-365/includes/microsoft-365-multi-geo-locations.md
Labels: Enterprise, Microsoft submitter

#13240 Update edr-in-block-mode.md
  microsoft-365/security/defender-endpoint/edr-in-block-mode.md
Labels: Microsoft submitter, microsoft-365-security/svc, Tier2, mde/subsvc

#13210 Update m365-multi-geo-user-testing.md
  microsoft-365/enterprise/m365-multi-geo-user-testing.md
Labels: Microsoft submitter, microsoft-365-enterprise/svc

#13236 Update safe-links-about.md
  microsoft-365/security/office-365-security/safe-links-about.md
Labels: microsoft-365-security/svc, mdo/subsvc, Tier1

#13252 Update edr-in-block-mode.md
  microsoft-365/security/defender-endpoint/edr-in-block-mode.md
Labels: microsoft-365-security/svc, Tier2, mde/subsvc

#13249 Update microsoft-365-security-center-defender-cloud.md
  microsoft-365/security/defender/microsoft-365-security-center-defender-cloud.md
Labels: Tier2, defender-xdr/svc

#13251 Update linux-install-manually.md
  microsoft-365/security/defender-endpoint/linux-install-manually.md
Labels: microsoft-365-security/svc, mde/subsvc, Tier3

#13245 TABL can support more entries
  microsoft-365/security/office-365-security/defender-for-office-365-whats-new.md
Labels: Microsoft submitter, microsoft-365-security/svc, mdo/subsvc, Tier1
