Repository MicrosoftDocs/microsoft-365-docs, pull requests merged in 2023-06, with the labels that each got.

#9330 Clarifying the behavior of the UX when a device is not supported
  microsoft-365/security/defender-endpoint/TOC.yml
  microsoft-365/security/defender-endpoint/enable-troubleshooting-mode.md
  microsoft-365/security/defender-endpoint/tamper-resiliency.md
Labels: Defender for Endpoint

#12153 Update cross-tenant-sharepoint-migration-step6.md
  microsoft-365/enterprise/cross-tenant-sharepoint-migration-step6.md
Labels: Enterprise

#12165 Update define-mail-flow-rules-to-encrypt-email.md
  microsoft-365/compliance/define-mail-flow-rules-to-encrypt-email.md
Labels: Microsoft submitter

#12157 Update set-up.md
  microsoft-365/admin/basic-mobility-security/set-up.md
Labels: admin

#12150 Update remove-former-employee-step-7.md
  microsoft-365/admin/add-users/remove-former-employee-step-7.md
Labels: admin

#12167 Update tamper-resiliency.md
  microsoft-365/security/defender-endpoint/tamper-resiliency.md
Labels: Microsoft submitter, Defender for Endpoint

#11866 Update device-onboarding-sccm.md
  microsoft-365/compliance/device-onboarding-sccm.md
Labels: compliance

#12177 Update security risks statement with link based on feedback
  microsoft-365/security/defender-endpoint/microsoft-defender-endpoint-antivirus-performance-mode.md
Labels: Microsoft submitter, Defender for Endpoint

#12194 Update faqs-on-tamper-protection.yml
  microsoft-365/security/defender-endpoint/faqs-on-tamper-protection.yml
Labels: Defender for Endpoint

#12131 Update office-365-u.s.-government-dod-endpoints.md
  microsoft-365/includes/office-365-u.s.-government-dod-endpoints.md
Labels: Enterprise

#12197 Update deploy-manage-removable-storage-intune.md
  microsoft-365/security/defender-endpoint/deploy-manage-removable-storage-intune.md
Labels: Defender for Endpoint

#12198 Update advanced-features.md
  microsoft-365/security/defender-endpoint/advanced-features.md
Labels: Defender for Endpoint

#12190 Update virus-initiative-criteria.md
  microsoft-365/security/intelligence/virus-initiative-criteria.md
Labels: security, Microsoft submitter

#12204 Update sensitivity-labels-versions.md
  microsoft-365/compliance/sensitivity-labels-versions.md
Labels: compliance, Microsoft submitter

#12161 update test file link - use SSL to download
  microsoft-365/security/defender-endpoint/configure-extension-file-exclusions-microsoft-defender-antivirus.md
Labels: Defender for Endpoint

#12151 Update command-line-arguments-microsoft-defender-antivirus.md
  microsoft-365/security/defender-endpoint/command-line-arguments-microsoft-defender-antivirus.md
Labels: Defender for Endpoint

#11916 Update virus-initiative-criteria.md
  microsoft-365/security/intelligence/virus-initiative-criteria.md
Labels: intelligence

#12129 Update office-365-u.s.-government-gcc-high-endpoints.md
  microsoft-365/includes/office-365-u.s.-government-gcc-high-endpoints.md
Labels: Enterprise

#12178 Update servicenow-authentication.md
  microsoft-365/admin/manage/servicenow-authentication.md
Labels: Microsoft submitter, admin

#12207 Update m365bp-set-up-compliance.md
  microsoft-365/business-premium/m365bp-set-up-compliance.md
Labels: Microsoft submitter

#12130 Update office-365-worldwide-endpoints.md
  microsoft-365/includes/office-365-worldwide-endpoints.md
Labels: Enterprise

#12210 Updating one TABL alert name
  microsoft-365/compliance/alert-policies.md
Labels: Microsoft submitter

#12191 Update select-domain-to-use-for-email-from-microsoft-365-products.md
  microsoft-365/admin/email/select-domain-to-use-for-email-from-microsoft-365-products.md
Labels: admin

#12192 Update deploy-scanner.md
  microsoft-365/compliance/deploy-scanner.md
Labels: compliance

#12020 Small layout fixes
  microsoft-365/admin/basic-mobility-security/choose-between-basic-mobility-and-security-and-intune.md
Labels: admin

#12220 Update defender-endpoint-antivirus-exclusions.md
  microsoft-365/security/defender-endpoint/defender-endpoint-antivirus-exclusions.md
Labels: Defender for Endpoint

#12219 Update about-shared-mailboxes.md
  microsoft-365/admin/email/about-shared-mailboxes.md
Labels: admin

#12224 Update secure-your-business-data.md
  microsoft-365/business-premium/secure-your-business-data.md
Labels: Microsoft submitter

#12019 Update attack-surface-reduction-rules-deployment-test.md
  microsoft-365/security/defender-endpoint/attack-surface-reduction-rules-deployment-test.md
Labels: Defender for Endpoint

#12202 Update dlp-conditions-and-exceptions.md
  microsoft-365/compliance/dlp-conditions-and-exceptions.md
Labels: compliance, Microsoft submitter

#12201 Update dlp-policy-reference.md
  microsoft-365/compliance/dlp-policy-reference.md
Labels: compliance, Microsoft submitter

#12119 Update sit-limits.md
  microsoft-365/compliance/sit-limits.md
Labels: compliance, Microsoft submitter

#12118 Update sit-limits.md
  microsoft-365/compliance/sit-limits.md
Labels: compliance, Microsoft submitter

#12013 Update dlp-conditions-and-exceptions.md
  microsoft-365/compliance/dlp-conditions-and-exceptions.md
Labels: compliance, Microsoft submitter

#12236 Fix Type in file-plan-manager.md
  microsoft-365/compliance/file-plan-manager.md
Labels: compliance

#12239 Update attack-surface-reduction-rules-deployment-implement.md
  microsoft-365/security/defender-endpoint/attack-surface-reduction-rules-deployment-implement.md
  microsoft-365/security/defender-endpoint/images/attack-surface-reduction-rules-report-per-rule-exclusion.png
Labels: Defender for Endpoint

#12229 Update alert-grading-playbook-email-forwarding.md
  microsoft-365/security/defender/alert-grading-playbook-email-forwarding.md
Labels: Microsoft submitter, Microsoft 365 Defender

#12257 Update sensitivity-labels-versions.md
  microsoft-365/compliance/sensitivity-labels-versions.md
Labels: Microsoft submitter

#12259 Update attack-simulation-training-teams.md
  microsoft-365/security/office-365-security/attack-simulation-training-teams.md
Labels: Microsoft submitter

#12264 Update anti-phishing-policies-about.md
  microsoft-365/security/office-365-security/anti-phishing-policies-about.md
Labels: Defender for Office 365

#12276 Update index.yml
  microsoft-365/security/defender-business/index.yml
Labels: Microsoft submitter

#12193 Update bookings-faq.yml
  microsoft-365/bookings/bookings-faq.yml
Labels: Bookings

#12265 Updated MSOnline code with Microsoft Graph Powershell code
  microsoft-365/admin/basic-mobility-security/manage-device-access-settings.md
Labels: admin

#12285 Update mailbox-usage.md
  microsoft-365/admin/activity-reports/mailbox-usage.md
Labels: admin

#12303 Update mac-preferences.md
  microsoft-365/security/defender-endpoint/mac-preferences.md
Labels: Defender for Endpoint

#12185 Update Network Protection for macOS docs
  microsoft-365/security/defender-endpoint/network-protection-macos.md
Labels: Microsoft submitter, Defender for Endpoint

#12309 Update secure-your-business-data.md
  microsoft-365/business-premium/secure-your-business-data.md
Labels: Microsoft submitter

#12302 Update o365-data-locations.md
  microsoft-365/enterprise/o365-data-locations.md
Labels: Enterprise

#12199 Update linux-exclusions.md
  microsoft-365/security/defender-endpoint/linux-exclusions.md
Labels: Defender for Endpoint

#12152 Update top-scoring-industry-tests.md
  microsoft-365/security/defender/top-scoring-industry-tests.md
Labels: Microsoft 365 Defender

#11925 Update enable-attack-surface-reduction.md
  microsoft-365/security/defender-endpoint/enable-attack-surface-reduction.md
Labels: Defender for Endpoint

#11591 Update api-power-bi.md
  microsoft-365/security/defender-endpoint/api-power-bi.md
Labels: Defender for Endpoint

#11923 Update enable-troubleshooting-mode.md
  microsoft-365/security/defender-endpoint/enable-troubleshooting-mode.md
Labels: Defender for Endpoint

#12311 Update cross-tenant-mailbox-migration.md
  microsoft-365/enterprise/cross-tenant-mailbox-migration.md
Labels: Enterprise, Microsoft submitter

#11901 Update linux-static-proxy-configuration.md
  microsoft-365/security/defender-endpoint/linux-static-proxy-configuration.md
Labels: Defender for Endpoint

#11862 Update enable-controlled-folders.md
  microsoft-365/security/defender-endpoint/enable-controlled-folders.md
Labels: Defender for Endpoint

#11645 Update mac-device-control-jamf.md
  microsoft-365/security/defender-endpoint/mac-device-control-jamf.md
Labels: Defender for Endpoint

#11622 Keep headers consistent
  microsoft-365/security/defender-endpoint/linux-install-manually.md
Labels: Defender for Endpoint

#12324 Update network-devices.md
  microsoft-365/security/defender-endpoint/network-devices.md
Labels: Microsoft submitter

#12323 Update find-defender-malware-name.md
  microsoft-365/security/defender-endpoint/find-defender-malware-name.md
Labels: Microsoft submitter, Defender for Endpoint

#12329 Update onboard-windows-multi-session-device.md
  microsoft-365/security/defender-endpoint/onboard-windows-multi-session-device.md
Labels: Microsoft submitter, Defender for Endpoint

#12335 Update message-headers-eop-mdo.md
  microsoft-365/security/office-365-security/message-headers-eop-mdo.md
Labels: Microsoft submitter, Defender for Office 365

#12343 Update secure-your-business-data.md
  microsoft-365/business-premium/secure-your-business-data.md
Labels: Microsoft submitter

#12340 Update virus-initiative-criteria.md
  microsoft-365/security/intelligence/virus-initiative-criteria.md
Labels: security

#12344 Update cross-tenant-mailbox-migration.md
  microsoft-365/enterprise/cross-tenant-mailbox-migration.md
Labels: Enterprise, Microsoft submitter

#12349 Update exp-prot-gp.png
  microsoft-365/media/exp-prot-gp.png
  microsoft-365/security/defender-endpoint/import-export-exploit-protection-emet-xml.md
Labels: Defender for Endpoint
