Repository MicrosoftDocs/microsoft-365-docs, pull requests merged in 2023-04, with the labels that each got.

#11556 Update configure-automated-investigations-remediation.md
  microsoft-365/security/defender-endpoint/configure-automated-investigations-remediation.md
Labels: Defender for Endpoint

#11557 Update configure-server-endpoints.md
  microsoft-365/security/defender-endpoint/configure-server-endpoints.md
Labels: Defender for Endpoint

#11559 Update get-security-baselines-assessment-configurations.md
  microsoft-365/security/defender-endpoint/get-security-baselines-assessment-configurations.md
Labels: Defender for Endpoint

#11558 Update mac-install-with-intune.md
  microsoft-365/security/defender-endpoint/mac-install-with-intune.md
Labels: Defender for Endpoint

#11547 Update mdo-support-teams-about.md
  microsoft-365/security/office-365-security/mdo-support-teams-about.md
Labels: Microsoft submitter, Defender for Office 365

#11561 Update data-classification-increase-accuracy.md
  microsoft-365/compliance/data-classification-increase-accuracy.md
Labels: compliance, Microsoft submitter

#11515 Added new guides, updated descriptions
  microsoft-365/enterprise/setup-guides-for-microsoft-365.md
Labels: Enterprise, Microsoft submitter

#11570 Update pilot-microsoft-365-from-my-custom-domain.md
  microsoft-365/admin/misc/pilot-microsoft-365-from-my-custom-domain.md
Labels: admin

#11569 Update pilot-microsoft-365-from-my-custom-domain.md
  microsoft-365/admin/misc/pilot-microsoft-365-from-my-custom-domain.md
Labels: admin

#11580 Update release notes for 101.98.30
  microsoft-365/security/defender-endpoint/linux-whatsnew.md
Labels: Microsoft submitter, Defender for Endpoint

#11505 Updating support status for MDE Security Configuration Management
  microsoft-365/security/defender-endpoint/gov.md
Labels: Microsoft submitter, Defender for Endpoint

#11555 Update tune-performance-defender-antivirus.md
  microsoft-365/security/defender-endpoint/tune-performance-defender-antivirus.md
Labels: Defender for Endpoint

#11092 Update onboard-windows-multi-session-device.md
  microsoft-365/security/defender-endpoint/onboard-windows-multi-session-device.md
Labels: Defender for Endpoint

#11003 Update mde-device-control-device-installation.md
  microsoft-365/security/defender-endpoint/mde-device-control-device-installation.md
Labels: Defender for Endpoint

#10965 Update network-protection-macos.md
  microsoft-365/security/defender-endpoint/network-protection-macos.md
Labels: Defender for Endpoint

#10543 Update attack-simulations.md
  microsoft-365/security/defender-endpoint/attack-simulations.md
Labels: Defender for Endpoint

#10893 Update configure-endpoints-gp.md
  microsoft-365/security/defender-endpoint/configure-endpoints-gp.md
Labels: Microsoft submitter, Defender for Endpoint

#11603 Repo sync working branch
  .openpublishing.redirection.json
  defender/docfx.json
  microsoft-365/admin/admin-overview/sign-up-for-office-365.md
  microsoft-365/admin/admin-overview/what-subscription-do-i-have.md
  microsoft-365/admin/adoption/organizational-messages.md
  microsoft-365/admin/basic-mobility-security/frequently-asked-questions.yml
  microsoft-365/admin/basic-mobility-security/set-up.md
  microsoft-365/admin/email/remove-license-from-shared-mailbox.md
  microsoft-365/admin/manage/assign-licenses-to-users.md
  microsoft-365/admin/manage/change-address-contact-and-more.md
  microsoft-365/admin/manage/remove-licenses-from-users.md
  microsoft-365/admin/misc/self-service-sign-up.md
  microsoft-365/admin/services-in-china/apply-for-a-fapiao.md
  microsoft-365/admin/setup/download-software-licenses-csp.md
  microsoft-365/commerce/billing-and-payments/manage-multi-tenant-billing.md
  microsoft-365/commerce/billing-and-payments/withholding-tax-credit-india.md
  microsoft-365/commerce/index.yml
  microsoft-365/commerce/index2.yml
  microsoft-365/commerce/licenses/allotment-basics.md
  microsoft-365/commerce/licenses/contracts-faq.yml
  microsoft-365/commerce/licenses/downloads-faq.yml
  microsoft-365/commerce/licenses/license-summary-faq.yml
  microsoft-365/commerce/licenses/online-service-activation-faq.yml
  microsoft-365/commerce/licenses/product-keys-faq.yml
  microsoft-365/commerce/subscriptions/allowselfservicepurchase-powershell.md
  microsoft-365/commerce/subscriptions/upgrade-from-teams-free.md
  microsoft-365/commerce/subscriptions/verify-academic-eligibility.md
  microsoft-365/compliance/ediscovery-teams-content-search.md
  microsoft-365/compliance/ediscovery-teams-legal-hold.md
  microsoft-365/security/defender-endpoint/TOC.yml
  microsoft-365/security/defender-endpoint/configure-endpoints-gp.md
  microsoft-365/security/defender-endpoint/device-discovery-faq.md
  microsoft-365/security/defender-endpoint/faqs-on-tamper-protection.yml
  microsoft-365/security/defender-endpoint/faqs-tamper-protection.md
  microsoft-365/security/defender-endpoint/images/configure-windows-defender-smartscreen.png
  microsoft-365/security/defender-endpoint/manage-tamper-protection-configuration-manager.md
  microsoft-365/security/defender-endpoint/manage-tamper-protection-intune.md
  microsoft-365/security/defender-endpoint/manage-tamper-protection-microsoft-365-defender.md
  microsoft-365/security/defender-endpoint/prevent-changes-to-security-settings-with-tamper-protection.md
  microsoft-365/security/defender-endpoint/troubleshoot-problems-with-tamper-protection.yml
  microsoft-365/security/office-365-security/anti-spoofing-spoof-intelligence.md
  microsoft-365/security/office-365-security/reports-email-security.md
  microsoft-365/solutions/TOC.yml
  microsoft-365/syntex/use-content-center-site.md
  microsoft-365/syntex/use-contracts-management-site.md
Labels: Microsoft submitter

#11605 Updates to supported M365 Apps
  microsoft-365/admin/manage/idle-session-timeout-web-apps.md
Labels: admin

#11344 Update remove-former-employee.md
  microsoft-365/admin/add-users/remove-former-employee.md
Labels: admin

#11628 Update m365d-autoir.md
  microsoft-365/security/defender/m365d-autoir.md
Labels: Microsoft submitter

#11630 Update specify-cloud-protection-level-microsoft-defender-antivirus.md
  microsoft-365/security/defender-endpoint/specify-cloud-protection-level-microsoft-defender-antivirus.md
Labels: Microsoft submitter

#11629 Update attack-simulation-training-get-started.md
  microsoft-365/security/office-365-security/attack-simulation-training-get-started.md
Labels: Defender for Office 365

#11618 Update attack-surface-reduction-rules-deployment-plan.md
  microsoft-365/security/defender-endpoint/attack-surface-reduction-rules-deployment-plan.md
Labels: Defender for Endpoint

#11633 Repo sync working branch
  .openpublishing.redirection.json
  microsoft-365/.openpublishing.redirection.json
  microsoft-365/business-premium/index.md
  microsoft-365/business-premium/m365bp-prepare-for-office-client-deployment.md
  microsoft-365/business-premium/m365bp-secure-users.md
  microsoft-365/business-premium/m365bp-setup-overview.md
  microsoft-365/business-premium/m365bp-setup.md
  microsoft-365/business-premium/media/employee-setup-guide.png
  microsoft-365/compliance/TOC.yml
  microsoft-365/compliance/archive-facebook-data-with-sample-connector.md
  microsoft-365/compliance/archive-facebook-data.md
  microsoft-365/compliance/archive-partner-third-party-data.md
  microsoft-365/compliance/archive-third-party-data.md
  microsoft-365/compliance/archive-twitter-data-with-sample-connector.md
  microsoft-365/compliance/archive-twitter-data.md
  microsoft-365/compliance/communication-compliance-channels.md
  microsoft-365/compliance/communication-compliance.md
  microsoft-365/compliance/compliance-extensibility.md
  microsoft-365/compliance/dlp-configure-endpoint-settings.md
  microsoft-365/compliance/ediscovery-overview.md
  microsoft-365/compliance/endpoint-dlp-using.md
  microsoft-365/compliance/index.yml
  microsoft-365/compliance/microsoft-365-compliance-center.md
  microsoft-365/compliance/use-content-search-to-search-third-party-data-that-was-imported.md
  microsoft-365/frontline/shifts-connector-blue-yonder-admin-center-manage.md
  microsoft-365/frontline/shifts-connector-wizard.md
  microsoft-365/lighthouse/m365-lighthouse-sign-up.md
  microsoft-365/security/office-365-security/attack-simulation-training-get-started.md
Labels: Microsoft submitter

#11635 Update attack-simulation-training-get-started.md
  microsoft-365/security/office-365-security/attack-simulation-training-get-started.md
Labels: Defender for Office 365

#11650 Update attack-simulation-training-insights.md
  microsoft-365/security/office-365-security/attack-simulation-training-insights.md
Labels: Defender for Office 365

#11652 Updated instructions to install add-in for Fedramp
  microsoft-365/security/office-365-security/submissions-users-report-message-add-in-configure.md
Labels: Microsoft submitter, Defender for Office 365

#11653 Removed public preview note as this is now in GA
  microsoft-365/security/office-365-security/attack-simulation-training-training-modules.md
Labels: Microsoft submitter, Defender for Office 365

#11656 Update sensitivity-labels-versions.md
  microsoft-365/compliance/sensitivity-labels-versions.md
Labels: Microsoft submitter

#11657 Update trial-playbook-defender-business.md
  microsoft-365/security/defender-business/trial-playbook-defender-business.md
Labels: Microsoft submitter

#11643 Update cross-tenant-onedrive-migration.md
  microsoft-365/enterprise/cross-tenant-onedrive-migration.md
Labels: Enterprise

#11671 Repo sync working branch
  microsoft-365/compliance/communication-compliance-policies.md
  microsoft-365/compliance/sensitivity-labels-aip.md
  microsoft-365/security/office-365-security/quarantine-admin-manage-messages-files.md
  microsoft-365/security/office-365-security/quarantine-end-user.md
Labels: Microsoft submitter

#11644 Update tvm-security-baselines.md
  microsoft-365/security/defender-vulnerability-management/tvm-security-baselines.md
Labels: Defender Vulnerability Management

#11678 Advanced delivery allow formats
  microsoft-365/security/office-365-security/tenant-allow-block-list-urls-configure.md
Labels: Microsoft submitter

#11663 Update defender-for-office-365-whats-new.md
  microsoft-365/security/office-365-security/defender-for-office-365-whats-new.md
Labels: Defender for Office 365

#11716 Update m365d-configure-auto-investigation-response.md
  microsoft-365/security/defender/m365d-configure-auto-investigation-response.md
Labels: Microsoft 365 Defender

#11712 Update advanced-features.md
  microsoft-365/security/defender-endpoint/advanced-features.md
Labels: Defender for Endpoint

#11705 Update microsoft-365-vpn-implement-split-tunnel.md
  microsoft-365/enterprise/microsoft-365-vpn-implement-split-tunnel.md
Labels: Enterprise, Microsoft submitter

#11721 Update convert-user-mailbox-to-shared-mailbox.md
  microsoft-365/admin/email/convert-user-mailbox-to-shared-mailbox.md
Labels: admin

#11733 Update quarantine-policies.md
  microsoft-365/security/office-365-security/quarantine-policies.md
Labels: Microsoft submitter

#11739 Update quarantine-shared-mailbox-messages.md
  microsoft-365/security/office-365-security/quarantine-shared-mailbox-messages.md
Labels: Microsoft submitter

#11760 Update switch-to-mde-troubleshooting.md
  microsoft-365/security/defender-endpoint/switch-to-mde-troubleshooting.md
Labels: Defender for Endpoint

#11465 Update m365-dr-workload-other.md
  microsoft-365/enterprise/m365-dr-workload-other.md
Labels: Enterprise, Microsoft submitter

#11647 Update identity-access-policies-guest-access.md
  microsoft-365/security/office-365-security/identity-access-policies-guest-access.md
Labels: Defender for Office 365

#11762 Update remove-former-employee.md
  microsoft-365/admin/add-users/remove-former-employee.md
Labels: admin

#11697 Updated MSOL link to Graph API
  microsoft-365/admin/add-users/delete-a-user.md
Labels: admin

#11698 Migrated AzureAD commands to Graph API
  microsoft-365/admin/add-users/set-password-to-never-expire.md
Labels: admin

#11710 Update set-up-multi-factor-authentication.md
  microsoft-365/admin/security-and-compliance/set-up-multi-factor-authentication.md
Labels: admin

#11646 Update advanced-hunting-urlclickevents-table.md
  microsoft-365/security/defender/advanced-hunting-urlclickevents-table.md
Labels: Microsoft 365 Defender

#11770 Update manage-clients-gcc-high.md
  microsoft-365/whiteboard/manage-clients-gcc-high.md
Labels: Microsoft submitter, Whiteboard

#11775 Update how to find if MDE is running in Passive mode
  microsoft-365/security/defender-endpoint/switch-to-mde-phase-3.md
Labels: Microsoft submitter, Defender for Endpoint

#11719 Update custom-domain-support.md
  microsoft-365/bookings/custom-domain-support.md
Labels: Bookings

#11771 Update investigate-dlp.md
  microsoft-365/security/defender/investigate-dlp.md
Labels: compliance, Microsoft submitter

#11778 Update m365bp-upgrade-windows-10-pro.md
  microsoft-365/business-premium/m365bp-upgrade-windows-10-pro.md
Labels: Microsoft submitter

#9891 DLP For Mac Updates
  microsoft-365/compliance/dlp-policy-tips-reference.md
Labels: compliance, Microsoft submitter

#10102 Update device-onboarding-overview.md
  microsoft-365/compliance/device-onboarding-overview.md
Labels: compliance

#11684 Update document-fingerprinting.md
  microsoft-365/compliance/document-fingerprinting.md
Labels: compliance, Microsoft submitter

#11518 Update device-onboarding-offboarding-macos-jamfpro.md
  microsoft-365/compliance/device-onboarding-offboarding-macos-jamfpro.md
Labels: compliance, Microsoft submitter

#11290 Change system variable to user variable
  microsoft-365/compliance/dlp-migration-assistant-for-symantec-use.md
Labels: compliance, Microsoft submitter

#11287 Update protect-documents-that-have-fci-or-other-properties.md
  microsoft-365/compliance/protect-documents-that-have-fci-or-other-properties.md
Labels: compliance, Microsoft submitter

#10985 Update dlp-policy-reference.md
  microsoft-365/compliance/dlp-policy-reference.md
Labels: compliance, Microsoft submitter

#10707 Update dlp-policy-reference.md
  microsoft-365/compliance/dlp-policy-reference.md
Labels: compliance, Microsoft submitter

#10674 Update dlp-conditions-and-exceptions.md
  microsoft-365/compliance/dlp-conditions-and-exceptions.md
Labels: compliance, Microsoft submitter

#11025 Update dlp-policy-reference.md
  microsoft-365/compliance/dlp-policy-reference.md
Labels: compliance

#11797 Fix starting point CA logic
  microsoft-365/security/office-365-security/identity-access-policies-guest-access.md
Labels: Defender for Office 365

#11786 Removing incorrect info about ASR rule default state
  microsoft-365/security/defender-endpoint/attack-surface-reduction-rules-reference.md
Labels: Microsoft submitter, Defender for Endpoint

#11806 Update advanced-data-residency.md
  microsoft-365/enterprise/advanced-data-residency.md
Labels: Microsoft submitter

#10986 Update cross-tenant-mailbox-migration.md
  microsoft-365/enterprise/cross-tenant-mailbox-migration.md
Labels: Enterprise, Microsoft submitter

#11803 Update defender-for-office-365-whats-new.md
  microsoft-365/security/office-365-security/defender-for-office-365-whats-new.md
Labels: Microsoft submitter, Defender for Office 365

#10937 Request for updating restricted app groups
  microsoft-365/compliance/dlp-configure-endpoint-settings.md
Labels: compliance

#11819 Update secure-your-business-data.md
  microsoft-365/business-premium/secure-your-business-data.md
Labels: Microsoft submitter

#11821 Update quarantine-shared-mailbox-messages.md
  microsoft-365/security/office-365-security/quarantine-shared-mailbox-messages.md
Labels: Microsoft submitter

#10168 Update device-onboarding-overview.md
  microsoft-365/compliance/device-onboarding-overview.md
Labels: compliance

#10345 Update dlp-configure-endpoint-settings.md
  microsoft-365/compliance/dlp-configure-endpoint-settings.md
Labels: compliance, Microsoft submitter

#11855 Update office-365-network-mac-perf-score.md
  microsoft-365/enterprise/office-365-network-mac-perf-score.md
Labels: Microsoft submitter

#11859 Same tenant channel support is here
  microsoft-365/security/office-365-security/submissions-teams.md
Labels: Microsoft submitter
