Repository MicrosoftDocs/microsoft-365-docs, pull requests merged in 2023-01, with the labels that each got.

#10585 Update configure-exclusions-microsoft-defender-antivirus.md
  microsoft-365/security/defender-endpoint/configure-exclusions-microsoft-defender-antivirus.md
Labels: Microsoft submitter

#10586 Update configure-exclusions-microsoft-defender-antivirus.md
  microsoft-365/security/defender-endpoint/configure-exclusions-microsoft-defender-antivirus.md
Labels: Microsoft submitter

#10556 Update custom-roles.md
  microsoft-365/security/defender/custom-roles.md
Labels: Microsoft 365 Defender

#10576 Fix visible HTML comment closing tag
  microsoft-365/contentunderstanding/syntex-overview.md
Labels: Microsoft submitter, Syntex

#10563 Add documentation for Whiteboard Sharing
  microsoft-365/whiteboard/manage-sharing-organizations.md
Labels: Whiteboard

#10591 Update m365bp-map-protection-features-to-intune-settings.md
  microsoft-365/business-premium/m365bp-map-protection-features-to-intune-settings.md
Labels: Microsoft submitter

#10600 Update the Risk accepted status to reflect its correct visibility
  microsoft-365/security/defender/microsoft-secure-score-improvement-actions.md
Labels: Microsoft submitter

#10596 Correct Powershell parameters
  microsoft-365/security/defender-endpoint/tune-performance-defender-antivirus.md
Labels: Defender for Endpoint

#10602 Update defender-endpoint-plan-1-2.md
  microsoft-365/security/defender-endpoint/defender-endpoint-plan-1-2.md
Labels: Microsoft submitter

#10609 Update respond-machine-alerts.md
  microsoft-365/security/defender-endpoint/respond-machine-alerts.md
Labels: Defender for Endpoint

#10610 chore: Grammar (apostrophe in 'users').
  microsoft-365/compliance/set-up-an-archive-and-deletion-policy-for-mailboxes.md
Labels: compliance

#10615 Update change-email-address.md
  microsoft-365/admin/email/change-email-address.md
Labels: admin

#10611 Update controlled-folders.md
  microsoft-365/security/defender-endpoint/controlled-folders.md
Labels: Defender for Endpoint

#10613 Update microsoft-secure-score-improvement-actions.md
  microsoft-365/security/defender/microsoft-secure-score-improvement-actions.md
Labels: Microsoft 365 Defender

#10608 Add external dependencies for mdatp package
  microsoft-365/security/defender-endpoint/linux-install-manually.md
Labels: Defender for Endpoint

#10562 Update upgrade-distribution-lists.md
  microsoft-365/admin/manage/upgrade-distribution-lists.md
Labels: admin

#10633 Update secure-your-business-data.md
  microsoft-365/admin/security-and-compliance/secure-your-business-data.md
Labels: Microsoft submitter

#10636 Update switch-to-mde-phase-2.md
  microsoft-365/security/defender-endpoint/switch-to-mde-phase-2.md
Labels: Microsoft submitter

#10612 Update buy-a-domain-name.md
  microsoft-365/admin/get-help-with-domains/buy-a-domain-name.md
Labels: admin

#10644 Update switch-to-mde-troubleshooting.md
  microsoft-365/security/defender-endpoint/switch-to-mde-troubleshooting.md
Labels: Defender for Endpoint

#10647 Update printer-protection.md
  microsoft-365/security/defender-endpoint/printer-protection.md
Labels: Microsoft submitter, Defender for Endpoint

#10649 Update switch-to-mde-phase-2.md
  microsoft-365/security/defender-endpoint/switch-to-mde-phase-2.md
Labels: Microsoft submitter

#10652 Update windows-whatsnew.md
  microsoft-365/security/defender-endpoint/windows-whatsnew.md
Labels: Microsoft submitter, Defender for Endpoint

#10662 Update tune-performance-defender-antivirus.md
  microsoft-365/security/defender-endpoint/tune-performance-defender-antivirus.md
Labels: Defender for Endpoint

#10621 Update double-key-encryption.md
  microsoft-365/compliance/double-key-encryption.md
Labels: compliance, Microsoft submitter

#10653 Update retention-cmdlets.md
  microsoft-365/compliance/retention-cmdlets.md
Labels: compliance, Microsoft submitter

#10594 Create review-allow-entries.md
  microsoft-365/security/office-365-security/step-by-step-guides/review-allow-entries.md
Labels: Microsoft submitter, Defender for Office 365

#10675 Update audit-log-search-script.md
  microsoft-365/compliance/audit-log-search-script.md
Labels: compliance

#10641 Update dlp-conditions-and-exceptions.md
  microsoft-365/compliance/dlp-conditions-and-exceptions.md
Labels: compliance, Microsoft submitter

#10529 Update get-started-with-the-default-dlp-policy.md
  microsoft-365/compliance/get-started-with-the-default-dlp-policy.md
Labels: compliance

#10320 Update sit-learn-about-exact-data-match-based-sits.md
  microsoft-365/compliance/sit-learn-about-exact-data-match-based-sits.md
Labels: compliance

#10553 Adding note that extension is not supported/needed on MacOS
  microsoft-365/compliance/dlp-chrome-get-started.md
Labels: compliance

#10137 Update dlp-conditions-and-exceptions.md
  microsoft-365/compliance/dlp-conditions-and-exceptions.md
Labels: compliance, Microsoft submitter

#10503 Update dlp-chrome-get-started.md
  microsoft-365/compliance/dlp-chrome-get-started.md
Labels: compliance

#10640 Updated classifier-tc-definitions.md :Added new classifier definitions
  microsoft-365/compliance/classifier-tc-definitions.md
Labels: compliance

#10606 Add important note due to EU data regulations
  microsoft-365/enterprise/setup-guides-for-microsoft-365.md
Labels: Enterprise, Microsoft submitter

#10541 Update setup-guides-for-microsoft-365.md
  microsoft-365/enterprise/setup-guides-for-microsoft-365.md
Labels: Enterprise

#10565 Update multi-tenant-people-search.md
  microsoft-365/enterprise/multi-tenant-people-search.md
Labels: Enterprise, Microsoft submitter

#10697 Update reports-email-security.md
  microsoft-365/security/office-365-security/reports-email-security.md
Labels: Microsoft submitter

#10593 Update content-delivery-networks.md
  microsoft-365/enterprise/content-delivery-networks.md
Labels: Enterprise

#10699 Update ios-troubleshoot.md for CF not working on the supervised device
  microsoft-365/security/defender-endpoint/ios-troubleshoot.md
Labels: Microsoft submitter

#10424 Update ome-faq.yml
  microsoft-365/compliance/ome-faq.yml
Labels: compliance, Microsoft submitter

#10723 Allows cannot be extended
  microsoft-365/security/office-365-security/tenant-allow-block-list-urls-configure.md
Labels: Microsoft submitter, Defender for Office 365

#10724 Allows cannot be extended
  microsoft-365/security/office-365-security/tenant-allow-block-list-files-configure.md
Labels: Microsoft submitter, Defender for Office 365

#10702 Update share-calendars-with-external-users.md
  microsoft-365/admin/manage/share-calendars-with-external-users.md
Labels: admin

#10673 Add warning for upcoming changes to Private CDN deprecation
  microsoft-365/enterprise/use-microsoft-365-cdn-with-spo.md
Labels: Enterprise

#10542 Update limit-guest-sharing-to-specific-organization.md
  microsoft-365/solutions/limit-guest-sharing-to-specific-organization.md
Labels: solutions

#10726 Improve MDATP Linux performance troubleshooting
  microsoft-365/security/defender-endpoint/linux-support-perf.md
Labels: Defender for Endpoint

#10713 Update air-about-office.md
  microsoft-365/security/office-365-security/air-about-office.md
Labels: Defender for Office 365

#10738 Update skip-filtering-phishing-simulations-sec-ops-mailboxes.md
  microsoft-365/security/office-365-security/skip-filtering-phishing-simulations-sec-ops-mailboxes.md
Labels: Microsoft submitter

#10703 Update ediscovery-search-and-delete-teams-chat-messages.md
  microsoft-365/compliance/ediscovery-search-and-delete-teams-chat-messages.md
Labels: compliance

#10167 Update user-consent.md
  microsoft-365/admin/misc/user-consent.md
Labels: admin

#10688 corrected capitalisation of Global and Exchange Admin
  microsoft-365/admin/manage/manage-addins-in-the-admin-center.md
Labels: admin

#10701 Update bookings-faq.yml
  microsoft-365/bookings/bookings-faq.yml
Labels: Bookings

#10748 Sharing policy needs to be enabled
  microsoft-365/bookings/bookings-in-outlook.md
Labels: Bookings

#10638 Update endpoint-dlp-learn-about.md
  microsoft-365/compliance/endpoint-dlp-learn-about.md
Labels: compliance

#8976 Update change-address-contact-and-more.md
  microsoft-365/admin/manage/change-address-contact-and-more.md
Labels: admin

#10531 Update add-storage-space.md
  microsoft-365/commerce/add-storage-space.md
Labels: commerce

#10708 Update domains-faq.yml
  microsoft-365/admin/setup/domains-faq.yml
Labels: admin

#10454 Update add-storage-space.md
  microsoft-365/commerce/add-storage-space.md
Labels: commerce

#10751 Update microsoft-365-vpn-implement-split-tunnel.md
  microsoft-365/enterprise/microsoft-365-vpn-implement-split-tunnel.md
Labels: Enterprise, Microsoft submitter

#10693 Update compliance-easy-trials.md
  microsoft-365/compliance/compliance-easy-trials.md
Labels: compliance, Microsoft submitter

#10761 Update ts-mode-option-greyed-out.png
  microsoft-365/media/ts-mode-option-greyed-out.png
Labels: Defender for Endpoint

#10617 Update exposed-apis-create-app-webapp.md
  microsoft-365/security/defender-endpoint/exposed-apis-create-app-webapp.md
Labels: Defender for Endpoint

#10623 Adding link to a blog article about proxy scenario
  microsoft-365/security/defender-endpoint/configure-proxy-internet.md
Labels: Microsoft submitter, Defender for Endpoint

#10646 Clarify naming in Step 11
  microsoft-365/security/defender-endpoint/mac-jamfpro-policies.md
Labels: Defender for Endpoint

#10772 Update classifier-tc-definitions.md
  microsoft-365/compliance/classifier-tc-definitions.md
Labels: compliance

#10777 Update microsoft-defender-antivirus-on-windows-server.md
  microsoft-365/security/defender-endpoint/microsoft-defender-antivirus-on-windows-server.md
Labels: Microsoft submitter

#10729 Improve MDATP run-analyzer-macos-linux.md
  microsoft-365/security/defender-endpoint/run-analyzer-macos-linux.md
Labels: Defender for Endpoint

#10783 Update sit-defn-canada-social-insurance-number.md
  microsoft-365/compliance/sit-defn-canada-social-insurance-number.md
Labels: compliance, Microsoft submitter

#10792 Update attack-surface-reduction-rules-deployment.md
  microsoft-365/security/defender-endpoint/attack-surface-reduction-rules-deployment.md
Labels: Defender for Endpoint

#10805 Repo sync working branch
  microsoft-365/security/defender-endpoint/get-all-scan-agents.md
  microsoft-365/security/defender-endpoint/get-all-scan-definitions.md
  microsoft-365/security/defender-endpoint/get-authenticated-scan-properties.md
  microsoft-365/security/defender-endpoint/network-protection-linux.md
  microsoft-365/security/defender-endpoint/network-protection-macos.md
  microsoft-365/security/defender-vulnerability-management/windows-authenticated-scan.md
  microsoft-365/security/defender/advanced-hunting-emailattachmentinfo-table.md
  microsoft-365/security/defender/advanced-hunting-emailevents-table.md
  microsoft-365/security/defender/advanced-hunting-emailpostdeliveryevents-table.md
  microsoft-365/security/defender/advanced-hunting-emailurlinfo-table.md
  microsoft-365/security/defender/advanced-hunting-errors.md
  microsoft-365/security/defender/advanced-hunting-example.md
  microsoft-365/security/defender/advanced-hunting-expert-training.md
  microsoft-365/security/defender/advanced-hunting-extend-data.md
  microsoft-365/security/defender/advanced-hunting-fileprofile-function.md
  microsoft-365/security/defender/advanced-hunting-find-ransomware.md
  microsoft-365/security/defender/advanced-hunting-go-hunt.md
  microsoft-365/security/defender/advanced-hunting-identitydirectoryevents-table.md
  microsoft-365/security/defender/advanced-hunting-identityinfo-table.md
  microsoft-365/security/defender/advanced-hunting-identitylogonevents-table.md
  microsoft-365/security/defender/advanced-hunting-identityqueryevents-table.md
  microsoft-365/security/defender/advanced-hunting-limits.md
  microsoft-365/security/defender/advanced-hunting-link-to-incident.md
  microsoft-365/security/defender/advanced-hunting-migrate-from-mde.md
  microsoft-365/security/defender/advanced-hunting-modes.md
  microsoft-365/security/defender/advanced-hunting-overview.md
  microsoft-365/security/defender/advanced-hunting-query-builder-details.md
  microsoft-365/security/defender/advanced-hunting-query-builder-results.md
  microsoft-365/security/defender/advanced-hunting-query-builder.md
  microsoft-365/security/defender/advanced-hunting-query-emails-devices.md
  microsoft-365/security/defender/advanced-hunting-query-language.md
  microsoft-365/security/defender/advanced-hunting-query-results.md
  microsoft-365/security/defender/advanced-hunting-schema-changes.md
  microsoft-365/security/defender/advanced-hunting-schema-tables.md
  microsoft-365/security/defender/advanced-hunting-seenby-function.md
  microsoft-365/security/defender/advanced-hunting-shared-queries.md
Labels: Microsoft submitter

#10802 Update enable-troubleshooting-mode.md
  microsoft-365/security/defender-endpoint/enable-troubleshooting-mode.md
Labels: Defender for Endpoint

#10807 Marking "default sublabel" fully rolled out in Beta for WXP
  microsoft-365/compliance/sensitivity-labels-versions.md
Labels: compliance

#10725 Update dlp-configure-endpoint-settings.md
  microsoft-365/compliance/dlp-configure-endpoint-settings.md
Labels: compliance, Microsoft submitter

#10817 Repo sync working branch
  .openpublishing.redirection.json
  microsoft-365/admin/add-users/add-new-employee.md
  microsoft-365/admin/add-users/add-users.md
  microsoft-365/admin/get-help-support.md
  microsoft-365/admin/manage/assign-licenses-to-users.md
  microsoft-365/admin/setup/employee-quick-setup.md
  microsoft-365/business-premium/m365-campaigns-setup.md
  microsoft-365/business-premium/m365bp-setup.md
  microsoft-365/security/defender-business/compare-mdb-m365-plans.md
  microsoft-365/security/defender-business/get-defender-business.md
  microsoft-365/security/defender-business/index.yml
  microsoft-365/security/defender-business/mdb-asr.md
  microsoft-365/security/defender-business/mdb-configure-security-settings.md
  microsoft-365/security/defender-business/mdb-faq.yml
  microsoft-365/security/defender-business/mdb-next-gen-configuration-settings.md
  microsoft-365/security/defender-business/mdb-offboard-devices.md
  microsoft-365/security/defender-business/mdb-onboard-devices.md
  microsoft-365/security/defender-business/mdb-reports.md
  microsoft-365/security/defender-business/mdb-requirements.md
  microsoft-365/security/defender-business/mdb-simplified-configuration.md
  microsoft-365/security/defender-business/mdb-troubleshooting.yml
  microsoft-365/security/defender-business/mdb-tutorials.md
  microsoft-365/security/defender-business/mdb-use-wizard.md
  microsoft-365/security/defender-business/toc.yml
  microsoft-365/security/defender-endpoint/faqs-tamper-protection.md
  microsoft-365/security/defender-endpoint/prevent-changes-to-security-settings-with-tamper-protection.md
  microsoft-365/security/defender-endpoint/windows-whatsnew.md
  microsoft-365/security/office-365-security/defender-for-office-365-whats-new.md
Labels: Microsoft submitter

#10768 Repositioning note of advanced delivery
  microsoft-365/security/office-365-security/tenant-allow-block-list-about.md
Labels: Microsoft submitter, Defender for Office 365

#10769 Repositioning note of advanced delivery
  microsoft-365/security/office-365-security/tenant-allow-block-list-about.md
Labels: Microsoft submitter, Defender for Office 365

#10762 Update skip-filtering-phishing-simulations-sec-ops-mailboxes.md
  microsoft-365/security/office-365-security/skip-filtering-phishing-simulations-sec-ops-mailboxes.md
Labels: Defender for Office 365

#10835 Repo sync working branch
  microsoft-365/compliance/create-a-keyword-dictionary.md
  microsoft-365/compliance/sensitivity-labels-office-apps.md
  microsoft-365/enterprise/external-guest-access.md
  microsoft-365/includes/microsoft-365-content-updates.md
  microsoft-365/media/default-sublabel-example.png
  microsoft-365/security/defender-endpoint/indicator-ip-domain.md
  microsoft-365/security/defender-endpoint/mac-schedule-scan.md
Labels: Microsoft submitter

#10776 Update reports-email-security.md
  microsoft-365/security/office-365-security/reports-email-security.md
Labels: Microsoft submitter, Defender for Office 365

#10826 Update defender-for-office-365-whats-new.md
  microsoft-365/security/office-365-security/defender-for-office-365-whats-new.md
Labels: Microsoft submitter

#10831 Updated allow guidance
  microsoft-365/security/office-365-security/tenant-allow-block-list-about.md
Labels: Microsoft submitter

#10840 Repo sync working branch
  microsoft-365/enterprise/multi-geo-capabilities-in-exchange-online.md
  microsoft-365/security/office-365-security/anti-spam-policies-configure.md
  microsoft-365/security/office-365-security/quarantine-admin-manage-messages-files.md
  microsoft-365/security/office-365-security/tenant-allow-block-list-email-spoof-configure.md
  microsoft-365/security/office-365-security/user-tags-about.md
Labels: Microsoft submitter

#10842 Repo sync working branch
  microsoft-365/compliance/TOC.yml
  microsoft-365/compliance/device-onboarding-macos-overview.md
  microsoft-365/compliance/dlp-create-deploy-policy.md
  microsoft-365/compliance/dlp-learn-about-dlp.md
  microsoft-365/compliance/dlp-overview-plan-for-dlp.md
  microsoft-365/compliance/dlp-policy-design.md
  microsoft-365/compliance/dlp-policy-reference.md
Labels: Microsoft submitter

#10815 Update retention-cmdlets.md
  microsoft-365/compliance/retention-cmdlets.md
Labels: Microsoft submitter

#10775 Update for GA
  microsoft-365/security/defender-endpoint/network-protection-macos.md
Labels: Microsoft submitter, Defender for Endpoint

#10844 Add note for basic auth requirement for login
  microsoft-365/compliance/dlp-migration-assistant-for-symantec-use.md
Labels: compliance, Microsoft submitter

#10795 Update endpoint-dlp-learn-about.md
  microsoft-365/compliance/endpoint-dlp-learn-about.md
Labels: compliance

#10784 Update sit-defn-canada-drivers-license-number.md
  microsoft-365/compliance/sit-defn-canada-drivers-license-number.md
Labels: compliance, Microsoft submitter

#10332 Update dlp-configure-endpoint-settings.md
  microsoft-365/compliance/dlp-configure-endpoint-settings.md
Labels: compliance, Microsoft submitter

#10745 Update dlp-conditions-and-exceptions.md
  microsoft-365/compliance/dlp-conditions-and-exceptions.md
Labels: compliance, Microsoft submitter

#10743 Update dlp-policy-reference.md
  microsoft-365/compliance/dlp-policy-reference.md
Labels: compliance, Microsoft submitter

#10861 Update mdb-faq.yml
  microsoft-365/security/defender-business/mdb-faq.yml
Labels: Microsoft submitter
