Repository MicrosoftDocs/microsoft-365-docs, pull requests merged in 2023-12, with the labels that each got.

#13248 Update linux-install-manually.md
  microsoft-365/security/defender-endpoint/linux-install-manually.md
Labels: microsoft-365-security/svc, mde/subsvc, Tier3

#12763 Update support-contact-info.md
  microsoft-365/admin/support-contact-info.md
Labels: admin

#13259 Confusion about similar URL allow
  microsoft-365/security/office-365-security/tenant-allow-block-list-urls-configure.md
Labels: Microsoft submitter, microsoft-365-security/svc, mdo/subsvc, Tier1

#13260 confusion about similar URL allow
  microsoft-365/security/office-365-security/submissions-admin.md
Labels: Microsoft submitter, microsoft-365-security/svc, mdo/subsvc, Tier1

#13261 Confusion about similar URL allow
  microsoft-365/security/office-365-security/tenant-allow-block-list-about.md
Labels: Microsoft submitter, microsoft-365-security/svc, mdo/subsvc, Tier1

#13253 Update configure-endpoints-vdi.md
  microsoft-365/security/defender-endpoint/configure-endpoints-vdi.md
Labels: microsoft-365-security/svc, Tier2, mde/subsvc, defender-endpoint/svc, onboard/subsvc

#13267 Update modern-desktop-deployment-and-management-lab.md
  microsoft-365/enterprise/modern-desktop-deployment-and-management-lab.md
Labels: microsoft-365-enterprise/svc

#13280 Update whats-new-in-microsoft-defender-endpoint.md
  microsoft-365/security/defender-endpoint/whats-new-in-microsoft-defender-endpoint.md
Labels: Microsoft submitter, Tier1, defender-endpoint/svc

#13139 Update run-advanced-query-sample-powershell.md
  microsoft-365/security/defender-endpoint/api/run-advanced-query-sample-powershell.md
Labels: Defender for Endpoint, microsoft-365-security/svc, mde/subsvc, Tier3

#13231 Update network-protection-macos.md
  microsoft-365/security/defender-endpoint/network-protection-macos.md
Labels: microsoft-365-security/svc, Tier2, mde/subsvc

#13142 Update deploy-and-configure-the-report-message-add-in.md
  microsoft-365/security/office-365-security/step-by-step-guides/deploy-and-configure-the-report-message-add-in.md
Labels: microsoft-365-security/svc, mdo/subsvc, Tier3

#13143 Update configure-endpoints-sccm.md
  microsoft-365/security/defender-endpoint/configure-endpoints-sccm.md
Labels: microsoft-365-security/svc, Tier1, mde/subsvc

#13149 Update configure-conditional-access.md
  microsoft-365/security/defender-endpoint/configure-conditional-access.md
Labels: Defender for Endpoint, microsoft-365-security/svc, Tier2, mde/subsvc

#13216 Update contact-support.md
  microsoft-365/security/defender-endpoint/contact-support.md
Labels: microsoft-365-security/svc, Tier2, mde/subsvc

#13145 Update azure-server-integration.md
  microsoft-365/security/defender-endpoint/azure-server-integration.md
Labels: microsoft-365-security/svc, mde/subsvc, Tier3

#13159 Fixed some values for determination and classification in update aler…
  microsoft-365/security/defender-endpoint/api/update-alert.md
Labels: microsoft-365-security/svc, mde/subsvc, Tier3, defender-endpoint/svc, reference/subsvc

#13148 Update alerts-queue.md
  microsoft-365/security/defender-endpoint/alerts-queue.md
Labels: microsoft-365-security/svc, Tier1, mde/subsvc

#13144 Update view-incidents-queue.md
  microsoft-365/security/defender-endpoint/view-incidents-queue.md
Labels: microsoft-365-security/svc, Tier2, mde/subsvc

#13293 Add issue template config file and update docfx.json
  .github/ISSUE_TEMPLATE/config.yml
  microsoft-365/docfx.json
Labels: Microsoft submitter

#13307 Updating the Linux kernel version required by ebpf sensor in MDATP
  microsoft-365/security/defender-endpoint/linux-support-ebpf.md
Labels: Microsoft submitter, Tier3, defender-endpoint/svc, linux/subsvc

#13304 Update attack-surface-reduction-rules-reference.md
  microsoft-365/security/defender-endpoint/attack-surface-reduction-rules-reference.md
Labels: Tier2, defender-endpoint/svc, asr/subsvc

#13305 Update mac-resources.md
  microsoft-365/security/defender-endpoint/mac-resources.md
Labels: Tier3, defender-endpoint/svc, macos/subsvc

#13303 Update review-scan-results-microsoft-defender-antivirus.md
  microsoft-365/security/defender-endpoint/review-scan-results-microsoft-defender-antivirus.md
Labels: Tier2, defender-endpoint/svc, ngp/subsvc

#13306 Update mailbox-usage.md
  microsoft-365/admin/activity-reports/mailbox-usage.md
Labels: microsoft-365-business/svc, Tier2

#13299 Fix a few typos
  microsoft-365/enterprise/manage-skype-for-business-online-policies-with-microsoft-365-powershell.md
  microsoft-365/enterprise/microsoft-365-monitoring.md
  microsoft-365/lighthouse/m365-lighthouse-manage-sspr.md
  microsoft-365/security/defender-business/mdb-manage-devices.md
  microsoft-365/security/defender-business/mdb-next-generation-protection.md
  microsoft-365/security/defender-business/mdb-view-manage-incidents.md
  microsoft-365/security/defender-endpoint/android-support-signin.md
  microsoft-365/security/defender-endpoint/api/api-hello-world.md
  microsoft-365/security/defender-endpoint/api/apis-intro.md
  microsoft-365/security/defender-endpoint/api/get-investigation-object.md
  microsoft-365/security/defender-endpoint/api/get-live-response-result.md
  microsoft-365/security/defender-endpoint/api/run-live-response.md
  microsoft-365/security/defender-endpoint/defender-endpoint-plan-1.md
  microsoft-365/security/defender-endpoint/deploy-manage-removable-storage-group-policy.md
  microsoft-365/security/defender-endpoint/deploy-manage-removable-storage-intune.md
  microsoft-365/security/defender-endpoint/live-response.md
  microsoft-365/security/defender-endpoint/mac-install-manually.md
  microsoft-365/security/defender-endpoint/mac-whatsnew.md
  microsoft-365/security/defender-endpoint/microsoft-defender-antivirus-pilot-ring-deployment-group-policy-wsus.md
  microsoft-365/security/defender-endpoint/microsoft-defender-antivirus-production-ring-deployment-group-policy-wsus.md
  microsoft-365/security/defender-endpoint/microsoft-defender-antivirus-ring-deployment-group-policy-microsoft-update.md
  microsoft-365/security/defender-endpoint/microsoft-defender-antivirus-ring-deployment-group-policy-network-share.md
  microsoft-365/security/defender-endpoint/microsoft-defender-antivirus-ring-deployment-group-policy-wsus-appendices.md
  microsoft-365/security/defender-endpoint/microsoft-defender-antivirus-ring-deployment-intune-microsoft-update.md
  microsoft-365/security/defender-endpoint/microsoft-defender-antivirus-ring-deployment-sscm-wsus.md
  microsoft-365/security/defender-endpoint/non-windows.md
  microsoft-365/security/defender-endpoint/tamperprotection-macos.md
  microsoft-365/security/defender-endpoint/troubleshoot-live-response.md
  microsoft-365/security/defender/advanced-hunting-devicetvmsoftwareinventory-table.md
  microsoft-365/security/defender/deception-overview.md
  microsoft-365/security/office-365-security/connectors-remove-blocked.md
  microsoft-365/security/office-365-security/mdo-email-entity-page.md
  microsoft-365/security/office-365-security/mdo-portal-permissions.md
  microsoft-365/security/office-365-security/outbound-spam-restore-restricted-users.md
  microsoft-365/security/office-365-security/pim-in-mdo-configure.md
  microsoft-365/security/office-365-security/step-by-step-guides/ensuring-you-always-have-the-optimal-security-controls-with-preset-security-policies.md
  microsoft-365/security/office-365-security/step-by-step-guides/track-and-respond-to-emerging-threats-with-campaigns.md
  microsoft-365/security/office-365-security/submissions-user-reported-messages-custom-mailbox.md
  microsoft-365/solutions/apps-add-step-5.md
  microsoft-365/solutions/apps-config-step-2.md
  microsoft-365/solutions/apps-guide-overview.md
  microsoft-365/solutions/apps-license-overview.md
  microsoft-365/solutions/apps-purchase-volume.md
  microsoft-365/solutions/apps-type-lob.md
  microsoft-365/solutions/apps-type-overview.md
  microsoft-365/solutions/ransomware-protection-microsoft-365-information.md
  microsoft-365/solutions/ransomware-protection-microsoft-365.md
Labels: Merge large pull request, Tier1, Tier2, microsoft-365-enterprise/svc, Tier3, defender-xdr/svc, adv-hunting/subsvc, defender-endpoint/svc, macos/subsvc, onboard/subsvc, reference/subsvc, edr/subsvc, ngp/subsvc, microsoft-365-lighthouse/svc, defender-business/svc, android/subsvc, asr/subsvc

#13308 Update recommended-settings-for-eop-and-office365.md
  microsoft-365/security/office-365-security/recommended-settings-for-eop-and-office365.md
Labels: microsoft-365-security/svc, mdo/subsvc, Tier1

#13309 Update backup-faq.md
  microsoft-365/syntex/backup/backup-faq.md
Labels: microsoft-syntex/svc

#13313 Fix a few typos
  microsoft-365/admin/activity-reports/project-activity.md
  microsoft-365/admin/add-users/reset-passwords.md
  microsoft-365/admin/create-groups/group-mailbox-size-management.md
  microsoft-365/admin/misc/icann-verification-of-contact-information.md
  microsoft-365/business-premium/m365bp-protect-admin-accounts.md
  microsoft-365/commerce/billing-and-payments/change-payment-frequency.md
  microsoft-365/commerce/billing-experience-overview.md
  microsoft-365/enterprise/high-availability-federated-authentication-phase-2-configure-domain-controllers.md
  microsoft-365/enterprise/high-availability-federated-authentication-phase-3-configure-ad-fs-servers.md
  microsoft-365/enterprise/high-availability-federated-authentication-phase-5-configure-federated-authentic.md
  microsoft-365/enterprise/microsoft-365-network-connectivity-principles.md
  microsoft-365/enterprise/upgrade-from-sharepoint-2010.md
  microsoft-365/security/defender/api-incident.md
  microsoft-365/security/office-365-security/advanced-delivery-policy-configure.md
  microsoft-365/security/office-365-security/air-remediation-actions.md
  microsoft-365/security/office-365-security/quarantine-admin-manage-messages-files.md
  microsoft-365/topics/topics-adoption-getstarted.md
  microsoft-365/whiteboard/manage-sharing-gcc.md
Labels: microsoft-365-security/svc, mdo/subsvc, Tier1, microsoft-365-business/svc, Tier2, microsoft-365-enterprise/svc, Tier3, defender-xdr/svc, defender-experts/svc, viva/svc, viva-topics/subsvc, dex-xdr/subsvc, whiteboard/svc

#13310 Update mde-plugin-wsl.md
  microsoft-365/security/defender-endpoint/mde-plugin-wsl.md
Labels: Tier2, defender-endpoint/svc

#13302 Update manage-security-policies.md
  microsoft-365/security/defender-endpoint/manage-security-policies.md
Labels: Tier2, defender-endpoint/svc

#13273 Update idle-session-timeout-web-apps.md
  microsoft-365/admin/manage/idle-session-timeout-web-apps.md
Labels: microsoft-365-business/svc, Tier3

#13291 Updating instructions for adding alias email addresses
  microsoft-365/admin/email/add-another-email-alias-for-a-user.md
Labels: Tier1, microsoft-365-business/svc

#13290 Update troubleshoot-security-config-mgt.md
  microsoft-365/security/defender-endpoint/troubleshoot-security-config-mgt.md
Labels: Microsoft submitter, Tier3, defender-endpoint/svc, onboard/subsvc

#13316 Fix typos
  microsoft-365/admin/adoption/apps-health.md
  microsoft-365/admin/adoption/teamwork.md
  microsoft-365/admin/moveto-microsoft-365/migrate-email.md
  microsoft-365/commerce/manage-saas-apps.md
  microsoft-365/commerce/understand-proposal-workflow.md
  microsoft-365/enterprise/add-a-domain-to-a-client-tenancy-with-windows-powershell-for-delegated-access-pe.md
  microsoft-365/enterprise/microsoft-azure-architectures-for-sharepoint-2013.md
  microsoft-365/frontline/flw-setup-microsoft-365.md
  microsoft-365/security/defender-endpoint/linux-support-ebpf.md
  microsoft-365/security/defender/eval-defender-office-365-pilot.md
  microsoft-365/security/defender/faq-incident-notifications-xdr.md
  microsoft-365/security/office-365-security/anti-phishing-protection-tuning.md
  microsoft-365/security/office-365-security/quarantine-about.md
  microsoft-365/security/office-365-security/submissions-user-reported-messages-custom-mailbox.md
  microsoft-365/solutions/apps-purchase-store.md
  microsoft-365/solutions/configure-teams-highly-sensitive-protection.md
  microsoft-365/syntex/backup/backup-pricing.md
  microsoft-365/test-base/buildpackage.md
Labels: microsoft-365-security/svc, mdo/subsvc, Tier1, microsoft-365-business/svc, Tier2, microsoft-365-enterprise/svc, Tier3, microsoft-syntex/svc, defender-xdr/svc, defender-experts/svc, o365-solutions/svc, test-base/svc, defender-endpoint/svc, linux/subsvc, dex-xdr/subsvc, microsoft-365-frontline/svc

#13301 Update deploy-manage-removable-storage-intune.md
  microsoft-365/security/defender-endpoint/deploy-manage-removable-storage-intune.md
Labels: Tier2, defender-endpoint/svc, asr/subsvc

#13287 Update respond-machine-alerts.md
  microsoft-365/security/defender-endpoint/respond-machine-alerts.md
Labels: Microsoft submitter, Tier2, defender-endpoint/svc, edr/subsvc

#13315 Update mdo-portal-permissions.md
  microsoft-365/security/office-365-security/mdo-portal-permissions.md
Labels: microsoft-365-security/svc, mdo/subsvc, Tier1

#13317 Update backup-setup.md
  microsoft-365/syntex/backup/backup-setup.md
Labels: Microsoft submitter, microsoft-syntex/svc
