Repository MicrosoftDocs/microsoft-365-docs, pull requests merged in 2023-03, with the labels that each got.

#11184 Update safe-links-about.md
  microsoft-365/security/office-365-security/safe-links-about.md
Labels: Microsoft submitter, Defender for Office 365

#10247 Removing extra > character from section header
  microsoft-365/compliance/bulk-import-external-contacts.md
Labels: compliance

#11169 Update Symantec supported version to 15.8
  microsoft-365/compliance/dlp-migration-assistant-for-symantec-learn.md
Labels: compliance, Microsoft submitter

#11108 Added SaltStack and fixed formatting
  microsoft-365/security/defender-endpoint/linux-schedule-scan-mde.md
Labels: Defender for Endpoint

#11170 Update sit-defn-france-national-id-card.md
  microsoft-365/compliance/sit-defn-france-national-id-card.md
Labels: compliance

#11171 Update sit-defn-us-individual-taxpayer-identification-number.md
  microsoft-365/compliance/sit-defn-us-individual-taxpayer-identification-number.md
Labels: compliance

#11195 Update dlp-policy-tips-reference.md
  microsoft-365/compliance/dlp-policy-tips-reference.md
Labels: Microsoft submitter

#11208 Repo sync working branch
  microsoft-365/admin/activity-reports/active-users-ww.md
  microsoft-365/admin/activity-reports/browser-usage-report.md
  microsoft-365/admin/activity-reports/email-activity-ww.md
  microsoft-365/admin/activity-reports/email-apps-usage-ww.md
  microsoft-365/admin/activity-reports/forms-activity-ww.md
  microsoft-365/admin/activity-reports/forms-pro-activity-ww.md
  microsoft-365/admin/activity-reports/mailbox-usage.md
  microsoft-365/admin/activity-reports/microsoft-office-activations-ww.md
  microsoft-365/admin/activity-reports/microsoft-teams-device-usage-preview.md
  microsoft-365/admin/activity-reports/microsoft-teams-usage-activity.md
  microsoft-365/admin/activity-reports/microsoft-teams-user-activity-preview.md
  microsoft-365/admin/activity-reports/microsoft365-apps-usage-ww.md
  microsoft-365/admin/activity-reports/office-365-groups-ww.md
  microsoft-365/admin/activity-reports/onedrive-for-business-activity-ww.md
  microsoft-365/admin/activity-reports/onedrive-for-business-usage-ww.md
  microsoft-365/admin/activity-reports/project-activity.md
  microsoft-365/admin/activity-reports/sharepoint-activity-ww.md
  microsoft-365/admin/activity-reports/sharepoint-site-usage-ww.md
  microsoft-365/admin/activity-reports/viva-insights-activity.md
  microsoft-365/admin/activity-reports/viva-learning-activity.md
  microsoft-365/admin/activity-reports/yammer-activity-report-ww.md
  microsoft-365/admin/activity-reports/yammer-device-usage-report-ww.md
  microsoft-365/admin/activity-reports/yammer-groups-activity-report-ww.md
  microsoft-365/admin/manage/servicenow-incidents.md
  microsoft-365/compliance/dlp-policy-reference.md
  microsoft-365/compliance/sit-get-started-exact-data-match-test.md
  microsoft-365/compliance/sit-learn-about-exact-data-match-based-sits.md
  microsoft-365/compliance/sit-limits.md
  microsoft-365/compliance/sit-manage-custom-sits-compliance-center.md
  microsoft-365/compliance/sit-modify-a-custom-sensitive-information-type-in-powershell.md
  microsoft-365/compliance/sit-modify-edm-schema-configurable-match.md
  microsoft-365/compliance/sit-modify-keyword-dictionary.md
  microsoft-365/compliance/whats-new.md
  microsoft-365/enterprise/microsoft-365-u-s-government-dod-endpoints.md
  microsoft-365/enterprise/microsoft-365-u-s-government-gcc-high-endpoints.md
  microsoft-365/enterprise/urls-and-ip-address-ranges-21vianet.md
  microsoft-365/enterprise/urls-and-ip-address-ranges.md
  microsoft-365/frontline/shifts-connector-blue-yonder-known-issues.md
  microsoft-365/frontline/shifts-connector-ukg-known-issues.md
  microsoft-365/frontline/shifts-connector-wizard.md
  microsoft-365/security/defender-endpoint/linux-install-manually.md
  microsoft-365/security/defender/defender-experts-report.md
  microsoft-365/security/defender/m365d-autoir.md
  microsoft-365/security/defender/onboarding-defender-experts-for-hunting.md
  microsoft-365/security/office-365-security/create-block-sender-lists-in-office-365.md
  microsoft-365/syntex/index.yml
Labels: Microsoft submitter

#11196 update stp document for "restricted document"
  microsoft-365/compliance/get-started-with-service-trust-portal.md
Labels: Microsoft submitter

#11215 Repo sync working branch
  microsoft-365/compliance/communication-compliance-configure.md
  microsoft-365/compliance/communication-compliance-investigate-remediate.md
  microsoft-365/compliance/communication-compliance-policies.md
  microsoft-365/compliance/communication-compliance-reports-audits.md
  microsoft-365/compliance/communication-compliance.md
  microsoft-365/docfx.json
Labels: Microsoft submitter

#11193 Update document-fingerprinting.md
  microsoft-365/compliance/document-fingerprinting.md
Labels: Microsoft submitter

#11225 Add Admin Unit Note for DLP Alerts/Incidents
  microsoft-365/security/defender/investigate-dlp.md
Labels: Microsoft submitter

#11206 Update deployment-vdi-microsoft-defender-antivirus.md
  microsoft-365/security/defender-endpoint/deployment-vdi-microsoft-defender-antivirus.md
Labels: Defender for Endpoint

#11218 Update message-headers-eop-mdo.md
  microsoft-365/security/office-365-security/message-headers-eop-mdo.md
Labels: Defender for Office 365

#11241 Update common-exclusion-mistakes-microsoft-defender-antivirus.md
  microsoft-365/security/defender-endpoint/common-exclusion-mistakes-microsoft-defender-antivirus.md
Labels: Defender for Endpoint

#11237 Update onboard-windows-multi-session-device.md
  microsoft-365/security/defender-endpoint/onboard-windows-multi-session-device.md
Labels: Defender for Endpoint

#11238 Update schedule-antivirus-scans-group-policy.md
  microsoft-365/security/defender-endpoint/schedule-antivirus-scans-group-policy.md
Labels: Defender for Endpoint

#11250 Repo sync working branch
  microsoft-365/compliance/ediscovery-premium-limits.md
  microsoft-365/security/defender-endpoint/enable-troubleshooting-mode.md
  microsoft-365/security/defender-vulnerability-management/defender-vulnerability-management-capabilities.md
  microsoft-365/security/office-365-security/quarantine-policies.md
  microsoft-365/security/office-365-security/quarantine-quarantine-notifications.md
  microsoft-365/security/office-365-security/recommended-settings-for-eop-and-office365.md
  microsoft-365/syntex/TOC.yml
  microsoft-365/syntex/set-up-content-understanding.md
  microsoft-365/syntex/set-up-microsoft-syntex.md
  microsoft-365/syntex/syntex-azure-billing.md
  microsoft-365/syntex/syntex-licensing.md
  microsoft-365/syntex/syntex-pay-as-you-go-services.md
Labels: Microsoft submitter

#11182 Intune install method to use Settings Catalog
  microsoft-365/compliance/dlp-chrome-get-started.md
Labels: compliance

#11212 Update sit-get-started-exact-data-match-export-data.md
  microsoft-365/compliance/sit-get-started-exact-data-match-export-data.md
Labels: compliance

#11247 Update get-assessment-non-cpe-software-inventory.md
  microsoft-365/security/defender-endpoint/get-assessment-non-cpe-software-inventory.md
Labels: Defender for Endpoint

#11246 Update get-assessment-browser-extensions.md
  microsoft-365/security/defender-endpoint/get-assessment-browser-extensions.md
Labels: Defender for Endpoint

#11260 Updated preview information and language.
  microsoft-365/enterprise/cross-tenant-identity-mapping.md
Labels: Microsoft submitter

#11263 Update get-started-with-data-lifecycle-management.md
  microsoft-365/compliance/get-started-with-data-lifecycle-management.md
Labels: Microsoft submitter

#11181 Update configure-proxy-internet.md
  microsoft-365/security/defender-endpoint/configure-proxy-internet.md
Labels: Defender for Endpoint

#11180 Update get-assessment-software-inventory.md
  microsoft-365/security/defender-endpoint/get-assessment-software-inventory.md
Labels: Defender for Endpoint

#11148 Update configure-proxy-internet.md
  microsoft-365/security/defender-endpoint/configure-proxy-internet.md
Labels: Defender for Endpoint

#11146 Update add-or-remove-machine-tags.md
  microsoft-365/security/defender-endpoint/add-or-remove-machine-tags.md
Labels: Defender for Endpoint

#10995 Update indicator-ip-domain.md
  microsoft-365/security/defender-endpoint/indicator-ip-domain.md
Labels: Defender for Endpoint

#10912 Update mac-updates.md
  microsoft-365/security/defender-endpoint/mac-updates.md
Labels: Defender for Endpoint

#10749 Device Isolation for Linux is in public preview
  microsoft-365/security/defender-endpoint/supported-capabilities-by-platform.md
Labels: Microsoft submitter, Defender for Endpoint

#11265 Update manage-data-organizations.md
  microsoft-365/whiteboard/manage-data-organizations.md
Labels: Microsoft submitter, Whiteboard

#11264 Updating the text for PCR value in Overview page, and linking PCR definition in insights to overview page
  microsoft-365/security/office-365-security/attack-simulation-training-get-started.md
  microsoft-365/security/office-365-security/attack-simulation-training-insights.md
Labels: Microsoft submitter, Defender for Office 365

#11279 Update reports-defender-for-office-365.md
  microsoft-365/security/office-365-security/reports-defender-for-office-365.md
Labels: Microsoft submitter

#10813 Update o365-data-locations.md
  microsoft-365/enterprise/o365-data-locations.md
Labels: Enterprise, Microsoft submitter

#10845 Change `Office 365 CLI` to `CLI for Microsoft 365`
  microsoft-365/enterprise/use-microsoft-365-cdn-with-spo.md
Labels: Enterprise

#11274 Update linux-whatsnew.md
  microsoft-365/security/defender-endpoint/linux-whatsnew.md
Labels: Microsoft submitter, Defender for Endpoint

#10941 Update cross-tenant-mailbox-migration.md
  microsoft-365/enterprise/cross-tenant-mailbox-migration.md
Labels: Enterprise

#11298 Quarantine policies apply to anyone with EOP
  microsoft-365/security/office-365-security/quarantine-policies.md
Labels: Microsoft submitter, Defender for Office 365

#11229 Update microsoft-defender-endpoint-android.md
  microsoft-365/security/defender-endpoint/microsoft-defender-endpoint-android.md
Labels: Microsoft submitter, Defender for Endpoint

#11317 Update multi-geo-capabilities-in-teams-in-microsoft-365.md
  microsoft-365/enterprise/multi-geo-capabilities-in-teams-in-microsoft-365.md
Labels: Enterprise, Microsoft submitter

#11312 Update machineaction.md
  microsoft-365/security/defender-endpoint/machineaction.md
Labels: Defender for Endpoint

#11318 Update command-line-arguments-microsoft-defender-antivirus.md
  microsoft-365/security/defender-endpoint/command-line-arguments-microsoft-defender-antivirus.md
Labels: Microsoft submitter, Defender for Endpoint

#11306 Update report-monitor-microsoft-defender-antivirus.md
  microsoft-365/security/defender-endpoint/report-monitor-microsoft-defender-antivirus.md
Labels: Microsoft submitter, Defender for Endpoint

#11315 Spelling Mistake - Line 64
  microsoft-365/compliance/insider-risk-management-configure.md
Labels: compliance

#11324 Remove Additional resources webinar section
  microsoft-365/compliance/sensitivity-labels-teams-groups-sites.md
Labels: compliance

#11332 More detail on adding exceptions via GPO
  microsoft-365/security/defender-endpoint/customize-controlled-folders.md
Labels: Defender for Endpoint

#11329 Update configure-endpoints-sccm.md
  microsoft-365/security/defender-endpoint/configure-endpoints-sccm.md
Labels: Microsoft submitter, Defender for Endpoint

#11342 Update microsoft-defender-antivirus-compatibility.md
  microsoft-365/security/defender-endpoint/microsoft-defender-antivirus-compatibility.md
Labels: Defender for Endpoint

#11350 Update alert-policies.md
  microsoft-365/compliance/alert-policies.md
Labels: Microsoft submitter

#11340 updates on action behavior
  microsoft-365/syntex/automate-document-generation.md
Labels: Microsoft submitter, Syntex

#11358 Patch 1
  microsoft-365/enterprise/multi-geo-capabilities-in-teams-in-microsoft-365.md
Labels: Microsoft submitter

#11351 Update email-authentication-dmarc-configure.md
  microsoft-365/security/office-365-security/email-authentication-dmarc-configure.md
Labels: Microsoft submitter, Defender for Office 365

#11355 Adding a caveat for policy tips from test policy
  microsoft-365/compliance/use-notifications-and-policy-tips.md
Labels: compliance, Microsoft submitter

#11384 Update quarantine-end-user.md
  microsoft-365/security/office-365-security/quarantine-end-user.md
Labels: Microsoft submitter

#11385 Update quarantine-admin-manage-messages-files.md
  microsoft-365/security/office-365-security/quarantine-admin-manage-messages-files.md
Labels: Microsoft submitter

#11353 Update multi-geo-capabilities-in-onedrive-and-sharepoint-online-in-mi…
  microsoft-365/enterprise/multi-geo-capabilities-in-onedrive-and-sharepoint-online-in-microsoft-365.md
Labels: Enterprise, Microsoft submitter

#11397 Update defender-for-office-365-whats-new.md
  microsoft-365/security/office-365-security/defender-for-office-365-whats-new.md
Labels: Microsoft submitter

#11400 Repo sync working branch
  microsoft-365/compliance/communication-compliance-configure.md
  microsoft-365/compliance/ediscovery-identify-a-hold-on-an-exchange-online-mailbox.md
  microsoft-365/media/m365-cc-sc-no-icon.png
  microsoft-365/security/defender-endpoint/microsoft-defender-antivirus-updates.md
  microsoft-365/security/office-365-security/mdo-sec-ops-guide.md
  microsoft-365/security/office-365-security/responding-to-a-compromised-email-account.md
  microsoft-365/security/office-365-security/submissions-users-report-message-add-in-configure.md
Labels: Microsoft submitter

#11409 Fixed "rolling out" state for AIP Disabled by Default
  microsoft-365/compliance/sensitivity-labels-versions.md
Labels: compliance

#11415 Update tvm-microsoft-secure-score-devices.md
  microsoft-365/security/defender-vulnerability-management/tvm-microsoft-secure-score-devices.md
Labels: Microsoft submitter, Defender Vulnerability Management

#11421 Fix link tag
  microsoft-365/security/defender-endpoint/device-control-removable-storage-access-control.md
Labels: Defender for Endpoint

#11432 Update sensitivity-labels-versions.md
  microsoft-365/compliance/sensitivity-labels-versions.md
Labels: compliance

#11434 Repo sync working branch
  microsoft-365/admin/email/select-domain-to-use-for-email-from-microsoft-365-products.md
  microsoft-365/compliance/TOC.yml
  microsoft-365/compliance/apply-sensitivity-label-automatically.md
  microsoft-365/compliance/archiving-third-party-data.md
  microsoft-365/compliance/audit-log-activities.md
  microsoft-365/compliance/create-and-manage-inactive-mailboxes.md
  microsoft-365/compliance/sensitivity-labels-office-apps.md
  microsoft-365/security/defender-endpoint/device-control-removable-storage-access-control.md
  microsoft-365/security/office-365-security/office-365-ti.md
  microsoft-365/security/office-365-security/recommended-settings-for-eop-and-office365.md
Labels: Microsoft submitter

#11131 Removed mention of Briefing Email
  microsoft-365/admin/misc/cortana-integration.md
Labels: Microsoft submitter, admin

#11425 Fixed typo in country name
  microsoft-365/security/defender/microsoft-secure-score.md
Labels: Microsoft 365 Defender

#11386 Update remove-former-employee-step-5.md
  microsoft-365/admin/add-users/remove-former-employee-step-5.md
Labels: admin

#11443 Update microsoft-365-multi-geo.md
  microsoft-365/enterprise/microsoft-365-multi-geo.md
Labels: Enterprise

#11445 Update onboarding-endpoint-manager.md
  microsoft-365/security/defender-endpoint/onboarding-endpoint-manager.md
Labels: Defender for Endpoint

#11462 Update m365bp-mdb-whats-new.md
  microsoft-365/business-premium/m365bp-mdb-whats-new.md
Labels: Microsoft submitter

#11464 Repo sync working branch
  microsoft-365/admin/manage/pin-apps-to-app-launcher.md
  microsoft-365/compliance/deploy-scanner-prereqs.md
  microsoft-365/security/defender-endpoint/ios-install.md
  microsoft-365/security/defender-endpoint/tamperprotection-macos.md
  microsoft-365/solutions/collaborate-teams-direct-connect.md
Labels: Microsoft submitter

#11436 Update dlp-policy-tips-reference.md
  microsoft-365/compliance/dlp-policy-tips-reference.md
Labels: compliance

#11478 Update defender-endpoint-antivirus-exclusions.md
  microsoft-365/security/defender-endpoint/defender-endpoint-antivirus-exclusions.md
Labels: Microsoft submitter

#11476 Update need for Defender Security Reader perms for accessing ASR Reports
  microsoft-365/security/defender-endpoint/attack-surface-reduction-rules-report.md
Labels: Microsoft submitter, Defender for Endpoint

#11479 Update get-microsoft-365-campaigns.md
  microsoft-365/business-premium/get-microsoft-365-campaigns.md
Labels: Microsoft submitter

#11481 Update m365-campaigns-setup.md
  microsoft-365/business-premium/m365-campaigns-setup.md
Labels: Microsoft submitter

#11442 Update grant-mssp-access.md
  microsoft-365/security/defender-endpoint/grant-mssp-access.md
Labels: Defender for Endpoint

#11354 Update remove-former-employee-step-5.md
  microsoft-365/admin/add-users/remove-former-employee-step-5.md
Labels: Microsoft submitter, admin

#10829 Update idle-session-timeout-web-apps.md
  microsoft-365/admin/manage/idle-session-timeout-web-apps.md
Labels: admin

#11345 Update remove-former-employee-step-4.md
  microsoft-365/admin/add-users/remove-former-employee-step-4.md
Labels: admin

#11130 Update add-several-users-at-the-same-time.md
  microsoft-365/enterprise/add-several-users-at-the-same-time.md
Labels: Enterprise

#11491 Repo sync working branch
  microsoft-365/compliance/dlp-configure-view-alerts-policies.md
  microsoft-365/compliance/ediscovery-decryption.md
Labels: Microsoft submitter

#10850 Update use-qr-code-download-outlook.md
  microsoft-365/admin/manage/use-qr-code-download-outlook.md
Labels: admin

#11378 Update sit-defn-portugal-citizen-card-number.md
  microsoft-365/compliance/sit-defn-portugal-citizen-card-number.md
Labels: compliance

#11377 Update sit-defn-indonesia-identity-card-number.md
  microsoft-365/compliance/sit-defn-indonesia-identity-card-number.md
Labels: compliance

#11376 Update sit-defn-south-korea-resident-registration-number.md
  microsoft-365/compliance/sit-defn-south-korea-resident-registration-number.md
Labels: compliance

#11373 Update sit-defn-france-national-id-card.md
  microsoft-365/compliance/sit-defn-france-national-id-card.md
Labels: compliance

#11374 Update sit-defn-us-individual-taxpayer-identification-number.md
  microsoft-365/compliance/sit-defn-us-individual-taxpayer-identification-number.md
Labels: compliance

#11406 Update linux-install-manually.md
  microsoft-365/security/defender-endpoint/linux-install-manually.md
Labels: Defender for Endpoint

#11347 Update microsoft-cloud-app-security-integration.md
  microsoft-365/security/defender-endpoint/microsoft-cloud-app-security-integration.md
Labels: Defender for Endpoint

#11346 The hardware requirements for MDE are confusing
  microsoft-365/security/defender-endpoint/minimum-requirements.md
Labels: Defender for Endpoint

#11343 Update ios-configure-features.md
  microsoft-365/security/defender-endpoint/ios-configure-features.md
Labels: Defender for Endpoint

#11236 Update non-windows.md
  microsoft-365/security/defender-endpoint/non-windows.md
Labels: Defender for Endpoint

#11235 Update tamperprotection-macos.md
  microsoft-365/security/defender-endpoint/tamperprotection-macos.md
Labels: Defender for Endpoint

#11220 Update mac-install-with-intune.md
  microsoft-365/security/defender-endpoint/mac-install-with-intune.md
Labels: Defender for Endpoint

#11201 Corrected the date format in one entry
  microsoft-365/security/defender-endpoint/api-release-notes.md
Labels: Microsoft submitter, Defender for Endpoint

#11499 Update reports-email-security.md
  microsoft-365/security/office-365-security/reports-email-security.md
Labels: Microsoft submitter

#11043 Update add-domain.md
  microsoft-365/admin/setup/add-domain.md
Labels: admin

#11004 Update create-dns-records-at-cloudflare.md
  microsoft-365/admin/dns/create-dns-records-at-cloudflare.md
Labels: admin

#11506 Update anti-malware-policies-configure.md
  microsoft-365/security/office-365-security/anti-malware-policies-configure.md
Labels: Defender for Office 365

#11510 Update specify-cloud-protection-level-microsoft-defender-antivirus.md
  microsoft-365/security/defender-endpoint/specify-cloud-protection-level-microsoft-defender-antivirus.md
Labels: Microsoft submitter

#11163 Update centralized-deployment-of-add-ins.md
  microsoft-365/admin/manage/centralized-deployment-of-add-ins.md
Labels: admin

#10458 Update to the overview page
  microsoft-365/admin/manage/servicenow-overview.md
Labels: Microsoft submitter, admin

#11277 Tekst in settings - service- reports point 3
  microsoft-365/admin/usage-analytics/enable-usage-analytics.md
Labels: admin

#11516 Update campaigns.md
  microsoft-365/security/office-365-security/campaigns.md
Labels: Microsoft submitter, Defender for Office 365

#11533 Repo sync working branch
  microsoft-365/admin/activity-reports/active-users-ww.md
  microsoft-365/admin/activity-reports/browser-usage-report.md
  microsoft-365/admin/activity-reports/email-activity-ww.md
  microsoft-365/admin/activity-reports/email-apps-usage-ww.md
  microsoft-365/admin/activity-reports/forms-activity-ww.md
  microsoft-365/admin/activity-reports/forms-pro-activity-ww.md
  microsoft-365/admin/activity-reports/mailbox-usage.md
  microsoft-365/admin/activity-reports/microsoft-office-activations-ww.md
  microsoft-365/admin/activity-reports/microsoft-teams-device-usage-preview.md
  microsoft-365/admin/activity-reports/microsoft-teams-usage-activity.md
  microsoft-365/admin/activity-reports/microsoft-teams-user-activity-preview.md
  microsoft-365/admin/activity-reports/microsoft365-apps-usage-ww.md
  microsoft-365/admin/activity-reports/office-365-groups-ww.md
  microsoft-365/admin/activity-reports/onedrive-for-business-activity-ww.md
  microsoft-365/admin/activity-reports/onedrive-for-business-usage-ww.md
  microsoft-365/admin/activity-reports/project-activity.md
  microsoft-365/admin/activity-reports/sharepoint-activity-ww.md
  microsoft-365/admin/activity-reports/sharepoint-site-usage-ww.md
  microsoft-365/admin/activity-reports/visio-activity.md
  microsoft-365/admin/activity-reports/viva-insights-activity.md
  microsoft-365/admin/activity-reports/viva-learning-activity.md
  microsoft-365/admin/activity-reports/yammer-activity-report-ww.md
  microsoft-365/admin/activity-reports/yammer-device-usage-report-ww.md
  microsoft-365/admin/activity-reports/yammer-groups-activity-report-ww.md
  microsoft-365/compliance/apply-retention-labels-automatically.md
  microsoft-365/compliance/device-onboarding-offboarding-macos-intune-mde.md
  microsoft-365/compliance/device-onboarding-offboarding-macos-intune.md
  microsoft-365/compliance/device-onboarding-offboarding-macos-jamfpro-mde.md
  microsoft-365/compliance/device-onboarding-offboarding-macos-jamfpro.md
  microsoft-365/compliance/dlp-policy-tips-reference.md
  microsoft-365/compliance/whats-new.md
  microsoft-365/frontline/ehr-admin-epic.md
  microsoft-365/frontline/ehr-admin-oracle-health.md
  microsoft-365/includes/office-365-worldwide-endpoints.md
  microsoft-365/security/defender-endpoint/TOC.yml
  microsoft-365/security/defender-endpoint/assign-portal-access.md
  microsoft-365/security/defender-endpoint/basic-permissions.md
  microsoft-365/security/defender-endpoint/data-storage-privacy.md
  microsoft-365/security/defender-endpoint/mac-jamfpro-policies.md
  microsoft-365/security/defender-endpoint/mac-resources.md
  microsoft-365/security/defender-endpoint/manage-mde-post-migration-other-tools.md
  microsoft-365/security/defender-endpoint/network-protection-linux.md
  microsoft-365/security/defender-endpoint/network-protection-macos.md
  microsoft-365/security/defender-endpoint/onboarding-notification.md
  microsoft-365/security/defender-endpoint/technological-partners.md
  microsoft-365/security/defender/advanced-hunting-behaviorinfo-table.md
  microsoft-365/security/office-365-security/TOC.yml
  microsoft-365/security/office-365-security/attack-simulation-training-faq.md
  microsoft-365/security/office-365-security/attack-simulation-training-login-pages.md
  microsoft-365/security/office-365-security/attack-simulation-training-payloads.md
  microsoft-365/security/office-365-security/attack-simulation-training-simulation-automations.md
  microsoft-365/security/office-365-security/attack-simulation-training-teams.md
  microsoft-365/security/office-365-security/mdo-support-teams-about.md
  microsoft-365/security/office-365-security/safe-links-policies-configure.md
  microsoft-365/security/office-365-security/submissions-admin.md
  microsoft-365/security/office-365-security/tenant-allow-block-list-about.md
  microsoft-365/security/office-365-security/tenant-allow-block-list-urls-configure.md
Labels: Microsoft submitter

#11531 Updated scenarios allowed for URL allow
  microsoft-365/security/office-365-security/tenant-allow-block-list-urls-configure.md
Labels: Microsoft submitter

#11540 Update mdo-support-teams-about.md
  microsoft-365/security/office-365-security/mdo-support-teams-about.md
Labels: Microsoft submitter

#11544 Update retention-policies-teams.md
  microsoft-365/compliance/retention-policies-teams.md
Labels: compliance, Microsoft submitter
