Repository MicrosoftDocs/microsoft-365-docs, pull requests merged in 2023-07, with the labels that each got.

#11864 Update connect-to-microsoft-365-powershell.md
  microsoft-365/enterprise/connect-to-microsoft-365-powershell.md
Labels: Enterprise

#12367 Updated tampering detection titles
  microsoft-365/security/defender-endpoint/tamper-resiliency.md
Labels: Microsoft submitter, Defender for Endpoint

#12387 Update configure-advanced-scan-types-microsoft-defender-antivirus.md
  microsoft-365/security/defender-endpoint/configure-advanced-scan-types-microsoft-defender-antivirus.md
Labels: Defender for Endpoint

#12386 Update web-content-filtering.md
  microsoft-365/security/defender-endpoint/web-content-filtering.md
Labels: Defender for Endpoint

#12319 Fixes launch script path in test base buildpackage.md
  microsoft-365/test-base/buildpackage.md
Labels: Microsoft 365 test-base

#12400 Update attack-surface-reduction-rules-deployment.md
  microsoft-365/security/defender-endpoint/attack-surface-reduction-rules-deployment.md
Labels: Microsoft submitter

#12385 Update linux-preferences.md
  microsoft-365/security/defender-endpoint/linux-preferences.md
Labels: Microsoft submitter, Defender for Endpoint

#12295 Update activity-reports.md
  microsoft-365/admin/activity-reports/activity-reports.md
Labels: admin

#12408 Fix Defender for Cloud steps on onboard-downlevel.md
  microsoft-365/security/defender-endpoint/onboard-downlevel.md
Labels: Defender for Endpoint

#12406 Update endpoint-dlp-learn-about.md
  microsoft-365/compliance/endpoint-dlp-learn-about.md
Labels: compliance, Microsoft submitter

#12383 Update internet-facing-devices.md
  microsoft-365/security/defender-endpoint/internet-facing-devices.md
Labels: Defender for Endpoint

#12430 Update printer-protection.md
  microsoft-365/security/defender-endpoint/printer-protection.md
Labels: Defender for Endpoint

#12429 Update advanced-features.md
  microsoft-365/security/defender-endpoint/advanced-features.md
Labels: Defender for Endpoint

#12286 Update how-to-enable-dmarc-reporting-for-microsoft-online-email-routi…
  microsoft-365/security/office-365-security/step-by-step-guides/how-to-enable-dmarc-reporting-for-microsoft-online-email-routing-address-moera-and-parked-domains.md
Labels: Defender for Office 365

#12371 Update data-classification-increase-accuracy.md
  microsoft-365/compliance/data-classification-increase-accuracy.md
Labels: compliance, Microsoft submitter

#12402 Update word count table with latest min word counts
  microsoft-365/compliance/classifier-tc-definitions.md
Labels: compliance, Microsoft submitter

#12448 Update minimum-requirements.md
  microsoft-365/security/defender-endpoint/minimum-requirements.md
Labels: Microsoft submitter

#12457 Update manage-auto-investigation.md
  microsoft-365/security/defender-endpoint/manage-auto-investigation.md
Labels: Defender for Endpoint

#12460 Update get-defender-vulnerability-management.md
  microsoft-365/security/defender-vulnerability-management/get-defender-vulnerability-management.md
Labels: Defender Vulnerability Management

#12454 Update configure-local-policy-overrides-microsoft-defender-antivirus.md
  microsoft-365/security/defender-endpoint/configure-local-policy-overrides-microsoft-defender-antivirus.md
Labels: Defender for Endpoint

#12453 Update mac-schedule-scan.md
  microsoft-365/security/defender-endpoint/mac-schedule-scan.md
Labels: Defender for Endpoint

#12452 Update attack-surface-reduction-rules-deployment.md
  microsoft-365/security/defender-endpoint/attack-surface-reduction-rules-deployment.md
Labels: Defender for Endpoint

#12462 Update configure-server-exclusions-microsoft-defender-antivirus.md
  microsoft-365/security/defender-endpoint/configure-server-exclusions-microsoft-defender-antivirus.md
Labels: Microsoft submitter, Defender for Endpoint

#12463 Update defender-endpoint-antivirus-exclusions.md
  microsoft-365/security/defender-endpoint/defender-endpoint-antivirus-exclusions.md
Labels: Microsoft submitter

#12465 Update submissions-teams.md
  microsoft-365/security/office-365-security/submissions-teams.md
Labels: Microsoft submitter, Defender for Office 365

#12469 Update protect-against-threats.md
  microsoft-365/security/office-365-security/protect-against-threats.md
Labels: Defender for Office 365

#12468 Update configure-automated-investigations-remediation.md
  microsoft-365/security/defender-endpoint/configure-automated-investigations-remediation.md
Labels: Defender for Endpoint

#12481 Update ocr.md
  microsoft-365/syntex/ocr.md
Labels: Microsoft submitter

#12486 troubleshoot asr rules code vs image
  microsoft-365/security/defender-endpoint/troubleshoot-asr-rules.md
Labels: Defender for Endpoint

#12072 Update eval-defender-investigate-respond-simulate-attack.md
  microsoft-365/security/defender/eval-defender-investigate-respond-simulate-attack.md
Labels: Microsoft 365 Defender

#12488 Update prevent-changes-to-security-settings-with-tamper-protection.md
  microsoft-365/security/defender-endpoint/prevent-changes-to-security-settings-with-tamper-protection.md
Labels: Microsoft submitter

#12499 Update linux-support-ebpf.md
  microsoft-365/security/defender-endpoint/linux-support-ebpf.md
Labels: Microsoft submitter, Defender for Endpoint

#12480 Update streaming-api-event-hub.md
  microsoft-365/security/defender/streaming-api-event-hub.md
Labels: Microsoft 365 Defender

#12467 Update run-analyzer-windows.md
  microsoft-365/security/defender-endpoint/run-analyzer-windows.md
Labels: Defender for Endpoint

#12461 Update configure-updates.md
  microsoft-365/security/defender-endpoint/configure-updates.md
Labels: Defender for Endpoint

#12455 Update run-advanced-query-sample-powershell.md
  microsoft-365/security/defender-endpoint/run-advanced-query-sample-powershell.md
Labels: Defender for Endpoint

#12445 Update run-advanced-query-sample-powershell.md
  microsoft-365/security/defender-endpoint/run-advanced-query-sample-powershell.md
Labels: Microsoft submitter, Defender for Endpoint

#12458 Update connect-to-gcc-data-with-usage-analytics.md
  microsoft-365/admin/usage-analytics/connect-to-gcc-data-with-usage-analytics.md
Labels: admin

#12505 Update cloud-architecture-models.md: fix update date for "Architectur…
  microsoft-365/solutions/cloud-architecture-models.md
Labels: solutions

#12510 Update manage-data-organizations.md
  microsoft-365/whiteboard/manage-data-organizations.md
Labels: Microsoft submitter, Whiteboard

#12519 Broken link fixed
  microsoft-365/security/office-365-security/identity-access-prerequisites.md
Labels: Defender for Office 365

#12512 Update microsoft-secure-score.md with AAD sync info
  microsoft-365/security/defender/microsoft-secure-score.md
Labels: Microsoft submitter, Microsoft 365 Defender

#12525 Update prevent-end-user-interaction-microsoft-defender-antivirus.md
  microsoft-365/security/defender-endpoint/prevent-end-user-interaction-microsoft-defender-antivirus.md
Labels: Defender for Endpoint

#12497 Update cross-tenant-mailbox-migration.md
  microsoft-365/enterprise/cross-tenant-mailbox-migration.md
Labels: Enterprise, Microsoft submitter

#12537 Change note formatting
  microsoft-365/security/office-365-security/submissions-teams.md
Labels: Microsoft submitter

#12545 Update automation-levels.md
  microsoft-365/security/defender-endpoint/automation-levels.md
Labels: Defender for Endpoint

#12538 Update zero-hour-auto-purge.md
  microsoft-365/security/office-365-security/zero-hour-auto-purge.md
Labels: Microsoft submitter, Defender for Office 365

#12536 Update anti-phishing-policies-about.md
  microsoft-365/security/office-365-security/anti-phishing-policies-about.md
Labels: Microsoft submitter, Defender for Office 365

#12548 Update attack-surface-reduction-rules-reference.md
  microsoft-365/security/defender-endpoint/attack-surface-reduction-rules-reference.md
Labels: Microsoft submitter, Defender for Endpoint

#12550 Update about-shared-mailboxes.md
  microsoft-365/admin/email/about-shared-mailboxes.md
Labels: admin

#12560 Update deploy-dynamic-teams-at-scale.md
  microsoft-365/frontline/deploy-dynamic-teams-at-scale.md
Labels: Frontline
