Repository MicrosoftDocs/microsoft-365-docs, pull requests merged in 2023-05, with the labels that each got.

#11871 Update priority-accounts-turn-on-priority-account-protection.md
  microsoft-365/security/office-365-security/priority-accounts-turn-on-priority-account-protection.md
Labels: Defender for Office 365

#10760 Update device-onboarding-script.md
  microsoft-365/compliance/device-onboarding-script.md
Labels: compliance

#11537 Update device-onboarding-macos-overview.md
  microsoft-365/compliance/device-onboarding-macos-overview.md
Labels: compliance, do not merge, Microsoft submitter

#11869 Update email-authentication-dkim-configure.md
  microsoft-365/security/office-365-security/email-authentication-dkim-configure.md
Labels: Defender for Office 365

#11888 Repo sync working branch
  .openpublishing.redirection.json
  microsoft-365/admin/moveto-microsoft-365/TOC.yml
  microsoft-365/business-premium/TOC.yml
  microsoft-365/business-premium/create-communications-site.md
  microsoft-365/business-premium/index.md
  microsoft-365/business-premium/m365bp-avoid-phishing-and-attacks.md
  microsoft-365/business-premium/m365bp-collaborate-share-securely.md
  microsoft-365/business-premium/m365bp-managed-unmanaged-devices.md
  microsoft-365/business-premium/m365bp-mfa-for-users.md
  microsoft-365/business-premium/m365bp-protect-against-malware-cyberthreats.md
  microsoft-365/business-premium/m365bp-protect-managed-devices.md
  microsoft-365/business-premium/m365bp-security-overview.md
  microsoft-365/business-premium/m365bp-set-up-compliance.md
  microsoft-365/business-premium/m365bp-set-up-unmanaged-devices.md
  microsoft-365/business-premium/m365bp-trial-playbook-microsoft-business-premium.md
  microsoft-365/business-premium/m365bp-upgrade-windows-pro.md
  microsoft-365/business-premium/m365bp-use-email-securely.md
  microsoft-365/business-premium/m365bp-use-labels-encryption.md
  microsoft-365/business-premium/m365bp-users-install-m365-apps.md
  microsoft-365/business-premium/m365bp-users-protect-unmanaged-devices.md
  microsoft-365/business-premium/microsoft-365-business-faqs.yml
  microsoft-365/business-premium/secure-your-business-data.md
  microsoft-365/business-premium/why-choose-microsoft-365-business-premium.md
  microsoft-365/business/index.yml
  microsoft-365/business/ui/mam-and-mdm.md
  microsoft-365/compliance/apply-retention-labels-automatically.md
  microsoft-365/compliance/communication-compliance-alerts-best-practices.md
  microsoft-365/compliance/communication-compliance-solution-overview.md
  microsoft-365/compliance/insider-risk-management-forensic-evidence-configure.md
  microsoft-365/compliance/insider-risk-management-forensic-evidence-manage.md
  microsoft-365/compliance/retention-policies-sharepoint.md
  microsoft-365/compliance/whats-new.md
  microsoft-365/includes/microsoft-365-content-updates.md
  microsoft-365/lighthouse/m365-lighthouse-setup-gdap.md
  microsoft-365/lighthouse/m365-lighthouse-troubleshoot.md
  microsoft-365/security/defender-business/compare-mdb-m365-plans.md
  microsoft-365/security/defender-endpoint/microsoft-defender-antivirus-updates.md
  microsoft-365/security/defender-endpoint/msda-updates-previous-versions-technical-upgrade-support.md
  microsoft-365/security/office-365-security/defender-for-office-365-whats-new.md
  microsoft-365/security/office-365-security/mdo-support-teams-about.md
  microsoft-365/security/office-365-security/threat-explorer-about.md
Labels: Microsoft submitter

#11217 Update turn-pronouns-on-or-off.md
  microsoft-365/admin/add-users/turn-pronouns-on-or-off.md
Labels: Microsoft submitter, admin, doc-enhancement

#11874 Update cross-tenant-onedrive-migration.md
  microsoft-365/enterprise/cross-tenant-onedrive-migration.md
Labels: Enterprise

#11884 Update anti-phishing-policies-about.md and add a note for tips on allowed messages
  microsoft-365/security/office-365-security/anti-phishing-policies-about.md
Labels: Microsoft submitter, Defender for Office 365

#11895 Update to m365-dr-workload-other.md for Viva Goals
  microsoft-365/enterprise/m365-dr-workload-other.md
Labels: Enterprise, Microsoft submitter

#11822 Update identity-access-policies.md
  microsoft-365/security/office-365-security/identity-access-policies.md
Labels: Defender for Office 365

#11865 Update defender-endpoint-plan-1-2.md
  microsoft-365/security/defender-endpoint/defender-endpoint-plan-1-2.md
Labels: Defender for Endpoint

#11863 Update enable-exploit-protection.md
  microsoft-365/security/defender-endpoint/enable-exploit-protection.md
Labels: Defender for Endpoint

#11880 Updated MSOL command to Microsoft Graph Powershell
  microsoft-365/admin/add-users/change-a-user-name-and-email-address.md
Labels: admin

#11881 Updated reference to MSOnline cmdlet to Graph API
  microsoft-365/admin/add-users/remove-former-employee-step-7.md
Labels: admin

#11861 Removed duplicate section with link to video
  microsoft-365/admin/admin-overview/admin-mobile-app.md
Labels: admin

#11902 Update configure-server-endpoints.md
  microsoft-365/security/defender-endpoint/configure-server-endpoints.md
Labels: Defender for Endpoint

#11882 Onboarding status filter requires Device Discovery enabled
  microsoft-365/security/defender-endpoint/machines-view-overview.md
Labels: Defender for Endpoint

#11802 Update run-detection-test.md
  microsoft-365/security/defender-endpoint/run-detection-test.md
Labels: Microsoft submitter, Defender for Endpoint

#11801 Update attack-simulations.md
  microsoft-365/security/defender-endpoint/attack-simulations.md
Labels: Microsoft submitter, Defender for Endpoint

#11729 Secure Score now GA in US GOV
  microsoft-365/security/defender-endpoint/gov.md
Labels: Microsoft submitter, Defender for Endpoint

#11717 Update configure-server-endpoints.md
  microsoft-365/security/defender-endpoint/configure-server-endpoints.md
Labels: Defender for Endpoint

#11695 Missing live response limitations + command status
  microsoft-365/security/defender-endpoint/run-live-response.md
Labels: Defender for Endpoint

#11640 Update configure-server-endpoints.md
  microsoft-365/security/defender-endpoint/configure-server-endpoints.md
Labels: Defender for Endpoint

#11915 Update index.yml
  microsoft-365/security/defender-business/index.yml
Labels: Microsoft submitter

#11926 Update microsoft-365-continuous-access-evaluation.md
  microsoft-365/security/office-365-security/microsoft-365-continuous-access-evaluation.md
Labels: Microsoft submitter, Defender for Office 365

#11920 Update schedule-antivirus-scan-in-mde.md
  microsoft-365/security/defender-endpoint/schedule-antivirus-scan-in-mde.md
Labels: Defender for Endpoint

#11921 Update get-live-response-result.md
  microsoft-365/security/defender-endpoint/get-live-response-result.md
Labels: Defender for Endpoint

#11942 Update anti-phishing-policies-mdo-configure.md
  microsoft-365/security/office-365-security/anti-phishing-policies-mdo-configure.md
Labels: Defender for Office 365

#11949 Fixing Grammar
  microsoft-365/security/defender-endpoint/mac-jamfpro-policies.md
Labels: Defender for Endpoint

#11964 Update microsoft-365-inter-tenant-collaboration.md
  microsoft-365/enterprise/microsoft-365-inter-tenant-collaboration.md
Labels: Enterprise

#11724 Update advanced-hunting-devicenetworkevents-table.md
  microsoft-365/security/defender/advanced-hunting-devicenetworkevents-table.md
Labels: Microsoft 365 Defender

#9575 Update ome-version-comparison.md
  microsoft-365/compliance/ome-version-comparison.md
Labels: compliance, Microsoft submitter

#11251 Update ome-faq.yml
  microsoft-365/compliance/ome-faq.yml
Labels: compliance, Microsoft submitter

#11780 Update ome-faq.yml
  microsoft-365/compliance/ome-faq.yml
Labels: Microsoft submitter

#11326 Update define-mail-flow-rules-to-encrypt-email.md
  microsoft-365/compliance/define-mail-flow-rules-to-encrypt-email.md
Labels: compliance, Microsoft submitter

#11936 Update define-mail-flow-rules-to-encrypt-email.md
  microsoft-365/compliance/define-mail-flow-rules-to-encrypt-email.md
Labels: compliance, Microsoft submitter

#11917 Update define-mail-flow-rules-to-encrypt-email.md
  microsoft-365/compliance/define-mail-flow-rules-to-encrypt-email.md
Labels: compliance, Microsoft submitter

#11995 Update defender-endpoint-antivirus-exclusions.md
  microsoft-365/security/defender-endpoint/defender-endpoint-antivirus-exclusions.md
Labels: Microsoft submitter

#10788 Update revoke-ome-encrypted-mail.md
  microsoft-365/compliance/revoke-ome-encrypted-mail.md
Labels: compliance, Microsoft submitter

#11992 Updating guidance about end user reporting
  microsoft-365/security/office-365-security/submissions-teams.md
Labels: Microsoft submitter, Defender for Office 365

#11983 Update email-authentication-dkim-configure.md
  microsoft-365/security/office-365-security/email-authentication-dkim-configure.md
Labels: Defender for Office 365

#11976 Update windows-whatsnew.md - hold for May 14
  microsoft-365/security/defender-endpoint/windows-whatsnew.md
Labels: do not merge, Microsoft submitter, Defender for Endpoint

#11905 Added Entra portal reference
  microsoft-365/security/defender/portals.md
Labels: Microsoft submitter, Microsoft 365 Defender

#11954 Update remove-former-employee-step-5.md
  microsoft-365/admin/add-users/remove-former-employee-step-5.md
Labels: Microsoft submitter, admin

#11941 Updated MSonline reference to Graph
  microsoft-365/admin/add-users/remove-former-employee.md
Labels: admin

#12015 Update add-or-remove-machine-tags.md
  microsoft-365/security/defender-endpoint/add-or-remove-machine-tags.md
Labels: Defender for Endpoint

#11998 Update defender-compatibility.md
  microsoft-365/security/defender-endpoint/defender-compatibility.md
Labels: Defender for Endpoint

#11994 Update microsoft-defender-endpoint-mac.md
  microsoft-365/security/defender-endpoint/microsoft-defender-endpoint-mac.md
Labels: Microsoft submitter, Defender for Endpoint

#11984 Update minimum-requirements.md
  microsoft-365/security/defender-endpoint/minimum-requirements.md
Labels: Defender for Endpoint

#11968 Update machine-tags.md
  microsoft-365/security/defender-endpoint/machine-tags.md
Labels: Defender for Endpoint

#11967 Update microsoft-defender-endpoint.md
  microsoft-365/security/defender-endpoint/microsoft-defender-endpoint.md
Labels: Defender for Endpoint

#12043 Update mdb-create-edit-device-groups.md
  microsoft-365/security/defender-business/mdb-create-edit-device-groups.md
Labels: Defender for Business

#12039 Update enable-controlled-folders.md
  microsoft-365/security/defender-endpoint/enable-controlled-folders.md
Labels: Defender for Endpoint

#12037 Update minimum-requirements.md
  microsoft-365/security/defender-endpoint/minimum-requirements.md
Labels: Microsoft submitter, Defender for Endpoint

#11692 Define what are Endpoints
  microsoft-365/security/defender-endpoint/microsoft-defender-endpoint.md
Labels: Microsoft submitter, Defender for Endpoint

#12016 Order URL in attack-simulation-training-get-started.md
  microsoft-365/security/office-365-security/attack-simulation-training-get-started.md
Labels: Defender for Office 365

#12053 Update check-sensor-status.md
  microsoft-365/security/defender-endpoint/check-sensor-status.md
Labels: Microsoft submitter

#12046 Update microsoft-365-monitoring.md
  microsoft-365/enterprise/microsoft-365-monitoring.md
Labels: Enterprise, Microsoft submitter

#12022 Update set-up-azure-rms-for-previous-version-message-encryption.md
  microsoft-365/compliance/set-up-azure-rms-for-previous-version-message-encryption.md
Labels: compliance, Microsoft submitter

#12057 Update ome-faq.yml
  microsoft-365/compliance/ome-faq.yml
Labels: Microsoft submitter

#11485 Update get-help-support.md
  microsoft-365/admin/get-help-support.md
Labels: admin

#12065 Update submissions-admin.md fixed typo
  microsoft-365/security/office-365-security/submissions-admin.md
Labels: Microsoft submitter, Defender for Office 365

#12054 Update difference-between-document-understanding-and-form-processing-…
  microsoft-365/syntex/difference-between-document-understanding-and-form-processing-model.md
Labels: Syntex

#11950 Network provider program in M365 Admin Center preview for May 22
  microsoft-365/enterprise/office-365-network-mac-perf-nppdata
  microsoft-365/enterprise/office-365-network-mac-perf-nppux
  microsoft-365/enterprise/office-365-network-mac-perf-overview.md
  microsoft-365/media/m365-mac-perf/m365-mac-perf-nppdata-availability.png
  microsoft-365/media/m365-mac-perf/m365-mac-perf-nppdata-outlier.png
  microsoft-365/media/m365-mac-perf/m365-mac-perf-nppdata-standard-error.png
  microsoft-365/media/m365-mac-perf/m365-mac-perf-nppux-NPIChart.png
  microsoft-365/media/m365-mac-perf/m365-mac-perf-nppux-locationsnpp.png
  microsoft-365/media/m365-mac-perf/m365-mac-perf-nppux-networktraffic.png
Labels: Enterprise, Microsoft submitter

#11060 ⚡ Correction to Update audit-log-search.md
  microsoft-365/compliance/audit-log-search.md
Labels: compliance

#12080 Add PDF labeling support to web capabilities column
  microsoft-365/compliance/sensitivity-labels-versions.md
Labels: Microsoft submitter

#12088 Updated SKU information
  microsoft-365/security/defender-endpoint/admin-submissions-mde.md
Labels: Microsoft submitter

#12089 Change name for junk alert
  microsoft-365/compliance/alert-policies.md
Labels: Microsoft submitter

#12093 Adding Poland to the Microsoft 365 Multi-Geo availability List - Update microsoft-365-multi-geo-locations.md
  microsoft-365/includes/microsoft-365-multi-geo-locations.md
Labels: Enterprise, Microsoft submitter

#12083 Selling correction
  microsoft-365/security/defender/microsoft-365-security-center-mde.md
Labels: Microsoft 365 Defender

#12005 Update whats-new.md
  microsoft-365/compliance/whats-new.md
Labels: compliance, Microsoft submitter

#12078 Update dlp-policy-reference.md
  microsoft-365/compliance/dlp-policy-reference.md
Labels: compliance, Microsoft submitter

#12113 Update integrate-office-365-ti-with-mde.md
  microsoft-365/security/office-365-security/integrate-office-365-ti-with-mde.md
Labels: Defender for Office 365

#12114 Update compliance-manager-cloud-settings.md
  microsoft-365/compliance/compliance-manager-cloud-settings.md
Labels: compliance

#12127 Update set-password-to-never-expire.md
  microsoft-365/admin/add-users/set-password-to-never-expire.md
Labels: admin
