Repository MicrosoftDocs/microsoft-365-docs, pull requests merged in 2024-12, with the labels that each got.

#13678 Update agreements-key-concepts.md
  microsoft-365/syntex/solutions/agreements-key-concepts.md
Labels: Microsoft submitter, microsoft-syntex/svc, syntex-content-intelligence/subsvc

#13682 Update cloud-microsoft-domain.md
  microsoft-365/enterprise/cloud-microsoft-domain.md
Labels: microsoft-365-enterprise/svc, network/subsvc

#13683 Update modern-desktop-deployment-and-management-lab.md
  microsoft-365/enterprise/modern-desktop-deployment-and-management-lab.md
Labels: microsoft-365-enterprise/svc, administration/subsvc

#13684 Update modern-desktop-deployment-and-management-lab.md
  microsoft-365/enterprise/modern-desktop-deployment-and-management-lab.md
Labels: microsoft-365-enterprise/svc, administration/subsvc

#13686 Update cross-tenant-mailbox-migration.md
  microsoft-365/enterprise/cross-tenant-mailbox-migration.md
Labels: Microsoft submitter, microsoft-365-enterprise/svc, multi-tenant/subsvc

#13687 Update EXO perf description
  microsoft-365/backup/backup-overview.md
Labels: Microsoft submitter, microsoft-365-backup/svc

#13689 Update deleted user recovery in FAQ
  microsoft-365/backup/backup-faq.md
Labels: Microsoft submitter, microsoft-365-backup/svc

#13668 Update esignature-overview.md
  microsoft-365/syntex/esignature-overview.md
Labels: Microsoft submitter, microsoft-syntex/svc, syntex-content-intelligence/subsvc
