Repository MicrosoftDocs/microsoft-365-docs, pull requests merged in 2024-10, with the labels that each got.

#13652 Update multi-tenant-people-search.md
  microsoft-365/enterprise/multi-tenant-people-search.md
Labels: Microsoft submitter, microsoft-365-enterprise/svc, multi-tenant/subsvc

#13662 Update ocr-overview.md
  microsoft-365/syntex/ocr-overview.md
Labels: microsoft-syntex/svc, syntex-content-intelligence/subsvc

#13656 Update esignature-review-sign-requests.md
  microsoft-365/syntex/esignature-review-sign-requests.md
Labels: Microsoft submitter, microsoft-syntex/svc, syntex-content-intelligence/subsvc

#13664 Update cloud-microsoft-domain.md
  microsoft-365/enterprise/cloud-microsoft-domain.md
Labels: microsoft-365-enterprise/svc, network/subsvc
