Repository MicrosoftDocs/microsoft-365-docs, pull requests merged in 2024-11, with the labels that each got.

#13667 Delete Retired .openpublishing.build.ps1 script of default branch
  .openpublishing.build.ps1
Labels: Microsoft submitter

#13669 Update esignature-setup.md1
  microsoft-365/syntex/esignature-setup.md
Labels: Microsoft submitter, microsoft-syntex/svc, syntex-content-intelligence/subsvc

#13666 Update setup-guides-for-microsoft-365.md
  microsoft-365/enterprise/setup-guides-for-microsoft-365.md
Labels: microsoft-365-enterprise/svc, administration/subsvc

#13671 Update setup-guides-for-microsoft-365.md
  microsoft-365/enterprise/setup-guides-for-microsoft-365.md
Labels: microsoft-365-enterprise/svc, administration/subsvc

#13672 Update esignature-overview.md
  microsoft-365/syntex/esignature-overview.md
Labels: Microsoft submitter, microsoft-syntex/svc, syntex-content-intelligence/subsvc

#13674 Update setup-guides-for-microsoft-365.md
  microsoft-365/enterprise/setup-guides-for-microsoft-365.md
Labels: microsoft-365-enterprise/svc, administration/subsvc

#13673 Added AI administrator to MAC roles
  microsoft-365/admin/add-users/about-admin-roles.md
Labels: Microsoft submitter, Tier1, microsoft-365-business/svc

#13675 Update backup-offboarding.md
  microsoft-365/backup/backup-offboarding.md
Labels: Microsoft submitter, microsoft-365-backup/svc
