Repository MicrosoftDocs/microsoft-365-docs, pull requests merged in 2024-09, with the labels that each got.

#13633 Update esignature-approvals.md2
  microsoft-365/syntex/esignature-approvals.md
Labels: Microsoft submitter, microsoft-syntex/svc, syntex-content-intelligence/subsvc

#13634 Update teams-assignments-with-canvas.md
  microsoft-365/lti/teams-assignments-with-canvas.md
Labels: microsoft-365-business/svc

#13635 Update index.md
  microsoft-365/lti/index.md
Labels: Tier2, microsoft-365-enterprise/svc

#13636 Update teams-assignments-with-schoology.md
  microsoft-365/lti/teams-assignments-with-schoology.md
Labels: microsoft-365-business/svc

#13637 Update teams-assignments-with-canvas.md
  microsoft-365/lti/teams-assignments-with-canvas.md
Labels: microsoft-365-business/svc

#13643 Update esignature-overview.md
  microsoft-365/syntex/esignature-overview.md
Labels: Microsoft submitter, microsoft-syntex/svc, syntex-content-intelligence/subsvc

#13630 Update manage-feedback-ms-org.md
  microsoft-365/admin/manage/manage-feedback-ms-org.md
Labels: microsoft-365-business/svc, Tier2

#13569 Update turn-off-directory-synchronization.md
  microsoft-365/enterprise/turn-off-directory-synchronization.md
Labels: microsoft-365-enterprise/svc, administration/subsvc

#13645 Update cloud-microsoft-domain.md
  microsoft-365/enterprise/cloud-microsoft-domain.md
Labels: microsoft-365-enterprise/svc, network/subsvc
