Repository MicrosoftDocs/microsoft-365-docs, pull requests merged in 2024-01, with the labels that each got.

#13322 Update e3-extra-features-licenses.md
  microsoft-365/commerce/licenses/e3-extra-features-licenses.md
Labels: Microsoft submitter, microsoft-365-business/svc, Tier2

#12288 Update download-software-licenses-csp.md
  microsoft-365/admin/setup/download-software-licenses-csp.md
Labels: admin

#12330 Update manage-license-requests.md
  microsoft-365/commerce/licenses/manage-license-requests.md
Labels: commerce, Tier1, microsoft-365-business/svc

#13319 E bpf doc update
  microsoft-365/security/defender-endpoint/linux-support-ebpf.md
Labels: Microsoft submitter, microsoft-365-security/svc, mde/subsvc, Tier3

#13318 Fix typo of InternalDefinitionUpdateServer
  microsoft-365/security/defender-endpoint/microsoft-defender-antivirus-production-ring-deployment-group-policy-wsus.md
Labels: Tier1, defender-endpoint/svc, ngp/subsvc

#12974 Update configure-server-endpoints.md
  microsoft-365/security/defender-endpoint/configure-server-endpoints.md
Labels: Defender for Endpoint

#12518 Update onboard-downlevel.md
  microsoft-365/security/defender-endpoint/onboard-downlevel.md
Labels: Defender for Endpoint

#13325 Update microsoft-defender-antivirus-windows.md
  microsoft-365/security/defender-endpoint/microsoft-defender-antivirus-windows.md
Labels: Microsoft submitter, Tier2, defender-endpoint/svc, ngp/subsvc

#13327 Simplified secops mailflow bypassing
  microsoft-365/security/office-365-security/submissions-user-reported-messages-custom-mailbox.md
Labels: Microsoft submitter, microsoft-365-security/svc, mdo/subsvc, Tier1

#13330 Update esignature-troubleshoot.md
  microsoft-365/syntex/esignature-troubleshoot.md
Labels: Microsoft submitter, microsoft-syntex/svc, syntex-content-intelligence/subsvc

#13332 Used allow incorrectly instead of block
  microsoft-365/security/office-365-security/tenant-allow-block-list-email-spoof-configure.md
Labels: Microsoft submitter, microsoft-365-security/svc, mdo/subsvc, Tier1

#13343 Update backup-limitations.md
  microsoft-365/syntex/backup/backup-limitations.md
Labels: Microsoft submitter, microsoft-syntex/svc

#13344 Fix typo
  microsoft-365/security/office-365-security/quarantine-policies.md
Labels: microsoft-365-security/svc, mdo/subsvc, Tier1

#13326 Update select-domain-to-use-for-email-from-microsoft-365-products.md
  microsoft-365/admin/email/select-domain-to-use-for-email-from-microsoft-365-products.md
Labels: Microsoft submitter, microsoft-365-business/svc, Tier3

#13347 Updated 90 to 30
  microsoft-365/security/office-365-security/submissions-admin.md
Labels: Microsoft submitter, microsoft-365-security/svc, mdo/subsvc, Tier1

#13351 Update e3-extra-features-licenses.md
  microsoft-365/commerce/licenses/e3-extra-features-licenses.md
Labels: Microsoft submitter, microsoft-365-business/svc, Tier2

#13348 Changed reported to submitted
  microsoft-365/security/office-365-security/threat-explorer-threat-hunting.md
Labels: Microsoft submitter, microsoft-365-security/svc, mdo/subsvc, Tier1

#13349 Update faq-managed-response.md
  microsoft-365/security/defender/faq-managed-response.md
Labels: Microsoft submitter, Tier1, defender-experts/svc, dex-xdr/subsvc

#13352 Update tamperprotection-macos.md
  microsoft-365/security/defender-endpoint/tamperprotection-macos.md
Labels: Microsoft submitter, Tier3, defender-endpoint/svc, macos/subsvc

#13336 GA release changes as discussed with Kelley Vice
  microsoft-365/enterprise/office-365-network-mac-perf-nppux.md
Labels: Microsoft submitter, microsoft-365-enterprise/svc

#13339 link2 - GA release changes as discussed with Kelley Vice
  microsoft-365/enterprise/office-365-network-mac-perf-nppdata.md
Labels: Microsoft submitter, microsoft-365-enterprise/svc

#13340 Added FAQ regarding roles
  microsoft-365/enterprise/office-365-network-mac-perf-overview.md
Labels: Microsoft submitter, microsoft-365-enterprise/svc

#13341 support for supernets when adding locations
  microsoft-365/enterprise/office-365-network-mac-perf-overview.md
Labels: Microsoft submitter, microsoft-365-enterprise/svc

#13356 Update manage-rbac.md
  microsoft-365/security/defender/manage-rbac.md
Labels: Tier3, defender-xdr/svc
