Repository MicrosoftDocs/microsoft-365-docs, pull requests merged in 2024-06, with the labels that each got.

#13564 Update manage-public-web-access.md
  copilot/manage-public-web-access.md
Labels: Microsoft submitter, Tier2, microsoft-365-copilot/svc

#13565 Update change-user-profile-photos.md
  microsoft-365/admin/add-users/change-user-profile-photos.md
Labels: Microsoft submitter, microsoft-365-business/svc, Tier2

#13570 Update organizational-messages-microsoft-365.md
  microsoft-365/admin/misc/organizational-messages-microsoft-365.md
Labels: Microsoft submitter, microsoft-365-business/svc, Tier2

#13571 Update centralized-deployment-FAQ.yml
  microsoft-365/admin/manage/centralized-deployment-FAQ.yml
Labels: microsoft-365-business/svc, Tier2

#13577 Update microsoft-365-copilot-requirements.md for O365 license activation
  copilot/microsoft-365-copilot-requirements.md
Labels: Tier2, microsoft-365-copilot/svc

#13578 Update bookings-overview.md
  microsoft-365/bookings/bookings-overview.md
Labels: Microsoft submitter, Tier1, bookings/svc

#13581 Update syntex-pay-as-you-go-services.md
  microsoft-365/syntex/syntex-pay-as-you-go-services.md
Labels: Microsoft submitter, Tier1, microsoft-syntex/svc

#13580 Update cloud-microsoft-domain.md
  microsoft-365/enterprise/cloud-microsoft-domain.md
Labels: Microsoft submitter, microsoft-365-enterprise/svc, network/subsvc
