Repository MicrosoftDocs/microsoft-365-docs, pull requests merged in 2024-03, with the labels that each got.

#13414 Update quarantine-admin-manage-messages-files.md
  microsoft-365/security/office-365-security/quarantine-admin-manage-messages-files.md
Labels: Microsoft submitter, microsoft-365-security/svc, mdo/subsvc, Tier1

#13416 Updates public preview
  microsoft-365/admin/manage/manage-plugins-for-copilot-in-integrated-apps.md
Labels: Microsoft submitter, Tier2, microsoft-365-copilot/svc

#13413 Update manage-self-service-signup-subscriptions.md
  microsoft-365/commerce/subscriptions/manage-self-service-signup-subscriptions.md
Labels: Tier1, microsoft-365-business/svc

#13419 Update collaborate-guests-cross-cloud.md
  microsoft-365/solutions/collaborate-guests-cross-cloud.md
Labels: Microsoft submitter, Tier1, o365-solutions/svc

#13420 Update submissions-users-report-message-add-in-configure.md
  microsoft-365/security/office-365-security/submissions-users-report-message-add-in-configure.md
Labels: Microsoft submitter, microsoft-365-security/svc, mdo/subsvc, Tier2

#13421 Update reports-email-security.md
  microsoft-365/security/office-365-security/reports-email-security.md
Labels: Microsoft submitter, microsoft-365-security/svc, mdo/subsvc, Tier2

#13422 Update email-authentication-about.md
  microsoft-365/security/office-365-security/email-authentication-about.md
Labels: Microsoft submitter, microsoft-365-security/svc, mdo/subsvc, Tier2

#13425 Update anti-phishing-protection-spoofing-about.md
  microsoft-365/security/office-365-security/anti-phishing-protection-spoofing-about.md
Labels: Microsoft submitter, microsoft-365-security/svc, mdo/subsvc, Tier2

#13429 Update attack-simulation-training-simulations.md
  microsoft-365/security/office-365-security/attack-simulation-training-simulations.md
Labels: Microsoft submitter, microsoft-365-security/svc, mdo/subsvc, Tier2

#13438 Update esignature-setup.md
  microsoft-365/syntex/esignature-setup.md
Labels: Microsoft submitter, microsoft-syntex/svc, syntex-content-intelligence/subsvc

#13437 Fixed Spelling
  microsoft-365/security/defender-endpoint/configure-endpoints-script.md
Labels: Tier1, defender-endpoint/svc, onboard/subsvc

#13426 Fix typo in attack-surface-reduction-rules-reference.md
  microsoft-365/security/defender-endpoint/attack-surface-reduction-rules-reference.md
Labels: Tier2, defender-endpoint/svc, asr/subsvc

#13446 Added information about Mac Device Control and Sonoma
  microsoft-365/security/defender-endpoint/mac-device-control-overview.md
  microsoft-365/security/defender-endpoint/mac-whatsnew.md
Labels: Microsoft submitter, Tier3, defender-endpoint/svc, macos/subsvc

#13444 Update troubleshoot-asr-rules.md
  microsoft-365/security/defender-endpoint/troubleshoot-asr-rules.md
Labels: Tier3, defender-endpoint/svc, asr/subsvc

#13448 Update esignature-setup.md
  microsoft-365/syntex/esignature-setup.md
Labels: Microsoft submitter, microsoft-syntex/svc, syntex-content-intelligence/subsvc

#13450 Update esignature-setup.md
  microsoft-365/syntex/esignature-setup.md
Labels: Microsoft submitter, microsoft-syntex/svc, syntex-content-intelligence/subsvc

#13452 Update esignature-troubleshoot.md
  microsoft-365/syntex/esignature-troubleshoot.md
Labels: Microsoft submitter, microsoft-syntex/svc, syntex-content-intelligence/subsvc

#13451 Update esignature-overview.md
  microsoft-365/syntex/esignature-overview.md
Labels: Microsoft submitter, microsoft-syntex/svc, syntex-content-intelligence/subsvc

#13418 Fix oAuthUri in exposed-apis-create-app-webapp.md
  microsoft-365/security/defender-endpoint/api/exposed-apis-create-app-webapp.md
Labels: Tier3, defender-endpoint/svc, reference/subsvc

#13400 Update evaluation-lab.md
  microsoft-365/security/defender-endpoint/evaluation-lab.md
Labels: Microsoft submitter, Tier1, defender-endpoint/svc

#13430 Update configure-process-opened-file-exclusions-microsoft-defender-an…
  microsoft-365/security/defender-endpoint/configure-process-opened-file-exclusions-microsoft-defender-antivirus.md
Labels: Tier2, defender-endpoint/svc, ngp/subsvc

#13456 Update audit-log-search-defender-portal.md
  microsoft-365/security/office-365-security/audit-log-search-defender-portal.md
Labels: microsoft-365-security/svc, mdo/subsvc, Tier2

#13454 Update linux-install-with-ansible.md
  microsoft-365/security/defender-endpoint/linux-install-with-ansible.md
Labels: Tier3, defender-endpoint/svc, linux/subsvc

#13458 Added information about access masks in Windows device control
  microsoft-365/security/defender-endpoint/device-control-policies.md
Labels: Microsoft submitter, Tier2, defender-endpoint/svc, asr/subsvc

#13459 Fixed link
  microsoft-365/security/defender/whats-new.md
Labels: Microsoft submitter, Tier1, Tier2, defender-xdr/svc, defender-endpoint/svc, asr/subsvc

#13434 Remove domain sharing information, add notes about quota management for moves.
  microsoft-365/enterprise/cross-tenant-mailbox-migration.md
Labels: Microsoft submitter, microsoft-365-enterprise/svc

#13461 Update quarantine-policies.md
  microsoft-365/security/office-365-security/quarantine-policies.md
Labels: microsoft-365-security/svc, mdo/subsvc, Tier1

#13462 Update quarantine-admin-manage-messages-files.md
  microsoft-365/security/office-365-security/quarantine-admin-manage-messages-files.md
Labels: microsoft-365-security/svc, mdo/subsvc, Tier1

#13463 Typo in Update email-authentication-about.md
  microsoft-365/security/office-365-security/email-authentication-about.md
Labels: microsoft-365-security/svc, mdo/subsvc, Tier2

#13457 Update bookings-overview.md
  microsoft-365/bookings/bookings-overview.md
Labels: Microsoft submitter, Tier1, bookings/svc

#13471 Update esignature-setup.md
  microsoft-365/syntex/esignature-setup.md
Labels: Microsoft submitter, microsoft-syntex/svc, syntex-content-intelligence/subsvc

#13469 Update esignature-overview.md
  microsoft-365/syntex/esignature-overview.md
Labels: Microsoft submitter, microsoft-syntex/svc, syntex-content-intelligence/subsvc

#13468 Update esignature-setup.md
  microsoft-365/syntex/esignature-setup.md
Labels: Microsoft submitter, microsoft-syntex/svc, syntex-content-intelligence/subsvc

#13467 Update esignature-send-requests.md
  microsoft-365/syntex/esignature-send-requests.md
Labels: Microsoft submitter, microsoft-syntex/svc, syntex-content-intelligence/subsvc

#13470 Update esignature-setup.md
  microsoft-365/syntex/esignature-setup.md
Labels: Microsoft submitter, microsoft-syntex/svc, syntex-content-intelligence/subsvc

#13466 Update api-update-incidents.md
  microsoft-365/security/defender/api-update-incidents.md
Labels: Tier3, defender-xdr/svc

#13472 Update anti-spoofing-spoof-intelligence.md
  microsoft-365/security/office-365-security/anti-spoofing-spoof-intelligence.md
Labels: Microsoft submitter, microsoft-365-security/svc, mdo/subsvc, Tier2

#13477 Update comprehensive-guidance-on-linux-deployment.md
  microsoft-365/security/defender-endpoint/comprehensive-guidance-on-linux-deployment.md
Labels: Tier3, defender-endpoint/svc, linux/subsvc

#13478 No From Address behavior, Update anti-phishing-from-email-address-val…
  microsoft-365/security/office-365-security/anti-phishing-from-email-address-validation.md
Labels: microsoft-365-security/svc, mdo/subsvc, Tier2

#13479 Update threat-explorer-real-time-detections-about.md
  microsoft-365/security/office-365-security/threat-explorer-real-time-detections-about.md
Labels: microsoft-365-security/svc, mdo/subsvc, Tier1

#13481 Fix email-authentication-spf-configure.md
  microsoft-365/security/office-365-security/email-authentication-spf-configure.md
Labels: microsoft-365-security/svc, mdo/subsvc, Tier2

#13475 Update manage-sys-extensions-using-jamf.md
  microsoft-365/security/defender-endpoint/manage-sys-extensions-using-jamf.md
Labels: Tier3, defender-endpoint/svc, macos/subsvc

#13476 Update linux-whatsnew.md with some offline feedback
  microsoft-365/security/defender-endpoint/linux-whatsnew.md
Labels: Tier3, defender-endpoint/svc, linux/subsvc
