Repository MicrosoftDocs/microsoft-365-docs, pull requests merged in 2024-05, with the labels that each got.

#13537 Update idle-session-timeout-web-apps.md for rebranding
  microsoft-365/admin/manage/idle-session-timeout-web-apps.md
Labels: microsoft-365-business/svc, Tier3

#13539 Update turn-bookings-on-or-off.md
  microsoft-365/bookings/turn-bookings-on-or-off.md
Labels: Microsoft submitter, Tier1, bookings/svc

#13536 Update bookings-in-outlook.md
  microsoft-365/bookings/bookings-in-outlook.md
Labels: Microsoft submitter, Tier1, bookings/svc

#13541 Update organizational-messages-microsoft-365.md
  microsoft-365/admin/misc/organizational-messages-microsoft-365.md
Labels: Microsoft submitter, microsoft-365-business/svc, Tier2

#13542 Update syntex-pay-as-you-go-services.md
  microsoft-365/syntex/syntex-pay-as-you-go-services.md
Labels: Microsoft submitter, Tier1, microsoft-syntex/svc

#13544 Add section on configuring photo update settings
  microsoft-365/admin/add-users/change-user-profile-photos.md
Labels: Microsoft submitter, microsoft-365-business/svc, Tier2

#13547 Update modern-desktop-deployment-and-management-lab.md
  microsoft-365/enterprise/modern-desktop-deployment-and-management-lab.md
Labels: microsoft-365-enterprise/svc, administration/subsvc

#13550 Update esignature-troubleshoot.md
  microsoft-365/syntex/esignature-troubleshoot.md
Labels: Microsoft submitter, microsoft-syntex/svc, syntex-content-intelligence/subsvc

#13556 Update archive-setup.md
  microsoft-365/archive/archive-setup.md
Labels: Microsoft submitter, microsoft-365-archive/svc

#13526 Add warning about Exchange Online Protection when using email forwarding
  microsoft-365/admin/email/configure-a-shared-mailbox.md
  microsoft-365/admin/email/configure-email-forwarding.md
Labels: microsoft-365-business/svc, Tier2, Tier3

#13560 Update backup-preview-terms-third-party.md
  microsoft-365/backup/backup-preview-terms-third-party.md
Labels: Microsoft submitter, microsoft-365-backup/svc

#13552 Update reporting-info.md
  microsoft-365/bookings/reporting-info.md
Labels: Microsoft submitter, Tier1, bookings/svc

#13561 Update esignature-setup.md
  microsoft-365/syntex/esignature-setup.md
Labels: Microsoft submitter, microsoft-syntex/svc, syntex-content-intelligence/subsvc

#13546 Updated ABT Activation and FAQ Sections
  microsoft-365/admin/manage/idle-session-timeout-web-apps.md
Labels: Microsoft submitter, microsoft-365-business/svc, Tier3

#13563 Update organizational-messages-microsoft-365.md
  microsoft-365/admin/misc/organizational-messages-microsoft-365.md
Labels: Microsoft submitter, microsoft-365-business/svc, Tier2
