Repository MicrosoftDocs/microsoft-365-docs, pull requests merged in 2024-04, with the labels that each got.

#13484 Update email-authentication-about.md
  microsoft-365/security/office-365-security/email-authentication-about.md
Labels: microsoft-365-security/svc, mdo/subsvc, Tier2

#13464 Update setup-guides-for-microsoft-365.md
  microsoft-365/enterprise/setup-guides-for-microsoft-365.md
Labels: microsoft-365-enterprise/svc

#13449 Update setup-guides-for-microsoft-365.md
  microsoft-365/enterprise/setup-guides-for-microsoft-365.md
Labels: microsoft-365-enterprise/svc

#13441 Update azure-ad-setup-guides.md
  microsoft-365/admin/misc/azure-ad-setup-guides.md
Labels: microsoft-365-business/svc, Tier3

#13440 Update setup-guides-for-microsoft-365.md
  microsoft-365/enterprise/setup-guides-for-microsoft-365.md
Labels: microsoft-365-enterprise/svc

#13439 Update setup-guides-for-microsoft-365.md
  microsoft-365/enterprise/setup-guides-for-microsoft-365.md
Labels: microsoft-365-enterprise/svc

#13486 Update email-authentication-dkim-configure.md
  microsoft-365/security/office-365-security/email-authentication-dkim-configure.md
Labels: microsoft-365-security/svc, mdo/subsvc, Tier1

#13487 Update defender-for-office-365-whats-new.md
  microsoft-365/security/office-365-security/defender-for-office-365-whats-new.md
Labels: Microsoft submitter, microsoft-365-security/svc, mdo/subsvc, Tier1

#13482 SharePoint 2013 workflow is not available in new ADR environments
  microsoft-365/enterprise/m365-dr-workload-spo.md
Labels: Microsoft submitter, microsoft-365-enterprise/svc

#13489 Update anti-phishing-policies-about.md
  microsoft-365/security/office-365-security/anti-phishing-policies-about.md
Labels: Microsoft submitter, microsoft-365-security/svc, mdo/subsvc, Tier2

#13492 Update submissions-report-messages-files-to-microsoft.md
  microsoft-365/security/office-365-security/submissions-report-messages-files-to-microsoft.md
Labels: Microsoft submitter, Tier1, defender-office-365/svc

#13494 Update submissions-user-reported-messages-custom-mailbox.md
  microsoft-365/security/office-365-security/submissions-user-reported-messages-custom-mailbox.md
Labels: Microsoft submitter, Tier1, defender-office-365/svc

#13495 Update submissions-admin.md
  microsoft-365/security/office-365-security/submissions-admin.md
Labels: Microsoft submitter, Tier1, defender-office-365/svc

#13493 Update submissions-teams.md
  microsoft-365/security/office-365-security/submissions-teams.md
Labels: Microsoft submitter, Tier1, defender-office-365/svc

#13501 Update anti-spam-policies-asf-settings-about.md
  microsoft-365/security/office-365-security/anti-spam-policies-asf-settings-about.md
Labels: Tier2, defender-office-365/svc

#13497 Update anti-spam-protection-faq.yml
  microsoft-365/security/office-365-security/anti-spam-protection-faq.yml
Labels: Microsoft submitter, mdo/subsvc, Tier2, defender-office-365/svc

#13496 Fix a few typos (security section)
  microsoft-365/security/defender-endpoint/android-configure-mam.md
  microsoft-365/security/defender-endpoint/android-configure.md
  microsoft-365/security/defender-endpoint/android-support-signin.md
  microsoft-365/security/defender-endpoint/api/export-firmware-hardware-assessment.md
  microsoft-365/security/defender-endpoint/attack-surface-reduction-rules-reference.md
  microsoft-365/security/defender-endpoint/configure-environment.md
  microsoft-365/security/defender-endpoint/configure-network-connections-microsoft-defender-antivirus.md
  microsoft-365/security/defender-endpoint/configure-process-opened-file-exclusions-microsoft-defender-antivirus.md
  microsoft-365/security/defender-endpoint/data-collection-analyzer.md
  microsoft-365/security/defender-endpoint/defender-compatibility.md
  microsoft-365/security/defender-endpoint/device-control-deploy-manage-intune.md
  microsoft-365/security/defender-endpoint/event-error-codes.md
  microsoft-365/security/defender-endpoint/ios-configure-features.md
  microsoft-365/security/defender-endpoint/limited-periodic-scanning-microsoft-defender-antivirus.md
  microsoft-365/security/defender-endpoint/linux-deploy-defender-for-endpoint-with-chef.md
  microsoft-365/security/defender-endpoint/mac-install-manually.md
  microsoft-365/security/defender-endpoint/mac-jamfpro-policies.md
  microsoft-365/security/defender-endpoint/machine-tags.md
  microsoft-365/security/defender-endpoint/manage-security-policies.md
  microsoft-365/security/defender-endpoint/microsoft-defender-antivirus-updates.md
  microsoft-365/security/defender-endpoint/migrate-devices-streamlined.md
  microsoft-365/security/defender-endpoint/onboard-downlevel.md
  microsoft-365/security/defender-endpoint/technological-partners.md
  microsoft-365/security/defender-vulnerability-management/trial-user-guide-defender-vulnerability-management.md
  microsoft-365/security/defender-vulnerability-management/tvm-hardware-and-firmware.md
  microsoft-365/security/defender/eval-defender-investigate-respond-simulate-attack.md
  microsoft-365/security/defender/microsoft-365-security-center-defender-cloud.md
Labels: Tier1, microsoft-365-business/svc, Tier2, microsoft-365-enterprise/svc, Tier3, microsoft-syntex/svc, defender-xdr/svc, defender-endpoint/svc, macos/subsvc, onboard/subsvc, ngp/subsvc, android/subsvc, asr/subsvc, linux/subsvc, microsoft-365-frontline/svc, defender-vuln-mgmt/svc, defender-office-365/svc, m365-commerce-acquisition/subsvc, ios/subsvc

#13500 Update whats-new-in-microsoft-defender-endpoint.md
  microsoft-365/security/defender-endpoint/whats-new-in-microsoft-defender-endpoint.md
Labels: Microsoft submitter, Tier1, defender-endpoint/svc

#13488 Added default wsl version to use for mde
  microsoft-365/security/defender-endpoint/mde-plugin-wsl.md
Labels: Microsoft submitter, Tier2, defender-endpoint/svc

#13485 Update attack-simulations.md
  microsoft-365/security/defender-endpoint/attack-simulations.md
Labels: Microsoft submitter, Tier2, defender-endpoint/svc, onboard/subsvc

#13474 Updated information on device control and users
  microsoft-365/security/defender-endpoint/device-control-policies.md
Labels: Microsoft submitter, Tier2, defender-endpoint/svc, asr/subsvc

#13499 Update api-update-incidents.md
  microsoft-365/security/defender/api-update-incidents.md
Labels: Tier3, defender-xdr/svc

#13504 Update tenant-allow-block-list-urls-configure.md
  microsoft-365/security/office-365-security/tenant-allow-block-list-urls-configure.md
Labels: Tier1, defender-office-365/svc

#13507 Update quarantine-admin-manage-messages-files.md
  microsoft-365/security/office-365-security/quarantine-admin-manage-messages-files.md
Labels: Tier1, defender-office-365/svc

#13508 Update reports-email-security.md
  microsoft-365/security/office-365-security/reports-email-security.md
Labels: Tier2, defender-office-365/svc

#13509 Update submissions-user-reported-messages-custom-mailbox.md
  microsoft-365/security/office-365-security/submissions-user-reported-messages-custom-mailbox.md
Labels: Tier1, defender-office-365/svc

#13510 Update submissions-admin.md
  microsoft-365/security/office-365-security/submissions-admin.md
Labels: Tier1, defender-office-365/svc

#13511 Update mdo-email-entity-page.md
  microsoft-365/security/office-365-security/mdo-email-entity-page.md
Labels: Tier1, defender-office-365/svc

#13506 Remove outdated Tip
  microsoft-365/admin/add-users/about-exchange-online-admin-role.md
Labels: microsoft-365-business/svc, Tier2

#13513 Update mac-device-control-overview.md
  microsoft-365/security/defender-endpoint/mac-device-control-overview.md
Labels: Microsoft submitter, Tier3, defender-endpoint/svc, macos/subsvc

#13521 Update run-analyzer-macos-linux.md
  microsoft-365/security/defender-endpoint/run-analyzer-macos-linux.md
Labels: Microsoft submitter, Tier2, defender-endpoint/svc, ngp/subsvc

#13525 Update esignature-troubleshoot.md
  microsoft-365/syntex/esignature-troubleshoot.md
Labels: Microsoft submitter, microsoft-syntex/svc, syntex-content-intelligence/subsvc

#13523 Update automatic-attack-disruption.md
  microsoft-365/security/defender/automatic-attack-disruption.md
Labels: Tier1, defender-xdr/svc

#13399 Fix html character in Update submissions-admin.md
  microsoft-365/security/office-365-security/submissions-admin.md
Labels: microsoft-365-security/svc, mdo/subsvc, Tier1

#12919 Update configure-server-endpoints.md
  microsoft-365/security/defender-endpoint/configure-server-endpoints.md
Labels: Defender for Endpoint

#13528 Update turn-off-directory-synchronization.md
  microsoft-365/enterprise/turn-off-directory-synchronization.md
Labels: Microsoft submitter, microsoft-365-enterprise/svc

#13529 Update submissions-admin.md
  microsoft-365/security/office-365-security/submissions-admin.md
Labels: Microsoft submitter, Tier1, defender-office-365/svc

#13533 Update backup-billing.md
  microsoft-365/backup/backup-billing.md
Labels: Microsoft submitter, microsoft-365-backup/svc

#13515 Update plan-multi-tenant-org-overview.md
  microsoft-365/enterprise/plan-multi-tenant-org-overview.md
Labels: Microsoft submitter, microsoft-365-enterprise/svc

#13516 Update set-up-multi-tenant-org.md
  microsoft-365/enterprise/set-up-multi-tenant-org.md
Labels: Microsoft submitter, microsoft-365-enterprise/svc

#13517 Update join-leave-multi-tenant-org.md
  microsoft-365/enterprise/join-leave-multi-tenant-org.md
Labels: Microsoft submitter, microsoft-365-enterprise/svc

#13532 Update sync-users-multi-tenant-orgs.md
  microsoft-365/enterprise/sync-users-multi-tenant-orgs.md
Labels: Microsoft submitter, microsoft-365-enterprise/svc
