Repository MicrosoftDocs/microsoft-365-docs, pull requests merged in 2024-02, with the labels that each got.

#13357 Update reports-defender-for-office-365.md
  microsoft-365/security/office-365-security/reports-defender-for-office-365.md
Labels: Microsoft submitter, microsoft-365-security/svc, mdo/subsvc, Tier2

#13358 Update manage-rbac.md
  microsoft-365/security/defender/manage-rbac.md
Labels: Tier3, defender-xdr/svc

#13359 Update submissions-admin-review-user-reported-messages.md
  microsoft-365/security/office-365-security/submissions-admin-review-user-reported-messages.md
Labels: microsoft-365-security/svc, mdo/subsvc, Tier2

#13331 Update microsoft-365-copilot-enable-users.md
  copilot/manage-public-web-access.md
  copilot/microsoft-365-copilot-enable-users.md
Labels: Tier2, microsoft-365-copilot/svc

#13350 Update collect-diagnostic-data.md
  microsoft-365/security/defender-endpoint/collect-diagnostic-data.md
Labels: Tier2, defender-endpoint/svc, ngp/subsvc

#13342 Update network-protection.md
  microsoft-365/security/defender-endpoint/network-protection.md
Labels: Tier2, defender-endpoint/svc, asr/subsvc

#13337 Update defender-for-office-365-whats-new.md
  microsoft-365/security/office-365-security/defender-for-office-365-whats-new.md
Labels: Microsoft submitter, microsoft-365-security/svc, mdo/subsvc, Tier1

#13338 Update defender-for-office-365-whats-new.md
  microsoft-365/security/office-365-security/defender-for-office-365-whats-new.md
Labels: Microsoft submitter, microsoft-365-security/svc, mdo/subsvc, Tier1

#13371 Removed 'second opinion' to avoid confusion
  microsoft-365/security/office-365-security/quarantine-admin-manage-messages-files.md
Labels: Microsoft submitter, microsoft-365-security/svc, mdo/subsvc, Tier1

#13370 Removed 'second opinion' to avoid confusion
  microsoft-365/security/office-365-security/email-security-in-microsoft-defender.md
Labels: Microsoft submitter, microsoft-365-security/svc, mdo/subsvc, Tier1

#13369 Removed 'second opinion' to avoid confusion
  microsoft-365/security/office-365-security/submissions-admin.md
Labels: Microsoft submitter, microsoft-365-security/svc, mdo/subsvc, Tier1

#13372 Update e3-extra-features-licenses.md
  microsoft-365/commerce/licenses/e3-extra-features-licenses.md
Labels: Microsoft submitter, microsoft-365-business/svc, Tier2

#13373 Remove SKU list from Office Scripts admin page
  microsoft-365/admin/manage/manage-office-scripts-settings.md
Labels: Microsoft submitter, microsoft-365-business/svc, Tier2

#13366 Add Mariner manual Installation steps.
  microsoft-365/security/defender-endpoint/linux-install-manually.md
  microsoft-365/security/defender-endpoint/linux-resources.md
Labels: Tier3, defender-endpoint/svc, linux/subsvc

#13365 Rocky alma release notes
  microsoft-365/security/defender-endpoint/linux-install-manually.md
  microsoft-365/security/defender-endpoint/microsoft-defender-endpoint-linux.md
Labels: Microsoft submitter, Tier3, defender-endpoint/svc, linux/subsvc

#13363 Release notes for 23122.0002
  microsoft-365/security/defender-endpoint/linux-whatsnew.md
Labels: Microsoft submitter, Tier3, defender-endpoint/svc, linux/subsvc

#13376 Update esignature-setup.md
  microsoft-365/syntex/esignature-setup.md
Labels: Microsoft submitter, microsoft-syntex/svc, syntex-content-intelligence/subsvc

#13377 Update esignature-troubleshoot.md
  microsoft-365/syntex/esignature-troubleshoot.md
Labels: Microsoft submitter, microsoft-syntex/svc, syntex-content-intelligence/subsvc

#13361 Update linux-install-manually.md
  microsoft-365/security/defender-endpoint/linux-install-manually.md
Labels: Tier3, defender-endpoint/svc, linux/subsvc

#13368 Update email-authentication-dmarc-configure.md
  microsoft-365/security/office-365-security/email-authentication-dmarc-configure.md
Labels: microsoft-365-security/svc, mdo/subsvc, Tier1

#13374 Update threat-explorer-about.md
  microsoft-365/security/office-365-security/threat-explorer-about.md
Labels: Microsoft submitter, microsoft-365-security/svc, mdo/subsvc, Tier1

#13360 Update limited-periodic-scanning-microsoft-defender-antivirus.md
  microsoft-365/security/defender-endpoint/limited-periodic-scanning-microsoft-defender-antivirus.md
Labels: CLA, Tier3, defender-endpoint/svc, ngp/subsvc

#13355 Update run-analyzer-macos-linux.md
  microsoft-365/security/defender-endpoint/run-analyzer-macos-linux.md
Labels: CLA, Tier2, defender-endpoint/svc, ngp/subsvc

#13381 Update prevent-changes-to-security-settings-with-tamper-protection.md
  microsoft-365/security/defender-endpoint/prevent-changes-to-security-settings-with-tamper-protection.md
Labels: Microsoft submitter, Tier2, defender-endpoint/svc, ngp/subsvc

#13395 Update mdo-portal-permissions.md
  microsoft-365/security/office-365-security/mdo-portal-permissions.md
Labels: microsoft-365-security/svc, mdo/subsvc, Tier1

#13323 Update office-365-network-mac-perf-onboarding-tool.md
  microsoft-365/enterprise/office-365-network-mac-perf-onboarding-tool.md
Labels: Microsoft submitter, microsoft-365-enterprise/svc

#13398 Update request-fasttrack-assistance-microsoft-365.md
  microsoft-365/enterprise/request-fasttrack-assistance-microsoft-365.md
Labels: Microsoft submitter, microsoft-365-enterprise/svc

#13397 Update quarantine-faq.yml
  microsoft-365/security/office-365-security/quarantine-faq.yml
Labels: Microsoft submitter, microsoft-365-security/svc, mdo/subsvc, Tier2

#13384 Update microsoft-365-copilot-requirements.md
  copilot/microsoft-365-copilot-requirements.md
Labels: Tier2, microsoft-365-copilot/svc

#13404 Update quarantine-faq.yml
  microsoft-365/security/office-365-security/quarantine-faq.yml
Labels: Microsoft submitter, microsoft-365-security/svc, mdo/subsvc, Tier2

#13405 Update faqs-on-tamper-protection.yml
  microsoft-365/security/defender-endpoint/faqs-on-tamper-protection.yml
Labels: Microsoft submitter, defender-endpoint/svc, ngp/subsvc

#13408 Update modern-desktop-deployment-and-management-lab.md
  microsoft-365/enterprise/modern-desktop-deployment-and-management-lab.md
Labels: microsoft-365-enterprise/svc

#13409 fixing a typo
  microsoft-365/security/office-365-security/tenant-allow-block-list-about.md
Labels: Microsoft submitter, microsoft-365-security/svc, mdo/subsvc, Tier1

#13410 Update modern-desktop-deployment-and-management-lab.md
  microsoft-365/enterprise/modern-desktop-deployment-and-management-lab.md
Labels: microsoft-365-enterprise/svc

#13412 Update microsoft-defender-endpoint-mac.md
  microsoft-365/security/defender-endpoint/microsoft-defender-endpoint-mac.md
Labels: Tier3, defender-endpoint/svc, macos/subsvc
