Repository MicrosoftDocs/microsoft-365-docs, pull requests merged in 2025-03, with the labels that each got.

#13746 Clarify restore info
  microsoft-365/backup/backup-restore-data.md
Labels: Microsoft submitter, microsoft-365-backup/svc

#13761 Update setup-guides-for-microsoft-365.md
  microsoft-365/enterprise/setup-guides-for-microsoft-365.md
Labels: microsoft-365-enterprise/svc, administration/subsvc

#13693 Update setup-guides-for-microsoft-365.md
  microsoft-365/enterprise/setup-guides-for-microsoft-365.md
Labels: microsoft-365-enterprise/svc, administration/subsvc

#13763 Update manage-creation-of-groups.md
  microsoft-365/solutions/manage-creation-of-groups.md
Labels: o365-solutions/svc

#13766 Update modern-desktop-deployment-and-management-lab.md
  microsoft-365/enterprise/modern-desktop-deployment-and-management-lab.md
Labels: microsoft-365-enterprise/svc, administration/subsvc

#13770 Update flw-devices.md
  microsoft-365/frontline/flw-devices.md
Labels: microsoft-365-frontline/svc

#13773 Update ocr-overview.md
  microsoft-365/syntex/ocr-overview.md
Labels: microsoft-syntex/svc, syntex-content-intelligence/subsvc

#13676 Update setup-guides-for-microsoft-365.md
  microsoft-365/enterprise/setup-guides-for-microsoft-365.md
Labels: microsoft-365-enterprise/svc, administration/subsvc
