Repository MicrosoftDocs/microsoft-365-docs, pull requests merged in 2025-04, with the labels that each got.

#13790 Update backup-view-edit-policies.md
  microsoft-365/backup/backup-view-edit-policies.md
Labels: Microsoft submitter, microsoft-365-backup/svc

#13794 Update modern-desktop-deployment-and-management-lab.md
  microsoft-365/enterprise/modern-desktop-deployment-and-management-lab.md
Labels: microsoft-365-enterprise/svc, administration/subsvc

#13795 Update setup-guides-for-microsoft-365.md
  microsoft-365/enterprise/setup-guides-for-microsoft-365.md
Labels: microsoft-365-enterprise/svc, administration/subsvc

#10990 Adding the generic autodiscover URI to the list
  microsoft-365/enterprise/configure-exchange-server-for-hybrid-modern-authentication.md
Labels: Enterprise, microsoft-365-enterprise/svc, administration/subsvc

#12761 Update prepare-for-directory-synchronization.md
  microsoft-365/enterprise/prepare-for-directory-synchronization.md
Labels: Enterprise, microsoft-365-enterprise/svc, administration/subsvc

#12959 Update use-the-centralized-deployment-powershell-cmdlets-to-manage-ad…
  microsoft-365/enterprise/use-the-centralized-deployment-powershell-cmdlets-to-manage-add-ins.md
Labels: Enterprise, microsoft-365-enterprise/svc, administration/subsvc

#13017 Update domains-faq.yml
  microsoft-365/admin/setup/domains-faq.yml
Labels: admin, microsoft-365-business/svc, Tier2

#13217 Update turn-off-directory-synchronization.md
  microsoft-365/enterprise/turn-off-directory-synchronization.md
Labels: microsoft-365-enterprise/svc, administration/subsvc

#13802 Teams LTI.md
  microsoft-365/lti/index.md
Labels: Microsoft submitter, Tier2, msteams/svc, teams-education/subsvc

#13157 incorrect link
  microsoft-365/enterprise/cross-tenant-mailbox-migration.md
Labels: microsoft-365-enterprise/svc, multi-tenant/subsvc

#13272 Update m365-dr-overview.md
  microsoft-365/enterprise/m365-dr-overview.md
Labels: microsoft-365-enterprise/svc, advanced-data-residency/subsvc

#12514 Update tenant-management-tenants.md
  microsoft-365/solutions/tenant-management-tenants.md
Labels: solutions, o365-solutions/svc

#13805 Update backup-setup.md
  microsoft-365/backup/backup-setup.md
Labels: Microsoft submitter, microsoft-365-backup/svc

#13810 Update backup-restore-data.md
  microsoft-365/backup/backup-restore-data.md
Labels: Microsoft submitter, microsoft-365-backup/svc

#13803 Update agreements-attachments.md
  microsoft-365/syntex/solutions/agreements-attachments.md
Labels: microsoft-syntex/svc, syntex-content-intelligence/subsvc

#13819 Remove branch creator, add branch view link, in delete table
  .github/workflows/Shared-StaleBranch.yml
Labels: Microsoft submitter
