Repository MicrosoftDocs/microsoft-365-docs, pull requests merged in 2025-05, with the labels that each got.

#13824 Update setup-guides-for-microsoft-365.md
  microsoft-365/enterprise/setup-guides-for-microsoft-365.md
Labels: Microsoft submitter, microsoft-365-enterprise/svc, administration/subsvc

#13828 Update setup-guides-for-microsoft-365.md
  microsoft-365/enterprise/setup-guides-for-microsoft-365.md
Labels: microsoft-365-enterprise/svc, administration/subsvc

#13829 Pooled storage only EDU + outdated reference to reactivation cost
  microsoft-365/archive/archive-faq.md
Labels: microsoft-365-archive/svc

#13822 Update additional-office365-ip-addresses-and-urls.md to update IP for MGCN
  microsoft-365/enterprise/additional-office365-ip-addresses-and-urls.md
Labels: Microsoft submitter, microsoft-365-enterprise/svc, network/subsvc

#13831 Update backup-faq.md
  microsoft-365/backup/backup-faq.md
Labels: Microsoft submitter, microsoft-365-backup/svc

#13833 Update archive-faq.md
  microsoft-365/archive/archive-faq.md
Labels: microsoft-365-archive/svc

#13834 Update setup-guides-for-microsoft-365.md
  microsoft-365/enterprise/setup-guides-for-microsoft-365.md
Labels: Microsoft submitter, microsoft-365-enterprise/svc, administration/subsvc

#13835 Added information about Shared Mailboxes not beeing added in filter
  microsoft-365/backup/backup-view-edit-policies.md
Labels: microsoft-365-backup/svc

#13840 Update esignature-review-sign-requests.md
  microsoft-365/syntex/esignature-review-sign-requests.md
Labels: Microsoft submitter, microsoft-syntex/svc, syntex-content-intelligence/subsvc

#13841 Update esignature-review-sign-requests.md
  microsoft-365/syntex/esignature-review-sign-requests.md
Labels: Microsoft submitter, microsoft-syntex/svc, syntex-content-intelligence/subsvc

#13842 Updating Idle Session Timeout handling for Microsoft Fabric
  microsoft-365/admin/manage/idle-session-timeout-web-apps.md
Labels: microsoft-365-business/svc, Tier3

#13849 Update archive-compliance.md
  microsoft-365/archive/archive-compliance.md
Labels: microsoft-365-archive/svc

#13845 Update archive-overview.md
  microsoft-365/archive/archive-overview.md
Labels: microsoft-365-archive/svc

#13843 Update agreements-attachments.md
  microsoft-365/syntex/solutions/agreements-attachments.md
Labels: microsoft-syntex/svc, syntex-content-intelligence/subsvc

#13854 Update archive-pricing.md
  microsoft-365/archive/archive-pricing.md
Labels: microsoft-365-archive/svc

#13853 Update ocr-overview.md
  microsoft-365/syntex/ocr-overview.md
Labels: microsoft-syntex/svc, syntex-content-intelligence/subsvc

#13852 Updated archive-overview.md
  microsoft-365/archive/archive-overview.md
Labels: microsoft-365-archive/svc

#13856 Manage amendments
  microsoft-365/media/content-understanding/agreements-amendments1.png
  microsoft-365/media/content-understanding/agreements-amendmentsPanel.png
  microsoft-365/media/content-understanding/agreements-attachmentsdropdown.png
  microsoft-365/media/content-understanding/agreements-detailsdropdown.png
  microsoft-365/syntex/solutions/agreements-amendments.md
  microsoft-365/syntex/solutions/agreements-attachments.md
Labels: microsoft-syntex/svc, syntex-content-intelligence/subsvc
