Repository MicrosoftDocs/microsoft-365-docs, pull requests merged in 2025-01, with the labels that each got.

#13697 Update allow-members-to-send-as-or-send-on-behalf-of-group.md
  microsoft-365/solutions/allow-members-to-send-as-or-send-on-behalf-of-group.md
Labels: Microsoft submitter, Tier1, o365-solutions/svc

#13699 Clarify mailbox recipient type and hybrid deployment support
  microsoft-365/backup/backup-view-edit-policies.md
Labels: Microsoft submitter, microsoft-365-backup/svc

#13700 Update archive mailbox pricing descriptions
  microsoft-365/backup/backup-pricing.md
Labels: Microsoft submitter, microsoft-365-backup/svc

#13703 Add one more note on archive mailboxes being included
  microsoft-365/backup/backup-view-edit-policies.md
Labels: Microsoft submitter, microsoft-365-backup/svc

#13705 Update admin note in manage-office-scripts-settings.md
  microsoft-365/admin/manage/manage-office-scripts-settings.md
Labels: microsoft-365-business/svc, Tier2

#13707 Update esignature-setup.md
  microsoft-365/syntex/esignature-setup.md
Labels: Microsoft submitter, microsoft-syntex/svc, syntex-content-intelligence/subsvc

#13706 Add Office Scripts to about-admin-roles.md
  microsoft-365/admin/add-users/about-admin-roles.md
Labels: Tier1, microsoft-365-business/svc

#13712 Update microsoft-365-copilot-page.md
  copilot/microsoft-365-copilot-page.md
Labels: microsoft-365-copilot/svc

#13713 Update agreements-create-template.md
  microsoft-365/syntex/solutions/agreements-create-template.md
Labels: Microsoft submitter, microsoft-syntex/svc, syntex-content-intelligence/subsvc

#13717 specified version backups as part of total size
  microsoft-365/backup/backup-pricing.md
Labels: Microsoft submitter, microsoft-365-backup/svc

#13724 Update turn-off-directory-synchronization.md
  microsoft-365/enterprise/turn-off-directory-synchronization.md
Labels: Microsoft submitter, microsoft-365-enterprise/svc, administration/subsvc

#13728 Update setup-guides-for-microsoft-365.md
  microsoft-365/enterprise/setup-guides-for-microsoft-365.md
Labels: microsoft-365-enterprise/svc, administration/subsvc

#13729 Update agreements-setup.md
  microsoft-365/syntex/solutions/agreements-setup.md
Labels: Microsoft submitter, microsoft-syntex/svc, syntex-content-intelligence/subsvc
