Repository MicrosoftDocs/microsoft-365-docs, pull requests merged in 2025-02, with the labels that each got.

#13731 Update backup-overview.md
  microsoft-365/backup/backup-overview.md
Labels: microsoft-365-backup/svc

#13734 Update setup-guides-for-microsoft-365.md
  microsoft-365/enterprise/setup-guides-for-microsoft-365.md
Labels: microsoft-365-enterprise/svc, administration/subsvc

#13736 Organize your agreements - updates
  microsoft-365/media/content-understanding/agreements-pendingImport.png
  microsoft-365/syntex/solutions/agreements-import-agreement.md
  microsoft-365/syntex/solutions/agreements-overview.md
Labels: Microsoft submitter, microsoft-syntex/svc, syntex-content-intelligence/subsvc

#13737 Cdn updates
  microsoft-365/enterprise/content-delivery-networks.md
  microsoft-365/enterprise/office-365-cdn-quickstart.md
  microsoft-365/enterprise/use-microsoft-365-cdn-with-spo.md
  microsoft-365/solutions/tenant-management-networking.md
Labels: Microsoft submitter, microsoft-365-enterprise/svc, o365-solutions/svc, administration/subsvc

#13739 Update flw-shared-devices.md
  microsoft-365/frontline/flw-shared-devices.md
Labels: microsoft-365-frontline/svc

#13714 Update m365-dr-workload-copilot.md
  microsoft-365/enterprise/m365-dr-workload-copilot.md
Labels: microsoft-365-enterprise/svc, advanced-data-residency/subsvc

#13660 Update remove-licenses-from-user-accounts-with-microsoft-365-powershe…
  microsoft-365/enterprise/remove-licenses-from-user-accounts-with-microsoft-365-powershell.md
Labels: microsoft-365-enterprise/svc, administration/subsvc

#13655 Update use-the-centralized-deployment-powershell-cmdlets-to-manage-ad…
  microsoft-365/enterprise/use-the-centralized-deployment-powershell-cmdlets-to-manage-add-ins.md
Labels: Microsoft submitter, microsoft-365-enterprise/svc, administration/subsvc

#13653 Update microsoft-365-vpn-securing-teams.md
  microsoft-365/enterprise/microsoft-365-vpn-securing-teams.md
Labels: Microsoft submitter, microsoft-365-enterprise/svc, network/subsvc

#13649 Update turn-off-directory-synchronization.md
  microsoft-365/enterprise/turn-off-directory-synchronization.md
Labels: microsoft-365-enterprise/svc, administration/subsvc

#13640 Update cross-tenant-mailbox-migration.md
  microsoft-365/enterprise/cross-tenant-mailbox-migration.md
Labels: microsoft-365-enterprise/svc, multi-tenant/subsvc

#13638 Update twitter.com link to x.com
  microsoft-365/enterprise/view-service-health.md
Labels: microsoft-365-enterprise/svc, administration/subsvc

#13628 Update block-user-accounts-with-microsoft-365-powershell.md
  microsoft-365/enterprise/block-user-accounts-with-microsoft-365-powershell.md
Labels: microsoft-365-enterprise/svc, administration/subsvc

#13743 Update cloud-microsoft-domain.md
  microsoft-365/enterprise/cloud-microsoft-domain.md
Labels: microsoft-365-enterprise/svc, network/subsvc

#13557 Update use-microsoft-365-cdn-with-spo.md
  microsoft-365/enterprise/use-microsoft-365-cdn-with-spo.md
Labels: microsoft-365-enterprise/svc, administration/subsvc
