Repository MicrosoftDocs/microsoft-365-docs, pull requests merged in 2025-06, with the labels that each got.

#13863 Update m365-lighthouse-assign-a-baseline.md - make clear not to open the selected tenant
  microsoft-365/lighthouse/m365-lighthouse-assign-a-baseline.md
Labels: Tier1, microsoft-365-lighthouse/svc

#13857 Update manage-creation-of-groups.md
  microsoft-365/solutions/manage-creation-of-groups.md
Labels: o365-solutions/svc

#13850 Update setup-guides-for-microsoft-365.md
  microsoft-365/enterprise/setup-guides-for-microsoft-365.md
Labels: microsoft-365-enterprise/svc, administration/subsvc

#13869 Update ocr-overview.md
  microsoft-365/syntex/ocr-overview.md
Labels: microsoft-syntex/svc, syntex-content-intelligence/subsvc

#13876 Update deploy-flexible-membership-teams-at-scale.md
  microsoft-365/frontline/deploy-flexible-membership-teams-at-scale.md
Labels: microsoft-365-frontline/svc
